<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <app-expandable-card
    [headerTitle]="'group.edit-group.edit-group-member.headline' | translate">

    <div class="container-bank-box">
      <div class="custom-control-inlinewith-large">
        <label for="member">{{
          "group.edit-group.edit-group-member.search" | translate
        }}</label>
        <div class="input-group mb-3">
          <input
            type="search"
            class="form-control"
            [value]="selectedClientName"
            (input)="selectedClientName = $any($event).target.value"
            autocomplete="off"
            (keyup)="onKeyupSearchField($event)"
            (keydown)="onKeydownEnterSearchField($event)"
            id="member"
            list="dynamicClientName"
            placeholder="{{ 'placeholder.search' | translate }}"
          />
          <datalist id="dynamicClientName">
            @for (item of result; track item) {
            <option>{{ item.idNumber }} - {{ item.company }} {{ item.firstName }} {{ item.name }}</option>
            }
          </datalist>
          @if (!selectedClient) {
          <div
            class="input-group-text btn btn-outline-secondary container-search-button-disabled"
          >
            {{ "group.edit-group.edit-group-member.add" | translate }}
          </div>
          } @if (selectedClient) {
          <div
            class="input-group-text btn btn-outline-secondary container-search-button"
            (click)="onClickApply()"
            disabled="!authorizationService.isAuthorised"
          >
            {{ "group.edit-group.edit-group-member.add" | translate }}
          </div>
          }
        </div>
      </div>

      <div class="bottom-border-space"></div>
      <div class="container-table-borderless">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="table-header" style="width: 60px; max-width: 60px">
                <input
                  type="checkbox"
                  [checked]="dataManagementGroupService.headerCheckBoxValue"
                  (change)="dataManagementGroupService.headerCheckBoxValue = $any($event).target.checked; onChangeHeaderCheckBox()"
                  [indeterminate]="checkBoxIndeterminate"
                  class="checkbox"
                />
              </th>

              <th
                class="table-header"
                (click)="onClickHeader('idNumber')"
                style="width: 90px; max-width: 90px"
              >
                <div class="table-header-cell custom-control-inline">
                  <p class="gap noselect">
                    {{
                      "group.edit-group.edit-group-member.table.nr" | translate
                    }}
                  </p>
                  <p class="table-header-cell-arrow noselect">{{ sortingService.getArrow('idNumber') }}</p>
                </div>
              </th>
              <th
                class="table-header"
                (click)="onClickHeader('company')"
                style="width: 170px"
              >
                <div class="table-header-cell custom-control-inline">
                  <p class="gap noselect">
                    {{
                      "group.edit-group.edit-group-member.table.company"
                        | translate
                    }}
                  </p>
                  <p class="table-header-cell-arrow noselect">
                    {{ sortingService.getArrow('company') }}
                  </p>
                </div>
              </th>

              <th
                class="table-header"
                (click)="onClickHeader('firstName')"
                style="width: 170px"
              >
                <div class="table-header-cell custom-control-inline">
                  <p class="gap noselect">
                    {{
                      "group.edit-group.edit-group-member.table.firstname"
                        | translate
                    }}
                  </p>
                  <p class="table-header-cell-arrow noselect">
                    {{ sortingService.getArrow('firstName') }}
                  </p>
                </div>
              </th>
              <th
                class="table-header"
                (click)="onClickHeader('name')"
                style="width: 170px"
              >
                <div class="table-header-cell custom-control-inline">
                  <p class="gap noselect">
                    {{
                      "group.edit-group.edit-group-member.table.lastname"
                        | translate
                    }}
                  </p>
                  <p class="table-header-cell-arrow noselect">
                    {{ sortingService.getArrow('name') }}
                  </p>
                </div>
              </th>

              <th
                class="table-header action"
                style="width: 90px; max-width: 90px; min-width: 90px"
              ></th>
            </tr>
          </thead>
          @if (dataManagementGroupService.editGroup &&
          dataManagementGroupService.editGroup.groupItems &&
          dataManagementGroupService.editGroup.groupItems.length > 0) {
          <tbody>
            @for (data of dataManagementGroupService.editGroup.groupItems; track
            data; let i = $index) {
            <tr class="table-row">
              <td class="table-cell">
                <input
                  type="checkbox"
                  [checked]="checkBoxValue(i)"
                  (change)="onChangeCheckBox(i, $event)"
                  name="checkbox"
                  class="checkbox"
                />
              </td>

              <td class="table-cell">
                {{ data.client?.idNumber ?? '' }}
              </td>
              <td class="table-cell">
                {{ data.client?.company ?? '' }}
              </td>
              <td class="table-cell">
                {{ data.client?.firstName ?? '' }}
              </td>
              <td class="table-cell">
                {{ data.client?.name ?? '' }}
              </td>

              <td class="table-cell cell-right">
                <div>
                  <div class="icon" (click)="onDeleteClient(data)">
                    <app-icon-trash-red></app-icon-trash-red>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
          }
        </table>
      </div>
    </div>

  </app-expandable-card>
</form>
