<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="settings-list-card">
  <div class="container-header">{{ headline }}</div>
  <div class="container-line"></div>

  @if (showHeader) {
    <ng-content select="[header]"></ng-content>
  }

  <div class="container-box">
    <ng-content select="[rows]"></ng-content>
  </div>

  @if (showAddButton) {
    <div class="add-row">
      <span class="add-button" (click)="onAddClick()">{{ addLabel }}</span>
    </div>
  }
</div>
