<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div [id]="idPrefix() + '-card'" class="settings-list-card" [class.has-search-card]="showSearchInHeader()">
  <div class="container-header-row" [class.has-search]="showSearchInHeader()">
    @if (showSearchInHeader()) {
      <app-search-input
          class="header-search-input"
          [placeholderKey]="searchPlaceholderKey()"
          (valueChange)="headerSearchChange.emit($event)"
      ></app-search-input>
    } @else {
      <div [id]="idPrefix() + '-header'" class="container-header">{{ headline() }}</div>
    }
    <ng-content select="[headerAction]"></ng-content>
  </div>
  <div class="container-line"></div>

  @if (showHeader()) {
    <ng-content select="[header]"></ng-content>
  }

  <div [id]="idPrefix() + '-rows'" class="container-box">
    <ng-content select="[rows]"></ng-content>
  </div>

  @if (showAddButton()) {
    <div class="add-row">
      <span [id]="idPrefix() + '-add-btn'" class="add-button" (click)="onAddClick()">{{ addLabel() }}</span>
    </div>
  }
</div>
