@use "sass:color";
@use "../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../assets/standard-styles/colors.scss" as colors;

.settings-list-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-box {
  flex: 1;
  height: 242px;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-row {
  padding-top: 5px;
}

.add-button {
  margin-left: 30px;
  font-size: 13px;
  text-decoration: underline;
  color: colors.$standartGreenColor;
  cursor: pointer;

  &:hover {
    color: color.adjust(colors.$standartGreenColor, $lightness: -10%);
  }
}
