<div id="work-setting-container" class="container-dashboard">
  <div id="work-setting-header" class="container-header">Planungen Grundeinstellungen</div>

  <div id="work-setting-line" class="container-line"></div>

  @if (isDataLoaded) {
  <form id="work-setting-form" #workSettingsForm="ngForm">
    <div id="work-setting-hours-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="defaultWorkingHours">{{ 'settings.work.default-working-hours' | translate }}</label>
        <input
          type="number"
          step="0.5"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.defaultWorkingHours"
          aria-label="defaultWorkingHours"
          name="defaultWorkingHours"
          id="defaultWorkingHours"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="overtimeThreshold">{{ 'settings.work.overtime-threshold' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.overtimeThreshold"
          aria-label="overtimeThreshold"
          name="overtimeThreshold"
          id="overtimeThreshold"
        />
      </div>
    </div>
    <div id="work-setting-vacation-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="vacationDaysPerYear">{{ 'settings.work.vacation-days-per-year' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.vacationDaysPerYear"
          aria-label="vacationDaysPerYear"
          name="vacationDaysPerYear"
          id="vacationDaysPerYear"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="probationPeriod">{{ 'settings.work.probation-period' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.probationPeriod"
          aria-label="probationPeriod"
          name="probationPeriod"
          id="probationPeriod"
        />
      </div>
    </div>
    <div id="work-setting-notice-payment-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="noticePeriod">{{ 'settings.work.notice-period' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.noticePeriod"
          aria-label="noticePeriod"
          name="noticePeriod"
          id="noticePeriod"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="paymentInterval">{{ 'settings.work.payment-interval' | translate }}</label>
        <select
          class="form-select"
          [(ngModel)]="dataManagementSettingsService.paymentInterval"
          aria-label="paymentInterval"
          name="paymentInterval"
          id="paymentInterval"
        >
          <option [ngValue]="0">{{ 'settings.work.payment-weekly' | translate }}</option>
          <option [ngValue]="1">{{ 'settings.work.payment-biweekly' | translate }}</option>
          <option [ngValue]="2">{{ 'settings.work.payment-monthly' | translate }}</option>
          <option [ngValue]="3">{{ 'settings.work.payment-individual' | translate }}</option>
        </select>
      </div>
    </div>
    <div id="work-setting-guaranteed-maximum-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="guaranteedHours">{{ 'settings.work.guaranteed-hours' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.guaranteedHours"
          aria-label="guaranteedHours"
          name="guaranteedHours"
          id="guaranteedHours"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="maximumHours">{{ 'settings.work.maximum-hours' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.maximumHours"
          aria-label="maximumHours"
          name="maximumHours"
          id="maximumHours"
        />
      </div>
    </div>
    <div id="work-setting-minimum-fulltime-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="minimumHours">{{ 'settings.work.minimum-hours' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.minimumHours"
          aria-label="minimumHours"
          name="minimumHours"
          id="minimumHours"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="fullTime">{{ 'settings.work.full-time' | translate }}</label>
        <input
          type="number"
          step="1"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.fullTime"
          aria-label="fullTime"
          name="fullTime"
          id="fullTime"
        />
      </div>
    </div>
    <div id="work-setting-night-holiday-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="nightRate">{{ 'settings.work.night-rate' | translate }}</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.nightRate"
          aria-label="nightRate"
          name="nightRate"
          id="nightRate"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="holidayRate">{{ 'settings.work.holiday-rate' | translate }}</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.holidayRate"
          aria-label="holidayRate"
          name="holidayRate"
          id="holidayRate"
        />
      </div>
    </div>
    <div id="work-setting-sa-so-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="saRate">{{ 'settings.work.sa-rate' | translate }}</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.saRate"
          aria-label="saRate"
          name="saRate"
          id="saRate"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="soRate">{{ 'settings.work.so-rate' | translate }}</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          [(ngModel)]="dataManagementSettingsService.soRate"
          aria-label="soRate"
          name="soRate"
          id="soRate"
        />
      </div>
    </div>
    <div class="bottom-border-space"></div>
  </form>
  }
</div>
