<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <div class="first custom-control-inline">
    <div class="form-group">
      <input
        type="text"
        [value]="getProviderDisplayText()"
        name="providerDisplay"
        class="form-control attribute-name"
        aria-label="provider display"
        (click)="onEdit()"
        readonly
      />
    </div>

    <span 
      class="delete-button" 
      type="button" 
      (click)="onDelete()"
      [class.disabled]="!canDelete"
      [title]="!canDelete ? (translate.instant('settings.llm-providers.cannot-delete-default-provider') || 'Provider of default model cannot be deleted') : ''"
    >✕</span>
  </div>
</form>
