<app-settings-list-card
  [headline]="translate.instant('settings.language-plugins.title')"
  [showAddButton]="false"
  idPrefix="language-plugins"
  [showHeader]="true"
>
  <app-language-plugins-header header id="language-plugins-table-header"></app-language-plugins-header>
  <div rows>
    @for (plugin of plugins; track plugin.code; let i = $index) {
      <app-language-plugins-row
        [id]="'language-plugins-row-' + i"
        [data]="plugin"
        (uninstallEvent)="onUninstall($event)"
      />
    }
  </div>
</app-settings-list-card>

<button
  id="language-plugins-search-btn"
  class="btn btn-primary search-btn"
  type="button"
  (click)="openMarketplaceModal()"
  [title]="translate.instant('settings.language-plugins.action.search')"
>
  <app-icon-search />
</button>

<ng-template #marketplaceModal let-modal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ translate.instant("settings.language-plugins.modal.title") }}
    </div>
    <span class="filler"></span>
    <div class="close" (click)="modal.dismiss()">×</div>
  </div>
  <div class="modal-body">
    <app-marketplace-browse
      [installedCodes]="installedCodes"
      (installed)="onMarketplaceInstalled($event)">
    </app-marketplace-browse>
  </div>
  <div class="modal-footer">
    <span class="link-button red-font" (click)="modal.dismiss()">
      {{ translate.instant("close") }}
    </span>
  </div>
</ng-template>
