@use "../../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../../assets/standard-styles/settings-list-row.scss";

span {
  font-size: 13px;
  margin-inline-end: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column-name {
  width: 180px;
}

.column-prefix {
  width: 110px;
}

.column-date {
  width: 130px;
}

.token-prefix {
  font-family: monospace;
}

.delete-button {
  overflow: visible;
}
