<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="header-container">
  @if (!hasLogoImage()) {
  <div class="icon" (click)="onClickDashboard()">
    <img
      [src]="'/assets/png/' + imageName()"
      width="35"
      height="35"
      alt="image"
    />
  </div>
  } @if (hasLogoImage()) {
  <div (click)="onClickDashboard()" class="icon">
    <img [src]="logoImage()" width="32" height="32" alt="" />
  </div>
  }

  <app-search></app-search>

  <span class="version">{{ version() }}</span>

  <span class="filler"></span>

  <app-group-select></app-group-select>

  <app-icon-sign-out
    class="icon-logOut"
    (click)="onClickLogOut()"
  ></app-icon-sign-out>
</div>
