<div class="header-container">
  <div
    class="icon"
    (click)="onClickDashboard()"
    *ngIf="!dataLoadFileService.logoImage"
  >
    <img src="/assets/png/{{ ImageName }}" width="35" height="35" alt="image" />
  </div>

  <div
    *ngIf="dataLoadFileService.logoImage"
    (click)="onClickDashboard()"
    class="icon"
  >
    <img [src]="dataLoadFileService.logoImage" width="32" height="32" alt="" />
  </div>

  <app-search></app-search>

  <span class="version">{{ version }}</span>

  <span class="filler"></span>

  <app-group-select></app-group-select>

  <app-icon-sign-out
    class="icon-logOut"
    (click)="onClickLogOut()"
  ></app-icon-sign-out>
</div>
