<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div id="state-row-form-{{ data()!.id }}">
  <div id="state-row-container-{{ data()!.id }}" class="first custom-control-inline">
    <div id="state-row-abbreviation-wrapper-{{ data()!.id }}">
      <input
        id="state-row-abbreviation-{{ data()!.id }}"
        type="text"
        [formField]="stateForm.abbreviation"
        aria-label="data.abbreviation"
        class="form-control abbreviation"
      />
    </div>
    <div id="state-row-name-wrapper-{{ data()!.id }}">
      @if (currentLang === 'de') {
        <input
          id="state-row-name-de-{{ data()!.id }}"
          type="text"
          [formField]="stateForm.nameDe"
          aria-label="data.name"
          class="form-control country-name"
        />
      } @else if (currentLang === 'en') {
        <input
          id="state-row-name-en-{{ data()!.id }}"
          type="text"
          [formField]="stateForm.nameEn"
          aria-label="data.name"
          class="form-control country-name"
        />
      } @else if (currentLang === 'fr') {
        <input
          id="state-row-name-fr-{{ data()!.id }}"
          type="text"
          [formField]="stateForm.nameFr"
          aria-label="data.name"
          class="form-control country-name"
        />
      } @else if (currentLang === 'it') {
        <input
          id="state-row-name-it-{{ data()!.id }}"
          type="text"
          [formField]="stateForm.nameIt"
          aria-label="data.name"
          class="form-control country-name"
        />
      }
    </div>
    <div id="state-row-prefix-wrapper-{{ data()!.id }}">
      <input
        id="state-row-prefix-{{ data()!.id }}"
        type="text"
        [formField]="stateForm.countryPrefix"
        aria-label="data.prefix"
        class="form-control country-prefix"
      />
    </div>

    <span id="state-row-delete-{{ data()!.id }}" class="delete-button" type="button" (click)="onClickDelete()"><app-icon-trash-red /></span>
  </div>
</div>
