<div id="openroute-form">
  <div id="openroute-header" class="container-header">
    {{ 'setting.openroute.headline' | translate }}
  </div>

  <div id="openroute-line" class="container-line"></div>

  <div class="openroute-info first">
    <p class="info-text">
      {{ 'setting.openroute.description' | translate }}
    </p>
    <p class="info-text">
      {{ 'setting.openroute.register' | translate }}
      <a
        href="https://openrouteservice.org/dev/#/signup"
        target="_blank"
        rel="noopener noreferrer"
      >
        openrouteservice.org
      </a>
    </p>
  </div>

  <div class="form-group first">
    <div class="input-group my-password">
      <label for="openroute-apikey">{{ 'setting.openroute.apikey' | translate }}</label>
      <app-password-input
        [value]="apiKeyForm.apiKey().value()"
        (valueChange)="apiKeyForm.apiKey().value.set($event)"
        inputId="openroute-apikey"
        placeholder="5b3ce3597851110001cf6248..."
        inputClass="api-input"
      />
    </div>
  </div>
</div>
