<form #parentForm="ngForm" class="container-card">
  <div class="container-header header-container">
    {{ "group.edit-group.edit-group-parent.headline" | translate }}
    <span class="filler"></span>
  </div>
  <div class="container-line"></div>
  <div class="parent-selection" *ngIf="dataManagementGroupService.editGroup">
    <label for="parent-select">
      {{ "group.edit-group.edit-group-parent.select-parent" | translate }}
    </label>
    <div class="input-group">
      <select
        id="parent-select"
        class="form-control"
        name="parent"
        [(ngModel)]="dataManagementGroupService.editGroup.parent"
        (change)="onParentChange()"
      >
        <option [ngValue]="null">
          {{ "group.edit-group.edit-group-parent.no-parent" | translate }}
        </option>
        <option *ngFor="let node of availableParents" [ngValue]="node.id">
          {{ getGroupPathDisplay(node) }}
        </option>
      </select>
    </div>

    <div class="current-path mt-4" *ngIf="groupPath.length > 0">
      <label>{{
        "group.edit-group.edit-group-parent.current-path" | translate
      }}</label>
      <div class="path-display">
        <span *ngFor="let node of groupPath; let i = index" class="path-item">
          {{ node.name }}
          <span *ngIf="i < groupPath.length - 1" class="path-separator">/</span>
        </span>
      </div>
    </div>
  </div>
</form>
