<form #parentForm="ngForm" class="container-card">
  <div class="container-header header-container">
    {{ "group.edit-group.edit-group-parent.headline" | translate }}
    <span class="filler"></span>
  </div>
  <div class="container-line"></div>

  @if (dataManagementGroupService.editGroup) {
  <div class="parent-selection">
    <label for="parent-select">
      {{ "group.edit-group.edit-group-parent.select-parent" | translate }}
    </label>
    <div class="select-group">
      <select
        id="parent-select"
        class="form-select"
        name="parent"
        [(ngModel)]="dataManagementGroupService.editGroup.parent"
        (change)="onParentChange()"
        [disabled]="!authorizationService.isAuthorised"
      >
        <option [ngValue]="null">
          {{ "group.edit-group.edit-group-parent.no-parent" | translate }}
        </option>
        @for (node of availableParents; track node.id) {
        <option [ngValue]="node.id">
          {{ getGroupPathDisplay(node) }}
        </option>
        }
      </select>
    </div>

    @if (groupPath.length > 0) {
    <div class="current-path mt-4">
      <label for="path-display-info">{{
        "group.edit-group.edit-group-parent.current-path" | translate
      }}</label>
      <div class="path-display" id="path-display-info">
        @for (node of groupPath; track node.id; let i = $index) {
        <span class="path-item">
          {{ node.name }}
          @if (i < groupPath.length - 1) {
          <span class="path-separator">/</span>
          }
        </span>
        }
      </div>
    </div>
    }

    <div style="height: 30px"></div>
  </div>
  }
</form>
