@use "../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/colors.scss";
@use "../../../../../assets/standard-styles/menu.scss";

.parent-selection {
  margin-top: 30px;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
  max-width: 500px;
}

.form-control {
  color: var(--standartTextColor);
  background-color: var(--standartTextBackground);
  font-weight: 500;
  font-size: 14px;
}

.path-display {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--backgroundColorFocus);
  border-radius: 4px;
  border: 1px solid var(--colorLine);
  width: 100%;
}

.path-item {
  display: inline-block;
  padding: 0 4px;
  font-weight: 500;
  color: var(--gridColorText);
}

.path-separator {
  color: var(--colorSubHeadline);
  margin: 0 4px;
}

label {
  font-weight: 500;
  font-size: 13px;
  color: var(--colorLabel);
  margin-bottom: 8px;
  display: block;
}

.current-path {
  margin-top: 20px;
}
