@use "../../../../../../assets/standard-styles/standard-controls.scss";

.container {
  padding: 10px;
  background-color: var(--backgroundColoPagination);
}

.custom-counter-span {
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 10px;
  width: 80px;
  color: var(--colorLabel);
}

.custom-counter {
  display: flex;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 15px;
}

.week-line {
  display: flex;
  justify-content: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
}

.week {
  width: 180px;
}
