<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

@if (isReadOnly()) {
  <div class="readonly-banner">
    {{ readOnlyReason() }}
  </div>
}

<div class="time-controls-bar">
  <app-time-input
    [label]="'shift.container-template.from' | translate"
    [value]="timeFrom()"
    (valueChange)="timeFromChange.emit($event)"
    [showLabel]="true"
    [forDuration]="false"
    [ngbTooltip]="'shift.container-template.tooltip.time-from' | translate"
  ></app-time-input>

  <app-time-input
    [label]="'shift.container-template.until' | translate"
    [value]="timeTo()"
    (valueChange)="timeToChange.emit($event)"
    [showLabel]="true"
    [forDuration]="false"
    [ngbTooltip]="'shift.container-template.tooltip.time-until' | translate"
  ></app-time-input>

  <app-time-input
    [label]="'shift.container-template.duration' | translate"
    [value]="duration()"
    [showLabel]="true"
    [forDuration]="true"
    [disabled]="true"
    [ngbTooltip]="'shift.container-template.tooltip.duration' | translate"
  ></app-time-input>

  <div class="shift-filter-group">
    <label for="layout-shift-filter">
      {{ "label.search" | translate }}
    </label>
    <app-search-input
      inputId="layout-shift-filter"
      [value]="shiftFilter()"
      (valueChange)="shiftFilterChange.emit($event)"
    ></app-search-input>
  </div>

  <span class="filler"></span>

  @if (addressProvider.allAddresses().length > 0) {
    <div class="address-selects">
      <div class="address-select-group">
        <label for="layout-start-base">
          {{ "shift.container-template.start-base" | translate }}
        </label>
        <select
          id="layout-start-base"
          class="form-select"
          [ngModel]="selectedStartBase()"
          (ngModelChange)="startBaseChange.emit($event); markDirty.emit()"
          [ngbTooltip]="
            'shift.container-template.tooltip.start-base' | translate
          "
        >
          <option [value]="''">-</option>
          @for (address of addressProvider.allAddresses(); track address.name) {
            <option [value]="address.address">
              {{ address.name }}
            </option>
          }
        </select>
      </div>

      <div class="address-select-group">
        <label for="layout-end-base">
          {{ "shift.container-template.end-base" | translate }}
        </label>
        <select
          id="layout-end-base"
          class="form-select"
          [ngModel]="selectedEndBase()"
          (ngModelChange)="endBaseChange.emit($event); markDirty.emit()"
          [ngbTooltip]="'shift.container-template.tooltip.end-base' | translate"
        >
          <option [value]="''">-</option>
          @for (address of addressProvider.allAddresses(); track address.name) {
            <option [value]="address.address">
              {{ address.name }}
            </option>
          }
        </select>
      </div>
    </div>
    @if (selectedStartBase() && selectedEndBase()) {
      <div class="transport-mode-group">
        <label>
          {{ "shift.container-template.transport-mode" | translate }}
        </label>
        <div class="transport-mode-buttons">
          <button
            type="button"
            class="transport-mode-btn"
            [class.active]="selectedTransportMode() === 0"
            (click)="onTransportModeClick(0)"
            [ngbTooltip]="
              'shift.container-template.transport-mode.by-car' | translate
            "
          >
            <app-icon-by-car></app-icon-by-car>
          </button>
          <button
            type="button"
            class="transport-mode-btn"
            [class.active]="selectedTransportMode() === 1"
            [class.disabled]="!hasOpenRouteServiceApiKey()"
            [disabled]="!hasOpenRouteServiceApiKey()"
            (click)="onTransportModeClick(1)"
            [ngbTooltip]="
              hasOpenRouteServiceApiKey()
                ? ('shift.container-template.transport-mode.by-bicycle'
                  | translate)
                : ('shift.container-template.transport-mode.api-key-required'
                  | translate)
            "
          >
            <app-icon-by-bicycle></app-icon-by-bicycle>
          </button>
          <button
            type="button"
            class="transport-mode-btn"
            [class.active]="selectedTransportMode() === 2"
            [class.disabled]="!hasOpenRouteServiceApiKey()"
            [disabled]="!hasOpenRouteServiceApiKey()"
            (click)="onTransportModeClick(2)"
            [ngbTooltip]="
              hasOpenRouteServiceApiKey()
                ? ('shift.container-template.transport-mode.by-foot'
                  | translate)
                : ('shift.container-template.transport-mode.api-key-required'
                  | translate)
            "
          >
            <app-icon-by-foot></app-icon-by-foot>
          </button>
          <button
            type="button"
            class="transport-mode-btn"
            [class.active]="selectedTransportMode() === 3"
            [class.disabled]="!hasOpenRouteServiceApiKey()"
            [disabled]="!hasOpenRouteServiceApiKey()"
            (click)="onTransportModeClick(3)"
            [ngbTooltip]="
              hasOpenRouteServiceApiKey()
                ? ('shift.container-template.transport-mode.mix' | translate)
                : ('shift.container-template.transport-mode.api-key-required'
                  | translate)
            "
          >
            <app-icon-transport-mix></app-icon-transport-mix>
          </button>
        </div>
      </div>
    }
  }
</div>

<div class="content" (contextmenu)="onContainerContextMenu($event)">
  <as-split
    direction="horizontal"
    [dir]="direction()"
    [gutterSize]="6"
    unit="percent"
  >
    <!-- Zone 1: TimeRuler -->
    <as-split-area [size]="30" [minSize]="15" [maxSize]="50">
      <div class="zone zone-left">
        <app-time-ruler
          [fromTime]="timeFrom()"
          [untilTime]="timeTo()"
          (shiftRightClick)="shiftRightClick.emit($event)"
          (itemsDisplaced)="itemsDisplaced.emit()"
        ></app-time-ruler>
      </div>
    </as-split-area>

    <!-- Right side: Zone 2 and Zone 3 stacked vertically -->
    <as-split-area [size]="70" [minSize]="30">
      <as-split direction="vertical" [gutterSize]="6" unit="percent">
        <!-- Zone 2: Selected tasks -->
        <as-split-area [size]="50" [minSize]="20">
          <div class="zone zone-center">
            <div class="header-table">
              <h3>
                {{
                  "shift.container-template.selected-tasks.title" | translate
                }}
              </h3>
              <span class="filler"></span>
              @if (showAutofill()) {
                <app-icon-wizard
                  class="icon-table"
                  [class.disabled]="isAutofillRunning()"
                  (click)="autofillClick.emit()"
                  [ngbTooltip]="
                    'shift.container-template.tooltip.autofill' | translate
                  "
                ></app-icon-wizard>
                <div
                  class="tolerance-slider"
                  [ngbTooltip]="
                    'shift.container-template.tooltip.tolerance-slider'
                      | translate
                  "
                >
                  <span class="tolerance-endpoint">{{
                    "shift.container-template.tolerance.flexible" | translate
                  }}</span>
                  <ngx-slider
                    [value]="timeRangeToleranceValue()"
                    (valueChange)="toleranceChange.emit($event)"
                    [options]="toleranceOptions"
                  ></ngx-slider>
                  <span class="tolerance-endpoint">{{
                    "shift.container-template.tolerance.exact" | translate
                  }}</span>
                </div>
                <app-icon-route
                  class="icon-table"
                  [class.disabled]="isOptimizing()"
                  (click)="optimizeRouteClick.emit()"
                  [ngbTooltip]="
                    'shift.container-template.tooltip.optimize-route'
                      | translate
                  "
                ></app-icon-route>
                @if (hasRouteInfo()) {
                  <app-icon-route-file
                    class="icon-table"
                    (click)="exportRoutePdfClick.emit()"
                    [ngbTooltip]="
                      'shift.container-template.tooltip.export-route-pdf'
                        | translate
                    "
                  ></app-icon-route-file>
                }
              }
              <app-icon-pdf-icon
                class="icon-table"
                (click)="exportShiftsPdfClick.emit()"
                [ngbTooltip]="
                  'shift.container-template.tooltip.export-shifts-pdf'
                    | translate
                "
              ></app-icon-pdf-icon>

              <div ngbDropdown class="d-inline-block icon-table">
                <app-icon-compact
                  ngbDropdownToggle
                  id="compactShiftsDropdownLayout"
                  [ngbTooltip]="
                    'shift.container-template.tooltip.compact-menu' | translate
                  "
                ></app-icon-compact>
                <div
                  ngbDropdownMenu
                  aria-labelledby="compactShiftsDropdownLayout"
                >
                  <button
                    type="button"
                    ngbDropdownItem
                    (click)="compactClick.emit(false)"
                  >
                    {{
                      "shift.container-template.compact.without-travel"
                        | translate
                    }}
                  </button>
                  <button
                    type="button"
                    ngbDropdownItem
                    (click)="compactClick.emit(true)"
                  >
                    {{
                      "shift.container-template.compact.with-travel" | translate
                    }}
                  </button>
                </div>
              </div>
            </div>
            @if (isAutofillRunning() || isOptimizing()) {
              <div class="autofill-progress">
                <div class="autofill-progress-bar"></div>
              </div>
            }

            <div class="shifts-grid-container">
              <div
                class="shifts-grid"
                cdkDropList
                [id]="dropListId()"
                [cdkDropListData]="selectedItems()"
                [cdkDropListConnectedTo]="getConnectedDropLists()"
                (cdkDropListDropped)="taskDrop.emit($event)"
              >
                <table id="selected-tasks-table" class="shifts-table">
                  <thead>
                    <tr>
                      <th class="icon-column"></th>
                      <th>
                        {{ "shift.container-template.grid.name" | translate }}
                      </th>
                      <th>
                        {{
                          "shift.container-template.grid.abbreviation"
                            | translate
                        }}
                      </th>
                      <th>
                        {{ "shift.container-template.grid.time" | translate }}
                      </th>
                      <th>
                        {{
                          "shift.container-template.grid.work-time" | translate
                        }}
                      </th>
                      <th>
                        {{ "shift.container-template.grid.client" | translate }}
                      </th>
                      <th
                        class="action-column1"
                        (click)="removeAllTasks.emit()"
                      >
                        <app-icon-trash-red></app-icon-trash-red>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    @if (selectedItems().length === 0) {
                      <tr class="empty-drop-zone">
                        <td colspan="7">
                          <div class="no-shifts">
                            <p>
                              {{
                                "shift.container-template.selected-tasks.placeholder"
                                  | translate
                              }}
                            </p>
                          </div>
                        </td>
                      </tr>
                    }
                    @for (
                      item of selectedItems();
                      track item.id || item.tmpId
                    ) {
                      <tr
                        cdkDrag
                        cdkDragLockAxis="y"
                        (click)="shiftRowClick.emit(item)"
                        (dblclick)="absenceRowDblClick.emit(item)"
                        (contextmenu)="
                          onTableRowRightClickInternal($event, item)
                        "
                        [class.selected]="item === selectedShift()"
                        [class.timerange-violation]="
                          hasTimeRangeViolation(item)
                        "
                        [class.absence-item]="!!item.absenceId"
                        [style.background-color]="
                          item.absenceId ? item.absence?.color + '30' : null
                        "
                      >
                        <td class="icon-column">
                          @if (item.absenceId) {
                            <span
                              class="absence-color-rect"
                              [style.background-color]="item.absence?.color"
                            ></span>
                          } @else if (item.shift?.isSporadic) {
                            <app-icon-unknown-time></app-icon-unknown-time>
                          } @else if (item.shift?.isTimeRange) {
                            <app-icon-time-window></app-icon-time-window>
                          } @else {
                            <app-icon-shift-segment></app-icon-shift-segment>
                          }
                        </td>
                        <td>
                          {{
                            item.absenceId
                              ? item.absence?.name?.[
                                  translateService.currentLang
                                ] || item.absence?.name?.["de"]
                              : item.shift?.name
                          }}
                        </td>
                        <td>
                          {{
                            item.absenceId
                              ? item.absence?.abbreviation?.[
                                  translateService.currentLang
                                ] || item.absence?.abbreviation?.["de"]
                              : item.shift?.abbreviation
                          }}
                        </td>
                        <td>
                          @if (item.absenceId) {
                            {{ formatTime(item.startItem) }} -
                            {{ formatTime(item.endItem) }}
                          } @else if (item.shift?.isTimeRange) {
                            <div
                              class="time-range-inputs"
                              (click)="$event.stopPropagation()"
                            >
                              <app-time-input
                                [value]="getTimeRangeStartTime(item)"
                                (valueChange)="
                                  onTimeRangeStartChange(item, $event)
                                "
                                [showLabel]="false"
                                [forDuration]="false"
                              ></app-time-input>
                              <span class="time-separator">-</span>
                              <span class="time-display">{{
                                formatTime(item.timeRangeEndItem)
                              }}</span>
                            </div>
                          } @else {
                            {{ formatTime(item.startItem) }} -
                            {{ formatTime(item.endItem) }}
                          }
                        </td>
                        <td>
                          @if (item.absenceId) {
                            -
                          } @else {
                            {{
                              item.shift?.workTime
                                ? formatWorkTime(item.shift!.workTime)
                                : "-"
                            }}
                          }
                        </td>
                        <td>
                          {{
                            item.absenceId ? "-" : formatClientWithAddress(item)
                          }}
                        </td>
                        <td
                          class="action-column"
                          (click)="
                            removeTask.emit(item); $event.stopPropagation()
                          "
                        >
                          <app-icon-trash-red></app-icon-trash-red>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </as-split-area>

        <!-- Zone 3: Available shifts / Employment tab -->
        <as-split-area [size]="50" [minSize]="20">
          <div class="zone zone-right">
            <div class="day-tabs">
              @if (tabs().length > 0) {
                @for (tab of tabs(); track tab.date.getTime(); let i = $index) {
                  <button
                    type="button"
                    class="day-tab"
                    [class.active]="
                      !isEmploymentTabActive() && selectedTabIndex() === i
                    "
                    (click)="dayTabClick.emit(i)"
                  >
                    {{ tab.label }}
                  </button>
                }
              } @else {
                <button
                  type="button"
                  class="day-tab"
                  [class.active]="!isEmploymentTabActive()"
                  (click)="shiftsTabClick.emit()"
                >
                  {{
                    "shift.container-template.available-tasks.title" | translate
                  }}
                </button>
              }
              <span class="filler"></span>
              <button
                type="button"
                class="day-tab employment-tab"
                [class.active]="isEmploymentTabActive()"
                (click)="employmentTabClick.emit()"
              >
                {{ "shift.container-template.tab.employment" | translate }}
              </button>
            </div>

            @if (isEmploymentTabActive()) {
              <div class="shifts-grid-container">
                <div class="shifts-grid">
                  @if (containerAbsences().length > 0) {
                    <table class="shifts-table">
                      <thead>
                        <tr>
                          <th class="icon-column"></th>
                          <th>
                            {{
                              "shift.container-template.grid.name" | translate
                            }}
                          </th>
                          <th>
                            {{
                              "shift.container-template.grid.abbreviation"
                                | translate
                            }}
                          </th>
                          <th>
                            {{
                              "setting.absence.modal.description" | translate
                            }}
                          </th>
                        </tr>
                      </thead>
                      <tbody
                        cdkDropList
                        [id]="absencesDropListId()"
                        [cdkDropListData]="containerAbsences()"
                        [cdkDropListConnectedTo]="[dropListId()]"
                        [cdkDropListSortingDisabled]="true"
                      >
                        @for (
                          absence of containerAbsences();
                          track absence.id
                        ) {
                          <tr cdkDrag>
                            <td class="icon-column">
                              <span
                                class="absence-color-rect"
                                [style.background-color]="absence.color"
                              ></span>
                            </td>
                            <td>
                              {{
                                absence.name?.[translateService.currentLang] ||
                                  absence.name?.["de"]
                              }}
                            </td>
                            <td>
                              {{
                                absence.abbreviation?.[
                                  translateService.currentLang
                                ] || absence.abbreviation?.["de"]
                              }}
                            </td>
                            <td>
                              {{
                                absence.description?.[
                                  translateService.currentLang
                                ] || absence.description?.["de"]
                              }}
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  } @else {
                    <div class="no-shifts">
                      <p>
                        {{
                          "shift.container-template.grid.no-container-absences"
                            | translate
                        }}
                      </p>
                    </div>
                  }
                </div>
              </div>
            } @else if (isAvailableShiftsLoading()) {
              <div class="loading-indicator">
                <p>{{ "common.loading" | translate }}</p>
              </div>
            } @else {
              <div class="shifts-grid-container">
                <div class="shifts-grid">
                  @if (availableTasks().length > 0) {
                    <table id="available-tasks-table" class="shifts-table">
                      <thead>
                        <tr>
                          <th class="icon-column"></th>
                          <th
                            (click)="onHeaderClick('name')"
                            style="cursor: pointer"
                          >
                            {{
                              "shift.container-template.grid.name" | translate
                            }}
                            {{ sortingService.getArrow("name") }}
                          </th>
                          <th
                            (click)="onHeaderClick('abbreviation')"
                            style="cursor: pointer"
                          >
                            {{
                              "shift.container-template.grid.abbreviation"
                                | translate
                            }}
                            {{ sortingService.getArrow("abbreviation") }}
                          </th>
                          <th
                            (click)="onHeaderClick('startShift')"
                            style="cursor: pointer"
                          >
                            {{
                              "shift.container-template.grid.time" | translate
                            }}
                            {{ sortingService.getArrow("startShift") }}
                          </th>
                          <th
                            (click)="onHeaderClick('workTime')"
                            style="cursor: pointer"
                          >
                            {{
                              "shift.container-template.grid.work-time"
                                | translate
                            }}
                            {{ sortingService.getArrow("workTime") }}
                          </th>
                          <th
                            (click)="onHeaderClick('client')"
                            style="cursor: pointer"
                          >
                            {{
                              "shift.container-template.grid.client" | translate
                            }}
                            {{ sortingService.getArrow("client") }}
                          </th>
                          <th class="action-column"></th>
                        </tr>
                      </thead>
                      <tbody
                        cdkDropList
                        [id]="availableDropListId()"
                        [cdkDropListData]="availableTasks()"
                        [cdkDropListConnectedTo]="[dropListId()]"
                        [cdkDropListSortingDisabled]="true"
                        (cdkDropListDropped)="availableTasksDrop.emit()"
                      >
                        @for (shift of availableTasks(); track shift.id) {
                          <tr
                            cdkDrag
                            cdkDragLockAxis="y"
                            [class.partial-timerange]="
                              isTimeRangePartial(shift)
                            "
                          >
                            <td class="icon-column">
                              @if (shift.isSporadic) {
                                <app-icon-unknown-time></app-icon-unknown-time>
                              } @else if (shift.isTimeRange) {
                                <app-icon-time-window></app-icon-time-window>
                              } @else {
                                <app-icon-shift-segment></app-icon-shift-segment>
                              }
                            </td>
                            <td>{{ shift.name }}</td>
                            <td>{{ shift.abbreviation }}</td>
                            <td>
                              {{ formatTime(shift.startShift) }} -
                              {{ formatTime(shift.endShift) }}
                            </td>
                            <td>{{ formatWorkTime(shift.workTime) }}</td>
                            <td>{{ formatClientWithAddress(shift) }}</td>
                            <td class="action-column"></td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  } @else {
                    <div class="no-shifts">
                      <p>
                        {{
                          "shift.container-template.grid.no-shifts" | translate
                        }}
                      </p>
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
