<div id="edit-group-home-container" class="container-dashboard" data-klacksy-target="group-detail">
  <div id="edit-group-home-headline" class="container-headline">
    <span>{{ "group.edit-group.edit-group-home.header" | translate }}</span>
    @if (quickPrintAction.hasDefault(quickPrintSourceId) && editGroupId()) {
    <div class="headline-actions">
      <button
        id="edit-group-quick-print-btn"
        type="button"
        class="headline-action-button"
        [disabled]="isQuickPrinting()"
        [ngbTooltip]="'report.quickPrint.tooltip' | translate"
        (click)="onClickQuickPrint()"
      >
        <app-icon-pdf-icon></app-icon-pdf-icon>
      </button>
    </div>
    }
  </div>

  <div id="edit-group-item-container" class="container-profilline" data-klacksy-target="group-item">
    <app-edit-group-item
      id="edit-group-item"
      (isChangingEvent)="onIsChanging($event)"
      class="container-profile first border-right-card border-bottom-card"
    >
    </app-edit-group-item>
  </div>

  <div id="edit-group-parent-container" class="container-profilline" data-klacksy-target="group-parent">
    <app-edit-group-parent
      id="edit-group-parent"
      (isChangingEvent)="onIsChanging($event)"
      class="container-profile first border-right-card border-bottom-card"
    >
    </app-edit-group-parent>
  </div>

  <div id="edit-group-members-container" class="container-profilline" data-klacksy-target="group-members">
    <app-edit-group-members
      id="edit-group-members"
      (isChangingEvent)="onIsChanging($event)"
      class="container-profile first border-right-card border-bottom-card"
    >
    </app-edit-group-members>
  </div>

  <div
    id="edit-group-nav-container"
    class="container-address-nav border-right-card border-bottom-card"
  >
    <app-edit-group-nav id="edit-group-nav"></app-edit-group-nav>
  </div>

  <div class="bottom-border-space"></div>
</div>
