<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="llm-sync-log-header-container" class="first custom-control-inline">
  <label class="col-date">{{ 'settings.llm-sync-log.header.date' | translate }}</label>
  <label class="col-provider">{{ 'settings.llm-sync-log.header.provider' | translate }}</label>
  <label class="col-count">{{ 'settings.llm-sync-log.header.new' | translate }}</label>
  <label class="col-count">{{ 'settings.llm-sync-log.header.failed' | translate }}</label>
  <label class="col-count">{{ 'settings.llm-sync-log.header.deactivated' | translate }}</label>
</div>
