<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div id="countries-form">
  <div id="countries-header" class="search-header">
    <app-search-input
      class="search-header-input"
      [placeholderKey]="'placeholder.search-staat'"
      (valueChange)="searchTerm.set($event)"
    ></app-search-input>
  </div>

  <div id="countries-line" class="container-line"></div>

  @if (filteredCountries().length > 0) {
  <app-countries-header id="countries-table-header"> </app-countries-header>
  }
  <div id="countries-box" class="container-box" #containerBox>
    @for (c of filteredCountries(); track c.id || $index; let i = $index) { @if (c.isDirty !== 3) {
    <app-countries-row
      [id]="'countries-row-' + i"
      [data]="c"
      (isDeleteEvent)="openDeleteCountry(i)"
      (isChangingEvent)="onIsChanging()"
    >
    </app-countries-row>
    } }
  </div>

  <div id="countries-add-row" class="row">
    <span id="countries-add-btn" class="add-button" type="button" (click)="onClickAdd()"
      >{{ 'setting.country.add' | translate }}
    </span>
  </div>
</div>
