<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <div class="container-header">
    {{ translate.instant("setting.state.headline") }}
  </div>

  <div class="container-line"></div>

  @if (dataManagementSettingsService.countriesList &&
  dataManagementSettingsService.countriesList.length > 0) {
  <app-countries-header> </app-countries-header>
  }
  <div class="container-box">
    @for (c of dataManagementSettingsService.countriesList; track c.id ||
    $index; let i = $index) { @if (c.isDirty !== 3) {
    <app-countries-row
      [data]="c"
      (isChangingEvent)="onIsChanging($event)"
      (isDeleteEvent)="onClickDelete(i)"
    >
    </app-countries-row>
    } }
  </div>

  <div class="row">
    <span class="add-button" type="button" (click)="onClickAdd()"
      >{{ translate.instant("setting.country.add") }}
    </span>
  </div>
</form>
