<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<!-- Scheduling Rule Modal -->
<ng-template #ruleModal id="scheduling-rule-modal-template" let-modal>
  <div id="scheduling-rule-modal-header" class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title">
      {{ 'setting.schedulingRule.headline-modal' | translate }}
    </div>
    <span class="filler"></span>

    <div
      id="scheduling-rule-modal-close-btn"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>
  <div id="scheduling-rule-modal-body" class="modal-body">
    <div id="scheduling-rule-modal-tabs-container">
      <ul id="scheduling-rule-modal-tabs" class="nav nav-tabs">
        <li id="scheduling-rule-modal-tab-form-item" class="nav-item">
          <a
            id="scheduling-rule-modal-tab-form-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'form' }"
            (click)="tabId.set('form')"
            >{{ 'setting.schedulingRule.tab-form' | translate }}</a
          >
        </li>
        <li id="scheduling-rule-modal-tab-help-item" class="nav-item">
          <a
            id="scheduling-rule-modal-tab-help-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'help' }"
            (click)="tabId.set('help')"
            >{{ 'setting.schedulingRule.tab-help' | translate }}</a
          >
        </li>
      </ul>
    </div>

    @if (editingRule) {
    <div [ngStyle]="{ display: tabId() === 'form' ? 'block' : 'none' }">
    <!-- Name -->
    <div id="scheduling-rule-modal-name-row" class="row-line-modal-inline">
      <div id="scheduling-rule-modal-name-section" class="rule-name-section">
        <label for="ruleName">{{ 'setting.schedulingRule.name-modal' | translate }}</label>
        <input
          type="text"
          [(ngModel)]="editingRule.name"
          class="form-control"
          id="ruleName"
          aria-label="ruleName"
        />
      </div>
    </div>

    <!-- Max Work Days / Min Rest Days -->
    <div id="scheduling-rule-modal-days-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-max-work-days-item" class="rule-config-item">
        <label for="maxWorkDays">{{ 'setting.schedulingRule.maxWorkDays' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.maxWorkDays"
          class="form-control rule-input"
          id="maxWorkDays"
          aria-label="maxWorkDays"
          min="0"
          step="1"
        />
      </div>

      <div id="scheduling-rule-modal-min-rest-days-item" class="rule-config-item">
        <label for="minRestDays">{{ 'setting.schedulingRule.minRestDays' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.minRestDays"
          class="form-control rule-input"
          id="minRestDays"
          aria-label="minRestDays"
          min="0"
          step="1"
        />
      </div>
    </div>

    <!-- Min Pause Hours / Max Optimal Gap -->
    <div id="scheduling-rule-modal-hours-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-min-pause-hours-item" class="rule-config-item">
        <label for="minPauseHours">{{ 'setting.schedulingRule.minPauseHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.minPauseHours"
          class="form-control rule-input"
          id="minPauseHours"
          aria-label="minPauseHours"
          min="0"
          step="0.5"
        />
      </div>

      <div id="scheduling-rule-modal-max-optimal-gap-item" class="rule-config-item">
        <label for="maxOptimalGap">{{ 'setting.schedulingRule.maxOptimalGap' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.maxOptimalGap"
          class="form-control rule-input"
          id="maxOptimalGap"
          aria-label="maxOptimalGap"
          min="0"
          step="0.5"
        />
      </div>
    </div>

    <!-- Max Daily Hours / Max Weekly Hours -->
    <div id="scheduling-rule-modal-limits-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-max-daily-hours-item" class="rule-config-item">
        <label for="maxDailyHours">{{ 'setting.schedulingRule.maxDailyHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.maxDailyHours"
          class="form-control rule-input"
          id="maxDailyHours"
          aria-label="maxDailyHours"
          min="0"
          step="0.5"
        />
      </div>

      <div id="scheduling-rule-modal-max-weekly-hours-item" class="rule-config-item">
        <label for="maxWeeklyHours">{{ 'setting.schedulingRule.maxWeeklyHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.maxWeeklyHours"
          class="form-control rule-input"
          id="maxWeeklyHours"
          aria-label="maxWeeklyHours"
          min="0"
          step="0.5"
        />
      </div>
    </div>

    <!-- Max Consecutive Days -->
    <div id="scheduling-rule-modal-consecutive-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-max-consecutive-days-item" class="rule-config-item">
        <label for="maxConsecutiveDays">{{ 'setting.schedulingRule.maxConsecutiveDays' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.maxConsecutiveDays"
          class="form-control rule-input"
          id="maxConsecutiveDays"
          aria-label="maxConsecutiveDays"
          min="0"
          step="1"
        />
      </div>
    </div>

    <!-- Default Working Hours / Overtime Threshold -->
    <div id="scheduling-rule-modal-working-hours-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-default-working-hours-item" class="rule-config-item">
        <label for="ruleDefaultWorkingHours">{{ 'setting.schedulingRule.defaultWorkingHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.defaultWorkingHours"
          class="form-control rule-input"
          id="ruleDefaultWorkingHours"
          aria-label="ruleDefaultWorkingHours"
          min="0"
          step="0.5"
        />
      </div>

      <div id="scheduling-rule-modal-overtime-threshold-item" class="rule-config-item">
        <label for="ruleOvertimeThreshold">{{ 'setting.schedulingRule.overtimeThreshold' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.overtimeThreshold"
          class="form-control rule-input"
          id="ruleOvertimeThreshold"
          aria-label="ruleOvertimeThreshold"
          min="0"
          step="1"
        />
      </div>
    </div>

    <!-- Guaranteed Hours / Maximum Hours -->
    <div id="scheduling-rule-modal-guaranteed-max-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-guaranteed-hours-item" class="rule-config-item">
        <label for="ruleGuaranteedHours">{{ 'setting.schedulingRule.guaranteedHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.guaranteedHours"
          class="form-control rule-input"
          id="ruleGuaranteedHours"
          aria-label="ruleGuaranteedHours"
          min="0"
          step="1"
        />
      </div>

      <div id="scheduling-rule-modal-maximum-hours-item" class="rule-config-item">
        <label for="ruleMaximumHours">{{ 'setting.schedulingRule.maximumHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.maximumHours"
          class="form-control rule-input"
          id="ruleMaximumHours"
          aria-label="ruleMaximumHours"
          min="0"
          step="1"
        />
      </div>
    </div>

    <!-- Minimum Hours / Full Time Hours -->
    <div id="scheduling-rule-modal-minimum-fulltime-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-minimum-hours-item" class="rule-config-item">
        <label for="ruleMinimumHours">{{ 'setting.schedulingRule.minimumHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.minimumHours"
          class="form-control rule-input"
          id="ruleMinimumHours"
          aria-label="ruleMinimumHours"
          min="0"
          step="1"
        />
      </div>

      <div id="scheduling-rule-modal-fulltime-hours-item" class="rule-config-item">
        <label for="ruleFullTimeHours">{{ 'setting.schedulingRule.fullTimeHours' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.fullTimeHours"
          class="form-control rule-input"
          id="ruleFullTimeHours"
          aria-label="ruleFullTimeHours"
          min="0"
          step="1"
        />
      </div>
    </div>

    <!-- Vacation Days Per Year -->
    <div id="scheduling-rule-modal-vacation-row" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-vacation-days-item" class="rule-config-item">
        <label for="ruleVacationDaysPerYear">{{ 'setting.schedulingRule.vacationDaysPerYear' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.vacationDaysPerYear"
          class="form-control rule-input"
          id="ruleVacationDaysPerYear"
          aria-label="ruleVacationDaysPerYear"
          min="0"
          step="1"
        />
      </div>
    </div>

    <div id="scheduling-rule-modal-rates-row-1" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-night-rate-item" class="rule-config-item">
        <label for="ruleNightRate">{{ 'setting.schedulingRule.nightRate' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.nightRate"
          class="form-control rule-input"
          id="ruleNightRate"
          aria-label="ruleNightRate"
          min="0"
          max="1"
          step="0.01"
        />
      </div>

      <div id="scheduling-rule-modal-holiday-rate-item" class="rule-config-item">
        <label for="ruleHolidayRate">{{ 'setting.schedulingRule.holidayRate' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.holidayRate"
          class="form-control rule-input"
          id="ruleHolidayRate"
          aria-label="ruleHolidayRate"
          min="0"
          max="1"
          step="0.01"
        />
      </div>
    </div>

    <div id="scheduling-rule-modal-rates-row-2" class="row-line-modal-inline rule-config-row">
      <div id="scheduling-rule-modal-sa-rate-item" class="rule-config-item">
        <label for="ruleSaRate">{{ 'setting.schedulingRule.saRate' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.saRate"
          class="form-control rule-input"
          id="ruleSaRate"
          aria-label="ruleSaRate"
          min="0"
          max="1"
          step="0.01"
        />
      </div>

      <div id="scheduling-rule-modal-so-rate-item" class="rule-config-item">
        <label for="ruleSoRate">{{ 'setting.schedulingRule.soRate' | translate }}</label>
        <input
          type="number"
          [(ngModel)]="editingRule.soRate"
          class="form-control rule-input"
          id="ruleSoRate"
          aria-label="ruleSoRate"
          min="0"
          max="1"
          step="0.01"
        />
      </div>
    </div>

    <!-- Work Days -->
    <div id="scheduling-rule-modal-workdays-row" class="row-line-modal-inline rule-workdays-row">
      <div class="rule-workdays-section">
        <label>{{ 'setting.schedulingRule.workDays' | translate }}</label>
        <div class="workdays-inline">
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnMonday" />
            {{ 'settings.work.monday' | translate }}
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnTuesday" />
            {{ 'settings.work.tuesday' | translate }}
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnWednesday" />
            {{ 'settings.work.wednesday' | translate }}
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnThursday" />
            {{ 'settings.work.thursday' | translate }}
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnFriday" />
            {{ 'settings.work.friday' | translate }}
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnSaturday" />
            {{ 'settings.work.saturday' | translate }}
          </label>
          <label class="checkbox-label">
            <input type="checkbox" [(ngModel)]="editingRule.workOnSunday" />
            {{ 'settings.work.sunday' | translate }}
          </label>
        </div>
      </div>
    </div>

    <!-- Shift Work -->
    <div id="scheduling-rule-modal-shift-work-row" class="row-line-modal-inline rule-workdays-row">
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="editingRule.performsShiftWork" />
        {{ 'setting.schedulingRule.performsShiftWork' | translate }}
      </label>
    </div>

    <!-- Validation Errors -->
    @if (getValidationErrors().length > 0) {
    <div id="scheduling-rule-modal-validation-row" class="row-line-modal-inline">
      <div id="scheduling-rule-modal-validation-section" class="validation-errors-section">
        <div id="scheduling-rule-modal-validation-alert" class="alert alert-danger">
          <strong>{{ 'validation.errors' | translate }}:</strong>
          <ul id="scheduling-rule-modal-validation-list">
            @for (error of getValidationErrors(); track error) {
            <li>{{ error }}</li>
            }
          </ul>
        </div>
      </div>
    </div>
    }
    </div>

    <div
      id="scheduling-rule-modal-help-content"
      class="collapse tab-content-box"
      [ngStyle]="{ display: tabId() === 'help' ? 'block' : 'none' }"
    >
      <div
        id="scheduling-rule-modal-manual-content"
        class="manual-content"
        [innerHTML]="manualContent()"
      ></div>
    </div>
    }
  </div>

  <div id="scheduling-rule-modal-footer" class="modal-footer">
    <span
      id="scheduling-rule-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ "cancel" | translate }}</span
    >
    <button
      id="scheduling-rule-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="onSaveModal(modal)"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<app-settings-list-card
  [headline]="'setting.schedulingRule.headline' | translate"
  [addLabel]="'setting.schedulingRule.add' | translate"
  [showHeader]="true"
  idPrefix="scheduling-rules"
  (addClick)="onClickAdd()"
>
  <app-scheduling-rule-header header id="scheduling-rules-table-header"></app-scheduling-rule-header>
  <div rows #containerBox>
    @for (rule of dataManagementService.rules; track rule.id || $index; let i = $index) {
      <app-scheduling-rule-row
        [id]="'scheduling-rule-row-' + i"
        [data]="rule"
        (editEvent)="onClickEdit($event)"
        (isDeleteEvent)="openDeleteRule(i)"
      />
    }
  </div>
</app-settings-list-card>
