<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="learned-phrases-header-container" class="first custom-control-inline">
  <label id="learned-phrases-header-phrase" class="learned-phrases-header-phrase">{{ 'setting.klacksyLearning.phrases.header.phrase' | translate }}</label>
  <label id="learned-phrases-header-skill" class="learned-phrases-header-skill">{{ 'setting.klacksyLearning.phrases.header.skill' | translate }}</label>
  <label id="learned-phrases-header-language" class="learned-phrases-header-language">{{ 'setting.klacksyLearning.phrases.header.language' | translate }}</label>
  <label id="learned-phrases-header-source" class="learned-phrases-header-source">{{ 'setting.klacksyLearning.phrases.header.source' | translate }}</label>
  <label id="learned-phrases-header-quote" class="learned-phrases-header-quote">{{ 'setting.klacksyLearning.phrases.header.quote' | translate }}</label>
  <label id="learned-phrases-header-uses" class="learned-phrases-header-uses">{{ 'setting.klacksyLearning.phrases.header.uses' | translate }}</label>
</div>
