<div id="deepl-form">
  <div id="deepl-header" class="container-header">
    {{ 'setting.deepl.headline' | translate }}
  </div>

  <div id="deepl-line" class="container-line"></div>

  <div class="deepl-info first">
    <p class="info-text">
      {{ 'setting.deepl.description' | translate }}
    </p>
    <p class="info-text">
      {{ 'setting.deepl.register' | translate }}
      <a
        href="https://www.deepl.com/pro-api"
        target="_blank"
        rel="noopener noreferrer"
      >
        deepl.com
      </a>
    </p>
  </div>

  <div class="form-group first">
    <div class="input-group my-password">
      <label for="deepl-apikey">{{ 'setting.deepl.apikey' | translate }}</label>
      <app-password-input
        [value]="apiKeyForm.apiKey().value()"
        (valueChange)="apiKeyForm.apiKey().value.set($event)"
        inputId="deepl-apikey"
        placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx:fx"
        inputClass="api-input"
      />
    </div>
  </div>
</div>
