@use "../../../../assets/standard-styles/standard-home-page.scss";

.container-owner-address {
  height: auto;
}
.container-setting-contribution {
  height: 520px;
}

.container-setting-user-administration {
  height: 548px;
}

.container-setting-app-document-layout {
  height: 390px;
}
