<as-split #splitEl direction="horizontal" [dir]="direction()" [gutterSize]="6" unit="pixel">
  <!-- Links: Row Header -->
  <as-split-area [size]="horizontalSize()" [minSize]="100">
    <app-schedule-schedule-row-header
      [valueChangeVScrollbar]="vScrollbar.value"
    >
    </app-schedule-schedule-row-header>
  </as-split-area>

  <!-- Rechts: Surface + Scrollbars -->
  <as-split-area>
    <div class="container-box">
      <div class="surface">
        <div class="box">
          <app-grid-surface-template
            id="schedule-grid-surface"
            #scheduleSurface
            [nameId]="'surface'"
            [valueChangeHScrollbar]="hScrollbar.value"
            (valueHScrollbar)="hScrollbar.value = $event"
            (maxValueHScrollbar)="hScrollbar.maxValue = $event"
            (visibleValueHScrollbar)="onVisibleValueHScrollbarChange($event)"
            [valueChangeVScrollbar]="vScrollbar.value"
            (valueVScrollbar)="vScrollbar.value = $event"
            (maxValueVScrollbar)="vScrollbar.maxValue = $event"
            (visibleValueVScrollbar)="vScrollbar.visibleValue = $event"
            (cellValueChange)="onCellValueChange($event)"
            (rightClick)="onRightClick($event)"
            (workChangeDoubleClick)="onWorkChangeDoubleClick($event)"
            (workDoubleClick)="onWorkDoubleClick($event)"
          >
          </app-grid-surface-template>
        </div>
        <app-v-scrollbar
          [class.hidden]="vScrollbarSize === 0"
          class="vScrollArea"
          [maxValue]="vScrollbar.maxValue"
          [visibleValue]="vScrollbar.visibleValue"
          [(value)]="vScrollbar.value"
        >
        </app-v-scrollbar>
      </div>
      <app-h-scrollbar
        #scheduleHScrollbar
        [class.hidden]="hScrollbarSize === 0"
        class="hScrollArea"
        [(value)]="hScrollbar.value"
        [maxValue]="hScrollbar.maxValue"
        [visibleValue]="hScrollbar.visibleValue"
      >
      </app-h-scrollbar>
    </div>
  </as-split-area>
</as-split>

<app-context-menu #contextMenu></app-context-menu>

<app-correction-dialog></app-correction-dialog>
<app-replacement-dialog></app-replacement-dialog>
<app-work-edit-dialog></app-work-edit-dialog>
<app-expenses-dialog></app-expenses-dialog>
