<div class="hScrollbar-container" appResize (resizeElement)="onResize($event)">
  <div
    class="arrow-thumb left"
    role="button"
    (mousedown)="onArrowThumbMouseDown($event, -1)"
    (mouseup)="onArrowThumbMouseUp($event)"
    [innerHTML]="safeTriangleSvgLeft"
    [class.disabled]="disableLeftArrow"
    [attr.disabled]="disableLeftArrow ? true : null"
    [attr.aria-disabled]="disableLeftArrow"
  ></div>

  <div class="scrollbar-bar">
    <canvas #canvas></canvas>
  </div>

  <div
    class="arrow-thumb right"
    role="button"
    (mousedown)="onArrowThumbMouseDown($event, 1)"
    (mouseup)="onArrowThumbMouseUp($event)"
    [innerHTML]="safeTriangleSvgRight"
    [class.disabled]="disableRightArrow"
    [attr.disabled]="disableRightArrow ? true : null"
    [attr.aria-disabled]="disableRightArrow"
  ></div>
</div>
