<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<form #membershipForm="ngForm">
  <app-expandable-card
    [headerTitle]="'address.edit-address.membership.header' | translate">

    <div>
    @if (dataManagementClientService.editClient() !== undefined) {
    <div class="container-bank-box">
      <div class="container-bank-value firstColumn">
        <div class="row-line">
          <div class="form-group medium-width">
            <label for="client-type">{{
              "address.edit-address.membership.type" | translate
            }}</label>
            <select
              class="form-select"
              name="type"
              id="client-type"
              [disabled]="isDisabled()"
              [ngModel]="dataManagementClientService.editClient()?.type"
              (ngModelChange)="
                dataManagementClientService.editClient()!.type = $event
              "
            >
              <option value="0">
                {{
                  "address.edit-address.membership.type.employee" | translate
                }}
              </option>
              <option value="1">
                {{
                  "address.edit-address.membership.type.externEmp" | translate
                }}
              </option>
              <option value="2">
                {{
                  "address.edit-address.membership.type.customer" | translate
                }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="container-bank-value">
        <div class="row-line">
          <div class="form-group medium-width">
            <label for="membership-entry-date">{{
              "address.edit-address.membership.entry-date" | translate
            }} *</label>
            <div class="input-group medium-width">
              <input
                class="form-control"
                name="validFrom"
                [disabled]="isDisabled()"
                aria-labelledby="valid from"
                id="membership-entry-date"
                [ngModel]="
                  (dataManagementClientService.editClient()?.membership)!
                    .internalValidFrom
                "
                (ngModelChange)="
                  dataManagementClientService.editClient()!.membership!.internalValidFrom =
                    $event; calcValidation()
                "
                ngbDatepicker
                #validFrom="ngbDatepicker"
                #validFromField="ngModel"
                [ngClass]="{
                  'is-invalid': isValidFromValid === false && validFromField.touched,
                  'is-valid': isValidFromValid === true
                }"
              />
              <span
                class="input-group-text"
                style="width: 40px"
                (click)="validFrom.toggle()"
              >
                <fa-icon
                  [icon]="faCalendar"
                  [style]="{ 'font-size': '16px', color: '#464e5f' }"
                ></fa-icon>
              </span>
            </div>
          </div>
        </div>

        <div class="row-line">
          <div class="form-group medium-width">
            <label for="membership-until-date">{{
              "address.edit-address.membership.until-date" | translate
            }}</label>
            <div class="input-group flex-nowrap medium-width">
              <input
                class="form-control"
                name="validUntil"
                [disabled]="isDisabled()"
                aria-label="membership-until-date"
                aria-labelledby="validUntil"
                id="membership-until-date"
                [ngModel]="
                  (dataManagementClientService.editClient()?.membership)!
                    .internalValidUntil
                "
                (ngModelChange)="
                  dataManagementClientService.editClient()!.membership!.internalValidUntil =
                    $event
                "
                ngbDatepicker
                #validUntil="ngbDatepicker"
              />

              <span
                class="input-group-text"
                style="width: 40px"
                (click)="validUntil.toggle()"
              >
                <fa-icon
                  [icon]="faCalendar"
                  [style]="{ 'font-size': '16px', color: '#464e5f' }"
                ></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    </div>

  </app-expandable-card>
</form>
