<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #correctionModal let-modal>
  <div class="modal-header">
    <div class="modal-title">{{ "dialog.correction.title" | translate }}</div>
    <span class="filler"></span>
    <div class="close" (click)="onCancel()">&times;</div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>{{ "dialog.correction.position" | translate }}</label>
      <div class="radio-group">
        <label class="radio-label">
          <input
            type="radio"
            name="correctionMode"
            [value]="CorrectionMode.AtStart"
            [(ngModel)]="correctionMode"
            (ngModelChange)="onModeChange()"
          />
          {{ "dialog.correction.atStart" | translate }}
        </label>
        <label class="radio-label">
          <input
            type="radio"
            name="correctionMode"
            [value]="CorrectionMode.AtEnd"
            [(ngModel)]="correctionMode"
            (ngModelChange)="onModeChange()"
          />
          {{ "dialog.correction.atEnd" | translate }}
        </label>
      </div>
    </div>

    <div class="form-group time-row">
      <div class="duration-wrapper">
        <span class="sign">+</span>
        <app-time-input
          [label]="'dialog.correction.duration' | translate"
          [value]="duration"
          (valueChange)="onDurationTimeChange()"
          [forDuration]="true"
          hoursId="wcDurationHours"
          minutesId="wcDurationMinutes"
        ></app-time-input>
      </div>
    </div>

    @if (validation.errorKey) {
      <div class="error-message">{{ validation.errorKey | translate }}</div>
    }

    <div class="form-group">
      <label for="description">{{
        "dialog.correction.description" | translate
      }}</label>
      <textarea
        id="description"
        [(ngModel)]="description"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <div class="form-group checkbox-group">
      <label class="checkbox-label">
        <input type="checkbox" [(ngModel)]="toInvoice" />
        {{ "dialog.correction.toInvoice" | translate }}
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <span class="link-button red-font" (click)="onCancel()">
      {{ "cancel" | translate }}
    </span>
    <button
      type="button"
      class="btn save-btn"
      (click)="onSave()"
      [disabled]="!isValid()"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>
