<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="form-group ownPaginationContainer">
  <div
    type="button"
    class="ownPaginationBlock ownPaginationBlockLeft"
    (click)="onClickPaginationButton(-1)"
    disabled="currentNumber ===1"
  >
    <fa-icon [icon]="faAngleLeft"></fa-icon>
  </div>
  <div class="ownPaginationBlock">{{ currentNumber }}</div>
  <div
    type="button"
    class="ownPaginationBlock ownPaginationBlockRight"
    (click)="onClickPaginationButton(1)"
    disabled="maxNumber ===1"
  >
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </div>
</div>
