<div id="sch-hScrollbar-containar" class="sch-hsroll-container">
  <div
    id="arrow-thumb-left"
    class="arrow-thumb"
    (mousedown)="onArrowThumbMouseDown($event, 0)"
    (mouseup)="onArrowThumbMouseUp($event)"
  >
    <p>&#9664;</p>
  </div>
  <canvas id="sch-hScrollbar" class="scrollbar"></canvas>
  <div
    class="arrow-thumb-right"
    class="arrow-thumb"
    (mousedown)="onArrowThumbMouseDown($event, 1)"
    (mouseup)="onArrowThumbMouseUp($event)"
  >
    <p>&#9654;</p>
  </div>
</div>
