@use "../../../../../../assets/standard-styles/colors.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../../assets/standard-styles/standard-search-input.scss";

::ng-deep .container-shift-override-fullscreen .modal-dialog {
  max-width: 95vw;
  width: 95vw;
  height: 90vh;

  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.override-edit-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 0 !important;
}

.modal-title-date {
  margin-inline-start: 0.5rem;
  font-weight: 400;
  color: var(--colorSubHeadline);
  font-size: 0.9em;
}

.close {
  cursor: pointer;
  padding: 0 10px;

  &:hover {
    opacity: 0.7;
  }
}

.link-button {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    opacity: 0.8;
  }
}

.filler {
  flex: 1;
}
