<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #overrideModal let-modal>
  <div class="modal-header">
    <div class="modal-title">
      {{ lifecycleService.containerShiftAbbreviation || ("dialog.containerShiftOverride.title" | translate) }}
      <span class="modal-title-date">{{ lifecycleService.date }}</span>
    </div>
    <span class="filler"></span>
    <div type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>

  <div class="modal-body override-edit-body">
    <app-container-editor-layout
      [timeFrom]="timeFrom"
      [timeTo]="timeTo"
      [duration]="duration"
      [isLoading]="lifecycleService.isLoading()"
      [isReadOnly]="lifecycleService.isReadOnly()"
      [readOnlyReason]="lifecycleService.readOnlyReason()"
      [availableTasks]="filteredAvailableTasks"
      [containerAbsences]="lifecycleService.containerAbsences()"
      [isEmploymentTabActive]="lifecycleService.isEmploymentTabActive()"
      [selectedItems]="selectedContainerTemplateItems"
      [selectedShift]="selectedShift"
      [shiftFilter]="shiftFilter()"
      [isAutofillRunning]="routeService.isAutofillRunning"
      [isOptimizing]="routeService.isOptimizing"
      [showAutofill]="!!routeService.selectedStartBase && !!routeService.selectedEndBase"
      [hasRouteInfo]="routeService.hasRouteInfo"
      [hasOpenRouteServiceApiKey]="routeService.hasOpenRouteServiceApiKey"
      [timeRangeToleranceValue]="timeRangeToleranceValue"
      [selectedStartBase]="routeService.selectedStartBase"
      [selectedEndBase]="routeService.selectedEndBase"
      [selectedTransportMode]="routeService.selectedTransportMode"
      dropListId="selected-tasks-list"
      availableDropListId="available-tasks-list"
      absencesDropListId="container-absences-list"
      (timeFromChange)="onTimeFromChange($event)"
      (timeToChange)="onTimeToChange($event)"
      (shiftFilterChange)="shiftFilter.set($event)"
      (toleranceChange)="timeRangeToleranceValue = $event"
      (taskDrop)="onTaskDrop($event)"
      (availableTasksDrop)="onAvailableTasksDrop()"
      (removeTask)="onRemoveTask($event)"
      (removeAllTasks)="onRemoveAllTasks()"
      (autofillClick)="autofill()"
      (compactClick)="compactSelectedShifts($event)"
      (optimizeRouteClick)="optimizeRoute()"
      (exportShiftsPdfClick)="exportSelectedShiftsToPdf()"
      (exportRoutePdfClick)="exportRouteToPdf()"
      (employmentTabClick)="lifecycleService.selectEmploymentTab()"
      (shiftsTabClick)="lifecycleService.selectShiftsTab()"
      (shiftRowClick)="onShiftRowClick($event)"
      (shiftRightClick)="onShiftRightClick($event)"
      (tableRowRightClick)="onTableRowRightClick($event.event, $event.item)"
      (itemsDisplaced)="onItemsDisplaced()"
      (transportModeChange)="onTransportModeChange($event)"
      (startBaseChange)="routeService.selectedStartBase = $event; lifecycleService.markDirty()"
      (endBaseChange)="routeService.selectedEndBase = $event; lifecycleService.markDirty()"
      (markDirty)="lifecycleService.markDirty()"
    />
  </div>

  <div class="modal-footer">
    <span type="button" class="link-button red-font" (click)="onCancel()">{{
      "cancel" | translate
    }}</span>
    @if (lifecycleService.isDirty() && !lifecycleService.isReadOnly()) {
      <span
        type="button"
        class="link-button red-font"
        role="button"
        tabindex="0"
        (click)="onReset()"
        (keydown.enter)="onReset()"
        (keydown.space)="onReset()"
        >{{ "reset" | translate }}</span
      >
    }
    <button
      type="button"
      class="btn save-btn"
      [disabled]="!lifecycleService.isDirty() || lifecycleService.isReadOnly()"
      (click)="onSave()"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<app-context-menu
  #contextMenu
  (hasClicked)="onContextMenuClick($event)"
></app-context-menu>
