<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #overrideModal let-modal>
  <div class="modal-header">
    <div class="modal-title">
      {{ lifecycleService.containerShiftAbbreviation || ("dialog.containerShiftOverride.title" | translate) }}
      <span class="modal-title-date">{{ lifecycleService.date }}</span>
    </div>
    <span class="filler"></span>
    <div type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>

  <div class="modal-body override-edit-body">
    <app-container-editor-layout
      [timeFrom]="timeFrom"
      [timeTo]="timeTo"
      [duration]="duration"
      [isLoading]="lifecycleService.isLoading()"
      [isReadOnly]="lifecycleService.isReadOnly()"
      [readOnlyReason]="lifecycleService.readOnlyReason()"
      [availableTasks]="filteredAvailableTasks"
      [containerAbsences]="lifecycleService.containerAbsences()"
      [isEmploymentTabActive]="lifecycleService.isEmploymentTabActive()"
      [selectedItems]="selectedContainerTemplateItems"
      [selectedShift]="selectedShift"
      [shiftFilter]="shiftFilter()"
      [isAutofillRunning]="routeService.isAutofillRunning"
      [isOptimizing]="routeService.isOptimizing"
      [showAutofill]="!!routeService.selectedStartBase && !!routeService.selectedEndBase"
      [hasRouteInfo]="routeService.hasRouteInfo"
      [hasOpenRouteServiceApiKey]="routeService.hasOpenRouteServiceApiKey"
      [timeRangeToleranceValue]="timeRangeToleranceValue"
      [selectedStartBase]="routeService.selectedStartBase"
      [selectedEndBase]="routeService.selectedEndBase"
      [selectedTransportMode]="routeService.selectedTransportMode"
      dropListId="selected-tasks-list"
      availableDropListId="available-tasks-list"
      absencesDropListId="container-absences-list"
      (timeFromChange)="onTimeFromChange($event)"
      (timeToChange)="onTimeToChange($event)"
      (shiftFilterChange)="shiftFilter.set($event)"
      (toleranceChange)="timeRangeToleranceValue = $event"
      (taskDrop)="onTaskDrop($event)"
      (availableTasksDrop)="onAvailableTasksDrop()"
      (removeTask)="onRemoveTask($event)"
      (removeAllTasks)="onRemoveAllTasks()"
      (autofillClick)="autofill()"
      (compactClick)="compactSelectedShifts($event)"
      (optimizeRouteClick)="optimizeRoute()"
      (exportShiftsPdfClick)="exportSelectedShiftsToPdf()"
      (exportRoutePdfClick)="exportRouteToPdf()"
      (employmentTabClick)="lifecycleService.selectEmploymentTab()"
      (shiftsTabClick)="lifecycleService.selectShiftsTab()"
      (shiftRowClick)="onShiftRowClick($event)"
      (shiftRightClick)="onShiftRightClick($event)"
      (tableRowRightClick)="onTableRowRightClick($event.event, $event.item)"
      (absenceRowDblClick)="onAbsenceRowDblClick($event)"
      (itemsDisplaced)="onItemsDisplaced()"
      (transportModeChange)="onTransportModeChange($event)"
      (startBaseChange)="routeService.selectedStartBase = $event; lifecycleService.markDirty()"
      (endBaseChange)="routeService.selectedEndBase = $event; lifecycleService.markDirty()"
      (markDirty)="lifecycleService.markDirty()"
    />
  </div>

  <div class="modal-footer">
    <span type="button" class="link-button red-font" (click)="onCancel()">{{
      "cancel" | translate
    }}</span>
    @if (lifecycleService.isDirty() && !lifecycleService.isReadOnly()) {
      <span
        type="button"
        class="link-button red-font"
        role="button"
        tabindex="0"
        (click)="onReset()"
        (keydown.enter)="onReset()"
        (keydown.space)="onReset()"
        >{{ "reset" | translate }}</span
      >
    }
    <button
      type="button"
      class="btn save-btn"
      [disabled]="!lifecycleService.isDirty() || lifecycleService.isReadOnly()"
      (click)="onSave()"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #propertiesModal let-modal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.container-template.context-menu.properties" | translate }}
    </div>
    <span class="filler"></span>
    <div type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true" style="font-size: 13px; border: 1px transparent solid; color: var(--colorWorkplaceHeadline);">&times;</span>
    </div>
  </div>
  <div class="modal-body first-modal">
    @if (propertiesService.contextMenuTargetItem) {
      @if (propertiesService.contextMenuTargetItem.absenceId) {
        <div class="row-line-modal-inline1">
          <div class="property-field">
            <label>{{ "shift.container-template.properties.start-time" | translate }}</label>
            <app-time-input
              [value]="absenceService.absenceStartTime"
              (valueChange)="onAbsenceStartTimeChange($event)"
              [showLabel]="false"
              [forDuration]="false"
            ></app-time-input>
          </div>
          <div class="property-field">
            <label>{{ "shift.container-template.properties.end-time" | translate }}</label>
            <app-time-input
              [value]="absenceService.absenceEndTime"
              (valueChange)="onAbsenceEndTimeChange($event)"
              [showLabel]="false"
              [forDuration]="false"
            ></app-time-input>
          </div>
        </div>
      } @else {
        @if (propertiesService.contextMenuTargetItem.shift?.isTimeRange) {
          <div class="row-line-modal-inline1">
            <div class="property-field">
              <label for="overrideTimeRangeStart">{{ "shift.container-template.properties.time-range-start" | translate }}</label>
              <app-time-input
                id="overrideTimeRangeStart"
                [value]="propertiesService.getPropertiesTimeRangeStart()"
                (valueChange)="propertiesService.onPropertiesTimeRangeStartChange($event)"
                [showLabel]="false"
                [forDuration]="false"
              ></app-time-input>
            </div>
            <div class="property-field">
              <label>{{ "shift.container-template.properties.work-time" | translate }}</label>
              <div class="readonly-value">{{ formatWorkTime(propertiesService.contextMenuTargetItem.shift?.workTime || 0) }}</div>
            </div>
          </div>
        }
        <div class="row-line-modal-inline1">
          <div class="property-field">
            <label for="overrideBriefingTime">{{ "shift.container-template.properties.briefing-time" | translate }}</label>
            <app-time-input
              id="overrideBriefingTime"
              [value]="propertiesService.getPropertiesBriefingTime()"
              (valueChange)="propertiesService.onPropertiesBriefingTimeChange($event)"
              [showLabel]="false"
              [forDuration]="true"
            ></app-time-input>
          </div>
          <div class="property-field">
            <label for="overrideDebriefingTime">{{ "shift.container-template.properties.debriefing-time" | translate }}</label>
            <app-time-input
              id="overrideDebriefingTime"
              [value]="propertiesService.getPropertiesDebriefingTime()"
              (valueChange)="propertiesService.onPropertiesDebriefingTimeChange($event)"
              [showLabel]="false"
              [forDuration]="true"
            ></app-time-input>
          </div>
        </div>
        <div class="row-line-modal-inline1">
          <div class="property-field">
            <label for="overrideTravelBefore">{{ "shift.container-template.properties.travel-time-before" | translate }}</label>
            <app-time-input
              id="overrideTravelBefore"
              [value]="propertiesService.getPropertiesTravelTimeBefore()"
              (valueChange)="propertiesService.onPropertiesTravelTimeBeforeChange($event)"
              [showLabel]="false"
              [forDuration]="true"
            ></app-time-input>
          </div>
          <div class="property-field">
            <label for="overrideTravelAfter">{{ "shift.container-template.properties.travel-time-after" | translate }}</label>
            <app-time-input
              id="overrideTravelAfter"
              [value]="propertiesService.getPropertiesTravelTimeAfter()"
              (valueChange)="propertiesService.onPropertiesTravelTimeAfterChange($event)"
              [showLabel]="false"
              [forDuration]="true"
            ></app-time-input>
          </div>
        </div>
      }
      @if (routeService.isTransportModeMix) {
        <div class="transport-mode-group">
          <label>{{ "shift.container-template.transport-mode" | translate }}</label>
          <div class="transport-mode-buttons">
            <button type="button" class="transport-mode-btn"
              [class.active]="propertiesService.getPropertiesTransportMode() === TransportModeEnum.byCar"
              (click)="propertiesService.selectPropertiesTransportMode(TransportModeEnum.byCar)"
              [ngbTooltip]="'shift.container-template.transport-mode.by-car' | translate">
              <app-icon-by-car></app-icon-by-car>
            </button>
            <button type="button" class="transport-mode-btn"
              [class.active]="propertiesService.getPropertiesTransportMode() === TransportModeEnum.byBicycle"
              (click)="propertiesService.selectPropertiesTransportMode(TransportModeEnum.byBicycle)"
              [ngbTooltip]="'shift.container-template.transport-mode.by-bicycle' | translate">
              <app-icon-by-bicycle></app-icon-by-bicycle>
            </button>
            <button type="button" class="transport-mode-btn"
              [class.active]="propertiesService.getPropertiesTransportMode() === TransportModeEnum.byFoot"
              (click)="propertiesService.selectPropertiesTransportMode(TransportModeEnum.byFoot)"
              [ngbTooltip]="'shift.container-template.transport-mode.by-foot' | translate">
              <app-icon-by-foot></app-icon-by-foot>
            </button>
          </div>
        </div>
      }
      @if (propertiesService.contextMenuTargetItem.shift?.isTimeRange) {
        <div class="time-range-info-box">
          {{ "shift.container-template.properties.time-range-info" | translate : {
              startShift: formatTime(propertiesService.contextMenuTargetItem.shift?.startShift),
              endShift: formatTime(propertiesService.contextMenuTargetItem.shift?.endShift)
            } }}
        </div>
      }
    }
  </div>
  <div class="modal-footer">
    <span type="button" class="link-button red-font" (click)="modal.dismiss()">{{ "cancel" | translate }}</span>
    <button type="button" class="btn save-btn" (click)="modal.close()">{{ "save" | translate }}</button>
  </div>
</ng-template>

<ng-template #absenceTimeModal let-modal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ absenceService.absenceModalTitle }}
    </div>
    <span class="filler"></span>
    <div type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true" style="font-size: 13px; border: 1px transparent solid; color: var(--colorWorkplaceHeadline);">&times;</span>
    </div>
  </div>
  <div class="modal-body first-modal">
    <div class="row-line-modal-inline1">
      <div class="property-field">
        <label>{{ "shift.container-template.properties.start-time" | translate }}</label>
        <app-time-input
          [value]="absenceService.absenceStartTime"
          (valueChange)="onAbsenceStartTimeChange($event)"
          [showLabel]="false"
          [forDuration]="false"
        ></app-time-input>
      </div>
      <div class="property-field">
        <label>{{ "shift.container-template.properties.end-time" | translate }}</label>
        <app-time-input
          [value]="absenceService.absenceEndTime"
          (valueChange)="onAbsenceEndTimeChange($event)"
          [showLabel]="false"
          [forDuration]="false"
        ></app-time-input>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span type="button" class="link-button red-font" (click)="modal.dismiss()">{{ "cancel" | translate }}</span>
    <button type="button" class="btn save-btn" (click)="modal.close()">{{ "save" | translate }}</button>
  </div>
</ng-template>

<app-context-menu
  #contextMenu
  (hasClicked)="onContextMenuClick($event)"
></app-context-menu>
