@use "../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/colors.scss";
@use "../../../../../assets/standard-styles/menu.scss";
@use "../../../../../assets/standard-styles/datepicker.scss";
@use "../../../../../assets/standard-styles/toggle-switch.scss";

.default-width {
  width: 390px;
}
.medium-width {
  width: 180px;
}

.short-width {
  width: 120px;
}

label {
  width: 400px;
}

.row-line {
  margin-top: 5px;
  display: inline-flex;
}

.grey-color {
  color: #b6b6c3;
}

.row-line-add {
  display: inline-flex;
  padding-bottom: 20px;
}

.row-line-simple {
  padding: 0;
  margin-top: 5px;
  display: inline-flex;
}

.first-row {
  margin-top: 40px;
}
.firstColumn {
  margin-left: 30px;
}

.endColumn {
  margin-right: 30px;
}

.gap {
  margin-left: 20px;
  width: 130px;
}

.gap-prefix {
  width: 80px;
}

.secondColumnContainer {
  width: 50%;
}

.firstColumContainer {
  width: calc(50% - 10px);
}

.ownStyle-button {
  width: 180px;
  height: 40px;
  background-color: colors.$standartBlueColor;
  font-weight: 600;
  font-size: 14px;
  color: colors.$standartWhiteColor;
}

.own-boolean {
  width: 40px;
  margin-left: 0px;
}

.container-bank-box {
  display: inline-flex;
}

.container-bank-value {
  flex-direction: column;
  width: 450px;
}

.expand-button {
  margin-right: 30px;
}

.main-switch-wrapper {
  margin-right: 60px;
}

.is-container {
  height: 30px;
  margin-top: 20px;
}
