<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form #addressShiftForm="ngForm" class="container-card">
  <div class="container-header header-container">
    <div>
      {{ "shift.edit-shift.address.header" | translate }}
    </div>

    <span class="filler"></span>

    <div class="expand-button" (click)="onClickVisibleTable()">
      @if (visibleTable === 'inline') {
      <app-icon-angle-down></app-icon-angle-down>
      } @if (visibleTable === 'none') {
      <app-icon-angle-right></app-icon-angle-right>
      }
    </div>
  </div>

  <div class="container-line"></div>
  <div class="container-bank-box" [ngStyle]="{ display: visibleTable }">
    @if (dataManagementShiftService.editShift !== undefined) {

    <div class="firstColumn endColumn">
      <label for="member">{{
        "shift.edit-shift.address.search" | translate
      }}</label>
      <div class="input-group mb-3">
        <input
          type="search"
          class="form-control"
          [(ngModel)]="selectedClientName"
          autocomplete="off"
          (keyup)="onKeyupSearchField($event)"
          (keydown)="onKeydownEnterSearchField($event)"
          id="member"
          list="dynamicClientName"
          name="selectedClient"
          placeholder="{{ 'placeholder.search' | translate }}"
          [disabled]="isFieldsDisabled"
        />
        <datalist id="dynamicClientName">
          @for (item of result; track item) {
          <option [ngValue]="item">
            {{ item.idNumber }} - {{ item.company }} {{ item.firstName }}
            {{ item.name }}
          </option>
          }
        </datalist>
        @if (!selectedClient) {
        <div
          class="input-group-text btn btn-outline-secondary container-search-button-disabled"
        >
          {{ "shift.edit-shift.address.select" | translate }}
        </div>
        } @if (selectedClient) {
        <div
          class="input-group-text btn btn-outline-secondary container-search-button"
          (click)="onClickApply()"
          [class.disabled]="isFieldsDisabled"
        >
          {{ "shift.edit-shift.address.select" | translate }}
        </div>
        }
      </div>

      <!-- Display selected address -->
      @if (dataManagementShiftService.editShift &&
      dataManagementShiftService.editShift.clientId) {
      <div class="selected-address-container">
        <div class="selected-address-header">
          <label>{{
            "shift.edit-shift.address.selected-address" | translate
          }}</label>
        </div>
        <div
          class="selected-address-info d-flex justify-content-between align-items-center"
        >
          <span>{{ dataManagementShiftService.editShift.addressName }}</span>
          <button type="button" class="delete-btn" (click)="onRemoveAddress()" [disabled]="isFieldsDisabled">
            <app-icon-trash-red></app-icon-trash-red>
          </button>
        </div>
      </div>
      }
    </div>
    <div></div>
    }
  </div>
  <div class="bottom-border-space"></div>
</form>
