<div class="container">
  <div class="month-line">
    <span class="custom-counter-span"
      >{{ "schedule.schedule-header.schedule-header.month" | translate }}
    </span>
    <span class="filler"></span>
    <select
      name="month"
      id="month"
      class="form-select month"
      [(ngModel)]="selectedMonth"
      (ngModelChange)="onChangeMonth()"
    >
      @for (c of gridSettingsService.monthsName; track $index; let i = $index) {
      <option [ngValue]="i + 1" [selected]="i + 1 === selectedMonth">
        {{ c | translate }}
      </option>
      }
    </select>
  </div>
  <div class="custom-counter">
    <span class="custom-counter-span"
      >{{
        "absence-gantt.absence-gantt-header.absence-gantt-header.year"
          | translate
      }}
    </span>
    <span class="filler"></span>
    <app-counter
      [maxNumber]="maxYear"
      [currentNumber]="currentYear"
      (isChanged)="changeYear($event)"
    >
    </app-counter>
  </div>
</div>
