<div class="hScrollbar-container" appResize (resizeElement)="onResize($event)">
  <div
    class="arrow-thumb"
    role="button"
    (mousedown)="onArrowThumbMouseDown($event, 0)"
    (mouseup)="onArrowThumbMouseUp($event)"
    [innerHTML]="safeTriangleSvgTop"
    [class.disabled]="disableTopArrow"
    [attr.disabled]="disableTopArrow ? true : null"
    [attr.aria-disabled]="disableTopArrow"
  ></div>

  <div class="scrollbar-bar">
    <canvas #canvas></canvas>
  </div>

  <div
    class="arrow-thumb"
    role="button"
    (mousedown)="onArrowThumbMouseDown($event, 1)"
    (mouseup)="onArrowThumbMouseUp($event)"
    [innerHTML]="safeTriangleSvgBottom"
    [class.disabled]="disableBottomArrow"
    [attr.disabled]="disableBottomArrow ? true : null"
    [attr.aria-disabled]="disableBottomArrow"
  ></div>
</div>
