@use "../../../../assets/standard-styles/spinner.scss";
@use "../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../assets/standard-styles/colors.scss";

$header_height: 65px;
$main-header_height: 65px;
$nav_width: 100px;

.schedule-main-header {
  order: 1;
  height: $main-header_height;
  width: calc(100vw - #{$nav_width});
  background-color: var(--backgroundColorWorkplace);
}

.schedule-body {
  order: 2;
  flex: 1;
  height: calc(100vh - (#{$main-header_height} + #{$header_height}));
  background-color: var(--backgroundColorWorkplace);
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
