<div class="container">
  <div class="input-group" (click)="onClickHeader('firstName')">
    <div class="row-line">
      <p class="arrow">{{ arrowFirstName }}</p>
      <p>
        {{ "address.edit-address.address-persona.firstname" | translate }}
      </p>
    </div>
  </div>
  <div class="input-group" (click)="onClickHeader('name')">
    <div class="row-line">
      <p class="arrow">{{ arrowName }}</p>
      <p>
        {{ "address.edit-address.address-persona.name" | translate }}
      </p>
    </div>
  </div>
  <div class="input-group" (click)="onClickHeader('company')">
    <div class="row-line">
      <p class="arrow">{{ arrowCompany }}</p>
      <p>
        {{ "address.all-address.all-address-list.table.company" | translate }}
      </p>
    </div>
  </div>
</div>
