@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/standard-modal.scss";

.single-line {
  display: inline-flex;
}

.container {
  width: 100%;
  height: auto;
  font-size: 11pt;
}

.row-line {
  margin-top: 5px;
  display: inline-flex;
}

.arrow {
  width: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-as-div {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  display: block;

  &:hover {
    background: var(--gridBackgroundColorRowHover);
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
