<form id="allAddressForm">
  <div class="container-header header-container">
    {{ translate.instant("address.all-address.all-address-list.header") }}

    <span class="filler"></span>

    @if (authorizationService.isAuthorised) {
    <div class="tree-actions">
      <button class="btn new-btn" (click)="onAddAddress()" tabindex="0">
        {{ "new-address" | translate }}
      </button>
    </div>
    } @if (!(dataManagementClientService.headerCheckBoxValue ||
    checkBoxIndeterminate)) {
    <div>
      <button
        class="btn ownStyle-button-disabled"
        role="button"
        aria-label="excel"
      >
        <app-excel-icon></app-excel-icon>
      </button>
    </div>
    } @if (dataManagementClientService.headerCheckBoxValue ||
    checkBoxIndeterminate) {
    <div
      tabindex="1"
      class="btn ownStyle-button"
      role="button"
      data-bs-toggle="dropdown"
      aria-label="excel"
      (click)="onClickExportExcel(0)"
    >
      <app-excel-icon></app-excel-icon>
    </div>
    }
  </div>

  <!-- ... Tabellenstruktur unverändert ... -->

  <tbody>
    <tr
      class="table-row"
      *ngFor="
        let data of dataManagementClientService.listWrapper?.clients;
        index as i
      "
      (click)="onClickedRow(data)"
      [class.active]="data.id === highlightRowId"
    >
      <!-- ... Datenzellen ... -->

      <td class="table-cell cell-right">
        @if (authorizationService.isAuthorised) {
        <div>
          <div class="icon icon-padding" (click)="onClickEdit(data)">
            <app-icon-pencil-icon-grey></app-icon-pencil-icon-grey>
          </div>
          @if (!data.isDeleted) {
          <div class="icon" (click)="open(data)">
            <app-icon-trash-red></app-icon-trash-red>
          </div>
          }
        </div>
        } @else {
        <div>
          <div class="icon icon-padding" (click)="onClickEdit(data)">
            <app-icon-eye-grey></app-icon-eye-grey>
          </div>
        </div>
        }
      </td>
    </tr>
  </tbody>

  <!-- Pagination -->
  <div class="pagination justify-content-end">
    @if (visibleRow) {
    <div>
      <label for="selection" class="entry-row">
        {{ translate.instant("pagination.line") }}
      </label>
      <select
        id="selection"
        class="maxSize-selection"
        value="realRow"
        (change)="onChangeRowSize($event)"
      >
        <option
          *ngFor="let c of visibleRow"
          [value]="c.value"
          [selected]="c.value === realRow"
        >
          {{ c.text }}
        </option>
      </select>
    </div>
    }

    <label for="pagination" class="entry-info">
      {{ translate.instant("pagination.sum") }}
      {{ dataManagementClientService.maxItems }}
    </label>

    <ngb-pagination
      id="pagination"
      [collectionSize]="dataManagementClientService.maxItems + 1"
      (pageChange)="onPageChange($event)"
      [(page)]="page"
      [maxSize]="5"
      [pageSize]="numberOfItemsPerPage"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    ></ngb-pagination>
  </div>
</form>
