<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="personal-access-tokens-header-container" class="first custom-control-inline">
  <label id="personal-access-tokens-header-name" class="column-name">{{ 'setting.personal-access-tokens.header.name' | translate }}</label>
  <label id="personal-access-tokens-header-prefix" class="column-prefix">{{ 'setting.personal-access-tokens.header.token-prefix' | translate }}</label>
  <label id="personal-access-tokens-header-created" class="column-date">{{ 'setting.personal-access-tokens.header.created-at' | translate }}</label>
  <label id="personal-access-tokens-header-expires" class="column-date">{{ 'setting.personal-access-tokens.header.expires-at' | translate }}</label>
  <label id="personal-access-tokens-header-last-used" class="column-date">{{ 'setting.personal-access-tokens.header.last-used-at' | translate }}</label>
</div>
