@use "../../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../../assets/standard-styles/spinner.scss";
@use "../../../../../../assets/standard-styles/pagination.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/colors.scss";
@use "../../../../../../assets/standard-styles/menu.scss";
@use "../../../../../../assets/standard-styles/datepicker.scss";

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;

  .btn {
    flex: 1;
    margin: 0 5px;

    &:first-child {
      margin-inline-start: 0;
    }

    &:last-child {
      margin-inline-end: 0;
    }
  }
}

.cut-date-width {
  width: 180px;
}
.row-line {
  display: flex;
  justify-content: center;
}

.row-line1 {
  display: flex;
  flex-direction: row;
}

.time-minute {
  width: 41px;
  padding-inline-start: 5px;
}

.time-hour {
  width: 41px;
  padding-inline-end: 4px;
}

.hours {
  border-start-end-radius: 0px;
  border-end-end-radius: 0px;
  border-inline-end: 0px colors.$standartWhiteColor;
  text-align: end;
}

.minutes {
  border-start-start-radius: 0px;
  border-end-start-radius: 0px;
  border-inline-start: 0px colors.$standartWhiteColor;
  text-align: start;
}

.delimiter-time {
  height: 18px;
  margin-inline-start: -2px;
  margin-top: 7px;
  width: 0px;
  z-index: 2;
}

.number-control {
  width: 65px;
}

.link-button {
  font-size: 13px;
  text-decoration: underline;
}
