<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="counter-rule-header-container" class="first custom-control-inline">
  <label id="counter-rule-header-event-type" class="counter-rule-header-event-type">{{ 'setting.counterRule.header.eventType' | translate }}</label>
  <label id="counter-rule-header-period" class="counter-rule-header-period">{{ 'setting.counterRule.header.period' | translate }}</label>
  <label id="counter-rule-header-threshold" class="counter-rule-header-threshold">{{ 'setting.counterRule.header.threshold' | translate }}</label>
  <label id="counter-rule-header-hours-threshold" class="counter-rule-header-hours-threshold">{{ 'setting.counterRule.header.hoursThreshold' | translate }}</label>
  <label id="counter-rule-header-enforcement" class="counter-rule-header-enforcement">{{ 'setting.counterRule.header.enforcement' | translate }}</label>
</div>
