<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="counter-rule-header-container" class="first custom-control-inline">
  <label id="counter-rule-header-event-type" style="width: 220px">{{ 'setting.counterRule.header.eventType' | translate }}</label>
  <label id="counter-rule-header-period" style="width: 120px">{{ 'setting.counterRule.header.period' | translate }}</label>
  <label id="counter-rule-header-threshold" style="width: 110px">{{ 'setting.counterRule.header.threshold' | translate }}</label>
  <label id="counter-rule-header-hours-threshold" style="width: 130px">{{ 'setting.counterRule.header.hoursThreshold' | translate }}</label>
  <label id="counter-rule-header-enforcement" style="width: 130px">{{ 'setting.counterRule.header.enforcement' | translate }}</label>
</div>
