@use "../../../../../../assets/standard-styles/colors.scss";
.first {
  margin-inline-start: 30px;
  padding-inline-end: -30px;
}

label {
  font-weight: 500;
  font-size: 13px;
  color: var(--colorLabel);
}

.counter-rule-header-event-type {
  width: 220px;
}

.counter-rule-header-period {
  width: 120px;
}

.counter-rule-header-threshold {
  width: 110px;
}

.counter-rule-header-hours-threshold {
  width: 130px;
}

.counter-rule-header-enforcement {
  width: 130px;
}
