@use "../../../../../../assets/standard-styles/standard-marketplace-browse.scss";

.marketplace-browse {
  .col-language {
    width: 180px;
    flex-shrink: 0;
    font-weight: 600;
  }

  .col-coverage {
    width: 80px;
    flex-shrink: 0;
  }
}
