<div class="marketplace-browse">
  <app-search-input
    placeholderKey="settings.language-plugins.marketplace.search-placeholder"
    [(value)]="searchTerm"
    [isLoading]="isLoading"
    (searchSubmit)="search()"
  ></app-search-input>

  @if (isLoading) {
    <div class="text-center p-4">
      <div class="spinner-border" role="status"></div>
    </div>
  } @else if (packages.length === 0) {
    <div class="text-center p-4 text-muted">
      {{ 'settings.language-plugins.marketplace.no-results' | translate }}
    </div>
  } @else {
    <div class="container-table">
      <div class="table-header custom-control-inline">
        <span class="col-language">{{ 'settings.language-plugins.marketplace.language' | translate }}</span>
        <span class="col-author">{{ 'settings.language-plugins.marketplace.author' | translate }}</span>
        <span class="col-coverage">{{ 'settings.language-plugins.marketplace.coverage' | translate }}</span>
        <span class="col-downloads">{{ 'settings.language-plugins.marketplace.downloads' | translate }}</span>
        <span class="col-version">{{ 'settings.language-plugins.marketplace.version' | translate }}</span>
        <span class="col-action"></span>
      </div>
      @for (pkg of packages; track pkg.code) {
        <div class="table-row custom-control-inline">
          <span class="col-language table-cell">{{ pkg.displayName }} ({{ pkg.code }})</span>
          <span class="col-author table-cell">{{ pkg.authorName }}</span>
          <span class="col-coverage table-cell">{{ pkg.coverage | number:'1.0-0' }}%</span>
          <span class="col-downloads table-cell">{{ pkg.downloads }}</span>
          <span class="col-version table-cell">{{ pkg.version }}</span>
          <span class="col-action table-cell">
            @if (isInstalled(pkg.code)) {
              <span class="status-badge installed">{{ 'settings.language-plugins.marketplace.installed' | translate }}</span>
            } @else {
              <button class="install-btn"
                      (click)="onDownloadAndInstall(pkg.code)"
                      [disabled]="installingCode === pkg.code">
                @if (installingCode === pkg.code) {
                  <span class="spinner-border spinner-border-sm"></span>
                } @else {
                  {{ 'settings.language-plugins.marketplace.install' | translate }}
                }
              </button>
            }
          </span>
        </div>
      }
    </div>

    <app-simple-pagination
      id="marketplace-pagination"
      [collectionSize]="totalCount"
      [pageSize]="pageSize"
      [(page)]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-simple-pagination>
  }
</div>
