@use "../../../../assets/standard-styles/pagination.scss";
@use "../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../assets/standard-styles/colors.scss";

.pagination {
  display: flex;

  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  .entry-row {
    margin-inline-end: 0.25rem;
  }

  .maxSize-selection {
    margin-inline-end: 0.5rem;
  }

  .entry-info {
    border-radius: 4px;
    padding-inline-end: 20px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 500;
    color: var(--colorLabel);
  }
}
