@use "../../../../../../assets/standard-styles/colors.scss";

.first {
  padding-left: 30px;
}

.custom-control-inline {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}

label {
  color: var(--colorWorkplaceHeadline);
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0;
  margin-right: 15px;
}

.col-language {
  width: 80px;
  flex-shrink: 0;
}

.col-display-name {
  width: 140px;
  flex-shrink: 0;
}

.col-author {
  width: 140px;
  flex-shrink: 0;
}

.col-version {
  width: 70px;
  flex-shrink: 0;
}

.col-coverage {
  width: 80px;
  flex-shrink: 0;
}

.col-status {
  flex: 1;
}
