<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="language-plugins-header-container" class="first custom-control-inline">
  <label id="language-plugins-header-language" class="col-language">{{
    translate.instant("settings.language-plugins.header.language")
  }}</label>
  <label id="language-plugins-header-display-name" class="col-display-name">{{
    translate.instant("settings.language-plugins.header.display-name")
  }}</label>
  <label id="language-plugins-header-author" class="col-author">{{
    translate.instant("settings.language-plugins.header.author")
  }}</label>
  <label id="language-plugins-header-version" class="col-version">{{
    translate.instant("settings.language-plugins.header.version")
  }}</label>
  <label id="language-plugins-header-coverage" class="col-coverage">{{
    translate.instant("settings.language-plugins.header.coverage")
  }}</label>
  <label id="language-plugins-header-status" class="col-status">{{
    translate.instant("settings.language-plugins.header.status")
  }}</label>
</div>
