<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="language-plugins-header-container" class="first custom-control-inline">
  <label id="language-plugins-header-language" class="col-language">{{ 'settings.language-plugins.header.language' | translate }}</label>
  <label id="language-plugins-header-display-name" class="col-display-name">{{ 'settings.language-plugins.header.display-name' | translate }}</label>
  <label id="language-plugins-header-author" class="col-author">{{ 'settings.language-plugins.header.author' | translate }}</label>
  <label id="language-plugins-header-version" class="col-version">{{ 'settings.language-plugins.header.version' | translate }}</label>
  <label id="language-plugins-header-coverage" class="col-coverage">{{ 'settings.language-plugins.header.coverage' | translate }}</label>
  <label id="language-plugins-header-status" class="col-status">{{ 'settings.language-plugins.header.status' | translate }}</label>
</div>
