<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form id="client-qualifications-form" #qualificationsForm="ngForm">
  <app-expandable-card
    [headerTitle]="'address.edit-address.qualifications.header' | translate">

    <div headerActions class="header-actions">
      @if (hasMasterQualifications()) {
      <select
        class="form-select form-select-sm filter-select"
        [ngModel]="filterType"
        (ngModelChange)="onFilterTypeChange($event)"
        [ngModelOptions]="{standalone: true}"
      >
        <option [ngValue]="null">{{ "address.edit-address.qualifications.filter.all-types" | translate }}</option>
        <option [ngValue]="QualificationType.Work">{{ "setting.qualifications.modal.type-work" | translate }}</option>
        <option [ngValue]="QualificationType.Language">{{ "setting.qualifications.modal.type-language" | translate }}</option>
      </select>
      @if (filterType === QualificationType.Work) {
      <select
        class="form-select form-select-sm filter-select"
        [ngModel]="filterCategory"
        (ngModelChange)="onFilterCategoryChange($event)"
        [ngModelOptions]="{standalone: true}"
      >
        <option [ngValue]="null">{{ "qualification.filter.all-categories" | translate }}</option>
        <option [ngValue]="QualificationCategory.Spitex">{{ "setting.qualifications.modal.category-spitex" | translate }}</option>
        <option [ngValue]="QualificationCategory.Security">{{ "setting.qualifications.modal.category-security" | translate }}</option>
        <option [ngValue]="QualificationCategory.Logistics">{{ "setting.qualifications.modal.category-logistics" | translate }}</option>
        <option [ngValue]="QualificationCategory.Healthcare">{{ "setting.qualifications.modal.category-healthcare" | translate }}</option>
        <option [ngValue]="QualificationCategory.Gastronomy">{{ "setting.qualifications.modal.category-gastronomy" | translate }}</option>
        <option [ngValue]="QualificationCategory.Construction">{{ "setting.qualifications.modal.category-construction" | translate }}</option>
        <option [ngValue]="QualificationCategory.Cleaning">{{ "setting.qualifications.modal.category-cleaning" | translate }}</option>
        <option [ngValue]="QualificationCategory.Transport">{{ "setting.qualifications.modal.category-transport" | translate }}</option>
        <option [ngValue]="QualificationCategory.Others">🧩 {{ "setting.qualifications.modal.category-others" | translate }}</option>
      </select>
      }
      @if (availableCountries.length > 0) {
      <select
        class="form-select form-select-sm filter-select"
        [ngModel]="filterCountry"
        (ngModelChange)="onFilterCountryChange($event)"
        [ngModelOptions]="{standalone: true}"
      >
        <option value="">{{ "address.edit-address.qualifications.filter.all-countries" | translate }}</option>
        @for (country of availableCountries; track country) {
        <option [value]="country">{{ country }}</option>
        }
      </select>
      }
      }
      @if (!isDisabled() && hasMasterQualifications()) {
      <app-button-new
        id="add-qualification-button"
        placement="top"
        type="button"
        (click)="addQualification()"
        ngbTooltip="{{
          'address.edit-address.qualifications.add-qualification' | translate
        }}"
      >
      </app-button-new>
      }
    </div>

    <div>
    @if (dataManagementClientService.editClient() !== undefined) {
    @if (!hasMasterQualifications()) {
    <div class="no-qualifications-hint">
      {{ "address.edit-address.qualifications.none-defined" | translate }}
    </div>
    }
    <div class="container-table">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th class="table-header cell-center" style="width: 50px; min-width: 50px"></th>
            <th class="table-header" style="width: 320px">
              {{ "address.edit-address.qualifications.table.qualification" | translate }}
            </th>
            <th class="table-header" style="width: 180px">
              {{ "address.edit-address.qualifications.table.level" | translate }}
            </th>
            <th class="table-header" style="width: 160px">
              {{ "address.edit-address.qualifications.table.valid-until" | translate }}
            </th>
            <th
              class="table-header action"
              style="width: 60px; max-width: 60px; min-width: 60px"
            ></th>
          </tr>
        </thead>
        <tbody>
          @for (qualification of dataManagementClientService.editClient()?.qualifications; track trackByIndex($index)) {
          <tr class="table-row">
            <td class="table-cell cell-center cell-center-vertical">
              <span class="qualification-emoji">{{ getEmoji(qualification) }}</span>
            </td>
            <td class="table-cell cell-center-vertical">
              <div class="qualification-select">
                <select
                  class="form-select"
                  id="qualificationId-{{ $index }}"
                  name="qualificationId-{{ $index }}"
                  [disabled]="isDisabled()"
                  [ngModel]="qualification.qualificationId"
                  (ngModelChange)="onQualificationChange($index, $event)"
                >
                  <option [ngValue]="undefined">
                    {{ "address.edit-address.qualifications.select-qualification" | translate }}
                  </option>
                  @for (option of availableQualifications(qualification); track option.id) {
                  <option [ngValue]="option.id">
                    {{ option.emoji }} {{ localizedName(option) }}
                  </option>
                  }
                </select>
                <span class="qualification-select-value" aria-hidden="true">{{
                  getQualificationName(qualification) ||
                    ("address.edit-address.qualifications.select-qualification" | translate)
                }}</span>
              </div>
            </td>
            <td class="table-cell cell-center-vertical">
              <select
                class="form-select"
                id="qualificationLevel-{{ $index }}"
                name="qualificationLevel-{{ $index }}"
                [disabled]="isDisabled()"
                [ngModel]="qualification.level"
                (ngModelChange)="onLevelChange($index, $event)"
              >
                @for (level of levelOptions; track level) {
                <option [ngValue]="level">
                  {{ "address.edit-address.qualifications.level." + level | translate }}
                </option>
                }
              </select>
            </td>
            <td class="table-cell cell-center-vertical">
              @if (isTimeLimited(qualification)) {
              <div class="input-group">
                <input
                  class="form-control"
                  name="validUntil-{{ $index }}"
                  [disabled]="isDisabled()"
                  aria-labelledby="valid until"
                  id="valid-until-{{ $index }}"
                  [ngModel]="getValidUntil(qualification)"
                  (ngModelChange)="setValidUntil(qualification, $event)"
                  ngbDatepicker
                  #validUntil="ngbDatepicker"
                />
                <span
                  class="input-group-text"
                  style="width: 40px"
                  (click)="validUntil.toggle()"
                >
                  <fa-icon [icon]="faCalendar" class="calendar-icon"></fa-icon>
                </span>
              </div>
              } @else {
              <span class="no-expiry">–</span>
              }
            </td>
            <td class="table-cell cell-right cell-center-vertical">
              @if (!isDisabled()) {
              <div id="delete-qualification-{{ $index }}" class="icon" (click)="removeQualification($index)">
                <app-icon-trash-red></app-icon-trash-red>
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
    </div>

  </app-expandable-card>
</form>
