@use "../../../../../assets/standard-styles/colors.scss";
@use "../../../../../assets/standard-styles/standard-controls.scss";

.container {
  padding: 10px;
  background-color: var(--backgroundColoPagination);
}

.custom-counter-span {
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 10px;
  width: 80px;
  color: var(--colorLabel);
}

.custom-counter {
  display: flex;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 15px;
}

.month-line {
  display: flex;
  justify-content: right;

  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
}

.month {
  width: 180px;
}

.row-line-simple {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.close {
  display: flex;
  justify-content: center;
}
