@use "../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../assets/standard-styles/colors.scss";
@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";

.table {
  width: calc(100% - 30px);
  background-color: var(--backgroundColorCard);
}

.with100 {
  max-width: 100px;
  width: 100px;
  min-width: 100px;
}
.maxWith250 {
  max-width: 250px;
  width: 200px;
}
.with20 {
  width: 20px;
}

#myTable thead th {
  position: sticky;
  top: 40px;
  background: var(--backgroundColorHeaderNav);
  z-index: 10;
}
