<table class="table table-borderless" #myTable id="myTable">
  <thead>
    <tr>
      <th class="table-header with100" (click)="onClickHeader('from')">
        <div class="table-header-cell form-inline">
          <p class="gap noselect">
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.from"
                | translate
            }}
          </p>
          <p class="table-header-cell-arrow noselect">{{ arrowFrom }}</p>
        </div>
      </th>
      <th class="table-header with100" (click)="onClickHeader('until')">
        <div class="table-header-cell custom-control-inline">
          <p class="gap noselect">
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.until"
                | translate
            }}
          </p>
          <p class="table-header-cell-arrow noselect">{{ arrowUntil }}</p>
        </div>
      </th>
      <th class="table-header maxWith250" (click)="onClickHeader('absence')">
        <div class="table-header-cell custom-control-inline">
          <p class="gap noselect">
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.absence"
                | translate
            }}
          </p>
          <p class="table-header-cell-arrow noselect">{{ arrowAbsence }}</p>
        </div>
      </th>
      <th class="table-header with20">
        {{
          "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.value"
            | translate
        }}
      </th>
      <th class="table-header">
        {{
          "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.note"
            | translate
        }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="table-row"
      class="table-row"
      *ngFor="let data of selectedRowData; index as i"
      (click)="onClickedRow(data)"
      [class.active]="data.id == highlightRowId"
    >
      <td class="table-cell">{{ data.from | date : "dd.MM.yyyy" }}</td>
      <td class="table-cell">{{ data.until | date : "dd.MM.yyyy" }}</td>
      <td class="table-cell">{{ onAbsenceName(data) }}</td>
      <td class="table-cell">{{ onAbsenceValue(data) }}</td>
      <td class="table-cell">{{ data.description }}</td>
    </tr>
  </tbody>
</table>
