<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="restricted-time-window-rule-header-container" class="first custom-control-inline">
  <label id="restricted-time-window-rule-header-season" class="col-season">{{ 'setting.restrictedTimeWindowRule.header.season' | translate }}</label>
  <label id="restricted-time-window-rule-header-daily-window" class="col-daily-window">{{ 'setting.restrictedTimeWindowRule.header.dailyWindow' | translate }}</label>
  <label id="restricted-time-window-rule-header-group-tag" class="col-group-tag">{{ 'setting.restrictedTimeWindowRule.header.appliesToGroupTag' | translate }}</label>
</div>
