<form id="allShiftForm">
  <div class="container-header header-container">
    {{ translate.instant("shift.all-shift.list.title") }}

    <span class="filler"></span>

    <div class="tree-actions">
      <button class="btn new-btn" (click)="onAddShift()">
        {{ "new-work" | translate }}
      </button>
    </div>
  </div>
  <div class="container-line"></div>
  <div class="container-table">
    <table style="width: 100%">
      <thead>
        <tr>
          <th class="table-header-border" colspan="2">
            {{ translate.instant("list.all-list.all-shift-list.table.name") }}
          </th>
          <th class="table-header-border" colspan="5">
            {{
              translate.instant(
                "list.all-list.all-shift-list.table.description"
              )
            }}
          </th>
          <th class="table-header-border cell-center" colspan="2">
            {{ translate.instant("list.all-list.all-shift-list.table.from") }}
          </th>
          <th class="table-header-border cell-center" colspan="2">
            {{ translate.instant("list.all-list.all-shift-list.table.until") }}
          </th>
          <th class="col-action table-header-border" rowspan="2"></th>
        </tr>
        <tr>
          <th class="col-time table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.start") }}
          </th>
          <th class="col-time table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.end") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.mon") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.tue") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.wed") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.thu") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.Fry") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.sam") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.son") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.f") }}
          </th>
          <th class="col-day table-header-border cell-center">
            {{ translate.instant("list.all-list.all-shift-list.table.plus-f") }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="
            let data of dataManagementShiftService.listWrapper?.shifts;
            index as i
          "
          (click)="onClickedRow(data)"
          [class.active]="data.id === highlightRowId"
        >
          <tr>
            <td colspan="2" class="table-cell-small-border">
              <p>{{ data.name }}</p>
            </td>

            <td colspan="5" class="table-cell-small-border">
              <p>{{ data.description }}</p>
            </td>

            <td colspan="2" class="table-cell-small-border">
              <p>{{ data.fromDate | date : "dd.MM.yyyy" }}</p>
            </td>

            <td colspan="2" class="table-cell-small-border">
              <p *ngIf="data.untilDate">
                {{ data.untilDate | date : "dd.MM.yyyy" }}
              </p>
            </td>

            <td rowspan="2" class="table-cell cell-right">
              <div class="icon icon-padding">
                <icon-pencil-icon-grey></icon-pencil-icon-grey>
              </div>
              <div class="icon">
                <icon-trash-icon-red></icon-trash-icon-red>
              </div>
            </td>
          </tr>

          <tr>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>{{ data.startShift || "00:00" }}</p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>{{ data.endShift || "23:59" }}</p>
            </td>

            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isMonday"
                  class="checkbox"
                  aria-label="Monday"
                />
              </p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isTuesday"
                  class="checkbox"
                  aria-label="Tuesday"
                />
              </p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isWednesday"
                  class="checkbox"
                  aria-label="Wednesday"
                />
              </p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isThursday"
                  class="checkbox"
                  aria-label="Thursday"
                />
              </p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isFriday"
                  class="checkbox"
                  aria-label="Friday"
                />
              </p>
            </td>

            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isSaturday"
                  class="checkbox"
                  aria-label="Saturday"
                />
              </p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isSunday"
                  class="checkbox"
                  aria-label="Sunday"
                />
              </p>
            </td>

            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isHoliday"
                  class="checkbox"
                  aria-label="Holiday"
                />
              </p>
            </td>
            <td class="table-cell-small-border-with-bottom cell-center">
              <p>
                <input
                  type="checkbox"
                  [checked]="data.isWeekdayOrHoliday"
                  class="checkbox"
                  aria-label="WeekdayOrHoliday"
                />
              </p>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="pagination justify-content-end">
      <div *ngIf="visibleRow">
        <label class="entry-row">{{
          translate.instant("pagination.line")
        }}</label>
        <select
          class="maxSize-selection"
          value="realRow"
          (change)="onChangeRowSize($event)"
        >
          <option
            *ngFor="let c of visibleRow"
            [value]="c.value"
            [selected]="c.value === realRow"
          >
            {{ c.text }}
          </option>
        </select>
      </div>

      <label class="entry-info"
        >{{ translate.instant("pagination.sum") }}
        {{ dataManagementShiftService.listWrapper.maxItems }}</label
      >
      <ngb-pagination
        [collectionSize]="dataManagementShiftService.listWrapper.maxItems + 1"
        (pageChange)="onPageChange($event)"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="numberOfItemsPerPage"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
  </div>
</form>
