<form id="allShiftForm">
  <div class="container-header header-container">
    {{ translate.instant("shift.all-shift.list.title") }}

    <span class="filler"></span>

    <div class="tree-actions">
      <button class="btn new-btn" (click)="onAddShift()">
        {{ "new-work" | translate }}
      </button>
    </div>
  </div>
  <div class="container-line"></div>
  <div class="container-table">
    <app-original-table
      [shifts]="dataManagementShiftService.listWrapper.shifts"
      (editClicked)="onClickEdit($event)"
      (deleteClicked)="onClickDelete($event)"
    ></app-original-table>
    <div class="pagination justify-content-end">
      <div *ngIf="visibleRow">
        <label class="entry-row">{{
          translate.instant("pagination.line")
        }}</label>
        <select
          class="maxSize-selection"
          value="realRow"
          (change)="onChangeRowSize($event)"
        >
          <option
            *ngFor="let c of visibleRow"
            [value]="c.value"
            [selected]="c.value === realRow"
          >
            {{ c.text }}
          </option>
        </select>
      </div>

      <label class="entry-info"
        >{{ translate.instant("pagination.sum") }}
        {{ dataManagementShiftService.listWrapper.maxItems }}</label
      >
      <ngb-pagination
        [collectionSize]="dataManagementShiftService.listWrapper.maxItems + 1"
        (pageChange)="onPageChange($event)"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="numberOfItemsPerPage"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
  </div>
</form>
