@use "../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../assets/standard-styles/spinner.scss";
@use "../../../../../assets/standard-styles/pagination.scss";
@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/colors.scss";
@use "../../../../../assets/standard-styles/menu.scss";

.tree-actions {
  margin-bottom: 15px;
  padding: 0 15px;
}

.entry-info {
  padding-right: 20px;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  color: var(--colorLabel);
}

.checkbox {
  size: 20px;
}

.red-font {
  font-size: 13px;
  margin-top: 10px;
  padding-right: 30px;
  color: var(--standartRedColor);
}

.save-btn {
  font-size: 13px;
  background-color: colors.$standartBlueColor;
  color: colors.$standartWhiteColor;
  margin-right: 20px;
}

.col-time {
  width: 18.6%;
}
.col-day {
  width: 5.8%;
}
.col-action {
  width: 10.5%;
}

p {
  margin-left: 5px;
  padding-top: 8px;
  margin-bottom: 3px;
}

tr:nth-child(4n + 1),
tr:nth-child(4n + 2) {
  background-color: transparent !important;
}

tr:nth-child(4n + 3),
tr:nth-child(4n + 4) {
  background-color: var(--backgroundColorWorkplace);
}

.table-cell-small-border,
.table-cell-small-border-with-bottom,
.table-cell {
  background-color: inherit;
}
// thead tr:last-child th,
// thead tr:first-child th {
//   background-color: var(--backgroundColorWorkplace);
// }

.hover-row {
  background-color: var(--gridBackgroundColorRowHover) !important;
}

.active.hover-row {
  background-color: var(--backgroundColorFocus) !important;
}

tr.hover-row {
  background-color: var(--gridBackgroundColorRowHover) !important;
}

tr.hover-row td {
  background-color: var(--gridBackgroundColorRowHover) !important;
}

tr.selected-row,
tr.selected-row td {
  background-color: var(--backgroundColorFocus) !important;
}

tr.selected-row.hover-row,
tr.selected-row.hover-row td {
  background-color: var(--backgroundColorFocus) !important;
}

thead {
  th {
    padding: 6px 8px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #b3b3b3;
    background: linear-gradient(to bottom, #f7f7f7, #e1e1e1);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  tr:first-child th {
    border-bottom: 1px solid #8c8c8c;
  }
}
