<div class="scrollbar-container" appResize (resizeElement)="onResize($event)">
  <div
    class="arrow-thumb touch-surface"
    role="button"
    (pointerdown)="onArrowThumbPointerDown($event, -1)"
    (pointerup)="onArrowThumbPointerEnd($event)"
    (pointercancel)="onArrowThumbPointerEnd($event)"
    (pointerleave)="onArrowThumbPointerEnd($event)"
    [innerHTML]="safeTriangleSvgBackward"
    [class.disabled]="disableBackwardArrow"
    [class.hidden]="hideArrowButtons"
    [attr.disabled]="disableBackwardArrow ? true : null"
    [attr.aria-disabled]="disableBackwardArrow"
  ></div>

  <div class="scrollbar-bar">
    <canvas #canvas class="touch-surface"></canvas>
  </div>

  <div
    class="arrow-thumb touch-surface"
    role="button"
    (pointerdown)="onArrowThumbPointerDown($event, 1)"
    (pointerup)="onArrowThumbPointerEnd($event)"
    (pointercancel)="onArrowThumbPointerEnd($event)"
    (pointerleave)="onArrowThumbPointerEnd($event)"
    [innerHTML]="safeTriangleSvgForward"
    [class.disabled]="disableForwardArrow"
    [class.hidden]="hideArrowButtons"
    [attr.disabled]="disableForwardArrow ? true : null"
    [attr.aria-disabled]="disableForwardArrow"
  ></div>
</div>
