@use "../../../../assets/standard-styles/colors.scss";

:host {
  --scrollbar-padding: 50px;
  --arrow-thumb-width: 25px;
}

:host([style*="width:0"]) .arrow-thumb {
  display: none;
}

.scrollbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: content-box;
  background-color: colors.$objectSurfaceBackgroundColor;
  cursor: default;
}

.arrow-thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #a9a9a9;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:host(.touch-mode) .arrow-thumb {
  position: relative;
}

:host(.touch-mode) .arrow-thumb:not(.disabled)::before {
  content: '';
  position: absolute;
}

:host(.touch-mode.vertical) .arrow-thumb::before {
  inset-inline: 0;
  height: 44px;
}

:host(.touch-mode.vertical) .arrow-thumb:first-child::before {
  top: 0;
}

:host(.touch-mode.vertical) .arrow-thumb:last-child::before {
  bottom: 0;
}

:host(.touch-mode.horizontal) .arrow-thumb::before {
  top: 0;
  bottom: 0;
  width: 44px;
}

:host(.touch-mode.horizontal) .arrow-thumb:first-child::before {
  inset-inline-start: 0;
}

:host(.touch-mode.horizontal) .arrow-thumb:last-child::before {
  inset-inline-end: 0;
}

.arrow-thumb:hover {
  color: #424949;
  cursor: default;
}

.arrow-thumb.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  color: #a9a9a9;
}

.arrow-thumb.hidden {
  display: none;
}

canvas {
  height: 100%;
  width: 100%;
}

:host(.vertical) {
  .scrollbar-container {
    flex-direction: column;
  }

  .scrollbar-bar {
    height: calc(100% - var(--scrollbar-padding));
    width: 100%;
  }

  .arrow-thumb {
    height: var(--arrow-thumb-width);
    width: 100%;
  }
}

:host(.horizontal) {
  .scrollbar-container {
    flex-direction: row;
  }

  .scrollbar-bar {
    height: 100%;
    width: calc(100% - var(--scrollbar-padding));
  }

  .arrow-thumb {
    height: 100%;
    width: var(--arrow-thumb-width);
  }
}
