<div id="client-filter-container" class="container">
  <button
    id="client-filter-firstname-button"
    class="input-group button-as-div"
    (click)="onClickHeader('firstName')"
  >
    <div class="row-line">
      <p class="arrow">
        @if (sortingService.getArrow('firstName') === '↓') {
        <app-icon-asc></app-icon-asc>
        } @if (sortingService.getArrow('firstName') === '↑') {
        <app-icon-desc></app-icon-desc>
        }
      </p>
      <p>
        {{ "address.edit-address.address-persona.firstname" | translate }}
      </p>
    </div>
  </button>

  <button id="client-filter-name-button" class="input-group button-as-div" (click)="onClickHeader('name')">
    <div class="row-line">
      <p class="arrow">
        @if (sortingService.getArrow('name') === '↓') {
        <app-icon-asc></app-icon-asc>
        } @if (sortingService.getArrow('name') === '↑') {
        <app-icon-desc></app-icon-desc>
        }
      </p>
      <p>
        {{ "address.edit-address.address-persona.name" | translate }}
      </p>
    </div>
  </button>

  <button id="client-filter-company-button" class="input-group button-as-div" (click)="onClickHeader('company')">
    <div class="row-line">
      <p class="arrow">
        @if (sortingService.getArrow('company') === '↓') {
        <app-icon-asc></app-icon-asc>
        } @if (sortingService.getArrow('company') === '↑') {
        <app-icon-desc></app-icon-desc>
        }
      </p>
      <p>
        {{ "address.all-address.all-address-list.table.company" | translate }}
      </p>
    </div>
  </button>

  <div class="checkbox-group">
    <label class="checkbox-label">
      <input
        type="checkbox"
        [checked]="showEmployees"
        (change)="onShowEmployeesChange($event)"
      />
      {{ "schedule.filter.employees" | translate }}
    </label>
    <label class="checkbox-label">
      <input
        type="checkbox"
        [checked]="showExtern"
        (change)="onShowExternChange($event)"
      />
      {{ "schedule.filter.extern" | translate }}
    </label>
  </div>

  <button id="client-filter-hours-button" class="input-group button-as-div" (click)="onClickHours()">
    <div class="row-line">
      <p class="arrow">
        @if (getHoursArrow() === '↓') {
        <app-icon-asc></app-icon-asc>
        } @if (getHoursArrow() === '↑') {
        <app-icon-desc></app-icon-desc>
        }
      </p>
      <p>
        {{ "schedule.filter.hours" | translate }}
      </p>
    </div>
  </button>
</div>
