<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <div class="container-header">
    {{ translate.instant("setting.setting-general.headline") }}
  </div>

  <div class="container-line"></div>

  <div class="form-group first">
    <label for="setting-genaral-name">{{
      translate.instant("setting.setting-general.title")
    }}</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="dataManagementSettingsService.appName"
      (change)="onChange()"
      aria-label="appName"
      (keyup)="onKeyUp()"
      name="appName"
    />
  </div>

  <div class="row-line first">
    @if (dataLoadFileService.iconImage) {
    <div class="image-container-show">
      <img [src]="dataLoadFileService.iconImage" alt="" class="imgIcon" />

      <div class="row">
        <div class="filler"></div>
        <span
          class="delete-button delete-button-icon"
          type="button"
          (click)="onClickDeleteIcon()"
          >Icon entfernen
        </span>
      </div>
    </div>
    } @if (!dataLoadFileService.iconImage) {
    <div
      class="image-container"
      ngbTooltip="ico Datei 32px x 32px"
      autoClose="true"
    >
      <label class="first">{{
        translate.instant("setting.setting-general.icon")
      }}</label>

      <div
        class="fileupload-ico"
        appDragDropFileUpload
        (click)="fileField1.click()"
        (fileDropped)="onUploadIcon($event)"
      >
        <span class="ddinfo">{{
          translate.instant("setting.setting-general.info-icon")
        }}</span>
        <input
          type="file"
          name="avatars"
          #fileField1
          (change)="onUploadIcon1($event)"
          hidden
          multiple
        />
      </div>
    </div>
    } @if (dataLoadFileService.logoImage) {
    <div class="image-container-show">
      <img [src]="dataLoadFileService.logoImage" alt="" class="imgIcon" />

      <div class="row">
        <div class="filler"></div>
        <span
          class="delete-button delete-button-icon"
          type="button"
          (click)="onClickDeleteLogo()"
          >{{ translate.instant("setting.setting-general.remove-logo") }}</span
        >
      </div>
    </div>
    } @if (!dataLoadFileService.logoImage) {
    <div
      class="image-container"
      ngbTooltip="png Datei 32px x 32px"
      autoClose="true"
    >
      <label class="first">{{
        translate.instant("setting.setting-general.logo")
      }}</label>
      <div
        class="fileupload-ico"
        appDragDropFileUpload
        (click)="fileField.click()"
        (fileDropped)="onUploadLogo($event)"
      >
        <span class="ddinfo"
          >{{ translate.instant("setting.setting-general.info-logo") }}
        </span>
        <input
          type="file"
          name="avatars"
          #fileField
          (change)="onUploadLogo1($event)"
          hidden
          multiple
        />
      </div>
    </div>
    }
  </div>

  <div class="bottom-border-space"></div>
</form>
