@use "../../../../assets/standard-styles/standard-controls.scss";

.container {
  padding: 10px;
  background-color: var(--backgroundColoPagination);
}

.custom-counter-span {
  padding-top: 3px;
  padding-inline-start: 5px;
  padding-inline-end: 10px;
  width: 80px;
  color: var(--colorLabel);
}

.custom-counter {
  display: flex;
  padding-inline-start: 5px;
  padding-inline-end: 10px;
  padding-top: 15px;
}

.period-line {
  display: flex;
  justify-content: right;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-top: 15px;
}

.period-select {
  width: 180px;
}
