<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="learned-capabilities-header-container" class="first custom-control-inline">
  <label id="learned-capabilities-header-name" class="learned-capabilities-header-name">{{ 'setting.klacksyLearning.capabilities.header.name' | translate }}</label>
  <label id="learned-capabilities-header-goal" class="learned-capabilities-header-goal">{{ 'setting.klacksyLearning.capabilities.header.goal' | translate }}</label>
  <label id="learned-capabilities-header-steps" class="learned-capabilities-header-steps">{{ 'setting.klacksyLearning.capabilities.header.steps' | translate }}</label>
  <label id="learned-capabilities-header-quote" class="learned-capabilities-header-quote">{{ 'setting.klacksyLearning.capabilities.header.quote' | translate }}</label>
  <label id="learned-capabilities-header-uses" class="learned-capabilities-header-uses">{{ 'setting.klacksyLearning.capabilities.header.uses' | translate }}</label>
</div>
