<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #deleteAllScenariosModal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ 'scenario.deleteAll' | translate }}
    </div>
    <span class="filler"></span>
    <div type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span
        aria-hidden="true"
        style="font-size: 13px; border: 1px transparent solid; color: var(--colorWorkplaceHeadline);"
        >&times;</span>
    </div>
  </div>

  <div class="modal-body">
    @if (errorMessage()) {
      <div class="error-message">{{ errorMessage() }}</div>
    }
    <p>{{ 'scenario.deleteAll.confirm' | translate }}</p>
  </div>

  <div class="modal-footer">
    <span class="link-button" (click)="onCancel()">
      {{ 'common.cancel' | translate }}
    </span>
    <button
      type="button"
      class="btn btn-danger"
      [disabled]="isDeleting()"
      (click)="onConfirm()"
    >
      @if (isDeleting()) {
        <span class="spinner-border spinner-border-sm me-1"></span>
      }
      {{ 'common.delete' | translate }}
    </button>
  </div>
</ng-template>
