<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<!-- Contract Modal -->
<ng-template #contractModal id="contract-modal-template" let-modal>
  <form id="contract-modal-form" #contractForm="ngForm">
    <div id="contract-modal-header" class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">
        {{ translate.instant("setting.contract.headline-modal") }}
      </div>
      <span class="filler"></span>

      <div
        id="contract-modal-close-btn"
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span
          aria-hidden="true"
          style="
            font-size: 13px;
            border: 1px transparent solid;
            color: var(--colorWorkplaceHeadline);
          "
          >&times;</span
        >
      </div>
    </div>
    <div id="contract-modal-body" class="modal-body">
      @if (editingContract) {
      <div id="contract-modal-name-row" class="row-line-modal-inline">
        <div id="contract-modal-name-section" class="contract-name-section">
          <label for="contractName">{{
            translate.instant("setting.contract.name-modal")
          }}</label>
          <input
            type="text"
            [(ngModel)]="editingContract.name"
            name="name"
            class="form-control"
            id="contractName"
            required
          />
        </div>
      </div>

      <!-- Hours Configuration -->
      <div id="contract-modal-hours-config-row" class="row-line-modal-inline hours-config-row">
        <div id="contract-modal-guaranteed-hours-item" class="hours-config-item">
          <app-time-input
            id="contract-modal-guaranteed-hours-input"
            [label]="
              translate.instant('setting.contract.guaranteedHours-modal')
            "
            [(value)]="editingContract.internalGuaranteedHours!"
            hoursName="guaranteedHoursHours"
            minutesName="guaranteedHoursMinutes"
            hoursId="guaranteedHours"
            [forDuration]="true"
            labelAlign="left"
          ></app-time-input>
        </div>

        <div id="contract-modal-min-hours-item" class="hours-config-item">
          <app-time-input
            id="contract-modal-min-hours-input"
            [label]="translate.instant('setting.contract.minHours-modal')"
            [(value)]="editingContract.internalMinimumHours!"
            hoursName="minHoursHours"
            minutesName="minHoursMinutes"
            hoursId="minHours"
            [forDuration]="true"
            labelAlign="center"
          ></app-time-input>
        </div>

        <div id="contract-modal-max-hours-item" class="hours-config-item">
          <app-time-input
            id="contract-modal-max-hours-input"
            [label]="translate.instant('setting.contract.maxHours-modal')"
            [(value)]="editingContract.internalMaximumHours!"
            hoursName="maxHoursHours"
            minutesName="maxHoursMinutes"
            hoursId="maxHours"
            [forDuration]="true"
            labelAlign="right"
          ></app-time-input>
        </div>
      </div>

      <!-- Validity Period -->
      <div id="contract-modal-validity-row" class="row-line-modal-inline">
        <div id="contract-modal-valid-from-section" class="validity-section">
          <app-date-input
            id="contract-modal-valid-from-input"
            [label]="translate.instant('setting.contract.validFrom-modal')"
            [(value)]="editingContract.internalValidFrom"
            inputName="validFrom"
            inputId="validFrom"
            inputWidth="small-width"
          ></app-date-input>
        </div>

        <div id="contract-modal-valid-until-section" class="validity-section">
          <app-date-input
            id="contract-modal-valid-until-input"
            [label]="translate.instant('setting.contract.validUntil-modal')"
            [(value)]="editingContract.internalValidUntil"
            inputName="validUntil"
            inputId="validUntil"
            inputWidth="small-width"
          ></app-date-input>
        </div>
      </div>

      <!-- Calendar Selection -->
      <div id="contract-modal-calendar-row" class="row-line-modal-inline">
        <div id="contract-modal-calendar-section" class="calendar-section">
          <label for="calendarSelection">{{
            translate.instant("setting.contract.calendarSelection-modal")
          }}</label>
          <select
            class="form-control"
            style="width: 250px"
            [ngModel]="
              editingContract.calendarSelectionId ||
              editingContract.calendarSelection?.id
            "
            (ngModelChange)="onCalendarSelectionChange($event)"
            name="calendarSelection"
            id="calendarSelection"
          >
            <option value="">
              {{ translate.instant("setting.contract.noCalendar") }}
            </option>
            @for (calendar of dataManagementContractService.availableCalendars;
            track calendar.id) {
            <option [value]="calendar.id">{{ calendar.name }}</option>
            }
          </select>
        </div>
      </div>

      <!-- Validation Errors -->
      @if (getValidationErrors().length > 0) {
      <div id="contract-modal-validation-row" class="row-line-modal-inline">
        <div id="contract-modal-validation-section" class="validation-errors-section">
          <div id="contract-modal-validation-alert" class="alert alert-danger">
            <strong>{{ translate.instant("validation.errors") }}:</strong>
            <ul id="contract-modal-validation-list">
              @for (error of getValidationErrors(); track error) {
              <li>{{ error }}</li>
              }
            </ul>
          </div>
        </div>
      </div>
      } }
    </div>
  </form>

  <div id="contract-modal-footer" class="modal-footer">
    <span
      id="contract-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ "cancel" | translate }}</span
    >
    <button
      id="contract-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="onSaveModal(modal)"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<form id="contracts-form">
  <div id="contracts-header" class="container-header">
    {{ translate.instant("setting.contract.headline") }}
  </div>

  <div id="contracts-line" class="container-line"></div>

  <app-contract-header id="contracts-table-header"></app-contract-header>

  <div id="contracts-box" class="container-box" #containerBox>
    @for (contract of dataManagementContractService.contracts; track contract.id
    || $index; let i = $index) {

    <app-contract-row
      [id]="'contract-row-' + i"
      [data]="contract"
      (editEvent)="onClickEdit($event)"
      (isDeleteEvent)="onClickDelete(i)"
    >
    </app-contract-row>

    }
  </div>

  <div id="contracts-add-row" class="row">
    <span id="contracts-add-btn" class="add-button" type="button" (click)="onClickAdd()"
      >{{ translate.instant("setting.contract.add") }}
    </span>
  </div>
</form>
