<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="sync-log-row table-cell" (click)="toggleExpand()">
  <span class="col-expand">
    @if (isExpanded()) {
      <app-icon-angle-down />
    } @else {
      <app-icon-angle-right />
    }
  </span>
  <span class="col-date">{{ formatDate(data.syncedAt) }}</span>
  <span class="col-provider">{{ data.providerName }}</span>
  <span class="col-count">{{ data.newModelsCount }}</span>
  <span class="col-count" [class.has-failed]="data.failedModelsCount > 0">{{ data.failedModelsCount }}</span>
  <span class="col-count">{{ data.deactivatedModelsCount }}</span>
</div>

@if (isExpanded() && data.modelTestResults.length > 0) {
  <div class="test-results">
    @for (result of data.modelTestResults; track result.apiModelId) {
      <div class="test-result-row" [class.failed]="!result.passed">
        <span class="result-icon" [class.failed-icon]="!result.passed">{{ result.passed ? '✓' : '✗' }}</span>
        <span class="result-name">{{ result.modelName }}</span>
        @if (result.passed) {
          <span class="result-ok">
            {{ 'settings.llm-sync-log.status.passed' | translate }} ({{ result.durationMs }}ms)
          </span>
        } @else {
          <span class="result-error">
            {{ result.errorMessage }}
          </span>
        }
      </div>
    }
  </div>
}
