<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- Branch Modal -->
<ng-template #branchModal id="branches-modal-template" let-modal>
  <form id="branches-modal-form">
    <div id="branches-modal-header" class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">
        {{ 'setting.branches.headline-modal' | translate }}
      </div>
      <span class="filler"></span>

      <div
        id="branches-modal-close-btn"
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span
          aria-hidden="true"
          style="
            font-size: 13px;
            border: 1px transparent solid;
            color: var(--colorWorkplaceHeadline);
          "
          >&times;</span
        >
      </div>
    </div>
    <div id="branches-modal-body" class="modal-body">
      @if (editingBranch) {
      <!-- Name and Address -->
      <div id="branches-modal-basic-info-row" class="row-line-modal-inline">
        <div class="model-field">
          <label for="name">{{ 'setting.branches.modal.name' | translate }}</label>
          <input
            id="branches-modal-name"
            type="text"
            [formField]="branchForm.name"
            class="form-control"
          />
        </div>
        <div class="model-field">
          <label for="address">{{ 'setting.branches.modal.address' | translate }}</label>
          <input
            id="branches-modal-address"
            type="text"
            [formField]="branchForm.address"
            class="form-control"
          />
        </div>
      </div>

      <!-- Phone and Email -->
      <div id="branches-modal-contact-row" class="row-line-modal-inline">
        <div class="model-field">
          <label for="phone">{{ 'setting.branches.modal.phone' | translate }}</label>
          <input
            id="branches-modal-phone"
            type="text"
            [formField]="branchForm.phone"
            class="form-control"
          />
        </div>
        <div class="model-field">
          <label for="email">{{ 'setting.branches.modal.email' | translate }}</label>
          <input
            id="branches-modal-email"
            type="email"
            [formField]="branchForm.email"
            class="form-control"
          />
        </div>
      </div>

      <!-- Validation Errors -->
      @if (getValidationErrors().length > 0) {
      <div id="branches-modal-validation-row" class="row-line-modal-inline">
        <div class="validation-errors-section">
          <div class="alert alert-danger">
            <strong>{{ 'validation.errors' | translate }}:</strong>
            <ul>
              @for (error of getValidationErrors(); track error) {
              <li>{{ error }}</li>
              }
            </ul>
          </div>
        </div>
      </div>
      } }
    </div>
  </form>

  <div id="branches-modal-footer" class="modal-footer">
    <span
      id="branches-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ 'cancel' | translate }}</span
    >
    <button
      id="branches-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="onSaveModal(modal)"
      [disabled]="!isFormValid()"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</ng-template>

<app-settings-list-card
  [headline]="'setting.branches.title' | translate"
  [addLabel]="'setting.branches.add' | translate"
  [showHeader]="true"
  idPrefix="branches"
  (addClick)="onClickAdd()"
>
  <app-branches-header header id="branches-table-header"></app-branches-header>
  <div rows>
    @for (branch of branches; track branch.id || $index; let i = $index) {
      <app-branches-row
        [id]="'branches-row-' + i"
        [data]="branch"
        (editEvent)="onClickEdit($event)"
        (isDeleteEvent)="openDeleteBranch($event)"
      />
    }
  </div>
</app-settings-list-card>
