:host {
  display: block;
  width: 100%;
  height: 100%;
}

:host {
  --v-scrollbar-size: 17px;
}

.container-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .surface {
    display: flex;
    flex: 1;
    overflow: hidden;

    .box {
      flex: 1;
      overflow: hidden;
      position: relative;
    }

    .vScrollArea {
      width: var(--v-scrollbar-size);

      &.hidden {
        display: none;
      }
    }
  }

  .hScrollArea {
    height: 17px;
    width: calc(100% - var(--v-scrollbar-size));

    &.hidden {
      display: none;
    }
  }
}
