@import "../../../../assets/standard-styles/colors.scss";
@import "../../../../assets/standard-styles/standard-controls.scss";
@import "../../../../assets/standard-styles/navigation.scss";

.absence-reason {
  width: calc(100% - 200px);
  margin-right: 5px;
}

.custom-slider {
  width: 180px;
  height: 40px !important;
  padding-right: 20px;
}
.custom-counter-span {
  padding-top: 5px;
  color: var(--colorLabel);
  font-size: 13px;
  font-weight: 500;
}

.custom-counter {
  display: flex;
  width: auto;
  justify-content: right;
  padding-right: 20px;
  padding-top: 8px;
}
.ngx-slider .ngx-slider-pointer {
  cursor: pointer;
  width: 6px;
  height: 6px;
  top: -10px;
  z-index: 3;
  border-radius: 3px;
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }
  .ngx-slider-span .ngx-slider-span .ngx-slider-bubble .ngx-slider {
    font-size: 13px !important;
    font-weight: 500;
  }

  .btn-setting {
    color: var(--paginationBorderColor);
    height: 30px;
    margin-right: 10px;
    margin-top: 8px;
    border: 1px solid var(--paginationBorderColor);
    background-color: var(--backgroundColoPagination);
    icon-slider-grey {
      margin-right: 3px;
    }
  }
  .btn-setting:hover {
    border: 1px solid var(--paginationBorderColor);
    background-color: var(--backgroundColoPaginationSelected);
  }
  .chip-form-group {
    line-height: 25px;
  }
  icon-pdf-icon {
    margin-top: 10px;
    margin-right: 10px;
  }
}
