<div class="custom-control-inline">
  <app-absence-gantt-absence-list
    class="absence-reason"
  ></app-absence-gantt-absence-list>
  <span class="filler"></span>

  <icon-pdf-icon></icon-pdf-icon>

  <div ngbDropdown #dropdownSetting="ngbDropdown">
    <button
      class="btn btn-sm btn-setting"
      id="dropdownSetting"
      ngbDropdownToggle
      aria-label="absence settings"
      placement="bottom"
      ngbTooltip="{{ 'calendar.selector.select-holidays' | translate }}"
      autoClose="true"
    >
      <christmas-ball></christmas-ball>
    </button>
    <div ngbDropdownMenu>
      <div class="px-3 py-3">
        <div class="chip-form-group">
          <app-calendar-selector
            (openMenu)="onOpenMenu()"
            (change)="onChangeCalendar()"
          ></app-calendar-selector>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-counter">
    <span class="custom-counter-span"
      >{{
        "absence-gantt.absence-gantt-header.absence-gantt-header.year"
          | translate
      }}
    </span>
    <app-counter
      [maxNumber]="maxYear"
      [currentNumber]="currentYear"
      (isChanged)="changeYear($event)"
    >
    </app-counter>
  </div>

  <div
    class="custom-slider"
    placement="bottom"
    ngbTooltip="Zoom"
    autoClose="true"
  >
    <!-- <ngx-slider
      [(value)]="value"
      (valueChange)="onChange()"
      [options]="options"
    ></ngx-slider> -->
  </div>
</div>
