<form #navGroupForm="ngForm" id="navShiftForm">
  <ul class="list-group">
    <!-- Gültigkeit -->
    <li class="list-group-item-action">
      <div ngbDropdown>
        <button
          class="btn btn-outline-primary btn-sm max-width"
          id="dropdownForm-1"
          ngbDropdownToggle
        >
          {{ "address.all-address.all-address-nav.validity" | translate }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm-1">
          <div class="form-group">
            <div class="checkbox-container-default">
              <label class="checkbox-label">
                <input
                  type="checkbox"
                  [(ngModel)]="
                    dataManagementShiftService.currentFilter.activeDateRange
                  "
                  name="activeDateRange"
                />
                {{ "active" | translate }}
              </label>

              <label class="checkbox-label">
                <input
                  type="checkbox"
                  [(ngModel)]="
                    dataManagementShiftService.currentFilter.formerDateRange
                  "
                  name="formerDateRange"
                />
                {{ "former" | translate }}
              </label>

              <label class="checkbox-label">
                <input
                  type="checkbox"
                  [(ngModel)]="
                    dataManagementShiftService.currentFilter.futureDateRange
                  "
                  name="futureDateRange"
                />
                {{ "future" | translate }}
              </label>
            </div>
          </div>
          <div class="dropdown-divider"></div>

          <button ngbDropdownItem (click)="onClose()">
            {{ "close" | translate }}
          </button>
        </div>
      </div>
    </li>

    <!-- Original/Planbar Options -->
    <li class="list-group-item-action">
      <div class="form-group">
        <div class="radio-container">
          <label class="radio-label">
            <input
              id="shift-filter-original"
              type="radio"
              name="shiftType"
              [value]="0"
              [(ngModel)]="dataManagementShiftService.currentFilter.filterType"
              [disabled]="!authorizationService.isAdmin"
              (change)="onSelect()"
            />
            {{ "shift.all-shift.nav.original" | translate }}
          </label>

          @if (dataManagementShiftService.currentFilter.filterType === 0) {

          <label class="checkbox-label info-box">
            <input
              type="checkbox"
              [(ngModel)]="
                dataManagementShiftService.currentFilter.isSealedOrder
              "
              [disabled]="!authorizationService.isAdmin"
              (change)="onSelect()"
              name="formerDateRange"
            />
            {{ "show-sealed-orders" | translate }}
          </label>
          }
          <label class="radio-label">
            <input
              id="shift-filter-shift"
              type="radio"
              name="shiftType"
              [value]="1"
              [(ngModel)]="dataManagementShiftService.currentFilter.filterType"
              [disabled]="!authorizationService.isAdmin"
              (change)="onSelect()"
            />
            {{ "shift.all-shift.nav.planbar" | translate }}
          </label>

          @if (dataManagementShiftService.currentFilter.filterType === 1) {
          <div class="info-box">
            <label class="checkbox-label">
              <input
                type="checkbox"
                [(ngModel)]="
                  dataManagementShiftService.currentFilter.isTimeRange
                "
                [disabled]="!authorizationService.isAdmin"
                (change)="onSelect()"
                name="isTimeRange"
              />
              {{ "shift.all-shift.nav.time-range" | translate }}
            </label>
            <label class="checkbox-label">
              <input
                type="checkbox"
                [(ngModel)]="
                  dataManagementShiftService.currentFilter.isSporadic
                "
                [disabled]="!authorizationService.isAdmin"
                (change)="onSelect()"
                name="isSporadic"
              />
              {{ "shift.all-shift.nav.sporadic" | translate }}
            </label>
          </div>
          }

          <label class="radio-label">
            <input
              id="shift-filter-container"
              type="radio"
              name="shiftType"
              [value]="2"
              [(ngModel)]="dataManagementShiftService.currentFilter.filterType"
              [disabled]="!authorizationService.isAdmin"
              (change)="onSelect()"
            />
            {{ "shift.all-shift.nav.container" | translate }}
          </label>

          <label class="radio-label">
            <input
              id="shift-filter-absence"
              type="radio"
              name="shiftType"
              [value]="3"
              [(ngModel)]="dataManagementShiftService.currentFilter.filterType"
              [disabled]="!authorizationService.isAdmin"
              (change)="onSelect()"
            />
            {{ "shift.all-shift.nav.absence" | translate }}
          </label>
        </div>
      </div>
    </li>
  </ul>
</form>
