@use "../../../../../../assets/standard-styles/standard-home-page.scss";
@use "../../../../../../assets/standard-styles/nav-collapse.scss" as nav;

@include nav.collapsible-host;

.container-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-dashboard {
  position: relative;
}
