<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form id="llm-models-row-form-{{ data.modelId }}">
  <div id="llm-models-row-container-{{ data.modelId }}" class="first custom-control-inline">
    <div class="form-group">
      <input
        id="llm-models-row-display-{{ data.modelId }}"
        type="text"
        [value]="getModelDisplayText()"
        name="modelDisplay"
        class="form-control attribute-name"
        aria-label="model display"
        (click)="onClickEdit()"
        readonly
      />
    </div>

    <span
      id="llm-models-row-delete-{{ data.modelId }}"
      class="delete-button"
      type="button"
      (click)="onClickDelete()"
      [class.disabled]="data.isDefault"
      [title]="data.isDefault ? (translate.instant('settings.llm-models.cannot-delete-default') || 'Cannot delete default model') : ''"
    ><app-icon-trash-red /></span>
  </div>
</form>