<div id="owner-address-container" class="container-dashboard">
  <div id="owner-address-header" class="container-header">
    {{ translate.instant("setting.owner-address.headline") }}
  </div>

  <div id="owner-address-line" class="container-line"></div>

  <div id="owner-address-form">
    <div id="owner-address-name-phone-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-name">{{
          translate.instant("setting.owner-address.name")
        }}</label>
        <input
          id="setting-owner-address-name"
          type="text"
          class="form-control"
          [field]="addressForm.addressName"
          aria-label="appAddressName"
        />
      </div>

      <div>
        <div class="form-group secondColumn">
          <label for="setting-owner-address-tel">{{
            translate.instant("setting.owner-address.phone")
          }}</label>
          <input
            id="setting-owner-address-tel"
            type="text"
            class="form-control"
            [field]="addressForm.phone"
            aria-label="appAddressPhone"
          />
        </div>
      </div>
    </div>

    <div id="owner-address-supplement-email-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-supplement">{{
          translate.instant("setting.owner-address.supplement")
        }}</label>
        <input
          id="setting-owner-address-supplement"
          type="text"
          class="form-control"
          [field]="addressForm.supplementAddress"
          aria-label="appSupplementAddress"
        />
      </div>

      <div>
        <div class="form-group secondColumn">
          <label for="setting-owner-address-email">{{
            translate.instant("setting.owner-address.email")
          }}</label>
          <input
            id="setting-owner-address-email"
            type="email"
            class="form-control"
            [field]="addressForm.email"
            aria-label="appAddressMail"
          />
        </div>
      </div>
    </div>

    <div id="owner-address-street-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-street">{{
          translate.instant("setting.owner-address.street")
        }}</label>
        <input
          id="setting-owner-address-street"
          type="text"
          class="form-control"
          [field]="addressForm.address"
          aria-label="appAddressAddress"
        />
      </div>
    </div>

    <div id="owner-address-zip-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-zip">{{
          translate.instant("setting.owner-address.zip")
        }}</label>
        <input
          id="setting-owner-address-zip"
          type="text"
          class="form-control"
          [field]="addressForm.zip"
          aria-label="appAddressZip"
        />
      </div>
    </div>

    <div id="owner-address-city-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-city">{{
          translate.instant("setting.owner-address.place")
        }}</label>
        <input
          id="setting-owner-address-city"
          type="text"
          class="form-control"
          [field]="addressForm.place"
          aria-label="appAddressPlace"
        />
      </div>
    </div>

    <div class="bottom-border-space"></div>
  </div>
</div>
