<div id="owner-address-container" class="container-dashboard">
  <div id="owner-address-header" class="container-header">
    {{ "setting.owner-address.headline" | translate }}
  </div>

  <div id="owner-address-line" class="container-line"></div>

  <div id="owner-address-form">
    <div id="owner-address-name-phone-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-name">{{
          "setting.owner-address.name" | translate
        }}</label>
        <input
          id="setting-owner-address-name"
          type="text"
          class="form-control"
          [formField]="addressForm.addressName"
          aria-label="appAddressName"
        />
      </div>

      <div>
        <div class="form-group secondColumn">
          <label for="setting-owner-address-tel">{{
            "setting.owner-address.phone" | translate
          }}</label>
          <input
            id="setting-owner-address-tel"
            type="text"
            class="form-control"
            [formField]="addressForm.phone"
            aria-label="appAddressPhone"
          />
        </div>
      </div>
    </div>

    <div id="owner-address-supplement-email-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-supplement">{{
          "setting.owner-address.supplement" | translate
        }}</label>
        <input
          id="setting-owner-address-supplement"
          type="text"
          class="form-control"
          [formField]="addressForm.supplementAddress"
          aria-label="appSupplementAddress"
        />
      </div>

      <div>
        <div class="form-group secondColumn">
          <label for="setting-owner-address-email">{{
            "setting.owner-address.email" | translate
          }}</label>
          <input
            id="setting-owner-address-email"
            type="email"
            class="form-control"
            [formField]="addressForm.email"
            aria-label="appAddressMail"
          />
        </div>
      </div>
    </div>

    <div id="owner-address-street-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-street">{{
          "setting.owner-address.street" | translate
        }}</label>
        <input
          id="setting-owner-address-street"
          type="text"
          class="form-control"
          [formField]="addressForm.address"
          aria-label="appAddressAddress"
        />
      </div>
    </div>

    <div id="owner-address-zip-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-zip">{{
          "setting.owner-address.zip" | translate
        }}</label>
        <input
          id="setting-owner-address-zip"
          type="text"
          class="form-control"
          [formField]="addressForm.zip"
          aria-label="appAddressZip"
        />
      </div>
    </div>

    <div id="owner-address-city-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-city">{{
          "setting.owner-address.place" | translate
        }}</label>
        <input
          id="setting-owner-address-city"
          type="text"
          class="form-control"
          [formField]="addressForm.place"
          aria-label="appAddressPlace"
        />
      </div>
    </div>

    <div id="owner-address-state-country-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-country">{{
          "setting.owner-address.country" | translate
        }}</label>
        <select
          id="setting-owner-address-country"
          class="form-select"
          [ngModel]="selectedCountry()"
          (ngModelChange)="onCountryChange($event)"
          aria-label="appAddressCountry"
        >
          <option value="">
            {{ "setting.owner-address.noCountry" | translate }}
          </option>
          @for (
            country of clientConfigService.countries();
            track country.abbreviation
          ) {
            <option [value]="country.abbreviation">
              {{ country.name | fallback: currentLang }}
            </option>
          }
        </select>
      </div>

      <div class="form-group secondColumn">
        <label for="setting-owner-address-state">{{
          "setting.owner-address.state" | translate
        }}</label>
        <select
          id="setting-owner-address-state"
          class="form-select"
          [ngModel]="selectedState()"
          (ngModelChange)="onStateChange($event)"
          [disabled]="!selectedCountry()"
          aria-label="appAddressState"
        >
          <option value="">
            {{ "setting.owner-address.noState" | translate }}
          </option>
          @for (state of filteredStateList(); track state.state) {
            <option [value]="state.state">
              {{ state.stateName | fallback: currentLang }}
            </option>
          }
        </select>
      </div>
    </div>

    <div id="owner-address-timezone-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-timezone">{{
          "setting.owner-address.timezone" | translate
        }}</label>
        <select
          id="setting-owner-address-timezone"
          class="form-select"
          [ngModel]="selectedTimeZone()"
          (ngModelChange)="onTimeZoneChange($event)"
          aria-label="appAddressTimeZone"
        >
          <option value="">
            {{ "setting.owner-address.noTimezone" | translate }}
          </option>
          @for (timeZone of timeZones; track timeZone) {
            <option [value]="timeZone">
              {{ timeZone }}
            </option>
          }
        </select>
      </div>
    </div>

    <div id="owner-address-calendar-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="setting-owner-address-calendar">{{
          "setting.owner-address.calendar" | translate
        }}</label>
        <select
          id="setting-owner-address-calendar"
          class="form-select"
          [ngModel]="selectedCalendarId()"
          (ngModelChange)="onCalendarSelectionChange($event)"
          aria-label="appCalendarSelection"
        >
          <option value="">
            {{ "setting.owner-address.noCalendar" | translate }}
          </option>
          @for (calendar of filteredCalendarSelections(); track calendar.id) {
            <option [value]="calendar.id">
              {{ calendar.name }}
            </option>
          }
        </select>
      </div>
    </div>

    <div class="bottom-border-space"></div>
  </div>
</div>
