<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<ng-template #forgotPasswordModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ "FORGOT_PASSWORD_TITLE" | translate }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ "FORGOT_PASSWORD_INSTRUCTION" | translate }}</p>
    <div class="form-group">
      <label for="resetEmail">{{ "EMAIL_ADDRESS" | translate }}</label>
      <input
        type="email"
        class="form-control"
        id="resetEmail"
        [(ngModel)]="resetEmail"
        name="resetEmail"
        [placeholder]="'EMAIL_PLACEHOLDER' | translate"
        required
        email
      />
    </div>
    @if (resetEmailSent) {
    <div class="alert alert-success mt-3" role="alert">
      {{ "RESET_EMAIL_SENT_SUCCESS" | translate }}
    </div>
    } @if (resetEmailError) {
    <div class="alert alert-danger mt-3" role="alert">
      {{ "RESET_EMAIL_ERROR" | translate }}
    </div>
    }
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary normal-btn"
      (click)="modal.dismiss()"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="sendResetEmail()"
      [disabled]="!resetEmail || resetEmailSending"
    >
      @if (resetEmailSending) {
      <span
        class="spinner-border spinner-border-sm me-2"
        role="status"
        aria-hidden="true"
      ></span>
      }
      {{
        resetEmailSending
          ? ("SENDING" | translate)
          : ("SEND_RESET_EMAIL" | translate)
      }}
    </button>
  </div>
</ng-template>

<div class="background">
  @if (!isClicked) {
  <div class="container first border-right border-bottom">
    <form (ngSubmit)="onSave()" #loginForm="ngForm">
      <p class="h4 big-gap-top center">{{ "login.header" | translate }}</p>

      <div class="form-group first big-gap-top">
        <label class="mylabel" for="loginForm-name">{{
          "login.user" | translate
        }}</label>
        <input
          type="email"
          [(ngModel)]="username"
          name="username"
          class="form-control"
          id="loginForm-name"
          required
          aria-describedby="username"
        />
      </div>

      <div class="form-group first">
        <div class="input-group">
          <label class="mylabel" for="loginForm-password">{{
            "login.password" | translate
          }}</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            autocomplete
            [(ngModel)]="password"
            name="password"
            id="loginForm-password"
            class="form-control input-password"
            required
            aria-describedby="password"
          />

          <span
            class="input-group-text password-button"
            (click)="showPassword = !showPassword"
          >
            <fa-icon
              [icon]="!showPassword ? faEye : faEyeSlash"
              class="password-icon"
            ></fa-icon>
          </span>
        </div>
      </div>

      <div class="right">
        <a id="forgot-password-link" href="javascript:void(0)" (click)="onForgotPassword()">{{
          "login.forgot-password" | translate
        }}</a>
      </div>

      <div class="center">
        <button
          type="submit"
          color="info"
          block="true"
          class="btn btn-primary center"
          id="login-summit"
        >
          {{ "login.summit" | translate }}
        </button>
      </div>
      <p></p>
      <p></p>
    </form>
  </div>
  }
</div>
