<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form #specialFeatureShiftForm="ngForm" class="container-card">
  <div class="container-header header-container">
    <div>
      {{ "shift.edit-shift.special-feature.header" | translate }}
    </div>

    <span class="filler"></span>

    <div class="expand-button" (click)="onClickVisibleTable()">
      @if (visibleTable === 'inline') {
      <app-icon-angle-down></app-icon-angle-down>
      } @if (visibleTable === 'none') {
      <app-icon-angle-right></app-icon-angle-right>
      }
    </div>
  </div>

  <div class="container-line"></div>
  <div class="container-bank-box" [ngStyle]="{ display: visibleTable }">
    @if (dataManagementShiftService.editShift !== undefined) {
    <div>
      <div class="container-bank-box">
        <div class="titleColumContainer">
          <div class="title-row-line1">
            <label>
              {{
                "shift.edit-shift.special-feature.travel-time-before"
                  | translate
              }}</label
            >
          </div>
          <div class="title-row-line2">
            <label>{{
              "shift.edit-shift.special-feature.travel-time-after" | translate
            }}</label>
          </div>
          <div class="title-row-line3">
            <label>{{
              "shift.edit-shift.special-feature.sum-employees" | translate
            }}</label>
          </div>
          <div class="title-row-line3">
            <label>{{
              "shift.edit-shift.special-feature.sum-quantity" | translate
            }}</label>
          </div>
        </div>
        <div class="firstColumContainer">
          <!-- erste Linie -->

          <div class="row-line1">
            <label for="from-hours">
              {{ "shift.edit-shift.weekday.from" | translate }}</label
            >
            <div class="row-line-inline-simple">
              <input
                id="from-hours"
                [(ngModel)]="
                  dataManagementShiftService.editShift.internalStartShift.hours
                "
                (keyup)="
                  onKeyUpInput(
                    $event,
                    dataManagementShiftService.editShift.internalStartShift
                      .hours
                  )
                "
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-hour hours"
                type="text"
                maxlength="3"
                placeholder="hh"
              />
              <Label class="delimiter-time">:</Label>
              <input
                [(ngModel)]="
                  dataManagementShiftService.editShift.internalStartShift
                    .minutes
                "
                (keyup)="
                  onKeyUpInput(
                    $event,
                    dataManagementShiftService.editShift.internalStartShift
                      .minutes
                  )
                "
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-minute minutes"
                type="text"
                maxlength="3"
                placeholder="mm"
              />
            </div>
          </div>

          <!-- erste Linie -->

          <div class="row-line1">
            <label for="from-hours">
              {{ "shift.edit-shift.weekday.from" | translate }}</label
            >
            <div class="row-line-inline-simple">
              <input
                id="from-hours"
                [(ngModel)]="
                  dataManagementShiftService.editShift.internalStartShift.hours
                "
                (keyup)="
                  onKeyUpInput(
                    $event,
                    dataManagementShiftService.editShift.internalStartShift
                      .hours
                  )
                "
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-hour hours"
                type="text"
                maxlength="3"
                placeholder="hh"
              />
              <Label class="delimiter-time">:</Label>
              <input
                [(ngModel)]="
                  dataManagementShiftService.editShift.internalStartShift
                    .minutes
                "
                (keyup)="
                  onKeyUpInput(
                    $event,
                    dataManagementShiftService.editShift.internalStartShift
                      .minutes
                  )
                "
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-minute minutes"
                type="text"
                maxlength="3"
                placeholder="mm"
              />
            </div>
          </div>

          <!-- zweite Linie -->

          <div class="row-line1">
            <label for="from-hours">
              {{ "shift.edit-shift.weekday.from" | translate }}</label
            >
            <div class="row-line-inline-simple">
              <input
                id="from-hours"
                [(ngModel)]="
                  dataManagementShiftService.editShift.internalStartShift.hours
                "
                (keyup)="
                  onKeyUpInput(
                    $event,
                    dataManagementShiftService.editShift.internalStartShift
                      .hours
                  )
                "
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-hour hours"
                type="text"
                maxlength="3"
                placeholder="hh"
              />
              <Label class="delimiter-time">:</Label>
              <input
                [(ngModel)]="
                  dataManagementShiftService.editShift.internalStartShift
                    .minutes
                "
                (keyup)="
                  onKeyUpInput(
                    $event,
                    dataManagementShiftService.editShift.internalStartShift
                      .minutes
                  )
                "
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-minute minutes"
                type="text"
                maxlength="3"
                placeholder="mm"
              />
            </div>
          </div>

          <!-- dritte Linie -->

          <div class="number-with">
            <input
              type="number"
              min="1"
              max="100"
              class="form-control quantity"
              [(ngModel)]="dataManagementShiftService.editShift.quantity"
              id="quantity"
              name="quantity"
            />
            <!-- <label class="checkbox-label ms-2" for="quantity">
                {{ "shift.edit-shift.main.until" | translate }}
              </label> -->
          </div>

          <!-- vierte Linie -->

          <div class="number-with number-height">
            <input
              type="number"
              min="1"
              max="100"
              class="form-control quantity"
              [(ngModel)]="dataManagementShiftService.editShift.quantity"
              id="quantity"
              name="quantity"
            />
            <!-- <label class="checkbox-label ms-2" for="quantity">
                {{ "shift.edit-shift.main.until" | translate }}
              </label> -->
          </div>
        </div>

        <div class="secondColumnContainer">
          <!-- erste Linie -->
          <div class="row-line2 endColumn">
            <div class="row-line1">
              <label for="unitl-hours">{{
                "shift.edit-shift.weekday.until" | translate
              }}</label>
              <div class="row-line-inline-simple">
                <input
                  for="unitl-hours"
                  [(ngModel)]="
                    dataManagementShiftService.editShift.internalEndShift.hours
                  "
                  (keyup)="
                    onKeyUpInput(
                      $event,
                      dataManagementShiftService.editShift.internalEndShift
                        .hours
                    )
                  "
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control time-hour hours"
                  type="text"
                  maxlength="3"
                  placeholder="hh"
                />
                <Label class="delimiter-time">:</Label>
                <input
                  [(ngModel)]="
                    dataManagementShiftService.editShift.internalEndShift
                      .minutes
                  "
                  (keyup)="
                    onKeyUpInput(
                      $event,
                      dataManagementShiftService.editShift.internalEndShift
                        .minutes
                    )
                  "
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control time-minute minutes"
                  type="text"
                  maxlength="3"
                  placeholder="mm"
                />
              </div>
            </div>
          </div>

          <!-- zweite Linie -->
          <div class="row-line2 endColumn">
            <div class="row-line1">
              <label for="unitl-hours">{{
                "shift.edit-shift.weekday.until" | translate
              }}</label>
              <div class="row-line-inline-simple">
                <input
                  for="unitl-hours"
                  [(ngModel)]="
                    dataManagementShiftService.editShift.internalEndShift.hours
                  "
                  (keyup)="
                    onKeyUpInput(
                      $event,
                      dataManagementShiftService.editShift.internalEndShift
                        .hours
                    )
                  "
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control time-hour hours"
                  type="text"
                  maxlength="3"
                  placeholder="hh"
                />
                <Label class="delimiter-time">:</Label>
                <input
                  [(ngModel)]="
                    dataManagementShiftService.editShift.internalEndShift
                      .minutes
                  "
                  (keyup)="
                    onKeyUpInput(
                      $event,
                      dataManagementShiftService.editShift.internalEndShift
                        .minutes
                    )
                  "
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control time-minute minutes"
                  type="text"
                  maxlength="3"
                  placeholder="mm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <div style="height: 30px"></div>
</form>
