<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form #specialFeatureShiftForm="ngForm" class="container-card">
  <div class="container-header header-container">
    <div>
      {{ "shift.edit-shift.special-feature.header" | translate }}
    </div>

    <span class="filler"></span>

    <div class="expand-button" (click)="onClickVisibleTable()">
      @if (visibleTable === 'inline') {
      <app-icon-angle-down></app-icon-angle-down>
      } @if (visibleTable === 'none') {
      <app-icon-angle-right></app-icon-angle-right>
      }
    </div>
  </div>

  <div class="container-line"></div>
  <div class="container-bank-box" [ngStyle]="{ display: visibleTable }">
    @if (dataManagementShiftService.editShift !== undefined) {
    <div class="container-bank-box">
      <!-- Linke Spalte -->
      <div class="firstColumContainer firstColumn">
        <!-- Briefing -->
        <div class="row-line1">
          <label for="briefing">
            {{ "shift.edit-shift.special-feature.briefing" | translate }}</label
          >
          <div class="row-line-inline-simple">
            <input
              id="briefing"
              [(ngModel)]="
                dataManagementShiftService.editShift.internalBriefingTime.hours
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalBriefingTime
                    .hours
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-hour hours"
              type="text"
              maxlength="3"
              placeholder="hh"
            />
            <Label class="delimiter-time">:</Label>
            <input
              [(ngModel)]="
                dataManagementShiftService.editShift.internalBriefingTime
                  .minutes
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalBriefingTime
                    .minutes
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-minute minutes"
              type="text"
              maxlength="3"
              placeholder="mm"
            />
          </div>
        </div>

        <!-- Anreisezeit -->
        <div class="row-line1">
          <label for="travel-time-before">
            {{
              "shift.edit-shift.special-feature.travel-time-before" | translate
            }}</label
          >
          <div class="row-line-inline-simple">
            <input
              id="travel-time-before"
              [(ngModel)]="
                dataManagementShiftService.editShift.internalTravelTimeBefore
                  .hours
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalTravelTimeBefore
                    .hours
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-hour hours"
              type="text"
              maxlength="3"
              placeholder="hh"
            />
            <Label class="delimiter-time">:</Label>
            <input
              [(ngModel)]="
                dataManagementShiftService.editShift.internalTravelTimeBefore
                  .minutes
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalTravelTimeBefore
                    .minutes
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-minute minutes"
              type="text"
              maxlength="3"
              placeholder="mm"
            />
          </div>
        </div>

        <!-- Anzahl Mitarbeiter pro Schicht -->
        <div class="field-group">
          <label class="field-label">
            {{
              "shift.edit-shift.special-feature.sum-employees" | translate
            }}</label
          >
          <div class="number-input-container">
            <input
              [(ngModel)]="dataManagementShiftService.editShift.sumEmployees"
              (input)="onNumberChange()"
              class="form-control number-with"
              type="number"
              value="1"
              min="1"
              max="100"
              id="sumEmployees"
              name="sumEmployees"
            />
          </div>
        </div>
      </div>

      <!-- Rechte Spalte -->
      <div class="secondColumnContainer">
        <!-- Debriefing -->
        <div class="row-line1">
          <label for="debriefing">
            {{
              "shift.edit-shift.special-feature.debriefing" | translate
            }}</label
          >
          <div class="row-line-inline-simple">
            <input
              id="debriefing"
              [(ngModel)]="
                dataManagementShiftService.editShift.internalBriefingTime.hours
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalBriefingTime
                    .hours
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-hour hours"
              type="text"
              maxlength="3"
              placeholder="hh"
            />
            <Label class="delimiter-time">:</Label>
            <input
              [(ngModel)]="
                dataManagementShiftService.editShift.internalBriefingTime
                  .minutes
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalBriefingTime
                    .minutes
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-minute minutes"
              type="text"
              maxlength="3"
              placeholder="mm"
            />
          </div>
        </div>

        <!-- Rückreisezeit -->
        <div class="row-line1">
          <label for="travel-time-after">
            {{
              "shift.edit-shift.special-feature.travel-time-after" | translate
            }}</label
          >
          <div class="row-line-inline-simple">
            <input
              id="travel-time-after"
              [(ngModel)]="
                dataManagementShiftService.editShift.internalTravelTimeAfter
                  .hours
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalTravelTimeAfter
                    .hours
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-hour hours"
              type="text"
              maxlength="3"
              placeholder="hh"
            />
            <Label class="delimiter-time">:</Label>
            <input
              [(ngModel)]="
                dataManagementShiftService.editShift.internalTravelTimeAfter
                  .minutes
              "
              (keyup)="
                onKeyUpInput(
                  $event,
                  dataManagementShiftService.editShift.internalTravelTimeAfter
                    .minutes
                )
              "
              [ngModelOptions]="{ standalone: true }"
              class="form-control time-minute minutes"
              type="text"
              maxlength="3"
              placeholder="mm"
            />
          </div>
        </div>
        <!-- Anzahl Aufgabe pro Schicht -->
        <div class="field-group">
          <label class="field-label">
            {{
              "shift.edit-shift.special-feature.sum-quantity" | translate
            }}</label
          >
          <div class="number-input-container">
            <input
              [(ngModel)]="dataManagementShiftService.editShift.quantity"
              (input)="onNumberChange()"
              class="form-control number-with"
              type="number"
              value="1"
              min="1"
              max="100"
              id="sumQuantity"
              name="sumQuantity"
            />
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <div style="height: 30px"></div>
</form>
