<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #content id="content" let-modal>
  <div id="user-admin-modal-form">
    <div id="user-admin-modal-header" class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title-user">
        {{ translate.instant("setting.user-admin.modal-title-user") }}
      </div>
      <div
        id="user-admin-modal-close-btn"
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
      >
        <span
          aria-hidden="true"
          style="
            border: 1px transparent solid;
            color: var(--colorWorkplaceHeadline);
          "
          >&times;</span
        >
      </div>
    </div>
    <div
      id="user-admin-modal-body"
      class="modal-body container-certificate-box"
    >
      <div
        id="user-admin-modal-name-container"
        class="container-certificate-value firstColumn"
      >
        <div class="form-group">
          <label for="user-firstname">{{
            translate.instant("setting.user-admin.modal-firstname")
          }}</label>
          <input
            type="text"
            [formField]="userForm.firstName"
            class="form-control default-width"
            id="user-firstname"
            aria-label="firstName"
            (blur)="onNameChange()"
          />
        </div>

        <div class="form-group">
          <label for="user-name">{{
            translate.instant("setting.user-admin.modal-name")
          }}</label>
          <input
            type="text"
            [formField]="userForm.lastName"
            class="form-control default-width"
            id="user-name"
            aria-label="lastName"
            (blur)="onNameChange()"
          />
        </div>
      </div>

      <div
        id="user-admin-modal-username-container"
        class="container-certificate-value secondColumn"
      >
        <div class="row-line">
          <div class="form-group">
            <label for="user-userName">{{
              translate.instant("setting.user-admin.modal-user-name")
            }}</label>
            @if (isEditMode) {
              <input
                type="text"
                [formField]="userForm.userName"
                class="form-control default-width"
                id="user-userName"
                aria-label="userName"
              />
              @if (showUserNameError()) {
                <small class="text-danger">{{
                  translate.instant("USERNAME_MIN_3_CHARS")
                }}</small>
              }
            } @else {
              <input
                type="text"
                [value]="formModel().userName"
                class="form-control default-width"
                id="user-userName"
                aria-label="userName"
                readonly
                [placeholder]="translate.instant('USERNAME_AUTO_GENERATED')"
              />
            }
          </div>
        </div>
      </div>
    </div>

    <div id="user-admin-modal-email-row" class="row-line firstColumn-email">
      <label for="setting-user-description">{{
        translate.instant("setting.user-admin.modal-email")
      }}</label>

      <input
        type="text"
        [formField]="userForm.email"
        class="form-control"
        id="setting-user-email"
        aria-label="email"
      />
    </div>

    <p></p>
    <p></p>
    <p></p>
  </div>

  <div id="user-admin-modal-footer" class="modal-footer">
    <span
      id="user-admin-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ translate.instant("setting.user-admin.cancel") }}</span
    >
    <button
      id="user-admin-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="modal.close()"
      [disabled]="!isFormValid()"
    >
      {{ translate.instant("setting.user-admin.modal-save") }}
    </button>
  </div>
</ng-template>

<ng-template #msg id="msg" let-modal>
  <div id="user-admin-password-reset-modal-header" class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title">
      {{ translate.instant("setting.user-admin.password-reset") }}
    </div>
  </div>
  <div id="user-admin-password-reset-modal-body" class="modal-body">
    <p>
      {{ translate.instant("setting.user-admin.password-reset-question")
      }}<br /><b>{{ newUser?.email }}</b
      ><br />
    </p>
  </div>

  <div id="user-admin-password-reset-modal-footer" class="modal-footer">
    <span
      id="user-admin-msg-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ translate.instant("setting.user-admin.cancel") }}</span
    >
    <button
      id="user-admin-msg-modal-ok-btn"
      type="button"
      class="btn save-btn-ok"
      (click)="modal.close()"
    >
      Ok
    </button>
  </div>
</ng-template>

<form id="user-administration-form">
  <div id="user-administration-header" class="container-header">
    {{ translate.instant("setting.user-admin.headline") }}
  </div>

  <div id="user-administration-line" class="container-line"></div>

  <div id="user-administration-box" class="container-box">
    <app-user-administration-header
      id="user-administration-table-header"
    ></app-user-administration-header>
    @for (c of userAdminService.accountsList(); track c.id || c.userName ||
    $index; let i = $index) {
    <div [id]="'user-administration-row-wrapper-' + i">
      <app-user-administration-row
        [id]="'user-administration-row-' + i"
        [user]="c"
        [enabled]="!(c.id === userAdminService.currentAccountId())"
        (isSentToEvent)="onSentTo($event)"
        (isRoleChangeEvent)="
          onRoleChange($event.account, $event.roleName, $event.isSelected)
        "
        (isDeleteEvent)="onDelete(i)"
        (isEditEvent)="onEdit($event, content)"
      >
      </app-user-administration-row>
    </div>
    }
  </div>

  <div id="user-administration-add-row" class="row">
    <div class="filler"></div>
    <span
      id="user-admin-add-user-btn"
      class="first add-button"
      type="button"
      (click)="open(content)"
      >{{ translate.instant("setting.user-admin.add") }}
    </span>
  </div>
  <div class="bottom-border-space"></div>
</form>
