<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #content id="content" let-modal>
  <div id="user-admin-modal-form">
    <div id="user-admin-modal-header" class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title-user">
        {{ (isEditMode ? 'setting.user-admin.modal-title-user-edit' : 'setting.user-admin.modal-title-user') | translate }}
      </div>
      <div
        id="user-admin-modal-close-btn"
        type="button"
        class="close"
        (click)="modal.dismiss('Cross click')"
      >
        <span
          aria-hidden="true"
          style="
            border: 1px transparent solid;
            color: var(--colorWorkplaceHeadline);
          "
          >&times;</span
        >
      </div>
    </div>
    <div
      id="user-admin-modal-body"
      class="modal-body container-certificate-box"
    >
      <div
        id="user-admin-modal-name-container"
        class="container-certificate-value firstColumn"
      >
        <div class="form-group">
          <label for="user-firstname">{{ 'setting.user-admin.modal-firstname' | translate }}</label>
          <input
            type="text"
            [formField]="userForm.firstName"
            class="form-control default-width"
            id="user-firstname"
            aria-label="firstName"
            (blur)="onNameChange()"
          />
        </div>

        <div class="form-group">
          <label for="user-name">{{ 'setting.user-admin.modal-name' | translate }}</label>
          <input
            type="text"
            [formField]="userForm.lastName"
            class="form-control default-width"
            id="user-name"
            aria-label="lastName"
            (blur)="onNameChange()"
          />
        </div>
      </div>

      <div
        id="user-admin-modal-username-container"
        class="container-certificate-value secondColumn"
      >
        <div class="row-line">
          <div class="form-group">
            <label for="user-userName">{{ 'setting.user-admin.modal-user-name' | translate }}</label>
            @if (isEditMode) {
              <input
                type="text"
                [formField]="userForm.userName"
                class="form-control default-width"
                id="user-userName"
                aria-label="userName"
              />
              @if (showUserNameError()) {
                <small class="text-danger">{{ 'USERNAME_MIN_3_CHARS' | translate }}</small>
              }
            } @else {
              <input
                type="text"
                [value]="formModel().userName"
                class="form-control default-width"
                id="user-userName"
                aria-label="userName"
                readonly
                [placeholder]="'USERNAME_AUTO_GENERATED' | translate"
              />
            }
          </div>
        </div>
      </div>
    </div>

    <div id="user-admin-modal-email-row" class="row-line firstColumn-email">
      <label for="setting-user-description">{{ 'setting.user-admin.modal-email' | translate }}</label>

      <input
        type="text"
        [formField]="userForm.email"
        class="form-control"
        id="setting-user-email"
        aria-label="email"
      />
    </div>

    @if (isEditMode) {
      <div id="user-admin-modal-phone-row" class="row-line firstColumn-phone">
        <label for="setting-user-phone">{{ 'setting.user-admin.modal-phone' | translate }}</label>

        <input
          type="tel"
          [formField]="userForm.phoneNumber"
          class="form-control"
          id="setting-user-phone"
          aria-label="phoneNumber"
        />
      </div>
    }

    <p></p>
    <p></p>
    <p></p>
  </div>

  <div id="user-admin-modal-footer" class="modal-footer">
    <span
      id="user-admin-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ 'setting.user-admin.cancel' | translate }}</span
    >
    <button
      id="user-admin-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="modal.close()"
      [disabled]="!isFormValid()"
    >
      {{ 'setting.user-admin.modal-save' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #msg id="msg" let-modal>
  <div id="user-admin-password-reset-modal-header" class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title">
      {{ 'setting.user-admin.password-reset' | translate }}
    </div>
  </div>
  <div id="user-admin-password-reset-modal-body" class="modal-body">
    <p>
      {{ 'setting.user-admin.password-reset-question' | translate }}<br /><b>{{ newUser?.email }}</b
      ><br />
    </p>
  </div>

  <div id="user-admin-password-reset-modal-footer" class="modal-footer">
    <span
      id="user-admin-msg-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ 'setting.user-admin.cancel' | translate }}</span
    >
    <button
      id="user-admin-msg-modal-ok-btn"
      type="button"
      class="btn save-btn-ok"
      (click)="modal.close()"
    >
      Ok
    </button>
  </div>
</ng-template>

<div id="user-administration-header" class="container-header">
  {{ 'setting.user-admin.headline' | translate }}
</div>

<div id="user-administration-line" class="container-line"></div>

<div class="standard-tabs-header">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        id="user-administration-tab-users"
        class="nav-link"
        [class.active]="activeTab() === 'users'"
        role="tab"
        [attr.aria-selected]="activeTab() === 'users'"
        tabindex="0"
        (click)="setTab('users')"
        (keydown.enter)="setTab('users')"
      >
        {{ 'setting.user-admin.tab.users' | translate }}
      </a>
    </li>
    <li class="nav-item">
      <a
        id="user-administration-tab-manual"
        class="nav-link"
        [class.active]="activeTab() === 'manual'"
        role="tab"
        [attr.aria-selected]="activeTab() === 'manual'"
        tabindex="0"
        (click)="setTab('manual')"
        (keydown.enter)="setTab('manual')"
      >
        {{ 'setting.user-admin.tab.manual' | translate }}
      </a>
    </li>
  </ul>
</div>

<div class="standard-tab-body">
  @if (activeTab() === 'users') {
    <form id="user-administration-form">
      <div
        id="user-administration-box"
        class="container-box"
      >
        <app-user-administration-header
          id="user-administration-table-header"
        ></app-user-administration-header>
        @for (c of userAdminService.accountsList(); track c.id || c.userName ||
        $index; let i = $index) {
        <div [id]="'user-administration-row-wrapper-' + i">
          <app-user-administration-row
            [id]="'user-administration-row-' + i"
            [user]="c"
            [enabled]="!(c.id === userAdminService.currentAccountId())"
            (isSentToEvent)="onSentTo($event)"
            (isRoleChangeEvent)="
              onRoleChange($event.account, $event.roleName, $event.isSelected)
            "
            (isDeactivateEvent)="onDeactivate(i)"
            (isEditEvent)="onEdit($event, content)"
          >
          </app-user-administration-row>
        </div>
        }
      </div>

      <div id="user-administration-add-row" class="row">
        <div class="filler"></div>
        <span
          id="user-admin-add-user-btn"
          class="first add-button"
          type="button"
          (click)="open(content)"
          >{{ 'setting.user-admin.add' | translate }}
        </span>
      </div>
      <div class="bottom-border-space"></div>
    </form>
  }

  @if (activeTab() === 'manual') {
    <div class="manual-tab-body">
      <div class="manual-content" [innerHTML]="manualContent()"></div>
    </div>
  }
</div>
