@use "../../../../assets/standard-styles/colors.scss";

:host {
  --v-shift-scrollbar-size: 17px;
}

.container-box-shift {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .surface-shift {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    .box-shift {
      overflow: hidden;
      background-color: colors.$gridBackgroundColor;
      width: calc(100% - var(--v-shift-scrollbar-size));
      height: 100%;
      flex: 1;
    }

    .vScrollAreaShift {
      width: var(--v-shift-scrollbar-size);
      height: 100%;
    }
  }
}
