<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form id="client-image-form" #imageForm="ngForm">
  <app-expandable-card
    [headerTitle]="translate.instant('address.edit-address.client-image.headline')">

  <div>
    @if (isLoading()) {
    <div class="loading-spinner">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    } @if (imageUrl() && !isLoading()) {
    <div class="image-container-show">
      <img [src]="imageUrl()" alt="Client Image" class="client-image" />

      @if (!isDisabled()) {
      <div class="row">
        <span
          id="delete-client-image-button"
          class="delete-button delete-button-icon"
          type="button"
          (click)="onClickDeleteImage()"
        >
          {{
            translate.instant("address.edit-address.client-image.remove-image")
          }}
        </span>
      </div>
      }
    </div>
    } @if (!imageUrl() && !isLoading()) {
    <div
      class="image-container"
      [ngbTooltip]="
        translate.instant('address.edit-address.client-image.tooltip')
      "
      autoClose="true"
    >
      <label class="first">
        {{ translate.instant("address.edit-address.client-image.label") }}
      </label>

      <div
        id="upload-client-image-area"
        class="fileupload-image"
        [class.disabled]="isDisabled()"
        appDragDropFileUpload
        (click)="!isDisabled() && fileField.click()"
        (fileDropped)="!isDisabled() && onUploadImage($event)"
      >
        <span class="ddinfo">
          {{ translate.instant("address.edit-address.client-image.info") }}
        </span>
        <input
          id="clientImage"
          type="file"
          name="clientImage"
          #fileField
          (change)="onUploadImage1($event)"
          [disabled]="isDisabled()"
          hidden
          accept="image/*"
        />
      </div>
    </div>
    }
  </div>

  </app-expandable-card>
</form>
