<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="holiday-work-exemption-header-container" class="first custom-control-inline">
  <label id="holiday-work-exemption-header-description" style="width: 250px">{{ 'setting.holidayWorkExemption.header.description' | translate }}</label>
  <label id="holiday-work-exemption-header-scope" class="col-scope">{{ 'setting.holidayWorkExemption.header.scope' | translate }}</label>
  <span id="holiday-work-exemption-header-imported" class="col-imported"></span>
</div>
