<as-split
  direction="horizontal"
  [disabled]="true"
  [gutterSize]="1"
  unit="pixel"
>
  <as-split-area [size]="horizontalSize" [minSize]="100">
    <app-schedule-shift-row-header></app-schedule-shift-row-header>
  </as-split-area>

  <as-split-area>
    <div class="container-box-shift">
      <div class="surface-shift">
        <app-schedule-surface-template
          [nameId]="'shift'"
          #templateRef
          class="box-shift"
          [valueChangeHScrollbar]="hScrollbarValue"
          [valueChangeVScrollbar]="vScrollbarShift.value"
          (valueVScrollbar)="vScrollbarShift.value = $event"
          (maxValueVScrollbar)="vScrollbarShift.maxValue = $event"
          (visibleValueVScrollbar)="vScrollbarShift.visibleValue = $event"
        >
        </app-schedule-surface-template>

        <app-v-scrollbar class="vScrollAreaShift" #vScrollbarShift>
        </app-v-scrollbar>
      </div>
    </div>
  </as-split-area>
</as-split>
