<as-split
  direction="horizontal"
  [disabled]="true"
  [gutterSize]="1"
  unit="pixel"
>
  <!-- Links: Shift Row Header -->
  <as-split-area [size]="horizontalSize" [minSize]="100">
    <app-schedule-shift-row-header></app-schedule-shift-row-header>
  </as-split-area>

  <!-- Rechts: Shift Surface -->
  <as-split-area>
    <div class="container-box-shift">
      <div class="surface-shift">
        <div class="box-shift">
          <app-schedule-shift-surface></app-schedule-shift-surface>
        </div>
        <app-v-scrollbar class="vScrollAreaShift" #vScrollbar>
        </app-v-scrollbar>
      </div>
    </div>
  </as-split-area>
</as-split>
