<as-split
  direction="horizontal"
  [disabled]="true"
  [gutterSize]="1"
  unit="pixel"
>
  <as-split-area [size]="horizontalSize" [minSize]="100">
    <app-schedule-shift-row-header></app-schedule-shift-row-header>
  </as-split-area>

  <as-split-area>
    <div class="container-box-shift">
      <div class="surface-shift">
        <app-schedule-surface-template #templateRef class="box-shift">
        </app-schedule-surface-template>

        <app-v-scrollbar class="vScrollAreaShift" #vScrollbar1>
        </app-v-scrollbar>
      </div>
    </div>
  </as-split-area>
</as-split>
