@use "../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/settings-list-row.scss";

.attribute-hours {
  width: 120px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-inline-end: 10px;
}

.attribute-date {
  width: 120px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-inline-end: 10px;
}

.contract-name,
.contract-hours,
.contract-date {
  display: inline-block;
  margin-inline-end: 10px;
}
