<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #content id="content" let-modal>
  <form #contractForm="ngForm">
    <div class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">
        {{ translate.instant("setting.contract.headline-modal") }}
      </div>
      <span class="filler"></span>

      <div
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span
          aria-hidden="true"
          style="
            font-size: 13px;
            border: 1px transparent solid;
            color: var(--colorWorkplaceHeadline);
          "
          >&times;</span
        >
      </div>
    </div>
    <div class="modal-body">
      @if (dataManagementContractService.editContract) {
      <!-- Contract Basic Information -->
      <div class="row-line-modal-inline">
        <div style="margin-left: 30px; width: 200px">
          <label for="contractName">{{
            translate.instant("setting.contract.name-modal")
          }}</label>
          <input
            type="text"
            style="width: 200px"
            [(ngModel)]="dataManagementContractService.editContract.name"
            name="name"
            class="form-control"
            id="contractName"
            required
          />
        </div>
      </div>

      <!-- Hours Configuration -->
      <div
        class="row-line-modal-inline"
        style="display: flex; justify-content: space-between; padding: 0 30px"
      >
        <div style="flex: 1; margin-right: 20px">
          <app-time-input
            [label]="
              translate.instant('setting.contract.guaranteedHours-modal')
            "
            [(value)]="
              dataManagementContractService.editContract.internalGuaranteedHours
            "
            hoursName="guaranteedHoursHours"
            minutesName="guaranteedHoursMinutes"
            (timeChange)="onTimeInputChange()"
            hoursId="guaranteedHours"
            [forDuration]="true"
            labelAlign="left"
          ></app-time-input>
        </div>

        <div style="flex: 1; margin-right: 20px">
          <app-time-input
            [label]="translate.instant('setting.contract.minHours-modal')"
            [(value)]="
              dataManagementContractService.editContract.internalMinimumHours
            "
            hoursName="minHoursHours"
            minutesName="minHoursMinutes"
            (timeChange)="onTimeInputChange()"
            hoursId="minHours"
            [forDuration]="true"
            labelAlign="center"
          ></app-time-input>
        </div>

        <div style="flex: 1">
          <app-time-input
            [label]="translate.instant('setting.contract.maxHours-modal')"
            [(value)]="
              dataManagementContractService.editContract.internalMaximumHours
            "
            hoursName="maxHoursHours"
            minutesName="maxHoursMinutes"
            (timeChange)="onTimeInputChange()"
            hoursId="maxHours"
            [forDuration]="true"
            labelAlign="right"
          ></app-time-input>
        </div>
      </div>

      <!-- Validity Period -->
      <div class="row-line-modal-inline">
        <div style="margin-left: 30px;">
          <app-date-input
            [label]="translate.instant('setting.contract.validFrom-modal')"
            [(value)]="dataManagementContractService.editContract.internalValidFrom"
            inputName="validFrom"
            inputId="validFrom"
            inputWidth="small-width"
          ></app-date-input>
        </div>

        <div style="margin-left: 30px;">
          <app-date-input
            [label]="translate.instant('setting.contract.validUntil-modal')"
            [(value)]="dataManagementContractService.editContract.internalValidUntil"
            inputName="validUntil"
            inputId="validUntil"
            inputWidth="small-width"
          ></app-date-input>
        </div>
      </div>

      <!-- Calendar Selection -->
      <div class="row-line-modal-inline">
        <div style="margin-left: 30px; width: 250px">
          <label for="calendarSelection">{{
            translate.instant("setting.contract.calendarSelection-modal")
          }}</label>
          <select
            class="form-control"
            style="width: 250px"
            [ngModel]="
              dataManagementContractService.editContract.calendarSelection?.id
            "
            (ngModelChange)="onCalendarSelectionChange($event)"
            name="calendarSelection"
            id="calendarSelection"
          >
            <option value="">
              {{ translate.instant("setting.contract.noCalendar") }}
            </option>
            @for (calendar of dataManagementContractService.availableCalendars;
            track calendar.id) {
            <option [value]="calendar.id">{{ calendar.name }}</option>
            }
          </select>
        </div>
      </div>

      <!-- Validation Errors -->
      @if (dataManagementContractService.getValidationErrors().length > 0) {
      <div class="row-line-modal-inline">
        <div style="margin-left: 30px; margin-top: 20px">
          <div class="alert alert-danger">
            <strong>{{ translate.instant("validation.errors") }}:</strong>
            <ul>
              @for (error of
              dataManagementContractService.getValidationErrors(); track error)
              {
              <li>{{ error }}</li>
              }
            </ul>
          </div>
        </div>
      </div>
      } }
    </div>
  </form>

  <div class="modal-footer">
    <span
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ translate.instant("cancel") }}</span
    >
    <button
      type="button"
      class="btn save-btn"
      (click)="onSave(modal)"
      [disabled]="!isFormValid()"
    >
      {{ translate.instant("setting.contract.save") }}
    </button>
  </div>
</ng-template>

<form>
  <div class="first custom-control-inline">
    <div class="form-group">
      <input
        type="text"
        [value]="data.name"
        name="data.name"
        class="form-control attribute-name"
        aria-label="name"
        (click)="open(content)"
        readonly
      />
    </div>

    <span class="delete-button" type="button" (click)="onClickDelete()">✕</span>
  </div>
</form>
