<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <div class="first custom-control-inline">
    <div class="form-group">
      <input
        type="text"
        [value]="data.name"
        name="data.name"
        class="form-control attribute-name"
        aria-label="name"
        (click)="onClickEdit()"
        readonly
      />
    </div>

    <span class="delete-button" type="button" (click)="onClickDelete()">✕</span>
  </div>
</form>
