<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<form id="client-contracts-form" #contractsForm="ngForm">
  <app-expandable-card
    [headerTitle]="'address.edit-address.contracts.header' | translate">

    <div headerActions>
      @if (!isDisabled()) {
      <app-button-new
        id="add-contract-button"
        placement="top"
        type="button"
        (click)="addContract()"
        ngbTooltip="{{
          'address.edit-address.contracts.add-contract' | translate
        }}"
      >
      </app-button-new>
      }
    </div>

    <div>
    @if (dataManagementClientService.editClient() !== undefined) {
    <div class="container-table">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th id="sort-contract-header" class="table-header clickable" style="width: 360px" (click)="onClickHeader('contract')">
              {{ "address.edit-address.contracts.contract" | translate }}
              <span class="sort-arrow">{{ sortingService.getArrow('contract') }}</span>
            </th>
            <th id="sort-fromDate-header" class="table-header clickable" style="width: 140px" (click)="onClickHeader('fromDate')">
              {{ "address.edit-address.contracts.from-date" | translate }}
              <span class="sort-arrow">{{ sortingService.getArrow('fromDate') }}</span>
            </th>
            <th id="sort-untilDate-header" class="table-header clickable" style="width: 140px" (click)="onClickHeader('untilDate')">
              {{ "address.edit-address.contracts.until-date" | translate }}
              <span class="sort-arrow">{{ sortingService.getArrow('untilDate') }}</span>
            </th>
            <th id="sort-active-header" class="table-header clickable" style="width: 50px" (click)="onClickHeader('active')">
              {{ "address.edit-address.contracts.active" | translate }}
              <span class="sort-arrow">{{ sortingService.getArrow('active') }}</span>
            </th>
            <th
              class="table-header action"
              style="width: 60px; max-width: 60px; min-width: 60px"
            ></th>
          </tr>
        </thead>
        <tbody>
          @for (contract of sortedContracts; track
          trackByIndex($index)) {
          <tr class="table-row">
            <td class="table-cell">
              <div class="select-wrapper">
                <select
                  class="form-select"
                  name="contract-{{ $index }}"
                  id="contract-{{ $index }}"
                  [disabled]="isDisabled()"
                  [(ngModel)]="contract.contractId"
                  (ngModelChange)="calcValidation()"
                >
                  <option value="">
                    {{
                      "address.edit-address.contracts.select-contract"
                        | translate
                    }}
                  </option>
                  @for (c of contracts; track c.id) {
                  <option [ngValue]="c.id">{{ c.name }}</option>
                  }
                </select>
                <div class="select-icon">
                  <app-icon-angle-down></app-icon-angle-down>
                </div>
              </div>
            </td>
            <td class="table-cell">
              <div class="input-group">
                <input
                  class="form-control"
                  name="fromDate-{{ $index }}"
                  [disabled]="isDisabled()"
                  aria-labelledby="from date"
                  id="from-date-{{ $index }}"
                  [ngModel]="getContractFromDate(contract)"
                  (ngModelChange)="setContractFromDate(contract, $event)"
                  ngbDatepicker
                  #fromDate="ngbDatepicker"
                  #fromDateField="ngModel"
                  [minDate]="getMinDate()"
                  [ngClass]="{
                    'is-invalid': isContractFromDateValid($index) === false && fromDateField.touched,
                    'is-valid': isContractFromDateValid($index) === true
                  }"
                />
                <span
                  class="input-group-text"
                  style="width: 40px"
                  (click)="fromDate.toggle()"
                >
                  <fa-icon [icon]="faCalendar" class="calendar-icon"></fa-icon>
                </span>
              </div>
            </td>
            <td class="table-cell">
              <div class="input-group">
                <input
                  class="form-control"
                  name="untilDate-{{ $index }}"
                  [disabled]="isDisabled()"
                  aria-label="until-date-{{ $index }}"
                  aria-labelledby="untilDate"
                  id="until-date-{{ $index }}"
                  [ngModel]="getContractUntilDate(contract)"
                  (ngModelChange)="setContractUntilDate(contract, $event)"
                  ngbDatepicker
                  #untilDate="ngbDatepicker"
                  #untilDateField="ngModel"
                  [ngClass]="{
                    'is-invalid': isContractDateValid($index) === false && untilDateField.touched,
                    'is-valid': isContractDateValid($index) === true
                  }"
                />
                <span
                  class="input-group-text"
                  style="width: 40px"
                  (click)="untilDate.toggle()"
                >
                  <fa-icon [icon]="faCalendar" class="calendar-icon"></fa-icon>
                </span>
              </div>
            </td>
            <td class="table-cell cell-center cell-center-vertical">
              <input
                class="checkbox"
                type="checkbox"
                name="active-{{ $index }}"
                id="active-{{ $index }}"
                [disabled]="isDisabled()"
                [(ngModel)]="contract.isActive"
                (ngModelChange)="onActiveChange(contract)"
              />
            </td>
            <td class="table-cell cell-right cell-center-vertical">
              @if (!isDisabled()) {
              <div id="delete-contract-{{ $index }}" class="icon" (click)="removeContract(contract)">
                <app-icon-trash-red></app-icon-trash-red>
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
      @if (hasValidContracts && !hasAtLeastOneActive) {
        <div class="alert alert-danger" role="alert" style="margin: 10px;">
          {{ "address.edit-address.contracts.validation.at-least-one-active" | translate }}
        </div>
      }
    </div>
    }
    </div>

  </app-expandable-card>
</form>
