@use "../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/colors.scss";
@use "../../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../../assets/standard-styles/navigation.scss";

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.select-icon {
  position: absolute;
  inset-inline-end: 8px;
  pointer-events: none;
  display: flex;
  align-items: center;
}

table select,
.table select {
  border: none !important;
  background: transparent !important;
  outline: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  padding-inline-end: 30px !important;
  width: 100%;
}

table input:not([type="checkbox"]):not(.is-invalid):not(.is-valid),
.table input:not([type="checkbox"]):not(.is-invalid):not(.is-valid) {
  border: none !important;
  background: transparent !important;
  outline: none !important;
  border-radius: 4px !important;
}

table input.is-invalid,
.table input.is-invalid {
  border: 1px solid #dc3545 !important;
  background: transparent !important;
  background-image: none !important;
  padding-inline-end: 0.75rem !important;
  border-radius: 4px !important;
}

table input.is-valid,
.table input.is-valid {
  border: 1px solid #198754 !important;
  background: transparent !important;
  background-image: none !important;
  padding-inline-end: 0.75rem !important;
  border-radius: 4px !important;
}

table .input-group-text,
.table .input-group-text {
  border: none !important;
  background: transparent !important;
}

.calendar-icon {
  font-size: 16px;
  color: var(--colorLine) !important;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.sort-arrow {
  margin-inline-start: 5px;
  font-size: 12px;
}

table input[type="checkbox"].checkbox,
td input[type="checkbox"].checkbox,
.table input[type="checkbox"].checkbox {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid var(--colorLine) !important;
  background: transparent !important;
  outline: none !important;
  margin: 0 !important;
  padding: 0 !important;

  &:checked::after {
    content: "✔" !important;
    display: block !important;
    color: var(--colorText) !important;
    font-size: 12px !important;
    font-weight: normal !important;
    text-align: center !important;
    line-height: 16px !important;
  }

  &:not(:checked)::after {
    content: "" !important;
  }
}
