<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<ng-template
  #absenceModal
  id="absence-modal-template"
  let-modal
  role="dialog"
  class="modal-window"
>
  <div id="absence-modal-header" class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title1">
      {{ "setting.absence.modal.edit" | translate }}
    </div>
    <span class="filler"></span>

    <div
      id="absence-modal-close-btn"
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
    >
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>

  <form id="absence-modal-form">
    <div id="absence-modal-body" class="modal-body first-modal">
      <div id="absence-modal-name-row" class="row-line">
        <label for="ruleName">{{
          "setting.absence.modal.name" | translate
        }}</label>
        <input
          id="absence-modal-name"
          type="text"
          class="form-control"
          [formField]="absenceForm.name"
          aria-label="ruleName"
        />
      </div>

      <div id="absence-modal-abbreviation-row" class="row-line">
        <label for="abbreviation">{{
          "setting.absence.modal.abbreviation" | translate
        }}</label>
        <input
          id="absence-modal-abbreviation"
          type="text"
          class="form-control"
          [formField]="absenceForm.abbreviation"
          aria-label="abbreviation"
        />
      </div>

      <div id="absence-modal-description-row" class="row-line">
        <label for="description">{{
          "setting.absence.modal.description" | translate
        }}</label>
        <textarea
          id="absence-modal-description"
          class="form-control rule-description"
          [formField]="absenceForm.description"
          aria-label="description"
        ></textarea>
      </div>

      <div id="absence-modal-numbers-row" class="row-line">
        <div class="box-line">
          <div class="box">
            <label for="ruleName">{{
              "setting.absence.modal.sum-day" | translate
            }}</label>
            <input
              id="absence-modal-default-length"
              type="number"
              class="form-control input-number"
              [formField]="absenceForm.defaultLength"
              aria-label="defaultLength"
            />
          </div>
          <div class="box">
            <label for="ruleName">{{
              "setting.absence.modal.value-day" | translate
            }}</label>
            <input
              id="absence-modal-default-value"
              type="number"
              class="form-control input-number"
              [formField]="absenceForm.defaultValue"
              aria-label="defaultValue"
            />
          </div>
        </div>
      </div>
      <div id="absence-modal-saturday-row" class="row-line">
        <label class="checkbox-label">
          <input
            id="absence-modal-with-saturday"
            type="checkbox"
            [formField]="absenceForm.withSaturday"
          />
          {{ "setting.absence.modal.value-sat" | translate }}
        </label>
      </div>
      <div id="absence-modal-sunday-row" class="row-line">
        <label class="checkbox-label">
          <input
            id="absence-modal-with-sunday"
            type="checkbox"
            [formField]="absenceForm.withSunday"
          />
          {{ "setting.absence.modal.value-sun" | translate }}
        </label>
      </div>
      <div id="absence-modal-holiday-row" class="row-line">
        <label class="checkbox-label">
          <input
            id="absence-modal-with-holiday"
            type="checkbox"
            [formField]="absenceForm.withHoliday"
          />
          {{ "setting.absence.modal.value-holiday" | translate }}
        </label>
      </div>
      <div id="absence-modal-container-row" class="row-line">
        <label class="checkbox-label">
          <input
            id="absence-modal-applies-to-container"
            type="checkbox"
            [formField]="absenceForm.appliesToContainer"
          />
          {{ "setting.absence.modal.applies-to-container" | translate }}
        </label>
      </div>
      <div id="absence-modal-color-row" class="row-line box">
        <label for="color" class="form-label">{{
          "setting.absence.modal.color" | translate
        }}</label>
        <div class="input-group">
          <input
            id="absence-modal-color-picker"
            type="color"
            class="form-control form-control-color color-button"
            [formField]="absenceForm.color"
          />
          <input
            id="absence-modal-color-text"
            type="text"
            class="form-control color-text"
            [formField]="absenceForm.color"
          />
        </div>
      </div>

      @if (macroManagementService.macroList().length > 0) {
        <div id="absence-modal-macro-row" class="row-line">
          <label for="macro-list">{{
            "shift.edit-shift.special-feature.sum-macro.list" | translate
          }}</label>
          <select
            id="absence-modal-macro-list"
            class="form-select"
            [formField]="absenceForm.macroId"
            aria-label="macro-list"
          >
            <option value="">---</option>
            @for (item of macroManagementService.macroList(); track item.id) {
              <option [value]="item.id">
                {{ item.name }}
              </option>
            }
          </select>
        </div>
      }

      <div class="bottom-border-space"></div>
      <div id="absence-modal-hide-gantt-row" class="row-line">
        <label class="checkbox-label">
          <input
            id="absence-modal-hide-in-gantt"
            type="checkbox"
            [formField]="absenceForm.hideInGantt"
          />
          {{ "setting.absence.modal.internal" | translate }}
        </label>
      </div>
    </div>
  </form>

  <div id="absence-modal-footer" class="modal-footer">
    <span
      id="absence-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ "cancel" | translate }}</span
    >
    <button
      id="absence-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="onSaveModal(modal)"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<div id="absence-container" class="container-dashboard">
  <div id="absence-form">
    <div id="absence-header" class="container-header header-container">
      {{ "setting.absence.headline" | translate }}
      <span class="filler"></span>

      <div
        id="absence-export-excel-btn"
        class="btn ownStyle-button last-right"
        role="button"
        aria-label="excel"
        (click)="onClickDownloadExcel()"
      >
        <app-excel-icon></app-excel-icon>
      </div>
    </div>

    <div id="absence-line" class="container-line"></div>

    <div id="absence-box" class="container-box-collapse">
      <div id="absence-table-container" class="container-table table-height">
        <table id="absence-table" class="table table-borderless" #myTable>
          <thead id="absence-table-head">
            <tr>
              <th id="absence-header-color" class="table-header"></th>
              <th
                id="absence-header-name"
                class="table-header header-name"
                (click)="onClickHeader('name')"
              >
                <div class="table-header-cell form-inline">
                  <p class="gap noselect">
                    {{ "default.grid.name" | translate }}
                  </p>
                  <p class="table-header-cell-arrow noselect">
                    {{ sortingService.getArrow("name") }}
                  </p>
                </div>
              </th>

              <th
                id="absence-header-description"
                class="table-header header-description"
                (click)="onClickHeader('description')"
              >
                <div class="table-header-cell custom-control-inline">
                  <p class="gap noselect">
                    {{ "default.grid.description" | translate }}
                  </p>
                  <p class="table-header-cell-arrow noselect">
                    {{ sortingService.getArrow("description") }}
                  </p>
                </div>
              </th>

              <th
                id="absence-header-action"
                class="table-header action header-action"
              ></th>
            </tr>
          </thead>
          <tbody id="absence-table-body">
            @for (
              data of dataManagementAbsenceService.listWrapper?.absences;
              track data.id;
              let i = $index
            ) {
              <tr
                [id]="'absence-row-' + i"
                class="table-row"
                (click)="onClickedRow(data)"
                [class.active]="data.id === highlightRowId"
              >
                <td
                  [id]="'absence-cell-color-' + i"
                  class="table-cell color-width"
                >
                  <div
                    [id]="'absence-color-icon-' + i"
                    class="color-icon"
                    [ngStyle]="{ 'background-color': data.color }"
                  ></div>
                </td>
                <td [id]="'absence-cell-name-' + i" class="table-cell">
                  {{ data.name | fallback: currentLang }}
                </td>
                <td [id]="'absence-cell-description-' + i" class="table-cell">
                  {{ data.description | fallback: currentLang }}
                </td>

                <td
                  [id]="'absence-cell-actions-' + i"
                  class="table-cell cell-right"
                >
                  <div>
                    <div
                      [id]="'absence-edit-btn-' + i"
                      class="icon icon-padding"
                      (click)="onEditAbsence(absenceModal, data)"
                    >
                      <app-icon-pencil-icon-grey></app-icon-pencil-icon-grey>
                    </div>

                    <div
                      [id]="'absence-copy-btn-' + i"
                      class="icon icon-padding"
                      (click)="onCopyAbsence(absenceModal, data)"
                    >
                      <app-icon-copy-grey></app-icon-copy-grey>
                    </div>

                    <div
                      [id]="'absence-delete-btn-' + i"
                      class="icon"
                      (click)="openDeleteAbsence(data)"
                    >
                      <app-icon-trash-red></app-icon-trash-red>
                    </div>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div id="absence-footer" class="lastLine">
        <span
          id="absence-add-btn"
          class="first add-button"
          type="button"
          (click)="createNewAbsence(absenceModal)"
          >{{ "setting.absence.add" | translate }}
        </span>
        <span class="filler"></span>

        <app-simple-pagination
          id="absence-pagination"
          [collectionSize]="dataManagementAbsenceService.maxItems"
          (pageChange)="onPageChange($event)"
          [(page)]="page"
          [maxSize]="5"
          [pageSize]="numberOfItemsPerPage"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
          [showSummary]="true"
          summaryLabel="pagination.sum"
        ></app-simple-pagination>
      </div>
    </div>
  </div>
</div>
