<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div
  id="container-template-wrapper"
  class="container-template-container"
  (contextmenu)="onContainerContextMenu($event)"
>
  <!-- Header -->
  <div id="container-template-header" class="header">
    <div class="header-content">
      <h2>
        {{
          containerShift?.name ||
            ("shift.container-template.header" | translate)
        }}
      </h2>

      <div class="time-controls">
        <app-time-input
          [label]="'shift.container-template.from' | translate"
          [value]="timeFrom"
          (valueChange)="onTimeFromChange($event)"
          [showLabel]="true"
          [forDuration]="false"
          [ngbTooltip]="
            'shift.container-template.tooltip.time-from' | translate
          "
        ></app-time-input>

        <app-time-input
          [label]="'shift.container-template.until' | translate"
          [value]="timeTo"
          (valueChange)="onTimeToChange($event)"
          [showLabel]="true"
          [forDuration]="false"
          [ngbTooltip]="
            'shift.container-template.tooltip.time-until' | translate
          "
        ></app-time-input>

        <app-time-input
          [label]="'shift.container-template.duration' | translate"
          [value]="duration"
          [showLabel]="true"
          [forDuration]="true"
          [disabled]="true"
          [ngbTooltip]="'shift.container-template.tooltip.duration' | translate"
        ></app-time-input>
      </div>

      <div class="weekday-buttons">
        @for (day of weekdays; track day.value) {
          <label
            class="weekday-button"
            [class.active]="selectedWeekday === day.value"
            [ngbTooltip]="
              'shift.container-template.tooltip.select-weekday' | translate
            "
          >
            <input
              type="radio"
              name="weekday"
              [value]="day.value"
              [(ngModel)]="selectedWeekday"
              (change)="onWeekdayChange()"
            />
            <span>{{ day.labelKey | translate }}</span>
          </label>
        }
      </div>

      <div class="holiday-checkboxes">
        @if (containerShift?.isHoliday) {
          <label
            class="holiday-checkbox"
            [ngbTooltip]="
              'shift.container-template.tooltip.holiday-filter' | translate
            "
          >
            <input type="checkbox" [(ngModel)]="isHoliday" />
            <span>{{
              "shift.container-template.weekday.holiday" | translate
            }}</span>
          </label>
        }
        @if (containerShift?.isWeekdayAndHoliday) {
          <label
            class="holiday-checkbox"
            [ngbTooltip]="
              'shift.container-template.tooltip.holiday-plus-filter' | translate
            "
          >
            <input type="checkbox" [(ngModel)]="isWeekdayAndHoliday" />
            <span>{{
              "shift.container-template.weekday.holiday-plus" | translate
            }}</span>
          </label>
        }
      </div>

      @if (addressProvider.allAddresses().length > 0) {
        <div class="address-selects">
          <div class="address-select-group">
            <label for="start-base">
              {{ "shift.container-template.start-base" | translate }}
            </label>
            <select
              id="start-base"
              class="form-select"
              [(ngModel)]="routeService.selectedStartBase"
              (change)="routeService.onStartBaseChange(selectedWeekday, isHoliday)"
              [ngbTooltip]="
                'shift.container-template.tooltip.start-base' | translate
              "
            >
              <option [value]="''">-</option>
              @for (
                address of addressProvider.allAddresses();
                track address.name
              ) {
                <option [value]="address.address">
                  {{ address.name }}
                </option>
              }
            </select>
          </div>

          <div class="address-select-group">
            <label for="end-base">
              {{ "shift.container-template.end-base" | translate }}
            </label>
            <select
              id="end-base"
              class="form-select"
              [(ngModel)]="routeService.selectedEndBase"
              (change)="routeService.onEndBaseChange(selectedWeekday, isHoliday)"
              [ngbTooltip]="
                'shift.container-template.tooltip.end-base' | translate
              "
            >
              <option [value]="''">-</option>
              @for (
                address of addressProvider.allAddresses();
                track address.name
              ) {
                <option [value]="address.address">
                  {{ address.name }}
                </option>
              }
            </select>
          </div>
        </div>
        @if (routeService.selectedStartBase && routeService.selectedEndBase) {
          <div class="transport-mode-group">
            <label>
              {{ "shift.container-template.transport-mode" | translate }}
            </label>
            <div class="transport-mode-buttons">
              <button
                type="button"
                class="transport-mode-btn"
                [class.active]="routeService.selectedTransportMode === 0"
                (click)="routeService.selectTransportMode(0, selectedWeekday, isHoliday)"
                [ngbTooltip]="
                  'shift.container-template.transport-mode.by-car' | translate
                "
              >
                <app-icon-by-car></app-icon-by-car>
              </button>
              <button
                type="button"
                class="transport-mode-btn"
                [class.active]="routeService.selectedTransportMode === 1"
                [class.disabled]="!routeService.hasOpenRouteServiceApiKey"
                [disabled]="!routeService.hasOpenRouteServiceApiKey"
                (click)="routeService.hasOpenRouteServiceApiKey && routeService.selectTransportMode(1, selectedWeekday, isHoliday)"
                [ngbTooltip]="
                  routeService.hasOpenRouteServiceApiKey
                    ? ('shift.container-template.transport-mode.by-bicycle'
                      | translate)
                    : ('shift.container-template.transport-mode.api-key-required'
                      | translate)
                "
              >
                <app-icon-by-bicycle></app-icon-by-bicycle>
              </button>
              <button
                type="button"
                class="transport-mode-btn"
                [class.active]="routeService.selectedTransportMode === 2"
                [class.disabled]="!routeService.hasOpenRouteServiceApiKey"
                [disabled]="!routeService.hasOpenRouteServiceApiKey"
                (click)="routeService.hasOpenRouteServiceApiKey && routeService.selectTransportMode(2, selectedWeekday, isHoliday)"
                [ngbTooltip]="
                  routeService.hasOpenRouteServiceApiKey
                    ? ('shift.container-template.transport-mode.by-foot'
                      | translate)
                    : ('shift.container-template.transport-mode.api-key-required'
                      | translate)
                "
              >
                <app-icon-by-foot></app-icon-by-foot>
              </button>
              <button
                type="button"
                class="transport-mode-btn"
                [class.active]="routeService.selectedTransportMode === 3"
                [class.disabled]="!routeService.hasOpenRouteServiceApiKey"
                [disabled]="!routeService.hasOpenRouteServiceApiKey"
                (click)="routeService.hasOpenRouteServiceApiKey && routeService.selectTransportMode(3, selectedWeekday, isHoliday)"
                [ngbTooltip]="
                  routeService.hasOpenRouteServiceApiKey
                    ? ('shift.container-template.transport-mode.mix'
                      | translate)
                    : ('shift.container-template.transport-mode.api-key-required'
                      | translate)
                "
              >
                <app-icon-transport-mix></app-icon-transport-mix>
              </button>
            </div>
          </div>
        }
      }
    </div>
  </div>

  <!-- Main Content Area with 3 Split Zones -->
  <div class="content">
    <as-split direction="horizontal" [gutterSize]="6" unit="percent">
      <!-- Zone 1: Left -->
      <as-split-area [size]="30" [minSize]="15" [maxSize]="50">
        <div class="zone zone-left">
          <app-time-ruler
            [fromTime]="timeFrom"
            [untilTime]="timeTo"
            (shiftRightClick)="onShiftRightClick($event)"
          ></app-time-ruler>
        </div>
      </as-split-area>

      <!-- Right side: Zone 2 and Zone 3 stacked vertically -->
      <as-split-area [size]="70" [minSize]="30">
        <as-split direction="vertical" [gutterSize]="6" unit="percent">
          <!-- Zone 2: Top -->
          <as-split-area [size]="50" [minSize]="20">
            <div class="zone zone-center">
              <div class="header-table">
                <h3>
                  {{
                    "shift.container-template.selected-tasks.title" | translate
                  }}
                </h3>
                <span class="filler"></span>
                @if (routeService.selectedStartBase && routeService.selectedEndBase) {
                  <app-icon-wizard
                    class="icon-table"
                    [class.disabled]="routeService.isAutofillRunning"
                    (click)="autofill()"
                    [ngbTooltip]="
                      'shift.container-template.tooltip.autofill' | translate
                    "
                  ></app-icon-wizard>
                  <div class="tolerance-slider custom-slider"
                    [ngbTooltip]="'shift.container-template.tooltip.tolerance-slider' | translate">
                    <span class="tolerance-endpoint">{{ 'shift.container-template.tolerance.flexible' | translate }}</span>
                    <ngx-slider [(value)]="timeRangeToleranceValue" [options]="timeRangeToleranceOptions"></ngx-slider>
                    <span class="tolerance-endpoint">{{ 'shift.container-template.tolerance.exact' | translate }}</span>
                  </div>
                  <app-icon-route
                    class="icon-table"
                    [class.disabled]="routeService.isOptimizing"
                    (click)="optimizeRoute()"
                    [ngbTooltip]="
                      'shift.container-template.tooltip.optimize-route'
                        | translate
                    "
                  ></app-icon-route>
                  @if (routeService.hasRouteInfo) {
                    <app-icon-route-file
                      class="icon-table"
                      (click)="exportRouteToPdf()"
                      [ngbTooltip]="
                        'shift.container-template.tooltip.export-route-pdf'
                          | translate
                      "
                    ></app-icon-route-file>
                  }
                }
                <app-icon-pdf-icon
                  class="icon-table"
                  (click)="exportSelectedShiftsToPdf()"
                  [ngbTooltip]="
                    'shift.container-template.tooltip.export-shifts-pdf'
                      | translate
                  "
                ></app-icon-pdf-icon>
                <app-icon-compact
                  class="icon-table"
                  (click)="compactSelectedShifts()"
                  [ngbTooltip]="
                    'shift.container-template.tooltip.compact-shifts'
                      | translate
                  "
                ></app-icon-compact>
              </div>
              @if (routeService.isAutofillRunning || routeService.isOptimizing) {
                <div class="autofill-progress">
                  <div class="autofill-progress-bar"></div>
                </div>
              }

              <div class="shifts-grid-container">
                <div
                  class="shifts-grid"
                  cdkDropList
                  id="selected-tasks-list"
                  [cdkDropListData]="selectedContainerTemplateItems"
                  [cdkDropListConnectedTo]="getConnectedDropLists()"
                  (cdkDropListDropped)="onTaskDrop($event)"
                >
                  <table id="selected-tasks-table" class="shifts-table">
                    <thead>
                      <tr>
                        <th class="icon-column"></th>
                        <th>
                          {{ "shift.container-template.grid.name" | translate }}
                        </th>
                        <th>
                          {{
                            "shift.container-template.grid.abbreviation"
                              | translate
                          }}
                        </th>
                        <th>
                          {{ "shift.container-template.grid.time" | translate }}
                        </th>
                        <th>
                          {{
                            "shift.container-template.grid.work-time"
                              | translate
                          }}
                        </th>
                        <th>
                          {{
                            "shift.container-template.grid.client" | translate
                          }}
                        </th>
                        <th class="action-column"></th>
                      </tr>
                    </thead>
                    <tbody>
                      @if (selectedContainerTemplateItems.length === 0) {
                        <tr class="empty-drop-zone">
                          <td colspan="7">
                            <div class="no-shifts">
                              <p>
                                {{
                                  "shift.container-template.selected-tasks.placeholder"
                                    | translate
                                }}
                              </p>
                            </div>
                          </td>
                        </tr>
                      }
                      @for (
                        shift of selectedContainerTemplateItems;
                        track shift.id || shift.tmpId
                      ) {
                        <tr
                          cdkDrag
                          cdkDragLockAxis="y"
                          (click)="onShiftRowClick(shift)"
                          (contextmenu)="onTableRowRightClick($event, shift)"
                          (cdkDragStarted)="onDragStarted($event)"
                          (cdkDragEnded)="onDragEnded($event)"
                          [class.selected]="shift === selectedShift"
                          [class.timerange-violation]="hasTimeRangeViolation(shift)"
                        >
                          <td class="icon-column">
                            @if (shift.absenceId) {
                              <span class="absence-color-rect" [style.background-color]="shift.absence?.color"></span>
                            } @else if (shift.shift?.isSporadic) {
                              <app-icon-unknown-time></app-icon-unknown-time>
                            } @else if (shift.shift?.isTimeRange) {
                              <app-icon-time-window></app-icon-time-window>
                            } @else {
                              <app-icon-shift-segment></app-icon-shift-segment>
                            }
                          </td>
                          <td>{{ shift.absenceId ? (shift.absence?.name?.[translateService.currentLang] || shift.absence?.name?.['de']) : shift.shift?.name }}</td>
                          <td>{{ shift.absenceId ? (shift.absence?.abbreviation?.[translateService.currentLang] || shift.absence?.abbreviation?.['de']) : shift.shift?.abbreviation }}</td>
                          <td>
                            @if (shift.absenceId) {
                              {{ formatTime(shift.startItem) }} - {{ formatTime(shift.endItem) }}
                            } @else if (shift.shift?.isTimeRange) {
                              <div
                                class="time-range-inputs"
                                (click)="$event.stopPropagation()"
                              >
                                <app-time-input
                                  [value]="getTimeRangeStartTime(shift)"
                                  (valueChange)="
                                    onTimeRangeStartChange(shift, $event)
                                  "
                                  [showLabel]="false"
                                  [forDuration]="false"
                                ></app-time-input>
                                <span class="time-separator">-</span>
                                <span class="time-display">{{
                                  formatTime(shift.timeRangeEndItem)
                                }}</span>
                              </div>
                            } @else {
                              {{ formatTime(shift.startItem) }} -
                              {{ formatTime(shift.endItem) }}
                            }
                          </td>
                          <td>
                            @if (shift.absenceId) {
                              -
                            } @else {
                              {{
                                shift.shift?.workTime
                                  ? formatWorkTime(shift.shift!.workTime)
                                  : "-"
                              }}
                            }
                          </td>
                          <td>{{ shift.absenceId ? '-' : formatClientWithAddress(shift) }}</td>
                          <td
                            class="action-column"
                            (click)="
                              onRemoveTask(shift); $event.stopPropagation()
                            "
                          >
                            <app-icon-trash-red></app-icon-trash-red>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </as-split-area>

          <!-- Zone 3: Bottom -->
          <as-split-area [size]="50" [minSize]="20">
            <div class="zone zone-right">
              @if (isLoading) {
                <div class="loading-indicator">
                  <p>{{ "common.loading" | translate }}</p>
                </div>
              } @else if (templateGrid) {
                <!-- Tabs -->
                <div class="tabs-container">
                  <div class="tabs">
                    @for (
                      row of getFilteredRowsForSelectedWeekday();
                      track $index
                    ) {
                      <button
                        class="tab"
                        [class.active]="tabService.selectedTabIndex === $index"
                        (click)="selectTab($index)"
                      >
                        {{ getTabLabel($index) }}
                      </button>
                    }
                    <span class="filler"></span>
                    <button
                      class="tab permanent-tab"
                      [class.active]="tabService.isEmploymentTabActive"
                      (click)="selectEmploymentTab()"
                    >
                      {{
                        "shift.container-template.tab.employment" | translate
                      }}
                    </button>
                  </div>
                </div>

                <!-- Employment Tab: Container Absences -->
                @if (tabService.isEmploymentTabActive) {
                  <div class="shifts-grid-container">
                    <div class="shifts-grid">
                      @if (tabService.containerAbsences.length > 0) {
                        <table class="shifts-table">
                          <thead>
                            <tr>
                              <th class="icon-column"></th>
                              <th>{{ "shift.container-template.grid.name" | translate }}</th>
                              <th>{{ "shift.container-template.grid.abbreviation" | translate }}</th>
                              <th>{{ "setting.absence.modal.description" | translate }}</th>
                            </tr>
                          </thead>
                          <tbody
                            cdkDropList
                            id="container-absences-list"
                            [cdkDropListData]="tabService.containerAbsences"
                            [cdkDropListConnectedTo]="['selected-tasks-list']"
                            [cdkDropListSortingDisabled]="true"
                          >
                            @for (absence of tabService.containerAbsences; track absence.id) {
                              <tr cdkDrag>
                                <td class="icon-column">
                                  <span class="absence-color-rect" [style.background-color]="absence.color"></span>
                                </td>
                                <td>{{ absence.name?.[translateService.currentLang] || absence.name?.['de'] }}</td>
                                <td>{{ absence.abbreviation?.[translateService.currentLang] || absence.abbreviation?.['de'] }}</td>
                                <td>{{ absence.description?.[translateService.currentLang] || absence.description?.['de'] }}</td>
                              </tr>
                            }
                          </tbody>
                        </table>
                      } @else {
                        <div class="no-shifts">
                          <p>{{ "shift.container-template.grid.no-container-absences" | translate }}</p>
                        </div>
                      }
                    </div>
                  </div>
                }

                <!-- Shifts Grid -->
                @if (!tabService.isEmploymentTabActive) {
                <div class="shifts-grid-container">
                  <div class="shifts-grid">
                    @if (tabService.availableTasks.length > 0) {
                      <table id="available-tasks-table" class="shifts-table">
                        <thead>
                          <tr>
                            <th class="icon-column"></th>
                            <th
                              (click)="onHeaderClick('name')"
                              style="cursor: pointer"
                            >
                              {{
                                "shift.container-template.grid.name" | translate
                              }}
                              {{ sortingService.getArrow("name") }}
                            </th>
                            <th
                              (click)="onHeaderClick('abbreviation')"
                              style="cursor: pointer"
                            >
                              {{
                                "shift.container-template.grid.abbreviation"
                                  | translate
                              }}
                              {{ sortingService.getArrow("abbreviation") }}
                            </th>
                            <th
                              (click)="onHeaderClick('startShift')"
                              style="cursor: pointer"
                            >
                              {{
                                "shift.container-template.grid.time" | translate
                              }}
                              {{ sortingService.getArrow("startShift") }}
                            </th>
                            <th
                              (click)="onHeaderClick('workTime')"
                              style="cursor: pointer"
                            >
                              {{
                                "shift.container-template.grid.work-time"
                                  | translate
                              }}
                              {{ sortingService.getArrow("workTime") }}
                            </th>
                            <th
                              (click)="onHeaderClick('client')"
                              style="cursor: pointer"
                            >
                              {{
                                "shift.container-template.grid.client"
                                  | translate
                              }}
                              {{ sortingService.getArrow("client") }}
                            </th>
                            <th class="action-column"></th>
                          </tr>
                        </thead>
                        <tbody
                          cdkDropList
                          id="available-tasks-list"
                          [cdkDropListData]="tabService.availableTasks"
                          [cdkDropListConnectedTo]="['selected-tasks-list']"
                          [cdkDropListSortingDisabled]="true"
                          (cdkDropListDropped)="onAvailableTasksDrop($event)"
                        >
                          @for (shift of tabService.availableTasks; track shift.id) {
                            <tr
                              cdkDrag
                              cdkDragLockAxis="y"
                              (cdkDragStarted)="onDragStarted($event)"
                              (cdkDragEnded)="onDragEnded($event)"
                              [class.partial-timerange]="isTimeRangePartial(shift)"
                            >
                              <td class="icon-column">
                                @if (shift.isSporadic) {
                                  <app-icon-unknown-time></app-icon-unknown-time>
                                } @else if (shift.isTimeRange) {
                                  <app-icon-time-window></app-icon-time-window>
                                } @else {
                                  <app-icon-shift-segment></app-icon-shift-segment>
                                }
                              </td>
                              <td>{{ shift.name }}</td>
                              <td>{{ shift.abbreviation }}</td>
                              <td>
                                {{ formatTime(shift.startShift) }} -
                                {{ formatTime(shift.endShift) }}
                              </td>
                              <td>{{ formatWorkTime(shift.workTime) }}</td>
                              <td>{{ formatClientWithAddress(shift) }}</td>
                              <td class="action-column"></td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    } @else {
                      <div class="no-shifts">
                        <p>
                          {{
                            "shift.container-template.grid.no-shifts"
                              | translate
                          }}
                        </p>
                      </div>
                    }
                  </div>
                </div>
                }
              } @else {
                <div class="no-data">
                  <p>
                    {{
                      "shift.container-template.no-container-selected"
                        | translate
                    }}
                  </p>
                </div>
              }
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>
</div>

<app-context-menu
  #contextMenu
  (hasClicked)="onContextMenuClick($event)"
></app-context-menu>

<!-- Properties Modal -->
<ng-template #propertiesModal let-modal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.container-template.context-menu.properties" | translate }}
    </div>
    <span class="filler"></span>
    <div
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>
  <div class="modal-body first-modal">
    @if (propertiesService.contextMenuTargetItem) {
      @if (propertiesService.contextMenuTargetItem.shift?.isTimeRange) {
        <div class="row-line-modal-inline1">
          <div class="property-field">
            <label for="timeRangeStartItem">
              {{
                "shift.container-template.properties.time-range-start"
                  | translate
              }}
            </label>
            <app-time-input
              id="timeRangeStartItem"
              [value]="propertiesService.getPropertiesTimeRangeStart()"
              (valueChange)="propertiesService.onPropertiesTimeRangeStartChange($event)"
              [showLabel]="false"
              [forDuration]="false"
            ></app-time-input>
          </div>
          <div class="property-field">
            <label>
              {{ "shift.container-template.properties.work-time" | translate }}
            </label>
            <div class="readonly-value">
              {{ formatWorkTime(propertiesService.contextMenuTargetItem.shift?.workTime || 0) }}
            </div>
          </div>
        </div>
      }
      <div class="row-line-modal-inline1">
        <div class="property-field">
          <label for="briefingTime">
            {{
              "shift.container-template.properties.briefing-time" | translate
            }}
          </label>
          <app-time-input
            id="briefingTime"
            [value]="propertiesService.getPropertiesBriefingTime()"
            (valueChange)="propertiesService.onPropertiesBriefingTimeChange($event)"
            [showLabel]="false"
            [forDuration]="true"
          ></app-time-input>
        </div>
        <div class="property-field">
          <label for="debriefingTime">
            {{
              "shift.container-template.properties.debriefing-time" | translate
            }}
          </label>
          <app-time-input
            id="debriefingTime"
            [value]="propertiesService.getPropertiesDebriefingTime()"
            (valueChange)="propertiesService.onPropertiesDebriefingTimeChange($event)"
            [showLabel]="false"
            [forDuration]="true"
          ></app-time-input>
        </div>
      </div>
      <div class="row-line-modal-inline1">
        <div class="property-field">
          <label for="travelTimeBefore">
            {{
              "shift.container-template.properties.travel-time-before"
                | translate
            }}
          </label>
          <app-time-input
            id="travelTimeBefore"
            [value]="propertiesService.getPropertiesTravelTimeBefore()"
            (valueChange)="propertiesService.onPropertiesTravelTimeBeforeChange($event)"
            [showLabel]="false"
            [forDuration]="true"
          ></app-time-input>
        </div>
        <div class="property-field">
          <label for="travelTimeAfter">
            {{
              "shift.container-template.properties.travel-time-after"
                | translate
            }}
          </label>
          <app-time-input
            id="travelTimeAfter"
            [value]="propertiesService.getPropertiesTravelTimeAfter()"
            (valueChange)="propertiesService.onPropertiesTravelTimeAfterChange($event)"
            [showLabel]="false"
            [forDuration]="true"
          ></app-time-input>
        </div>
      </div>

      @if (routeService.isTransportModeMix) {
        <div class="transport-mode-group">
          <label>
            {{ "shift.container-template.transport-mode" | translate }}
          </label>
          <div class="transport-mode-buttons">
            <button
              type="button"
              class="transport-mode-btn"
              [class.active]="
                propertiesService.getPropertiesTransportMode() === TransportModeEnum.byCar
              "
              (click)="propertiesService.selectPropertiesTransportMode(TransportModeEnum.byCar)"
              [ngbTooltip]="
                'shift.container-template.transport-mode.by-car' | translate
              "
            >
              <app-icon-by-car></app-icon-by-car>
            </button>
            <button
              type="button"
              class="transport-mode-btn"
              [class.active]="
                propertiesService.getPropertiesTransportMode() === TransportModeEnum.byBicycle
              "
              (click)="
                propertiesService.selectPropertiesTransportMode(TransportModeEnum.byBicycle)
              "
              [ngbTooltip]="
                'shift.container-template.transport-mode.by-bicycle' | translate
              "
            >
              <app-icon-by-bicycle></app-icon-by-bicycle>
            </button>
            <button
              type="button"
              class="transport-mode-btn"
              [class.active]="
                propertiesService.getPropertiesTransportMode() === TransportModeEnum.byFoot
              "
              (click)="propertiesService.selectPropertiesTransportMode(TransportModeEnum.byFoot)"
              [ngbTooltip]="
                'shift.container-template.transport-mode.by-foot' | translate
              "
            >
              <app-icon-by-foot></app-icon-by-foot>
            </button>
          </div>
        </div>
      }
      @if (propertiesService.contextMenuTargetItem.shift?.isTimeRange) {
        <div class="time-range-info-box">
          {{
            "shift.container-template.properties.time-range-info"
              | translate
                : {
                    startShift: formatTime(
                      propertiesService.contextMenuTargetItem.shift?.startShift
                    ),
                    endShift: formatTime(propertiesService.contextMenuTargetItem.shift?.endShift),
                  }
          }}
        </div>
      }
    }
  </div>
  <div class="modal-footer">
    <span
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss()"
      >{{ "cancel" | translate }}</span
    >
    <button type="button" class="btn save-btn" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<!-- Absence Time Modal -->
<ng-template #absenceTimeModal let-modal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ absenceModalTitle }}
    </div>
    <span class="filler"></span>
    <div
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>
  <div class="modal-body first-modal">
    <div class="row-line-modal-inline1">
      <div class="property-field">
        <label>
          {{ "shift.container-template.properties.start-time" | translate }}
        </label>
        <app-time-input
          [value]="absenceStartTime"
          (valueChange)="onAbsenceStartTimeChange($event)"
          [showLabel]="false"
          [forDuration]="false"
        ></app-time-input>
      </div>
      <div class="property-field">
        <label>
          {{ "shift.container-template.properties.end-time" | translate }}
        </label>
        <app-time-input
          [value]="absenceEndTime"
          (valueChange)="onAbsenceEndTimeChange($event)"
          [showLabel]="false"
          [forDuration]="false"
        ></app-time-input>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss()"
      >{{ "cancel" | translate }}</span
    >
    <button type="button" class="btn save-btn" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>
