<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="unfulfillable-wishes-header-container" class="first custom-control-inline">
  <label id="unfulfillable-wishes-header-wish" class="unfulfillable-wishes-header-wish">{{ 'setting.klacksyLearning.wishes.header.wish' | translate }}</label>
  <label id="unfulfillable-wishes-header-count" class="unfulfillable-wishes-header-count">{{ 'setting.klacksyLearning.wishes.header.count' | translate }}</label>
  <label id="unfulfillable-wishes-header-users" class="unfulfillable-wishes-header-users">{{ 'setting.klacksyLearning.wishes.header.users' | translate }}</label>
  <label id="unfulfillable-wishes-header-since" class="unfulfillable-wishes-header-since">{{ 'setting.klacksyLearning.wishes.header.since' | translate }}</label>
</div>
