<app-settings-list-card
  [headline]="translate.instant('setting.macro.headline')"
  [addLabel]="translate.instant('setting.macro.add')"
  [showAddButton]="true"
  [showHeader]="true"
  (addClick)="onClickAdd()"
>
  <app-macro-header header></app-macro-header>

  <div rows>
    @for (c of dataManagementSettingsService.macroList; track c.id || $index; let i = $index) {
      @if (!(c.isDirty === 3)) {
        <app-macro-row
          [id]="'macro-row-' + i"
          [data]="c"
          (isDeleteEvent)="openDeleteMacro(i)"
          (cancelNewEvent)="cancelNewMacro(i)"
          (macroChangedEvent)="onMacroChanged(i)"
        >
        </app-macro-row>
      }
    }
  </div>
</app-settings-list-card>
