<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <div class="container-header">
    {{ translate.instant("setting.macro.headline") }}
  </div>

  <div class="container-line"></div>

  <app-macro-header></app-macro-header>

  <div class="container-box">
    @for (c of dataManagementSettingsService.macroList; track c.id || $index;
    let i = $index) { @if (!(c.isDirty === 3)) {
    <app-macro-row
      [data]="c"
      (isChangingEvent)="onIsChanging($event)"
      (isDeleteEvent)="onClickDelete(i)"
    >
    </app-macro-row>
    } }
  </div>

  <div class="row">
    <span class="add-button" type="button" (click)="onClickAdd()"
      >{{ translate.instant("setting.macro.add") }}
    </span>
  </div>
</form>
