<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #ruleModal id="calendar-rules-modal-template" let-modal role="dialog" class="modal-window">
  <div id="calendar-rules-modal-header" class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title1">
      {{ translate.instant("setting.holiday-rules.create-rules") }}
    </div>
    <span class="filler"></span>

    <div id="calendar-rules-modal-close-btn" type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>

  <div id="calendar-rules-modal-body" class="modal-body first-modal">
    <div id="calendar-rules-modal-tabs-container">
      <ul id="calendar-rules-modal-tabs" class="nav nav-tabs">
        <li id="calendar-rules-modal-tab-form-item" class="nav-item">
          <a
            id="calendar-rules-modal-tab-form-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'form' }"
            (click)="tabId.set('form')"
            >{{ translate.instant("setting.calendar-rule.tab-form") }}</a
          >
        </li>
        <li id="calendar-rules-modal-tab-help-item" class="nav-item">
          <a
            id="calendar-rules-modal-tab-help-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'help' }"
            (click)="tabId.set('help')"
            >{{ translate.instant("setting.calendar-rule.tab-help") }}</a
          >
        </li>
      </ul>
    </div>

    <form id="calendar-rules-modal-form" [ngStyle]="{ display: tabId() === 'form' ? 'block' : 'none' }">
      <div id="calendar-rules-modal-name-row" class="row-line">
        <label for="ruleName">{{
          translate.instant("setting.holiday-rules.name")
        }}</label>
        <input
          id="calendar-rules-modal-name"
          type="text"
          class="form-control"
          [field]="ruleForm.name"
          aria-label="ruleName"
          (blur)="onModalChange()"
        />
      </div>

      <div id="calendar-rules-modal-rule-row" class="row-line">
        <label for="ruleName">{{
          translate.instant("setting.holiday-rules.rule")
        }}</label>
        <input
          id="calendar-rules-modal-rule"
          type="text"
          class="form-control"
          [field]="ruleForm.rule"
          aria-label="rule"
          (blur)="onModalChange()"
        />
      </div>

      <div id="calendar-rules-modal-subrule-row" class="row-line">
        <label for="subRule">{{
          translate.instant("setting.holiday-rules.sub-rule")
        }}</label>
        <input
          id="calendar-rules-modal-subrule"
          type="text"
          class="form-control"
          [field]="ruleForm.subRule"
          aria-label="subRule"
          (blur)="onModalChange()"
        />
      </div>
      <div id="calendar-rules-modal-location-row" class="row-line">
        <div class="single-line">
          <div class="row-line gap">
            <label for="country" class="col-form-label">{{
              translate.instant("setting.holiday-rules.country-modal")
            }}</label>

            <select
              id="calendar-rules-modal-country"
              name="country"
              class="form-select rule-state"
              [ngModel]="currentRule.country"
              aria-label="country"
              (ngModelChange)="onCountryChange($event)"
            >
              @for (country of dataManagementCalendarRulesService.currentFilter.countries; track country) {
              <option [value]="country">
                {{ country }}
              </option>
              }
            </select>
          </div>
          <div class="row-line">
            <label for="state" class="col-form-label">Land/Kanton/Departement</label>

            <select
              id="calendar-rules-modal-state"
              name="state"
              class="form-select rule-state"
              [ngModel]="currentRule.state"
              aria-label="state"
              (ngModelChange)="onStateChange($event)"
            >
              @for (item of getFilteredStates(); track item.id) {
              <option [value]="item.state">
                {{ item.state }}
              </option>
              }
            </select>
          </div>
        </div>
      </div>

      <div id="calendar-rules-modal-checkbox-row" class="single-line">
        <div class="modal-checkbox-container">
          <label class="checkbox-label">
            <input
              id="calendar-rules-modal-is-mandatory"
              type="checkbox"
              [field]="ruleForm.isMandatory"
            />
            {{ translate.instant("setting.holiday-rules.is-holyday") }}
          </label>
        </div>

        <div class="modal-checkbox-container">
          <label class="checkbox-label">
            <input
              id="calendar-rules-modal-is-paid"
              type="checkbox"
              [field]="ruleForm.isPaid"
            />
            {{ translate.instant("setting.holiday-rules.is-paid") }}
          </label>
        </div>
      </div>

      <div class="row-line"></div>
      <div id="calendar-rules-modal-description-row" class="row-line">
        <label for="description">{{
          translate.instant("setting.absence.modal.description")
        }}</label>
        <textarea
          id="calendar-rules-modal-description"
          class="form-control rule-description"
          [field]="ruleForm.description"
          aria-label="description"
          (blur)="onModalChange()"
        ></textarea>
      </div>

      <div id="calendar-rules-modal-result-row" class="row-line">
        <label>Result: </label
        ><label id="calendar-rules-modal-result" class="rule-result"> {{ currentResult }}</label>
      </div>
    </form>

    <div
      id="calendar-rules-modal-help-content"
      class="collapse tab-content-box"
      [ngStyle]="{ display: tabId() === 'help' ? 'block' : 'none' }"
    >
      <div
        id="calendar-rules-modal-manual-content"
        class="manual-content"
        [innerHTML]="manualContent()"
      ></div>
    </div>
  </div>

  <div id="calendar-rules-modal-footer" class="modal-footer">
    <span
      id="calendar-rules-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ translate.instant("cancel") }}</span
    >
    <button
      id="calendar-rules-modal-add-btn"
      type="button"
      class="btn save-btn"
      (click)="modal.close()"
      [disabled]="
        ruleFormModel().name === '' || ruleFormModel().rule === '' || currentRule.country === '' || currentRule.state === ''
      "
    >
      {{ translate.instant("setting.absence.modal.add") }}
    </button>
  </div>
</ng-template>

<form id="calendar-rules-form">
  <div id="calendar-rules-container" class="container-dashboard">
    <div id="calendar-rules-header" class="container-header header-container">
      {{ translate.instant("setting.calendar-rule.title") }}

      <span class="filler"></span>
      <app-calendar-dropdown
        id="calendar-rules-calendar-dropdown"
        (changed)="onChangeFilter()"
      ></app-calendar-dropdown>
      <div
        id="calendar-rules-export-excel-btn"
        class="btn ownStyle-button last-right"
        role="button"
        aria-label="excel"
        (click)="onClickExportExcel()"
      >
        <app-excel-icon></app-excel-icon>
      </div>
    </div>

    <div id="calendar-rules-line" class="container-line"></div>

    <div id="calendar-rules-table-container" class="container-table table-height">
      <table id="calendar-rules-table" class="table table-borderless" #myTable>
        <thead id="calendar-rules-table-head">
          <tr>
            <th
              id="calendar-rules-header-name"
              class="table-header header-name"
              (click)="onClickHeader('name')"
            >
              <div class="table-header-cell form-inline">
                <p class="gap noselect">
                  {{ translate.instant("default.grid.name") }}
                </p>
                <p class="table-header-cell-arrow noselect">{{ sortingService.getArrow('name') }}</p>
              </div>
            </th>
            <th
              id="calendar-rules-header-country"
              class="table-header header-state"
              (click)="onClickHeader('country')"
            >
              <div class="table-header-cell custom-control-inline">
                <p class="gap noselect">
                  {{ translate.instant("setting.holiday-rules.country") }}
                </p>
                <p class="table-header-cell-arrow noselect">
                  {{ sortingService.getArrow('country') }}
                </p>
              </div>
            </th>
            <th
              id="calendar-rules-header-state"
              class="table-header header-state"
              (click)="onClickHeader('state')"
            >
              <div class="table-header-cell custom-control-inline">
                <p class="gap noselect">
                  {{ translate.instant("setting.holiday-rules.states") }}
                </p>
                <p class="table-header-cell-arrow noselect">{{ sortingService.getArrow('state') }}</p>
              </div>
            </th>
            <th
              id="calendar-rules-header-description"
              class="table-header header-description"
              (click)="onClickHeader('description')"
            >
              <div class="table-header-cell custom-control-inline">
                <p class="gap noselect">
                  {{ translate.instant("default.grid.description") }}
                </p>
                <p class="table-header-cell-arrow noselect">
                  {{ sortingService.getArrow('description') }}
                </p>
              </div>
            </th>

            <th id="calendar-rules-header-action" class="table-header action header-action"></th>
          </tr>
        </thead>
        <tbody id="calendar-rules-table-body">
          @for (data of
          dataManagementCalendarRulesService.listWrapper?.calendarRules; track
          data.id; let i = $index) {
          <tr
            [id]="'calendar-rules-row-' + i"
            class="table-row"
            (click)="onClickedRow(data)"
            [class.active]="data.id === highlightRowId"
          >
            <td [id]="'calendar-rules-cell-name-' + i" class="table-cell">{{ data.name | fallback : currentLang }}</td>
            <td [id]="'calendar-rules-cell-country-' + i" class="table-cell cell-center">
              {{ data.country }}
            </td>
            <td [id]="'calendar-rules-cell-state-' + i" class="table-cell cell-center">
              {{ data.state }}
            </td>
            <td [id]="'calendar-rules-cell-description-' + i" class="table-cell">
              {{ data.description | fallback : currentLang }}
            </td>

            <td [id]="'calendar-rules-cell-actions-' + i" class="table-cell cell-right">
              <div>
                <div
                  [id]="'calendar-rules-edit-btn-' + i"
                  class="icon icon-padding"
                  (click)="onEditRule(ruleModal, data)"
                >
                  <app-icon-pencil-icon-grey></app-icon-pencil-icon-grey>
                </div>

                <div
                  [id]="'calendar-rules-copy-btn-' + i"
                  class="icon icon-padding"
                  (click)="onCopyRule(ruleModal, data)"
                >
                  <app-icon-copy-grey></app-icon-copy-grey>
                </div>

                <div [id]="'calendar-rules-delete-btn-' + i" class="icon" (click)="openDeleteRule(data)">
                  <app-icon-trash-red></app-icon-trash-red>
                </div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div id="calendar-rules-footer" class="lastLine">
      <span
        id="calendar-rules-add-btn"
        class="first add-button"
        type="button"
        (click)="createNewRule(ruleModal)"
        >{{ translate.instant("setting.holiday-rules.add-rule") }}
      </span>
      <span class="filler"></span>

      <app-simple-pagination
        id="calendar-rules-pagination"
        [collectionSize]="dataManagementCalendarRulesService.maxItems"
        (pageChange)="onPageChange($event)"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="numberOfItemsPerPage"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        [showSummary]="true"
        summaryLabel="pagination.sum"
      ></app-simple-pagination>
    </div>
  </div>
</form>
