<div id="profile-data-edit-container" class="container-dashboard">
  <div id="profile-data-edit-header" class="container-header">
    {{ "setting.data-edit.header" | translate }}
  </div>

  <div class="container-line"></div>

  <div id="profile-data-edit-form">
    <div class="row-line">
      <div class="form-group firstColumn">
        <label for="profile-data-edit-username">{{
          "setting.data-edit.username" | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          id="profile-data-edit-username"
          [value]="dataManagementProfileService.changePasswordWrapper!.userName"
          readonly
        />
      </div>
    </div>

    <div class="row-line">
      <div class="input-group firstColumn my-password">
        <label for="profile-data-edit-old-password">{{
          "setting.data-edit.current-password" | translate
        }}</label>
        <app-password-input
          [value]="pwForm.oldPassword().value()"
          (valueChange)="pwForm.oldPassword().value.set($event)"
          inputId="profile-data-edit-old-password"
        />
      </div>
    </div>

    <div class="row-line">
      <div class="form-group firstColumn">
        <label for="profile-data-edit-new-password">{{
          "setting.data-edit.new-password" | translate
        }}</label>
        <input
          type="password"
          class="form-control"
          id="profile-data-edit-new-password"
          [formField]="pwForm.newPassword"
          (keyup)="onKeyUp()"
        />
        <span
          id="profile-data-edit-password-strength"
          [class.weak]="!passwordStrengthFlag()"
          [class.strong]="passwordStrengthFlag()"
          >{{ passwordStrength() }}</span
        >
      </div>
    </div>

    <div class="row-line">
      <div class="form-group firstColumn move-on-top">
        <label for="profile-data-edit-new-password-repeat">{{
          "setting.data-edit.new-password-repeat" | translate
        }}</label>
        <input
          type="password"
          class="form-control"
          id="profile-data-edit-new-password-repeat"
          [formField]="pwForm.repeatPassword"
        />
      </div>
    </div>
  </div>
</div>
