<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div id="profile-data-edit-container" class="container-dashboard">
  <div id="profile-data-edit-header" class="container-header">
    {{ "setting.data-edit.header" | translate }}
  </div>

  <div class="container-line"></div>

  <form #clientForm="ngForm" id="profile-data-edit-form" autocomplete="off">
    <div class="row-line">
      <div class="form-group firstColumn">
        <label for="profile-data-edit-username">{{
          "setting.data-edit.username" | translate
        }}</label>
        <input
          type="text"
          AutoCompleteType="Disabled"
          [(ngModel)]="
            dataManagementProfileService.changePasswordWrapper!.userName
          "
          name="userName"
          class="form-control"
          id="profile-data-edit-username"
          readonly
        />
      </div>
    </div>

    <div class="row-line">
      <div class="input-group firstColumn my-password">
        <label for="profile-data-edit-old-password">{{
          "setting.data-edit.current-password" | translate
        }}</label>
        <input
          [type]="showOldPassword ? 'text' : 'password'"
          (change)="onChange()"
          [(ngModel)]="
            dataManagementProfileService.changePasswordWrapper!.oldPassword
          "
          name="oldPassword"
          class="form-control"
          id="profile-data-edit-old-password"
        />
        <span
          id="profile-data-edit-old-password-toggle"
          class="input-group-text"
          (click)="showOldPassword = !showOldPassword"
        >
          <fa-icon
            [icon]="showOldPassword ? faEye : faEyeSlash"
            class="password-icon"
          ></fa-icon>
        </span>
      </div>
    </div>

    <div class="row-line">
      <div class="form-group firstColumn">
        <label for="profile-data-edit-new-password">{{
          "setting.data-edit.new-password" | translate
        }}</label>
        <input
          type="password"
          (change)="onChange()"
          (keyup)="onKeyUp()"
          [(ngModel)]="
            dataManagementProfileService.changePasswordWrapper!.password
          "
          name="newPassword"
          class="form-control"
          id="profile-data-edit-new-password"
        />
        <span
          id="profile-data-edit-password-strength"
          [ngClass]="{
            weak: passwordStrengthFlag === false,
            strong: passwordStrengthFlag === true
          }"
          >{{ passwordStrength }}</span
        >
      </div>
    </div>

    <div class="row-line">
      <div class="form-group firstColumn move-on-top">
        <label for="profile-data-edit-new-password-repeat">{{
          "setting.data-edit.new-password-repeat" | translate
        }}</label>
        <input
          type="password"
          (change)="onChange()"
          (keyup)="onChange()"
          [disabled]="passwordStrengthFlag === false"
          [(ngModel)]="newPassword1"
          name="newPassword1"
          class="form-control"
          id="profile-data-edit-new-password-repeat"
        />
      </div>
    </div>
  </form>
</div>
