@use '../../../../../assets/standard-styles/standard-card-interior.scss';
@use '../../../../../assets/standard-styles/standard-controls.scss';
@use '../../../../../assets/standard-styles/colors.scss';


input {
  width: 300px;
  height: 35px;
 
}

label {
  margin-top: 10px;
  width: 300px;
 
}

.row-line {
  margin-top: 5px;
  display: inline-flex;

}

.row-line-single {
  margin-top: 5px;

}


.firstColumn {
  margin-left: 30px;
}

.secondColumn {
  margin-left: 90px;
}

.account-description {
  width: 300px;
  height: 110px;
  resize: none;

}

.container-bank-box {
  margin-left: 30px;
  display: inline-flex;
  
}

.container-bank-box-focus {
  margin-left: 30px;
  display: inline-flex;
  background-color: #e5eaee ;
 
 
}



.container-bank-value {
  flex-direction: column;
  width: 300px;


}

.container-bank-zip {

  width: 80px;
  margin-right: 30px;

}

.container-bank-city {
  width: 190px;
}
.add-button {
  margin-left: 5px;
  margin-top: 5px;
  color: colors.$standartGreenColor;
  font-weight: 800;
  font-size: 18px;
}

.del-button {
  margin-left: 5px;
  margin-top: 5px;
  color: rosybrown;
  font-weight: 800;
  font-size: 18px;
}