<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="period-cap-rule-header-container" class="first custom-control-inline">
  <label id="period-cap-rule-header-period" style="width: 160px">{{ 'setting.periodCapRule.header.period' | translate }}</label>
  <label id="period-cap-rule-header-scope" style="width: 160px">{{ 'setting.periodCapRule.header.scope' | translate }}</label>
  <label id="period-cap-rule-header-cap-hours" style="width: 100px">{{ 'setting.periodCapRule.header.capHours' | translate }}</label>
  <label id="period-cap-rule-header-rolling" style="width: 160px">{{ 'setting.periodCapRule.header.rolling' | translate }}</label>
</div>
