@use "../../../../../assets/standard-styles/standard-manual.scss";
@use "../../../../../assets/standard-styles/colors.scss";

#klacksyTrainingManual {
  padding-inline: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}
