<div class="container-dashboard" id="edit-shift-home-container" data-klacksy-target="shift-form">
  <div class="container-headline" id="edit-shift-headline">
    {{ "shift.edit-shift.home.header" | translate }}
  </div>

  <div class="container-profilline">
    <app-edit-shift-item
      (isChangingEvent)="onIsChanging($event)"
      (isChangingMode)="onIsChangingMode()"
      [isReadOnly]="isReadOnly"
      class="container-profile first border-right-card border-bottom-card"
    ></app-edit-shift-item>
  </div>

  @if (dataManagementGroupService.hasRootGroups()) {
    <div class="container-profilline">
      <app-edit-shift-group
        (isChangingEvent)="onIsChanging($event)"
        [isReadOnly]="isReadOnly"
        class="container-profile first border-right-card border-bottom-card"
      >
      </app-edit-shift-group>
    </div>
  }

  <div class="container-profilline">
    <app-shift-qualifications
      [isReadOnly]="isReadOnly"
      class="container-profile first border-right-card border-bottom-card"
    ></app-shift-qualifications>
  </div>

  <div class="container-profilline">
    <app-edit-shift-weekday
      (isChangingEvent)="onIsChanging($event)"
      [isComplex]="isComplex"
      [isReadOnly]="isReadOnly"
      class="container-profile first border-right-card border-bottom-card"
    >
    </app-edit-shift-weekday>
  </div>

  <div class="container-profilline">
    @if (isComplex) {
      <app-edit-shift-macro
        (isChangingEvent)="onIsChanging($event)"
        [isReadOnly]="isReadOnly"
        class="container-profile first border-right-card border-bottom-card"
      ></app-edit-shift-macro>
    }
  </div>

  @if (!isContainer) {
    <div class="container-profilline">
      <app-edit-shift-address
        (isChangingEvent)="onIsChanging($event)"
        [isReadOnly]="isReadOnly"
        class="container-profile first border-right-card border-bottom-card"
      >
      </app-edit-shift-address>
    </div>
  }

  <div class="container-profilline">
    @if (isComplex || isContainer) {
      <app-edit-shift-special-feature
        (isChangingEvent)="onIsChanging($event)"
        [isReadOnly]="isReadOnly"
        class="container-profile first border-right-card border-bottom-card"
      >
      </app-edit-shift-special-feature>
    }
  </div>

  @if (!isContainer && isComplex) {
    <div class="container-profilline">
      <app-edit-shift-expenses
        (isChangingEvent)="onIsChanging($event)"
        [isReadOnly]="isReadOnly"
        class="container-profile first border-right-card border-bottom-card"
      >
      </app-edit-shift-expenses>
    </div>
  }

  @if (isNavVisible) {
    <div class="container-address-nav border-right-card border-bottom-card">
      <app-edit-shift-nav></app-edit-shift-nav>
    </div>
  }
</div>
<div class="bottom-border-space"></div>
