<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container-dashboard">
  <div class="container-header">
    {{ translate.instant("setting.bank.headline") }}
  </div>

  <div class="container-line"></div>

  <div class="container-box">
    <div
      *ngFor="
        let c of dataManagementSettingsService.bankDetailList!;
        index as i
      "
    >
      <div class="container-line" *ngIf="i >= 1"></div>

      <app-bank-accounts-row
        [bankDetail
        as
        Bankdetail]="c"
        *ngIf="c.isDirty !== 3"
        [position]="i"
        [isFocusIndex]="dataManagementSettingsService.isBankDetailRowFocusIndex"
        (click)="onFocus(i)"
        (isChangingEvent)="onIsChanging($event)"
      ></app-bank-accounts-row>
    </div>
  </div>

  <p></p>
  <p></p>

  <div class="row">
    <div class="filler"></div>
    <span
      class="delete-button"
      type="button"
      (click)="onDelete()"
      *ngIf="
        dataManagementSettingsService.isBankDetailRowFocusIndex !== -1 &&
        dataManagementSettingsService.bankDetailList!.length > 1
      "
      >-
      {{ translate.instant("setting.bank.delete") }}
    </span>
    <span class="add-button first" type="button" (click)="onAdd()"
      >+ Bankverbindung hinzufügen
    </span>
  </div>

  <p></p>
  <p></p>
  <p></p>
</div>
