<app-settings-list-card
  [headline]="translate.instant('settings.identity-provider.headline')"
  [addLabel]="translate.instant('settings.identity-provider.add')"
  [showAddButton]="true"
  [showHeader]="true"
  [idPrefix]="'identity-provider'"
  (addClick)="onClickAdd()"
>
  <app-identity-provider-header header></app-identity-provider-header>

  <div rows>
    @for (provider of providerService.providerList(); track provider.id; let i = $index) {
      <app-identity-provider-row
        [id]="'identity-provider-row-' + i"
        [data]="provider"
        (isDeleteEvent)="openDeleteProvider(i)"
        (cancelNewEvent)="cancelNewProvider(i)"
        (providerChangedEvent)="onProviderChanged(i)"
      >
      </app-identity-provider-row>
    }
  </div>
</app-settings-list-card>
