<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="availability-header">
  <div class="header-left">
    <button
      class="btn btn-sm btn-nav"
      (click)="goToPrevious()"
      aria-label="previous period"
    >
      <app-icon-angle-left />
    </button>
    <div ngbDropdown #dropdownSetting="ngbDropdown">
      <button
        class="btn btn-sm calendar-setting"
        id="dropdownSetting"
        ngbDropdownToggle
        aria-label="calendar settings"
        placement="right"
        [ngbTooltip]="'schedule.selector.select-calendar' | translate"
        autoClose="true"
      >
        <span>{{ displayPeriod }} {{ displayYear }}</span>
      </button>
      <div ngbDropdownMenu>
        @switch (viewMode) {
          @case (PaymentInterval.Weekly) {
            <app-period-calendar-weekly
              [year]="currentYear"
              [week]="currentWeek"
              (periodChanged)="onCalendarReset($event)"
            ></app-period-calendar-weekly>
          }
          @case (PaymentInterval.Biweekly) {
            <app-period-calendar-biweekly
              [year]="currentYear"
              [week]="currentWeek"
              (periodChanged)="onCalendarReset($event)"
            ></app-period-calendar-biweekly>
          }
          @default {
            <app-period-calendar-monthly
              [year]="currentYear"
              [month]="currentMonth"
              (periodChanged)="onCalendarReset($event)"
            ></app-period-calendar-monthly>
          }
        }
      </div>
    </div>
    <button
      class="btn btn-sm btn-nav"
      (click)="goToNext()"
      aria-label="next period"
    >
      <app-icon-angle-right />
    </button>
  </div>

  <div class="header-right">
    <div class="grouping-slider">
      <ngx-slider [(value)]="hourGrouping" [options]="groupingOptions"></ngx-slider>
    </div>

  </div>
</div>
