<div class="availability-header">
  <div class="header-left">
    <button
      class="btn btn-sm btn-nav"
      (click)="goToPrevious()"
      aria-label="previous period"
    >
      @if (isRtl) {
        <app-icon-angle-right />
      } @else {
        <app-icon-angle-left />
      }
    </button>
    <div ngbDropdown #dropdownSetting="ngbDropdown">
      <button
        class="btn btn-sm calendar-setting"
        id="dropdownSetting"
        ngbDropdownToggle
        aria-label="calendar settings"
      >
        <span>{{ displayPeriod }} {{ displayYear }}</span>
      </button>
      <div ngbDropdownMenu>
        @switch (viewMode()) {
          @case (PaymentInterval.Weekly) {
            <app-period-calendar-weekly
              [year]="currentYear"
              [week]="currentWeek"
              (periodChanged)="onCalendarReset($event)"
            ></app-period-calendar-weekly>
          }
          @case (PaymentInterval.Biweekly) {
            <app-period-calendar-biweekly
              [year]="currentYear"
              [week]="currentWeek"
              (periodChanged)="onCalendarReset($event)"
            ></app-period-calendar-biweekly>
          }
          @default {
            <app-period-calendar-monthly
              [year]="currentYear"
              [month]="currentMonth"
              (periodChanged)="onCalendarReset($event)"
            ></app-period-calendar-monthly>
          }
        }
      </div>
    </div>
    <button
      class="btn btn-sm btn-nav"
      (click)="goToNext()"
      aria-label="next period"
    >
      @if (isRtl) {
        <app-icon-angle-left />
      } @else {
        <app-icon-angle-right />
      }
    </button>
  </div>

  <div class="header-right">
    <div class="grouping-slider">
      <ngx-slider [value]="hourGrouping" [options]="groupingOptions()" [manualRefresh]="sliderRefresh" (userChangeEnd)="onGroupingChanged($event)"></ngx-slider>
    </div>

  </div>
</div>
