<div class="pagination justify-content-end">
  @if (showRowSelector && visibleRow) {
  <div>
    <label for="selection" class="entry-row">{{
      translate.instant("pagination.line")
    }}</label>
    <select
      id="selection"
      class="maxSize-selection"
      [(ngModel)]="realRow"
      (change)="onChangeRowSize($event)"
    >
      @for (c of visibleRow; track c.value) {
      <option [value]="c.value" [selected]="c.value === realRow">
        {{ c.text }}
      </option>
      }
    </select>
  </div>
  }

  <label for="pagination" class="entry-info"
    >{{ translate.instant("pagination.sum") }} {{ dataService.maxItems }}</label
  >

  <ngb-pagination
    id="pagination"
    [collectionSize]="dataService.maxItems"
    (pageChange)="onPageChange($event)"
    [(page)]="page"
    [maxSize]="maxSize"
    [pageSize]="numberOfItemsPerPage"
    [rotate]="rotate"
    [ellipses]="ellipses"
    [boundaryLinks]="boundaryLinks"
  ></ngb-pagination>
</div>
