<div id="profile-custom-setting-container" class="container-dashboard">
  <div id="profile-custom-setting-header" class="container-header">
    {{ "setting.profile-custom.header" | translate }}
  </div>

  <div class="container-line"></div>

  <div id="profile-custom-setting-content" class="custom-container">
    <div id="profile-custom-setting-theme-wrapper" class="language-select">
      <label for="profile-custom-setting-theme-select">
        {{ "setting.profile-custom.theme" | translate }}
      </label>
      <span class="filler"></span>
      <select
        class="form-select lang-select"
        id="profile-custom-setting-theme-select"
        (change)="onThemeChanged($event)"
      >
        @for (theme of themes; track theme.value) {
          <option [value]="theme.value" [selected]="theme.value === selectedTheme()">
            {{ theme.label }}
          </option>
        }
      </select>
    </div>

    <div id="profile-custom-setting-language-wrapper" class="language-select">
      <label for="profile-custom-setting-language-select">
        {{ "header.selected-language" | translate }}</label
      >
      <span class="filler"></span>
      <select
        class="form-select lang-select"
        id="profile-custom-setting-language-select"
        (change)="onChangeLanguage($any($event.target).value)"
      >
        @for (language of languages; track language) {
          <option [value]="language" [selected]="language === selectedLanguage()">
            {{ getDisplayName(language) }}
          </option>
        }
      </select>
    </div>
  </div>

  <div class="bottom-border-space"></div>
</div>
