<div
  #filterEl
  id="schedule-row-header-filter"
  class="schedule-filter-windows"
  [ngStyle]="filterStyle"
  (mouseleave)="onFilterMouseLeave()"
>
  <app-client-filter
    [filter]="dataManagementSchedule.workFilter"
    (filterChange)="onFilterChange()"
  ></app-client-filter>
</div>

<div #box id="box" class="box" appResize (resizeElement)="onResize($event)">
  <canvas
    id="scheduleRowCanvas"
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onCanvasMouseLeave()"
    (click)="onCanvasClick($event)"
    (contextmenu)="onRightClick($event)"
  ></canvas>
  <div style="position:absolute;top:0;left:0;z-index:9999;background:yellow;color:red;font-size:11px;pointer-events:none;padding:2px">
    DBG:{{ sortedClients.length }}
  </div>
  <div class="drag-overlay"
       cdkDropList
       [cdkDropListData]="sortedClients"
       (cdkDropListDropped)="onClientDrop($event)"
       [style.top.px]="settings.cellHeaderHeight"
       [style.transform]="'translateY(-' + scrollOffsetPx + 'px)'">
    @for (client of sortedClients; track client.id) {
      <div class="drag-row"
           cdkDrag
           [style.height.px]="settings.getGroupLineHeight(client.displayRows)">
        <i class="fa fa-grip-vertical drag-handle" cdkDragHandle></i>
        <div *cdkDragPlaceholder
             class="drag-placeholder"
             [style.height.px]="settings.getGroupLineHeight(client.displayRows)">
        </div>
      </div>
    }
  </div>
</div>

<app-context-menu #contextMenu></app-context-menu>
<app-shift-preferences-dialog></app-shift-preferences-dialog>
