<div
  #filterEl
  id="schedule-row-header-filter"
  class="schedule-filter-windows"
  [ngStyle]="filterStyle"
  (mouseleave)="onFilterMouseLeave()"
>
  <app-client-filter
    [filter]="dataManagementSchedule.workFilter"
    (filterChange)="onFilterChange()"
  ></app-client-filter>
</div>

<div #box id="box" class="box" tabindex="-1" role="application" appResize (resizeElement)="onResize($event)"
     (mousemove)="onMouseMove($event)"
     (mouseleave)="onCanvasMouseLeave()"
     (click)="onCanvasClick($event)"
     (keydown.enter)="onCanvasClick($any($event))"
     (contextmenu)="onRightClick($event)">
  <canvas id="scheduleRowCanvas"></canvas>
  <div #dragClip class="drag-clip" cdkScrollable [style.top.px]="settings.cellHeaderHeight">
  <div class="drag-overlay"
       cdkDropList
       [cdkDropListData]="sortedClients"
       (cdkDropListDropped)="onClientDrop($event)">
    @for (client of sortedClients; track client.id) {
      <div class="drag-row"
           cdkDrag
           cdkDragLockAxis="y"
           (cdkDragMoved)="onDragMoved($event)"
           (cdkDragEnded)="onDragEnded()"
           [style.height.px]="settings.getGroupLineHeight(client.displayRows)">
        <div class="drag-handle" cdkDragHandle
             (mousedown)="preparePreview(client)"></div>
        <ng-template cdkDragPreview>
          <img class="drag-row-preview"
               [src]="dragPreviewDataUrl"
               alt="">
        </ng-template>
        <div *cdkDragPlaceholder
             class="drag-placeholder"
             [style.height.px]="settings.getGroupLineHeight(client.displayRows)">
        </div>
      </div>
    }
  </div>
  </div>
</div>

<app-context-menu #contextMenu></app-context-menu>
<app-shift-preferences-dialog></app-shift-preferences-dialog>
