<form>
  <div class="container-header">
    {{ translate.instant("setting.color-table.headline") }}
  </div>

  <div class="container-line"></div>

  @if (gridColorService.settingList && gridColorService.settingList.length > 0)
  {
  <app-grid-color-header> </app-grid-color-header>
  }
  <div class="container-box">
    @for (c of gridColorService.settingList; track c.id || $index; let i =
    $index) {
    <app-grid-color-row [data]="c" (isChangingEvent)="onIsChanging($event)">
    </app-grid-color-row>
    }
  </div>

  <div class="row"></div>
</form>
