<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form #specialFeatureShiftForm="ngForm" class="container-card">
  <div class="container-header header-container">
    <div>
      {{ "shift.edit-shift.special-feature.header" | translate }}
    </div>

    <span class="filler"></span>

    <div class="expand-button" (click)="onClickVisibleTable()">
      @if (visibleTable === 'inline') {
      <app-icon-angle-down></app-icon-angle-down>
      } @if (visibleTable === 'none') {
      <app-icon-angle-right></app-icon-angle-right>
      }
    </div>
  </div>

  <div class="container-line"></div>
  <div class="container-bank-box" [ngStyle]="{ display: visibleTable }">
    @if (dataManagementShiftService.editShift !== undefined) {
    <div class="container-bank-box">
      <!-- Linke Spalte -->

      <div class="firstColumContainer firstColumn">
        <!-- Sporadic -->
        <div class="row-line2">
          <div class="form-group">
            <label class="checkbox-label" for="isSporadic">
              <input
                type="checkbox"
                [(ngModel)]="dataManagementShiftService.editShift.isSporadic"
                id="isSporadic"
                name="isSporadic"
                (input)="onStatusChange()"
                [disabled]="isFieldsDisabled"
              />
              {{ "shift.edit-shift.weekday.is-sporadic" | translate }}
            </label>
          </div>
        </div>
        @if (!isContainer) {
        <app-time-input
          [label]="'shift.edit-shift.special-feature.briefing' | translate"
          [(value)]="shiftFormService.shiftForm()!.internalBriefingTime"
          [disabled]="isFieldsDisabled"
          hoursId="briefing"
          [forDuration]="true"
          labelAlign="left"
        ></app-time-input>
        }

        @if (!isContainer) {
        <app-time-input
          [label]="'shift.edit-shift.special-feature.travel-time-before' | translate"
          [(value)]="shiftFormService.shiftForm()!.internalTravelTimeBefore"
          [disabled]="isFieldsDisabled"
          hoursId="travel-time-before"
          [forDuration]="true"
          labelAlign="left"
        ></app-time-input>
        }

        <!-- Anzahl Mitarbeiter pro Schicht -->
        @if (!isContainer) {
        <div class="field-group">
          <label class="field-label">
            {{
              "shift.edit-shift.special-feature.sum-employees" | translate
            }}</label
          >
          <div class="number-input-container">
            <input
              [(ngModel)]="dataManagementShiftService.editShift.sumEmployees"
              (input)="onNumberChange()"
              class="form-control number-with"
              [class.is-invalid]="isSumEmployeesValid === false"
              type="number"
              value="1"
              min="1"
              max="100"
              id="sumEmployees"
              name="sumEmployees"
              [disabled]="isFieldsDisabled"
            />
          </div>
        </div>
        }
      </div>

      <!-- Rechte Spalte -->
      <div class="secondColumnContainer">
        <!-- Sporadic -->
        <div class="row-line1">
          <div class="form-group">
            @if (dataManagementShiftService.editShift.isSporadic) {
            <select
              class="form-select sporadic-scope"
              [(ngModel)]="dataManagementShiftService.editShift.sporadicScope"
              name="sporadicScope"
              aria-label="sporadic type"
              (input)="onStatusChange()"
              [disabled]="isFieldsDisabled"
            >
              <option [ngValue]="0" [selected]="sporadicType === 0">
                {{ onSporadicTypeName(0) }}
              </option>
              <option [ngValue]="1" [selected]="sporadicType === 1">
                {{ onSporadicTypeName(1) }}
              </option>
              <option [ngValue]="2" [selected]="sporadicType === 2">
                {{ onSporadicTypeName(2) }}
              </option>
              <option [ngValue]="3" [selected]="sporadicType === 3">
                {{ onSporadicTypeName(3) }}
              </option>
              <option [ngValue]="4" [selected]="sporadicType === 4">
                {{ onSporadicTypeName(4) }}
              </option>
              <option [ngValue]="5" [selected]="sporadicType === 5">
                {{ onSporadicTypeName(5) }}
              </option>
            </select>
            } @else {
            <div class="empty-group"></div>
            }
          </div>
        </div>
        @if (!isContainer) {
        <app-time-input
          [label]="'shift.edit-shift.special-feature.debriefing' | translate"
          [(value)]="shiftFormService.shiftForm()!.internalDebriefingTime"
          [disabled]="isFieldsDisabled"
          hoursId="debriefing"
          [forDuration]="true"
          labelAlign="left"
        ></app-time-input>
        }

        @if (!isContainer) {
        <app-time-input
          [label]="'shift.edit-shift.special-feature.travel-time-after' | translate"
          [(value)]="shiftFormService.shiftForm()!.internalTravelTimeAfter"
          [disabled]="isFieldsDisabled"
          hoursId="travel-time-after"
          [forDuration]="true"
          labelAlign="left"
        ></app-time-input>
        }
        <!-- Anzahl Aufgabe pro Schicht -->
        @if (!isContainer) {
        <div class="field-group">
          <label class="field-label">
            {{
              "shift.edit-shift.special-feature.sum-quantity" | translate
            }}</label
          >
          <div class="number-input-container">
            <input
              [(ngModel)]="dataManagementShiftService.editShift.quantity"
              (input)="onNumberChange()"
              class="form-control number-with"
              [class.is-invalid]="isQuantityValid === false"
              type="number"
              value="1"
              min="1"
              max="100"
              id="sumQuantity"
              name="sumQuantity"
              [disabled]="isFieldsDisabled"
            />
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="bottom-border-space"></div>
</form>
