<form #membershipForm="ngForm" class="container-card">
  <div class="container-header">
    {{ "address.edit-address.membership.header" | translate }}
  </div>

  <div class="container-line"></div>

  <div
    class="container-bank-box"
    *ngIf="dataManagementClientService.editClient !== undefined"
  >
    <div class="container-bank-value">
      <div class="row-line"></div>
    </div>

    <div class="container-bank-value secondColumn">
      <div class="row-line">
        <div class="form-group medium-width">
          <label for="membership-entry-date">{{
            "address.edit-address.membership.entry-date" | translate
          }}</label>
          <div class="input-group medium-width">
            <input
              class="form-control"
              name="validFrom"
              [disabled]="isDisabled()"
              aria-labelledby="valid from"
              id="membership-entry-date"
              [ngModel]="
                dataManagementClientService.editClient!.membership!
                  .internalValidFrom
              "
              (ngModelChange)="
                dataManagementClientService.editClient!.membership!.internalValidFrom =
                  $event
              "
              ngbDatepicker
              #validFrom="ngbDatepicker"
            />
            <span
              class="input-group-text"
              style="width: 40px"
              (click)="validFrom.toggle()"
            >
              <fa-icon
                [icon]="faCalendar"
                [style]="{ 'font-size': '16px', color: '#464e5f' }"
              ></fa-icon>
            </span>
          </div>
        </div>
      </div>

      <div class="row-line">
        <div class="form-group medium-width">
          <label for="membership-until-date">{{
            "address.edit-address.membership.until-date" | translate
          }}</label>
          <div class="input-group flex-nowrap medium-width">
            <input
              class="form-control"
              name="validUntil"
              [disabled]="isDisabled()"
              aria-label="membership-until-date"
              aria-labelledby="validUntil"
              id="membership-until-date"
              [ngModel]="
                dataManagementClientService.editClient!.membership!
                  .internalValidUntil
              "
              (ngModelChange)="
                dataManagementClientService.editClient!.membership!.internalValidUntil =
                  $event
              "
              ngbDatepicker
              #validUntil="ngbDatepicker"
            />

            <span
              class="input-group-text"
              style="width: 40px"
              (click)="validUntil.toggle()"
            >
              <fa-icon
                [icon]="faCalendar"
                [style]="{ 'font-size': '16px', color: '#464e5f' }"
              ></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 30px"></div>
</form>
