@use "../../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../../assets/standard-styles/modal-buttons.scss";

.form-group {
  &.time-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
