@use 'sass:color';
@use '../../../../../assets/standard-styles/standard-grid.scss';
@use '../../../../../assets/standard-styles/standard-card-interior.scss';
@use '../../../../../assets/standard-styles/standard-controls.scss';
@use '../../../../../assets/standard-styles/standard-modal.scss';
@use '../../../../../assets/standard-styles/settings-list-card-modal.scss';

.icon {
  cursor: pointer;
}

.add-row {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}

.add-button {
  font-size: var(--fontSizeLabel);
  text-decoration: underline;
  color: var(--accentColor);
  cursor: pointer;

  &:hover {
    color: var(--accentDarkColor);
  }
}
