<div class="container-search form-group">
  <div class="input-group">
    <input
      type="search"
      class="form-control"
      [id]="inputId || null"
      [attr.data-klacksy-target]="klacksyTarget || null"
      [placeholder]="translatedPlaceholder"
      [disabled]="disabled"
      [ngModel]="value"
      (ngModelChange)="onModelChange($event)"
      (keydown.enter)="onSubmit()"
    />

    @if (showButton) {
      <button
        type="button"
        [id]="buttonId"
        [attr.data-klacksy-target]="klacksySubmitTarget"
        class="btn btn-outline-secondary container-search-button input-group-text"
        [class.container-search-button-disabled]="disabled || buttonDisabled || isLoading"
        [disabled]="disabled || buttonDisabled || isLoading"
        (click)="onSubmit()"
      >
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    }
  </div>
</div>
