<table style="width: 100%">
  <thead>
    <tr>
      <th class="table-header-border col-index cell-center" rowspan="2">
        {{
          "list.all-list.all-shift-list.table.Abbreviation" | translate
        }}
      </th>
      <th class="table-header-border" colspan="2">
        {{ "list.all-list.all-shift-list.table.name" | translate }}
      </th>
      <th class="table-header-border" colspan="5">
        {{
          "list.all-list.all-shift-list.table.description" | translate
        }}
      </th>
      <th class="table-header-border cell-center" colspan="2">
        {{ "list.all-list.all-shift-list.table.from" | translate }}
      </th>
      <th class="table-header-border cell-center" colspan="2">
        {{ "list.all-list.all-shift-list.table.until" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "shift.cut-shift.list.table.staff" | translate }}
      </th>
    </tr>
    <tr>
      <th class="col-time table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.start" | translate }}
      </th>
      <th class="col-time table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.end" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.mon" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.tue" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.wed" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.thu" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.Fry" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.sam" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.son" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.f" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "list.all-list.all-shift-list.table.plus-f" | translate }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ "shift.cut-shift.list.table.quantity" | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of shifts(); track data.id; let i = $index) {
    <tr
      (click)="onClickRow(data)"
      (mouseenter)="onMouseEnter(data)"
      (mouseleave)="onMouseLeave()"
      [class.hover-row]="data.id === hoveredRowId"
      [class.selected-row]="data.id === selectedRowId"
    >
      <td rowspan="2" class="table-cell-small-border cell-center editable-cell"
          (click)="onCellClick($event, data, 'abbreviation')"
          [class.selected-editable]="selectedRowId === data.id">
        @if (isEditing(data.id!, 'abbreviation')) {
          <input
            type="text"
            [(ngModel)]="editingValue"
            (keydown)="onInputKeyDown($event, data, 'abbreviation')"
            (blur)="onInputBlur(data, 'abbreviation')"
            class="editing-input"
          />
        } @else {
          <span>{{ data.abbreviation }}</span>
        }
      </td>
      <td colspan="2" class="table-cell-small-border editable-cell"
          (click)="onCellClick($event, data, 'name')"
          [class.selected-editable]="selectedRowId === data.id">
        @if (isEditing(data.id!, 'name')) {
          <input
            type="text"
            [(ngModel)]="editingValue"
            (keydown)="onInputKeyDown($event, data, 'name')"
            (blur)="onInputBlur(data, 'name')"
            class="editing-input"
          />
        } @else {
          <p>{{ data.name }}</p>
        }
      </td>

      <td colspan="5" class="table-cell-small-border editable-cell"
          (click)="onCellClick($event, data, 'description')"
          [class.selected-editable]="selectedRowId === data.id">
        @if (isEditing(data.id!, 'description')) {
          <input
            type="text"
            [(ngModel)]="editingValue"
            (keydown)="onInputKeyDown($event, data, 'description')"
            (blur)="onInputBlur(data, 'description')"
            class="editing-input"
          />
        } @else {
          <p>{{ getPlainTextDescription(data) }}</p>
        }
      </td>

      <td colspan="2" class="table-cell-small-border">
        <p>{{ data.fromDate | date : "dd.MM.yyyy" }}</p>
      </td>

      <td colspan="2" class="table-cell-small-border">
        @if (data.untilDate) {
        <p>
          {{ data.untilDate | date : "dd.MM.yyyy" }}
        </p>
        }
      </td>
      
      <td class="table-cell-small-border cell-center">
        <p>{{ data.sumEmployees || 0 }}</p>
      </td>
    </tr>

    <tr
      (click)="onClickRow(data)"
      (mouseenter)="onMouseEnter(data)"
      (mouseleave)="onMouseLeave()"
      [class.hover-row]="data.id === hoveredRowId"
      [class.selected-row]="data.id === selectedRowId"
    >
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>{{ formatTime(data.startShift) || "00:00" }}</p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>{{ formatTime(data.endShift) || "23:59" }}</p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isMonday"
            class="checkbox"
            aria-label="Monday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isTuesday"
            class="checkbox"
            aria-label="Tuesday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isWednesday"
            class="checkbox"
            aria-label="Wednesday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isThursday"
            class="checkbox"
            aria-label="Thursday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isFriday"
            class="checkbox"
            aria-label="Friday"
            disabled
          />
        </p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isSaturday"
            class="checkbox"
            aria-label="Saturday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isSunday"
            class="checkbox"
            aria-label="Sunday"
            disabled
          />
        </p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isHoliday"
            class="checkbox"
            aria-label="Holiday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isWeekdayAndHoliday"
            class="checkbox"
            aria-label="WeekdayAndHoliday"
            disabled
          />
        </p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>{{ data.quantity || 0 }}</p>
      </td>
    </tr>
    }
  </tbody>
</table>