<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form id="branches-row-form-{{ data.id }}">
  <div
    id="branches-row-container-{{ data.id }}"
    class="first custom-control-inline"
  >
    <div class="form-group">
      <input
        id="branches-row-name-{{ data.id }}"
        type="text"
        [value]="data.name"
        name="branchName"
        class="form-control attribute-name"
        aria-label="branch name"
        (click)="onClickEdit()"
        readonly
      />
    </div>

    <span
      id="branches-row-delete-{{ data.id }}"
      class="delete-button"
      type="button"
      (click)="onClickDelete()"
      ><app-icon-trash-red /></span
    >
  </div>
</form>
