@use "./../assets/standard-styles/colors.scss" as colors;

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

#appRoot {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100vh;
  background-color: var(--backgroundColorHeaderNav);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  
  &.visible {
    transform: translateX(0);
  }
}

app-toasts {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}
