<div
  #filterEl
  class="gantt-filter-windows"
  [ngStyle]="filterStyle"
  (mouseleave)="onMouseLeave()"
>
  <app-client-filter
    [filter]="filterService.clientFilter"
    (filterChange)="onFilterChange()"
  ></app-client-filter>
</div>

<div class="row-header-container" appResize (resizeElement)="onResize($event)">
  <canvas
    id="availability-row-header-canvas"
    (mousemove)="onMouseMove($event)"
    (click)="onClick($event)"
    (contextmenu)="onRightClick($event)"
  ></canvas>
</div>

<app-context-menu #contextMenu></app-context-menu>
