<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div
  class="time-input-container"
  [style.align-items]="
    labelAlign === 'center'
      ? 'center'
      : labelAlign === 'right'
      ? 'flex-end'
      : 'flex-start'
  "
>
  @if (showLabel && label) {
  <label [for]="hoursId" [style.text-align]="labelAlign">{{ label }}</label>
  }
  <div class="row-line-inline-simple">
    <input
      [value]="value.hours"
      [id]="hoursId"
      [name]="hoursName || 'hours'"
      (input)="onHoursInputChange($event)"
      (keyup)="onInputKeyUp($event)"
      [disabled]="disabled"
      class="form-control time-hour hours"
      type="text"
      [attr.maxlength]="hoursMaxLength"
      [placeholder]="hoursPlaceholder"
    />
    <label class="delimiter-time">:</label>
    <input
      [value]="value.minutes"
      [name]="minutesName || 'minutes'"
      (input)="onMinutesInputChange($event)"
      (keyup)="onInputKeyUp($event)"
      [disabled]="disabled"
      class="form-control time-minute minutes"
      type="text"
      [placeholder]="minutesPlaceholder"
    />
  </div>
</div>
