<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<form id="allAddressForm">
  <div class="container-header header-container">
    {{ translate.instant("address.all-address.all-address-list.header") }}

    <span class="filler"></span>

    @if (authorizationService.isAdmin) {
    <div class="tree-actions">
      <button
        id="new-address-button"
        class="btn new-btn"
        (click)="onAddAddress()"
        tabindex="0"
      >
        {{ "new-address" | translate }}
      </button>
    </div>
    } @if (!(dataManagementClientService.headerCheckBoxValue() ||
    checkBoxIndeterminate)) {
    <div>
      <button
        class="btn ownStyle-button-disabled"
        role="button"
        aria-label="excel"
      >
        <app-excel-icon></app-excel-icon>
      </button>
    </div>
    } @if (dataManagementClientService.headerCheckBoxValue() ||
    checkBoxIndeterminate) {
    <div>
      <div
        tabindex="0"
        class="btn ownStyle-button"
        role="button"
        data-bs-toggle="dropdown"
        aria-label="excel"
        (click)="onClickExportExcel(0)"
      >
        <app-excel-icon></app-excel-icon>
      </div>
    </div>
    }
  </div>

  <div class="container-subline">
    {{ dataManagementClientService.subTitleLastChangesAllAddress() }}
  </div>

  <div class="container-line"></div>

  <div class="container-table">
    <table
      class="table table-borderless"
      (blur)="onLostFocus()"
      #myAddressTable
      id="myAddressTable"
      appResizeTable
      #resizeDirective="resizeTable"
      [defaultItemsPerPage]="
        dataManagementClientService.currentFilter.numberOfItemsPerPage
      "
      [maxItems]="
        dataManagementClientService.paginationDataService()?.maxItems || 0
      "
      [currentPage]="page"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (recalculateRequired)="onRecalculateRequired($event)"
    >
      <thead>
        <tr>
          <th class="table-header" style="width: 40px; max-width: 40px">
            <input
              type="checkbox"
              [(ngModel)]="headerCheckBoxValue"
              (change)="onChangeHeaderCheckBox()"
              [indeterminate]="checkBoxIndeterminate"
              name="headerCheckBoxValue"
              class="checkbox"
              aria-label="checkbox"
            />
          </th>

          <th class="table-header" style="width: 20px; max-width: 20px"></th>

          <th
            class="table-header"
            (click)="onClickHeader('idNumber')"
            style="width: 90px; max-width: 90px; min-width: 90px"
          >
            <div class="table-header-cell form-inline">
              <p class="gap noselect">
                {{
                  translate.instant(
                    "address.all-address.all-address-list.table.nr"
                  )
                }}
              </p>
              <p class="table-header-cell-arrow noselect">
                {{ sortingService.getArrow("idNumber") }}
              </p>
            </div>
          </th>
          <th
            class="table-header"
            (click)="onClickHeader('company')"
            style="width: 160px"
          >
            <div class="table-header-cell custom-control-inline">
              <p class="gap noselect">
                {{
                  translate.instant(
                    "address.all-address.all-address-list.table.company"
                  )
                }}
              </p>
              <p class="table-header-cell-arrow noselect">
                {{ sortingService.getArrow("company") }}
              </p>
            </div>
          </th>
          <th
            class="table-header"
            (click)="onClickHeader('firstName')"
            style="width: 160px"
          >
            <div class="table-header-cell custom-control-inline">
              <p class="gap noselect">
                {{
                  translate.instant(
                    "address.all-address.all-address-list.table.firstname"
                  )
                }}
              </p>
              <p class="table-header-cell-arrow noselect">
                {{ sortingService.getArrow("firstName") }}
              </p>
            </div>
          </th>
          <th
            class="table-header"
            (click)="onClickHeader('name')"
            style="width: 160px"
          >
            <div class="table-header-cell custom-control-inline">
              <p class="gap noselect">
                {{
                  translate.instant(
                    "address.all-address.all-address-list.table.lastname"
                  )
                }}
              </p>
              <p class="table-header-cell-arrow noselect">
                {{ sortingService.getArrow("name") }}
              </p>
            </div>
          </th>

          <th
            class="table-header action"
            style="width: 90px; max-width: 90px; min-width: 90px"
          ></th>
        </tr>
      </thead>
      <tbody>
        @for (data of dataManagementClientService.listWrapper()?.clients; track
        data.id; let i = $index) {
        <tr
          [id]="'client-row-' + i"
          class="table-row"
          (click)="onClickedRow(data)"
          [class.active]="data.id === highlightRowId"
        >
          <td class="table-cell">
            <input
              type="checkbox"
              [checked]="checkBoxValue(i)"
              (change)="onChangeCheckBox(i, $event)"
              name="checkbox"
              class="checkbox"
              aria-label="checkbox"
            />
          </td>
          <td class="table-cell">{{ data.typeAbbreviation }}</td>
          <td
            [ngClass]="{
              'table-cell': data.isDeleted === false,
              'table-cell-delete': data.isDeleted === true
            }"
          >
            {{ data.idNumber }}
          </td>
          <td
            [ngClass]="{
              'table-cell': data.isDeleted === false,
              'table-cell-delete': data.isDeleted === true
            }"
          >
            {{ data.company }}
          </td>
          <td
            [id]="'client-firstname-' + i"
            [ngClass]="{
              'table-cell': data.isDeleted === false,
              'table-cell-delete': data.isDeleted === true
            }"
          >
            {{ data.firstName }}
          </td>
          <td
            [id]="'client-lastname-' + i"
            [ngClass]="{
              'table-cell': data.isDeleted === false,
              'table-cell-delete': data.isDeleted === true
            }"
          >
            {{ data.name }}
          </td>

          <td class="table-cell cell-right">
            @if (authorizationService.isAdmin) {
            <div>
              <div
                [id]="'client-edit-button-' + i"
                class="icon icon-padding"
                (click)="onClickEdit(data)"
              >
                <app-icon-pencil-icon-grey></app-icon-pencil-icon-grey>
              </div>

              @if (!data.isDeleted) {
              <div
                [id]="'client-delete-button-' + i"
                class="icon"
                (click)="open(data)"
              >
                <app-icon-trash-red></app-icon-trash-red>
              </div>
              }
            </div>
            } @if (!authorizationService.isAdmin) {
            <div>
              <div
                [id]="'client-view-button-' + i"
                class="icon icon-padding"
                (click)="onClickEdit(data)"
              >
                <app-icon-eye-grey></app-icon-eye-grey>
              </div>
            </div>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  @if (dataManagementClientService.paginationDataService()) {
  <app-pagination
    [dataService]="dataManagementClientService.paginationDataService()!"
    [(page)]="page"
    [numberOfItemsPerPage]="
      dataManagementClientService.currentFilter.numberOfItemsPerPage
    "
    (pageChange)="onPageChange($event)"
    (numberOfItemsPerPageChange)="onItemsPerPageChange($event)"
    (rowSizeChange)="onChangeRowSize($event)"
  >
  </app-pagination>
  }
</form>
