<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="user-administration-header-container" class="first custom-control-inline">
  <label id="user-administration-header-name" class="with280">{{ 'setting.user-admin.header.name' | translate }}</label>
  <label id="user-administration-header-email" class="with280">{{ 'setting.user-admin.header.email' | translate }}</label>
  <label id="user-administration-header-visa" class="with150">{{ 'setting.user-admin.header.visa' | translate }}</label>
  <label id="user-administration-header-rights">{{ 'setting.user-admin.header.rights' | translate }}</label>
</div>
