@use "../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";

.first {
  margin-inline-start: 30px;
  padding-inline-end: -30px;
}

.gap {
  margin-inline-end: 30px;
}

.firstColumn {
  margin-inline-start: 30px;
  width: 200px;
}

.secondColumn {
  margin-inline-start: 40px;
  width: 100px;
}

.smallWidth {
  width: 160px;
}

.with280 {
  width: 280px;
}
.with150 {
  width: 150px;
}
