<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="user-administration-header-container" class="first custom-control-inline">
  <label id="user-administration-header-name" class="with280">{{
    translate.instant("setting.user-admin.header.name")
  }}</label>
  <label id="user-administration-header-email" class="with280">{{
    translate.instant("setting.user-admin.header.email")
  }}</label>
  <label id="user-administration-header-visa" class="with150">{{
    translate.instant("setting.user-admin.header.visa")
  }}</label>
  <label id="user-administration-header-rights">{{ translate.instant("setting.user-admin.header.rights") }}</label>
</div>
