@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/colors.scss";

.first {
  margin-left: 30px;
  padding-right: -30px;
  height: 55px;
}

input {
  width: 250px;
  height: 32px;
}

.gap {
  margin-right: 30px;
}

button {
  height: 35px;
  width: 80px;
}
