<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
@if (isVisible) {
<div class="group-select-container">
  @if (label) {
  <label [for]="'group-select-' + label" class="group-select-label">
    {{ label }}
    @if (required) {
    <span class="required-marker">*</span>
    }
  </label>
  }

  <div
    class="group-select-box form-group"
    [class.disabled]="isDisabled"
    [class.open]="isDropdownOpen"
    (click)="toggleDropdown()"
    tabindex="0"
    role="combobox"
    [attr.aria-expanded]="isDropdownOpen"
    [attr.aria-disabled]="isDisabled"
    [attr.aria-label]="label || 'Select group'"
    (keyup.enter)="toggleDropdown()"
    (keyup.space)="toggleDropdown()"
    [id]="'group-select-' + (label || '')"
    aria-controls="select group"
  >
    <div class="group-select-value">
      @if (selectedGroup) {
      <span>{{ selectedGroup.name }}</span>
      } @else { @if (selectedGroupId === ALL_GROUPS_ID) {
      <span>{{ translate.instant("group.select.all-groups") }}</span>
      } @else {
      <span class="placeholder">{{
        translate.instant("group.select.select")
      }}</span>
      } }
    </div>

    <div class="group-select-icon">
      @if (!isDropdownOpen) {
      <app-icon-angle-down></app-icon-angle-down>
      } @if (isDropdownOpen) {
      <app-icon-angle-up></app-icon-angle-up>
      }
    </div>
  </div>

  @if (isDropdownOpen) {
  <div
    class="group-select-dropdown"
    appClickOutside
    (appClickOutside)="closeDropdown()"
  >
    <div class="group-tree-container">
      @if (displayTree && displayTree.length > 0) {
      <ul class="group-tree-root">
        @for (node of displayTree; track node.id) {
        <li class="group-tree-node">
          @if (isVirtualGroup(node)) {
          <div
            class="group-tree-node-item all-groups-option"
            [class.selected]="selectedGroupId === ALL_GROUPS_ID"
            (click)="selectGroup(node, $event)"
          >
            <div class="group-tree-node-indicator" [style.padding-left.px]="0">
              <span class="group-tree-toggle-placeholder"></span>
            </div>
            <div
              class="group-option-button"
              tabindex="0"
              role="option"
              [attr.aria-selected]="selectedGroupId === ALL_GROUPS_ID"
              [attr.aria-label]="'Select all groups'"
            >
              <div
                class="option-circle"
                [class.selected]="selectedGroupId === ALL_GROUPS_ID"
              ></div>
            </div>
            <div
              class="group-tree-node-content"
              tabindex="0"
              role="option"
              [attr.aria-selected]="selectedGroupId === ALL_GROUPS_ID"
              [attr.aria-label]="'Select all groups'"
            >
              <span class="group-tree-node-name">{{ node.name }}</span>
            </div>
          </div>
          } @if (isRealGroup(node)) {
          <ng-container
            *ngTemplateOutlet="recursiveTree; context: { $implicit: node }"
          ></ng-container>
          }
        </li>
        }
      </ul>
      } @else {
      <div class="no-tree-message">
        {{ translate.instant("group.select.no-groups") }}
      </div>
      }
    </div>
  </div>
  }
</div>

<ng-template #recursiveTree let-node>
  <div
    class="group-tree-node-item"
    [class.selected]="selectedGroup?.id === node.id"
  >
    <div
      class="group-tree-node-indicator"
      [style.padding-left.px]="node.depth * 20"
    >
      @if (hasChildren(node)) {
      <span
        class="group-tree-toggle"
        (click)="toggleNode(node, $event)"
        (keyup.enter)="toggleNode(node, $event)"
        (keyup.space)="toggleNode(node, $event)"
        tabindex="0"
        role="button"
        [attr.aria-expanded]="isNodeExpanded(node)"
        [attr.aria-label]="
          isNodeExpanded(node) ? 'Collapse subgroups' : 'Expand subgroups'
        "
      >
        @if (isNodeExpanded(node)) {
        <app-icon-angle-down></app-icon-angle-down>
        } @else {
        <app-icon-angle-right></app-icon-angle-right>
        }
      </span>
      } @else {
      <span class="group-tree-toggle-placeholder"></span>
      }
    </div>

    <div
      class="group-option-button"
      (click)="selectGroup(node, $event)"
      (keyup.enter)="selectGroup(node, $event)"
      (keyup.space)="selectGroup(node, $event)"
      tabindex="0"
      role="option"
      [attr.aria-selected]="selectedGroup?.id === node.id"
      [attr.aria-label]="'Select group ' + node.name"
      [title]="node.description || ''"
    >
      <div
        class="option-circle"
        [class.selected]="selectedGroup?.id === node.id"
      ></div>
    </div>

    <div
      class="group-tree-node-content"
      (click)="selectGroup(node, $event)"
      (keyup.enter)="selectGroup(node, $event)"
      (keyup.space)="selectGroup(node, $event)"
      tabindex="0"
      role="option"
      [attr.aria-selected]="selectedGroup?.id === node.id"
      [attr.aria-label]="'Select group ' + node.name"
      [title]="node.description || ''"
    >
      <span class="group-tree-node-name">{{ node.name }}</span>
    </div>
  </div>

  @if (hasChildren(node) && isNodeExpanded(node)) {
  <div class="group-tree-children">
    <ul>
      @for (child of node.children; track child.id) {
      <li class="group-tree-node">
        <ng-container
          *ngTemplateOutlet="recursiveTree; context: { $implicit: child }"
        ></ng-container>
      </li>
      }
    </ul>
  </div>
  }
</ng-template>
}
