<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="feature-plugins-header-container" class="first custom-control-inline">
  <label id="feature-plugins-header-name" class="col-name">{{ 'settings.feature-plugins.header.name' | translate }}</label>
  <label id="feature-plugins-header-category" class="col-category">{{ 'settings.feature-plugins.header.category' | translate }}</label>
  <label id="feature-plugins-header-version" class="col-version">{{ 'settings.feature-plugins.header.version' | translate }}</label>
  <label id="feature-plugins-header-author" class="col-author">{{ 'settings.feature-plugins.header.author' | translate }}</label>
  <label id="feature-plugins-header-status" class="col-status">{{ 'settings.feature-plugins.header.status' | translate }}</label>
  <span id="feature-plugins-header-actions" class="col-actions"></span>
</div>
