<form #groupForm="ngForm" id="edit-group-item-form">
  <app-expandable-card
    id="edit-group-item-card"
    [headerTitle]="'group.edit-group.edit-group-item.headline' | translate">

  @if (dataManagementGroupService.editGroup !== undefined) {
  <div class="firstColumn first-row">
    <!-- Name -->
    <label for="edit-group-item-name">{{
      "group.edit-group.edit-group-item.name" | translate
    }}</label>
    <div class="custom-control-inline default-width">
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        [(ngModel)]="dataManagementGroupService.editGroup.name"
        id="edit-group-item-name"
        name="name"
        required
        [disabled]="!authorizationService.isAuthorised"
      />
    </div>
  </div>

  <!-- Valid From and Until -->
  <div class="container-bank-box">
    <div class="form-group firstColumn">
      <div class="firstColumContainer">
        <div class="form-group">
          <app-date-input
            id="edit-group-item-valid-from"
            [label]="'group.edit-group.edit-group-item.from' | translate"
            inputId="edit-group-item-from"
            inputName="validFrom"
            inputWidth="medium-width"
            [value]="internalValidFrom"
            (valueChange)="internalValidFrom = $event || undefined; onValidFromChange()"
            [disabled]="!authorizationService.isAuthorised"
            [isValid]="validFromValid"
            [touched]="validFromTouched"
          ></app-date-input>
        </div>
      </div>
    </div>

    <div class="secondColumnContainer firstColumn">
      <div class="form-group">
        <app-date-input
          id="edit-group-item-valid-until"
          [label]="'group.edit-group.edit-group-item.until' | translate"
          inputId="edit-group-item-until"
          inputName="validUntil"
          inputWidth="medium-width"
          [value]="internalValidUntil"
          (valueChange)="internalValidUntil = $event || undefined; onValidUntilChange()"
          [disabled]="!authorizationService.isAuthorised"
          [isValid]="validUntilValid"
          [touched]="validUntilTouched"
        ></app-date-input>
      </div>
    </div>
  </div>

  <div class="firstColumn endColumn">
    <div class="form-group">
      <label for="description">{{
        "absence-gantt.absence-gantt-mask.absence-gantt-mask.note" | translate
      }}</label>
      <div class="input-text">
        <app-rich-text-editor
          [content]="dataManagementGroupService.editGroup.description"
          [disabled]="!authorizationService.isAuthorised"
          [showToolbar]="true"
          [showToolbarOnlyOnFocus]="false"
          [height]="'auto'"
          editorId="group-description-editor"
          (contentChange)="onDescriptionChange($event)"
        ></app-rich-text-editor>
      </div>
    </div>
  </div>
  }

  </app-expandable-card>
</form>
