<form #groupForm="ngForm" class="container-card">
  <div class="container-header header-container">
    {{ "group.edit-group.edit-group-item.headline" | translate }}
    <span class="filler"></span>
  </div>
  <div class="container-line"></div>

  @if (dataManagementGroupService.editGroup !== undefined) {
  <div class="firstColumn first-row">
    <!-- Name -->
    <label for="name">{{
      "group.edit-group.edit-group-item.name" | translate
    }}</label>
    <div class="custom-control-inline default-width">
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        [(ngModel)]="dataManagementGroupService.editGroup.name"
        id="name"
        name="name"
        required
        [disabled]="!authorizationService.isAuthorised"
      />
    </div>
  </div>

  <!-- Valid From and Until -->
  <div class="container-bank-box">
    <div class="form-group firstColumn">
      <div class="firstColumContainer">
        <div class="form-group">
          <app-date-input
            [label]="'group.edit-group.edit-group-item.from' | translate"
            inputId="validFrom"
            inputName="validFrom"
            inputWidth="medium-width"
            [value]="dataManagementGroupService.editGroup.internalValidFrom"
            (valueChange)="
              dataManagementGroupService.editGroup.internalValidFrom =
                $event || undefined;
              onValidFromChange()
            "
            [disabled]="!authorizationService.isAuthorised"
            [isValid]="validFromValid"
            [touched]="validFromTouched"
          ></app-date-input>
        </div>
      </div>
    </div>

    <div class="secondColumnContainer firstColumn">
      <div class="form-group">
        <app-date-input
          [label]="'group.edit-group.edit-group-item.until' | translate"
          inputId="validUntil"
          inputName="validUntil"
          inputWidth="medium-width"
          [value]="dataManagementGroupService.editGroup.internalValidUntil"
          (valueChange)="
            dataManagementGroupService.editGroup.internalValidUntil =
              $event || undefined;
            onValidUntilChange()
          "
          [disabled]="!authorizationService.isAuthorised"
          [isValid]="validUntilValid"
          [touched]="validUntilTouched"
        ></app-date-input>
      </div>
    </div>
  </div>

  <div class="firstColumn endColumn">
    <div class="form-group">
      <label for="description">{{
        "absence-gantt.absence-gantt-mask.absence-gantt-mask.note" | translate
      }}</label>
      <div class="input-text">
        <app-rich-text-editor
          [content]="dataManagementGroupService.editGroup.description"
          [disabled]="!authorizationService.isAuthorised"
          [showToolbar]="true"
          [showToolbarOnlyOnFocus]="false"
          [height]="'auto'"
          editorId="group-description-editor"
          (contentChange)="onDescriptionChange($event)"
        ></app-rich-text-editor>
      </div>
    </div>
  </div>
  }

  <div class="bottom-border-space"></div>
</form>
