@import "../../../../assets/standard-styles/colors.scss";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.cal-hsroll-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.scrollbar {
  flex: 1;
  height: 100%;
}

.arrow-thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25px;
  margin: 2px;
  color: #a9a9a9;
}

.arrow-thumb:hover {
  color: #424949;
  cursor: default;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  text-align: center;
}
