<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<ng-template #content id="group-scope-modal-template" let-modal>
  <form id="group-scope-modal-form" #groupForm="ngForm">
    <div id="group-scope-modal-header" class="modal-header">
      <div class="container-header-modal modal-title" id="modal-title">
        {{ translate.instant("setting.group.chose-headline") }}
      </div>
      <span class="filler"></span>

      <div
        id="group-scope-modal-close-btn"
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span
          aria-hidden="true"
          style="
            font-size: 13px;
            border: 1px transparent solid;
            color: var(--colorWorkplaceHeadline);
          "
          >&times;</span
        >
      </div>
    </div>
    <div id="group-scope-modal-body" class="modal-body">
      <div id="group-scope-modal-checkbox-container" class="checkbox-container">
        @for (group of rootList(); track group.id;) {
        <div [id]="'group-scope-modal-group-check-' + group.id" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="group-{{ group.id }}"
            name="selectedGroups"
            [checked]="selectedGroups.includes(group.id!)"
            (change)="onCheckboxChange($event, group.id!)"
            [value]="group.id"
          />
          <label [id]="'group-scope-modal-group-label-' + group.id" class="form-check-label" for="group-{{ group.id }}">
            {{ group.name }}
            @if (group.description) {
            <span class="text-muted"> - {{ group.description }}</span>
            }
          </label>
        </div>
        }
      </div>
    </div>
  </form>

  <div id="group-scope-modal-footer" class="modal-footer">
    <span
      id="group-scope-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cross click')"
      >{{ translate.instant("cancel") }}</span
    >
    <button id="group-scope-modal-save-btn" type="button" class="btn save-btn" (click)="modal.close('OK')">
      {{ translate.instant("setting.contract.save") }}
    </button>
  </div>
</ng-template>

<div id="group-scope-row-container-{{ user!.id }}" class="first custom-control-inline">
  <div id="group-scope-row-name-group-{{ user!.id }}" class="form-group">
    <input
      id="group-scope-row-name-{{ user!.id }}"
      type="text"
      [ngModel]="user!.firstName + ' ' + user!.lastName"
      name="user.name"
      class="form-control gap"
      readonly
      aria-label="name"
    />
  </div>
  <div id="group-scope-row-count-group-{{ user!.id }}" class="form-group">
    <button
      id="group-scope-row-count-btn-{{ user!.id }}"
      type="button"
      class="btn btn btn-info center"
      aria-label="number"
      (click)="open(content)"
      [disabled]="user?.isAdmin"
    >
      {{ assignedGroupsCount }}
    </button>
  </div>
</div>
