<as-split id="absence-gantt-main-split" direction="horizontal">
  <!-- (Haupt) Split-Bereich -->
  <as-split-area id="absence-gantt-main-area">
    <as-split
      id="absence-gantt-vertical-split"
      #splitElVert
      direction="vertical"
      aria-orientation="vertical"
      aria-label="as-split"
      [gutterSize]="6"
      unit="percent"
    >
      <!-- oberer Bereich -->
      <as-split-area id="absence-gantt-upper-area" [size]="64" [minSize]="10" [maxSize]="90">
        <as-split
          id="absence-gantt-horizontal-split"
          #splitElHorizontal
          [gutterSize]="6"
          direction="horizontal"
          aria-orientation="horizontal"
          aria-label="as-split"
          unit="pixel"
        >
          <!-- Links oben -->
          <as-split-area
            id="absence-gantt-left-area"
            [size]="200"
            [minSize]="100"
            aria-label="as-split-area top left"
          >
            <!-- Inhalt für Links oben -->
            <app-absence-gantt-row-header
              id="absence-gantt-row-header"
              #absenceRowHeader
              [valueChangeVScrollbar]="vScrollbarValue()"
            >
            </app-absence-gantt-row-header>
          </as-split-area>

          <!-- Rechts oben -->
          <as-split-area id="absence-gantt-right-area" [minSize]="100">
            <!-- Inhalt für Rechts oben -->
            <div id="absence-gantt-surface-container" class="container-box">
              <div id="absence-gantt-surface-wrapper" class="surface">
                <div id="absence-gantt-surface-box" class="box">
                  <app-absence-gantt-surface
                    #absenceBody
                    class="grid-canvas"
                    tabindex="0"
                    id="absence-gantt-surface-id"
                    [absenceRowHeader]="absenceRowHeader"
                    [valueChangeHScrollbar]="hScrollbarValue()"
                    (valueHScrollbar)="onHScrollbarValueChange($event)"
                    (maxValueHScrollbar)="onHScrollbarMaxValueChange($event)"
                    (visibleValueHScrollbar)="
                      onHScrollbarVisibleValueChange($event)
                    "
                    [valueChangeVScrollbar]="vScrollbarValue()"
                    (valueVScrollbar)="onVScrollbarValueChange($event)"
                    (maxValueVScrollbar)="onVScrollbarMaxValueChange($event)"
                    (visibleValueVScrollbar)="
                      onVScrollbarVisibleValueChange($event)
                    "
                  >
                  </app-absence-gantt-surface>
                </div>
                <app-v-scrollbar
                  id="absence-gantt-v-scrollbar"
                  [class.hidden]="vScrollbarSize() === 0"
                  class="vScrollArea"
                  [(value)]="vScrollbarValue"
                  [maxValue]="vScrollbarMaxValue()"
                  [visibleValue]="vScrollbarVisibleValue()"
                  (valueChange)="onVScrollbarValueChange($event)"
                  #vScrollbar
                >
                </app-v-scrollbar>
              </div>
              <app-h-scrollbar
                id="absence-gantt-h-scrollbar"
                [class.hidden]="hScrollbarSize() === 0"
                class="hScrollArea"
                [(value)]="hScrollbarValue"
                [maxValue]="hScrollbarMaxValue()"
                [visibleValue]="hScrollbarVisibleValue()"
                (valueChange)="onHScrollbarValueChange($event)"
                #hScrollbar
              >
              </app-h-scrollbar>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>

      <!-- unterer Bereich -->
      <as-split-area id="absence-gantt-lower-area">
        <app-absence-gantt-mask
          id="absence-gantt-mask"
          #absenceMask
          [selectedRow]="selectedRow"
          [selectedBreakIndex]="selectedBreakIndex"
          [selectedRowBreaksMaxIndex]="selectedRowBreaksMaxIndex"
          (UpdateEvent)="onUpdate($event, selectedBreak!)"
          (selectedBreakIndexEvent)="onChangeIndex($event)"
          (ErrorMessageEvent)="onShowErrorMessage($event)"
          (breakPlaceholderIdSelected)="onBreakIdSelected($event)"
        >
        </app-absence-gantt-mask>
      </as-split-area>
    </as-split>
  </as-split-area>

  <!-- Rechter (Info) Split-Bereich -->
  <as-split-area id="absence-gantt-info-area" [maxSize]="20" unit="percent" [visible]="IsInfoVisible()">
    <div id="absence-gantt-info" class="info"></div>
  </as-split-area>
</as-split>


<app-context-menu id="absence-gantt-context-menu" name="context-menu" #contextMenu></app-context-menu>
