<input
  [type]="showPassword ? 'text' : 'password'"
  [class]="'form-control ' + inputClass()"
  [(ngModel)]="value"
  [id]="inputId()"
  [placeholder]="placeholder()"
  [autocomplete]="autocomplete()"
/>
<button
  type="button"
  class="input-group-text toggle-button"
  (click)="showPassword = !showPassword"
  [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
  [attr.aria-pressed]="showPassword"
>
  <fa-icon
    [icon]="showPassword ? faEye : faEyeSlash"
    class="password-icon"
    aria-hidden="true"
  ></fa-icon>
</button>
