:host {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

:host > input {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
  border-start-start-radius: var(--bs-border-radius) !important;
  border-end-start-radius: var(--bs-border-radius) !important;
  flex: 1 1 auto;
  min-width: 0;
}

:host > .toggle-button {
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
  border-start-end-radius: var(--bs-border-radius) !important;
  border-end-end-radius: var(--bs-border-radius) !important;
}

.toggle-button {
  cursor: pointer;
}

.password-icon {
  font-size: 14px;
}
