<form id="all-group-nav-form">
  <ul id="all-group-nav-list" class="list-group">
    <!-- Gültigkeit -->
    <li class="list-group-item-action">
      <div id="all-group-validity-dropdown" ngbDropdown>
        <button
          class="btn btn-outline-primary btn-sm max-width"
          id="all-group-validity-dropdown-toggle"
          ngbDropdownToggle
        >
          {{ "address.all-address.all-address-nav.validity" | translate }}
        </button>
        <div id="all-group-validity-dropdown-menu" ngbDropdownMenu aria-labelledby="all-group-validity-dropdown-toggle">
          <div class="form-group">
            <div class="checkbox-container-default">
              <label class="checkbox-label">
                <input
                  id="all-group-filter-active"
                  type="checkbox"
                  [formField]="navFilterForm.activeDateRange"
                />
                {{ "active" | translate }}
              </label>

              <label class="checkbox-label">
                <input
                  id="all-group-filter-former"
                  type="checkbox"
                  [formField]="navFilterForm.formerDateRange"
                />
                {{ "former" | translate }}
              </label>

              <label class="checkbox-label">
                <input
                  id="all-group-filter-future"
                  type="checkbox"
                  [formField]="navFilterForm.futureDateRange"
                />
                {{ "future" | translate }}
              </label>
            </div>
          </div>
          <div class="dropdown-divider"></div>

          <button id="all-group-validity-close" ngbDropdownItem (click)="onClose()">
            {{ "close" | translate }}
          </button>
        </div>
      </div>
    </li>
  </ul>
</form>
