<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<!-- Cut Date Modal -->
<ng-template #cutDateModal let-modal role="dialog" class="modal-window">
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.cut-shift.buttons.cut-date" | translate }}
    </div>
  </div>
  <div class="modal-body first-modal">
    <div class="form-group">
      <div class="input-group cut-date-width">
        <input
          class="form-control"
          name="cutDate"
          id="cutDateInput"
          [(ngModel)]="cutDate"
          [minDate]="minDate"
          [maxDate]="maxDate"
          ngbDatepicker
          #cutDatePicker="ngbDatepicker"
          readonly
        />
        <span
          class="input-group-text"
          style="width: 40px"
          (click)="cutDatePicker.toggle()"
        >
          <fa-icon
            [icon]="faCalendar"
            [style]="{ 'font-size': '16px', color: '#464e5f' }"
          ></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div
      type="button"
      class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss()"
    >
      {{ "cancel" | translate }}
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<!-- Cut Time Modal -->
<ng-template #cutTimeModal let-modal role="dialog" class="modal-window">
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.cut-shift.buttons.cut-time" | translate }}
    </div>
  </div>
  <div class="modal-body first-modal">
    <div class="container-bank-box">
      <div class="firstColumContainer">
        <div class="firstColumn">
          <div class="row-line">
            <div class="row-line1">
              <input
                [(ngModel)]="cutTimeShift.hours"
                id="start-hours"
                name="hours"
                (keyup)="onKeyUpInput($event, cutTimeShift.hours)"
                (change)="OnChangeTime()"
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-hour hours"
                type="text"
                maxlength="3"
                placeholder="hh"
              />
              <label class="delimiter-time">:</label>
              <input
                [(ngModel)]="cutTimeShift.minutes"
                (ngModelChange)="OnChangeTime()"
                (keyup)="onKeyUpInput($event, cutTimeShift.minutes)"
                (change)="OnChangeTime()"
                [ngModelOptions]="{ standalone: true }"
                class="form-control time-minute minutes"
                type="text"
                maxlength="3"
                placeholder="mm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div
      type="button"
      class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss()"
    >
      {{ "cancel" | translate }}
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<!-- Cut Weekdays Modal -->
<ng-template #cutWeekdaysModal let-modal role="dialog" class="modal-window">
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.cut-shift.buttons.cut-weekdays" | translate }}
    </div>
  </div>
  <div class="modal-body first-modal">
    <div class="container-bank-box">
      <div class="firstColumContainer">
        <div class="firstColumn">
          <div class="form-group">
            <label class="checkbox-label" for="isMonday">
              <input
                type="checkbox"
                [(ngModel)]="weekdays.isMonday"
                name="isMonday"
                id="isMonday"
                [disabled]="!isMondayEnabled"
              />
              {{ "monday" | translate }}
            </label>
          </div>
          <div class="form-group top-margin5">
            <label class="checkbox-label" for="isTuesday">
              <input
                type="checkbox"
                [(ngModel)]="weekdays.isTuesday"
                name="isTuesday"
                id="isTuesday"
                [disabled]="!isTuesdayEnabled"
              />
              {{ "tuesday" | translate }}
            </label>
          </div>
          <div class="form-group top-margin5">
            <label class="checkbox-label" for="isWednesday">
              <input
                type="checkbox"
                [(ngModel)]="weekdays.isWednesday"
                name="isWednesday"
                id="isWednesday"
                [disabled]="!isWednesdayEnabled"
              />
              {{ "wednesday" | translate }}
            </label>
          </div>
          <div class="form-group top-margin5">
            <label class="checkbox-label" for="isThursday">
              <input
                type="checkbox"
                [(ngModel)]="weekdays.isThursday"
                name="isThursday"
                id="isThursday"
                [disabled]="!isThursdayEnabled"
              />
              {{ "thursday" | translate }}
            </label>
          </div>
          <div class="form-group top-margin5">
            <label class="checkbox-label" for="isFriday">
              <input
                type="checkbox"
                [(ngModel)]="weekdays.isFriday"
                name="isFriday"
                id="isFriday"
                [disabled]="!isFridayEnabled"
              />
              {{ "friday" | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="secondColumnContainer">
        <div class="form-group">
          <label class="checkbox-label" for="isSaturday">
            <input
              type="checkbox"
              [(ngModel)]="weekdays.isSaturday"
              name="isSaturday"
              id="isSaturday"
              [disabled]="!isSaturdayEnabled"
            />
            {{ "saturday" | translate }}
          </label>
        </div>
        <div class="form-group top-margin5">
          <label class="checkbox-label" for="isSunday">
            <input
              type="checkbox"
              [(ngModel)]="weekdays.isSunday"
              name="isSunday"
              id="isSunday"
              [disabled]="!isSundayEnabled"
            />
            {{ "sunday" | translate }}
          </label>
        </div>
        <div class="bottom-border-space"></div>
        <div class="form-group top-margin5">
          <label class="checkbox-label" for="isHoliday">
            <input
              type="checkbox"
              [(ngModel)]="weekdays.isHoliday"
              name="isHoliday"
              id="isHoliday"
              [disabled]="!isHolidayEnabled"
            />
            {{ "holiday" | translate }}
          </label>
        </div>
        <div class="form-group top-margin5">
          <label class="checkbox-label" for="isWeekdayOrHoliday">
            <input
              type="checkbox"
              [(ngModel)]="weekdays.isWeekdayOrHoliday"
              name="isWeekdayOrHoliday"
              id="isWeekdayOrHoliday"
              [disabled]="!isWeekdayOrHolidayEnabled"
            />
            {{ "weekday-or-holiday" | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div
      type="button"
      class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss()"
    >
      {{ "cancel" | translate }}
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<!-- Cut Staff Modal -->
<ng-template #cutStaffModal let-modal role="dialog" class="modal-window">
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.cut-shift.buttons.cut-staff" | translate }}
    </div>
  </div>
  <div class="modal-body first-modal row-line">
    <div class="form-group">
      <input
        type="number"
        id="staffCount"
        name="staffCount"
        class="form-control number-control"
        [(ngModel)]="staffCount"
        [min]="minStaffCount"
        [max]="maxStaffCount"
        [placeholder]="'shift.cut-shift.placeholders.staff-count' | translate"
      />
      <small class="form-text text-muted">
        Min: {{ minStaffCount }}, Max: {{ maxStaffCount }}
      </small>
    </div>
  </div>
  <div class="modal-footer">
    <div
      type="button"
      class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss()"
    >
      {{ "cancel" | translate }}
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<!-- Cut Task Modal -->
<ng-template #cutTaskModal let-modal role="dialog" class="modal-window">
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ "shift.cut-shift.buttons.cut-task" | translate }}
    </div>
  </div>
  <div class="modal-body first-modal row-line">
    <div class="form-group">
      <input
        type="number"
        id="taskCount"
        name="taskCount"
        class="form-control .number-control"
        [(ngModel)]="taskCount"
        [min]="minTaskCount"
        [max]="maxTaskCount"
        [placeholder]="'shift.cut-shift.placeholders.task-count' | translate"
      />
      <small class="form-text text-muted">
        Min: {{ minTaskCount }}, Max: {{ maxTaskCount }}
      </small>
    </div>
  </div>
  <div class="modal-footer">
    <div
      type="button"
      class="link-button darkgrey-font font-underline"
      (click)="modal.dismiss()"
    >
      {{ "cancel" | translate }}
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>

<form id="cutShiftForm">
  <div class="container-header header-container">
    {{ "shift.cut-shift.list.title" | translate }}
  </div>
  <div class="container-line"></div>
  <div class="button-row">
    <button 
      type="button" 
      class="btn btn-sm btn-primary" 
      (click)="onCutDate()"
      [disabled]="!isCutDateEnabled">
      {{ "shift.cut-shift.buttons.cut-date" | translate }}
    </button>
    <button 
      type="button" 
      class="btn btn-sm btn-primary" 
      (click)="onCutTime()"
      [disabled]="!isCutTimeEnabled">
      {{ "shift.cut-shift.buttons.cut-time" | translate }}
    </button>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="onCutWeekdays()"
      [disabled]="!isCutWeekdaysEnabled">
      {{ "shift.cut-shift.buttons.cut-weekdays" | translate }}
    </button>
    <button 
      type="button" 
      class="btn btn-sm btn-primary" 
      (click)="onCutStaff()"
      [disabled]="!isCutStaffEnabled">
      {{ "shift.cut-shift.buttons.cut-staff" | translate }}
    </button>
    <button 
      type="button" 
      class="btn btn-sm btn-primary" 
      (click)="onCutTask()"
      [disabled]="!isCutTaskEnabled">
      {{ "shift.cut-shift.buttons.cut-task" | translate }}
    </button>
  </div>
  <div class="container-table">
    <!-- Table content will be added here -->
  </div>
</form>
