@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../assets/standard-styles/standard-tabs.scss";
@use "../../../../../assets/standard-styles/standard-manual.scss";
@use "../../../../../assets/standard-styles/colors.scss";

.first {
  padding-top: 10px;
  margin-inline-start: 30px;
  padding-inline-end: 40px;
}

input {
  width: 420px;
}

select {
  width: 420px;
}

.row-line {
  margin-top: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.row-line-single {
  margin-top: 5px;
}

.firstColumn {
  margin-inline-start: 30px;
}

.secondColumn {
  margin-inline-start: 40px;
}

.hint-text {
  margin-inline-start: 30px;
  padding-inline-end: 40px;
  max-width: 880px;
  font-style: italic;
  opacity: 0.85;
}
