.first {
  margin-left: 30px;
  padding-right: -30px;
}

.custom-control-inline {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}

.with280 {
  width: 280px;
}
.with150 {
  width: 150px;
}
