.first {
  margin-inline-start: 30px;
  padding-inline-end: -30px;
}

.custom-control-inline {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.with280 {
  width: 280px;
}
.with150 {
  width: 150px;
}
