@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../assets/standard-styles/colors.scss";

.first {
  padding-top: 10px;
  margin-inline-start: 30px;
  padding-inline-end: 40px;
}

input {
  width: 420px;
}

.checkbox-label input[type="checkbox"] {
  width: auto;
}

.row-line {
  margin-top: 5px;
  display: flex;
}

.row-line-single {
  margin-top: 5px;
}

.firstColumn {
  margin-inline-start: 30px;
}

.secondColumn {
  margin-inline-start: 40px;
}

.workdays-inline {
  display: flex;
  gap: 16px;
  margin-top: 5px;
}

.shift-work-label {
  margin-top: 5px;
}
