<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #travelModal let-modal>
  <div class="modal-header">
    <div class="modal-title">{{ "dialog.travel.title" | translate }}</div>
    <span class="filler"></span>
    <div
      type="button"
      class="close"
      aria-label="Close"
      (click)="onCancel()"
    >
      <span
        aria-hidden="true"
        style="font-size: 13px; border: 1px transparent solid; color: var(--colorWorkplaceHeadline);"
      >&times;</span>
    </div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>{{ "dialog.travel.position" | translate }}</label>
      <div class="radio-group">
        <label class="radio-label">
          <input
            type="radio"
            name="travelMode"
            [checked]="travelMode() === TravelMode.AtStart"
            (change)="onModeChange(TravelMode.AtStart)"
          />
          {{ "dialog.travel.atStart" | translate }}
        </label>
        <label class="radio-label">
          <input
            type="radio"
            name="travelMode"
            [checked]="travelMode() === TravelMode.AtEnd"
            (change)="onModeChange(TravelMode.AtEnd)"
          />
          {{ "dialog.travel.atEnd" | translate }}
        </label>
        <label class="radio-label">
          <input
            type="radio"
            name="travelMode"
            [checked]="travelMode() === TravelMode.Within"
            (change)="onModeChange(TravelMode.Within)"
          />
          {{ "dialog.travel.within" | translate }}
        </label>
      </div>
    </div>

    @if (isWithinMode) {
      <div class="form-group time-row">
        <app-time-input
          [label]="'dialog.travel.startTime' | translate"
          [value]="startTime"
          (valueChange)="onTimeChange()"
          [forDuration]="false"
          hoursId="wcStartHours"
          minutesId="wcStartMinutes"
        ></app-time-input>

        <app-time-input
          [label]="'dialog.travel.endTime' | translate"
          [value]="endTime"
          (valueChange)="onTimeChange()"
          [forDuration]="false"
          hoursId="wcEndHours"
          minutesId="wcEndMinutes"
        ></app-time-input>

        <div class="duration-wrapper">
          <app-time-input
            [label]="'dialog.travel.duration' | translate"
            [value]="duration"
            [disabled]="true"
            [forDuration]="true"
            hoursId="wcDurationHours"
            minutesId="wcDurationMinutes"
          ></app-time-input>
        </div>
      </div>
    } @else {
      <div class="form-group time-row">
        <div class="duration-wrapper">
          <span class="sign">+</span>
          <app-time-input
            [label]="'dialog.travel.duration' | translate"
            [value]="duration"
            (valueChange)="onDurationTimeChange()"
            [forDuration]="true"
            hoursId="wcDurationHours"
            minutesId="wcDurationMinutes"
          ></app-time-input>
        </div>
      </div>
    }

    @if (validation.errorKey) {
      <div class="error-message">{{ validation.errorKey | translate }}</div>
    }

    <div class="form-group">
      <label for="description">{{
        "dialog.travel.description" | translate
      }}</label>
      <textarea
        id="description"
        [formField]="travelForm.description"
        class="form-control"
        rows="3"
      ></textarea>
    </div>

    <div class="form-group checkbox-group">
      <label class="checkbox-label">
        <input type="checkbox" [formField]="travelForm.toInvoice" />
        {{ "dialog.correction.toInvoice" | translate }}
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <span class="link-button red-font" (click)="onCancel()">
      {{ "cancel" | translate }}
    </span>
    <button
      type="button"
      class="btn save-btn"
      (click)="onSave()"
      [disabled]="!isValid()"
    >
      {{ "save" | translate }}
    </button>
  </div>
</ng-template>
