@use "../../../../../assets/standard-styles/standard-controls.scss";

.row-line-single {
  margin-top: 5px;
}

.firstColumn {
  margin-inline-start: 30px;
}

.slotColumn {
  margin-inline-start: 60px;
}

.info-text {
  margin-inline-start: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--standartTextColor);
  font-size: 12px;
}

.checkbox-label input[disabled] {
  cursor: default;
}
