<div #boxTemplate class="box-template">
  <canvas
    #canvasTemplateRef
    appGridTemplateEvents
    id="template-canvas{{ canvasId }}"
    [tabindex]="0"
    role="application"
    aria-label="grid canvas"
    (rightClick)="onCanvasRightClick($event)"
  ></canvas>
  <input
    #cellInput
    appCellInputEvents
    type="text"
    class="cell-input-overlay"
    [style.display]="cellInputVisible ? 'block' : 'none'"
    [style.left.px]="cellInputX"
    [style.top.px]="cellInputY"
    [style.width.px]="settings.cellWidth"
    [style.height.px]="settings.cellHeight - 1"
    [style.font-size]="cellInputFontSize"
    [style.font-family]="cellInputFontFamily"
    (navigationKey)="onNavigationKey($event)"
    (saveInput)="onSaveInput()"
    (cancelInput)="onCancelInput()"
    (rightClick)="onInputRightClick($event)"
  />
</div>

<ng-content select="[slot=context-menu]"></ng-content>
