@use "../../../../../../assets/standard-styles/colors.scss";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.box-template {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: colors.$gridBackgroundColor;
  transform: translateZ(0);
  position: relative;
}

.cell-input-overlay {
  position: absolute;
  z-index: 100;
  border: none;
  padding: 4px;
  background: white;
  color: black;
  box-sizing: border-box;
  outline: none;
}

.div-context-menu {
  z-index: 88888;
  width: auto;
  height: auto;
  position: fixed;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: colors.$gridBackgroundColor;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
