<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="container-dashboard">
  <div class="container-header">
    {{ translate.instant("setting.picture.header") }}
  </div>

  <div class="container-line"></div>

  @if (!dataLoadFileService.profileImage) {
  <div class="row">
    <label>{{ translate.instant("setting.picture.upload") }} </label>
  </div>
  } @if (dataLoadFileService.profileImage) {
  <div class="row">
    <label>{{ translate.instant("setting.picture.picture") }} </label>
  </div>
  }

  <div class="row">
    @if (dataLoadFileService.profileImage) {
    <div class="image-container">
      <img [src]="dataLoadFileService.profileImage" alt="" class="imgIcon" />
    </div>
    } @if (!dataLoadFileService.profileImage) {
    <div>
      <div
        class="fileupload"
        appDragDropFileUpload
        (click)="fileField.click()"
        (fileDropped)="onUpload($event)"
      >
        <span class="ddinfo"
          >{{ translate.instant("setting.picture.info") }}
        </span>
        <input
          type="file"
          name="avatars"
          #fileField
          (change)="onUpload1($event)"
          hidden
          multiple
        />
      </div>
    </div>
    }
  </div>

  @if (dataLoadFileService.profileImage) {
  <div class="row">
    <div class="filler"></div>
    <span
      class="delete-button firstColumn"
      type="button"
      (click)="onDeleteImg()"
      >{{ translate.instant("setting.picture.delete") }}
    </span>
  </div>
  }
</div>
