<div
  id="gantt-filter"
  class="gantt-filter-windows"
  [ngStyle]="filterStyle"
  (mouseleave)="onMouseLeave()"
>
  <app-absence-gantt-filter #ganttFilter></app-absence-gantt-filter>
</div>

<div
  #boxCalendarRowHeader
  id="box-calendar-row-header"
  class="box-calendar"
  appResize
  (resizeElement)="onResize($event)"
>
  <canvas
    id="rowHeaderCanvas"
    class="calendar"
    (mousemove)="onMouseMove($event)"
    (click)="onClick($event)"
    aria-labelledby="Row Header of the Absence Gantt."
  ></canvas>
</div>
