<div
  id="absence-row-header-filter"
  class="gantt-filter-windows"
  [ngStyle]="filterStyle"
  (mouseleave)="onMouseLeave()"
>
  <app-absence-gantt-filter id="absence-row-header-filter-component" #ganttFilter></app-absence-gantt-filter>
</div>

<div
  #boxCalendarRowHeader
  id="absence-row-header-box"
  class="box-calendar"
  appResize
  (resizeElement)="onResize($event)"
>
  <canvas
    id="absence-row-header-canvas"
    class="calendar"
    (mousemove)="onMouseMove($event)"
    (click)="onClick($event)"
    aria-labelledby="Row Header of the Absence Gantt."
  ></canvas>
</div>
