@forward "../../../../../assets/standard-styles/colors.scss";
@forward "../../../../../assets/standard-styles/standard-controls.scss";
@forward "../../../../../assets/standard-styles/navigation.scss";
@use "../../../../../assets/standard-styles/standard-slider.scss";

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

#absence-gantt-header-controls {
  height: 100%;
  overflow: hidden;
}

.absence-reason {
  width: calc(100% - 200px);
  margin-inline-end: 5px;
}

.custom-slider {
  width: 180px;
  height: 40px !important;
  padding-inline-end: 20px;
}
.custom-counter-span {
  padding-top: 5px;
  color: var(--colorLabel);
  font-size: 13px;
  font-weight: 500;
}

.custom-counter {
  display: flex;
  width: auto;
  justify-content: right;
  padding-inline-end: 20px;
  padding-top: 8px;
}
::ng-deep {
  .btn-setting {
    color: var(--paginationBorderColor);
    height: 30px;
    margin-inline-end: 10px;
    margin-top: 8px;
    border: 1px solid var(--paginationBorderColor);
    background-color: var(--backgroundColoPagination);
    app-icon-slider-grey {
      margin-inline-end: 3px;
    }
  }
  .btn-setting:hover {
    border: 1px solid var(--paginationBorderColor);
    background-color: var(--backgroundColoPaginationSelected);
  }
  .chip-form-group {
    line-height: 25px;
  }
  .pdf-export-button {
    margin-top: 5px;
    margin-inline-end: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
  }

  .pdf-export-button:hover {
    background-color: rgba($color: #1e90ff, $alpha: 0.2);
  }

  .pdf-export-button app-icon-pdf-icon {
    margin: 0;
  }
}
