<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="countries-header-container" class="first custom-control-inline">
  <label id="countries-header-abbreviation" style="width: 62px">{{ 'setting.country.header.abbreviation' | translate }}</label>
  <label id="countries-header-name" style="width: 230px">{{ 'setting.country.header.name' | translate }}</label>
  <label id="countries-header-prefix">{{ 'setting.country.header.prefix' | translate }}</label>
</div>
