<div id="tree-group-container" class="container-card">
  <div id="tree-group-header" class="container-header header-container">
    {{ "group.tree.headline" | translate }}
    <span class="filler"></span>

    <div
      id="tree-group-expand-button"
      class="btn ownStyle-button2"
      role="button"
      aria-label="refresh"
      tabindex="0"
      (click)="onClickExpand()"
      (keyup.enter)="onClickExpand()"
      (keyup.space)="onClickExpand()"
      placement="top"
      ngbTooltip="{{ 'group.select.expand' | translate }}"
      autoClose="true"
    >
      <app-expand-all-grey></app-expand-all-grey>
    </div>

    <div
      id="tree-group-collapse-button"
      class="btn ownStyle-button2"
      role="button"
      aria-label="refresh"
      tabindex="0"
      (click)="onClickCollapse()"
      (keyup.enter)="onClickCollapse()"
      (keyup.space)="onClickCollapse()"
      placement="top"
      ngbTooltip="{{ 'group.select.collapse' | translate }}"
      autoClose="true"
    >
      <app-collapse-all-grey></app-collapse-all-grey>
    </div>

    <div
      id="tree-group-refresh-button"
      class="btn ownStyle-button2 extra-margin-right"
      role="button"
      aria-label="refresh"
      tabindex="0"
      (click)="onClickRefresh()"
      (keyup.enter)="onClickRefresh()"
      (keyup.space)="onClickRefresh()"
      placement="top"
      ngbTooltip="{{ 'group.tree.refresh' | translate }}"
      autoClose="true"
    >
      <app-icon-refresh-grey></app-icon-refresh-grey>
    </div>

    <div class="tree-actions">
      <button id="tree-group-add-root-button" class="btn new-btn" (click)="onAddRootGroup()">
        {{ "group.tree.add-root" | translate }}
      </button>
    </div>
    <div
      id="tree-group-grid-toggle"
      class="btn ownStyle-button"
      role="button"
      aria-label="grid"
      tabindex="0"
      (click)="onClickToggle()"
      (keyup.enter)="onClickToggle()"
      (keyup.space)="onClickToggle()"
      placement="top"
      ngbTooltip="{{ 'group.all.grid' | translate }}"
      autoClose="true"
    >
      <app-icon-grid></app-icon-grid>
    </div>
  </div>

  <div class="container-line"></div>

  @if (dataManagementGroupService.showTree()) {
  <!-- tree view -->
  <div id="tree-group-tree-container" class="tree-container" cdkDropListGroup>
    @if (hierarchicalTree && hierarchicalTree.length > 0) {
    <ul id="tree-group-tree-root" class="tree-root">
      @for (node of hierarchicalTree; track node.id) {
      <li [id]="'tree-group-node-' + node.id" class="tree-node">
        <ng-container
          *ngTemplateOutlet="recursiveTree; context: { $implicit: node }"
        ></ng-container>
      </li>
      }
    </ul>
    } @else {
    <div id="tree-group-no-tree-message" class="no-tree-message">
      {{ "group.tree.no-groups" | translate }}
    </div>
    }

    <ng-template #recursiveTree let-node>
      <div class="tree-node-wrapper"
           [attr.data-node-id]="node.id"
           cdkDropList
           [id]="'drop-zone-' + node.id"
           [cdkDropListData]="node"
           cdkDropListSortingDisabled
           (cdkDropListEntered)="onDropZoneEnter(node)"
           (cdkDropListExited)="onDropZoneExit()"
           (cdkDropListDropped)="onDrop($event)">
        <div class="tree-node-item"
             [id]="'tree-node-item-' + node.id"
             [class.active]="isNodeSelected(node)"
             cdkDrag
             [cdkDragData]="node"
             (cdkDragStarted)="onDragStarted(node)"
             (cdkDragMoved)="onDragMoved($event)"
             (cdkDragEnded)="onDragEnded()">
          <div
            class="tree-node-indicator"
            [style.padding-inline-start.px]="node.depth * 20"
          >
            @if (hasChildren(node)) {
            <span
              class="tree-toggle"
              [id]="'tree-node-toggle-' + node.id"
              (click)="toggleNode(node)"
              (keyup.enter)="toggleNode(node)"
              (keyup.space)="toggleNode(node)"
              tabindex="0"
              role="button"
              [attr.aria-expanded]="isNodeExpanded(node)"
              [attr.aria-label]="
                isNodeExpanded(node) ? 'Collapse subgroups' : 'Expand subgroups'
              "
            >
              @if (isNodeExpanded(node)) {
              <app-icon-angle-down></app-icon-angle-down>
              } @if (!isNodeExpanded(node)) {
              <app-icon-angle-right></app-icon-angle-right>
              }
            </span>
            } @if (!hasChildren(node)) {
            <span class="tree-toggle-placeholder"></span>
            }
          </div>

          <div
            class="tree-node-content"
            (click)="selectNode(node)"
            (keyup.enter)="selectNode(node)"
            (keyup.space)="selectNode(node)"
            tabindex="0"
            role="button"
            [attr.aria-selected]="isNodeSelected(node)"
            [attr.aria-label]="'Group ' + node.name + ' select'"
            [title]="node.description || ''"
          >
            <span class="tree-node-name">{{ node.name }}</span>
            <span class="tree-node-badge"
              >{{ getTotalClientsCount(node) }} | {{ node.clientsCount }}</span
            >
          </div>

          @if (authorizationService.isAuthorised) {
          <div class="tree-node-actions" [id]="'tree-node-actions-' + node.id">
            @if (quickPrintAction.hasDefault(quickPrintSourceId)) {
            <button
              class="tree-action-btn"
              [id]="'tree-node-print-btn-' + node.id"
              [disabled]="isQuickPrinting()"
              placement="top"
              ngbTooltip="{{ 'report.quickPrint.tooltip' | translate }}"
              (click)="onClickQuickPrint(node)"
            >
              <app-icon-pdf-icon></app-icon-pdf-icon>
            </button>
            }
            <button class="tree-action-btn" [id]="'tree-node-edit-btn-' + node.id" (click)="editNode(node)">
              <app-icon-pencil-icon-grey></app-icon-pencil-icon-grey>
            </button>
            <button class="tree-action-btn" [id]="'tree-node-copy-btn-' + node.id" (click)="copyNode(node)">
              <app-icon-copy-grey></app-icon-copy-grey>
            </button>
            <button class="tree-action-btn" [id]="'tree-node-add-btn-' + node.id" (click)="addChildNode(node)">
              <app-icon-add></app-icon-add>
            </button>
            <button class="tree-action-btn" [id]="'tree-node-delete-btn-' + node.id" (click)="deleteNode(node)">
              <app-icon-trash-red></app-icon-trash-red>
            </button>
          </div>
          } @if (!authorizationService.isAuthorised) {
          <div class="tree-node-actions" [id]="'tree-node-actions-' + node.id">
            @if (quickPrintAction.hasDefault(quickPrintSourceId)) {
            <button
              class="tree-action-btn"
              [id]="'tree-node-print-btn-' + node.id"
              [disabled]="isQuickPrinting()"
              placement="top"
              ngbTooltip="{{ 'report.quickPrint.tooltip' | translate }}"
              (click)="onClickQuickPrint(node)"
            >
              <app-icon-pdf-icon></app-icon-pdf-icon>
            </button>
            }
            <button class="tree-action-btn" [id]="'tree-node-view-btn-' + node.id" (click)="editNode(node)">
              <app-icon-eye-grey></app-icon-eye-grey>
            </button>
          </div>
          }

          @if (shouldShowDropZone(node)) {
          <div class="tree-drop-zone-overlay"></div>
          }
        </div>
      </div>

      <!-- Children of the node-->
      @if (hasChildren(node) && isNodeExpanded(node)) {
      <div class="tree-children">
        <ul>
          @for (child of node.children; track child.id) {
          <li class="tree-node">
            <ng-container
              *ngTemplateOutlet="recursiveTree; context: { $implicit: child }"
            ></ng-container>
          </li>
          }
        </ul>
      </div>
      }
    </ng-template>
  </div>
  }
</div>
