<div class="custom-control-inline">
  <button
    class="btn btn-sm btn-nav calendar-previous-next"
    (click)="goToPrevious()"
    aria-label="previous period"
  >
    <app-icon-angle-left />
  </button>
  <div ngbDropdown #dropdownSetting="ngbDropdown">
    <button
      class="btn btn-sm calendar-setting"
      id="dropdownSetting"
      ngbDropdownToggle
      aria-label="calendar settings"
      placement="right"
      ngbTooltip="{{ 'schedule.selector.select-calendar' | translate }}"
      autoClose="true"
    >
      <span>{{ displayPeriod }} {{ displayYear }}</span>
    </button>
    <div ngbDropdownMenu>
      @switch (paymentInterval) {
        @case (0) {
          <app-schedule-header-calendar-weekly
            (resetData)="onCalendarReset($event)"
          ></app-schedule-header-calendar-weekly>
        }
        @case (1) {
          <app-schedule-header-calendar-biweekly
            (resetData)="onCalendarReset($event)"
          ></app-schedule-header-calendar-biweekly>
        }
        @default {
          <app-schedule-header-calendar-monthly
            (resetData)="onCalendarReset($event)"
          ></app-schedule-header-calendar-monthly>
        }
      }
    </div>
  </div>
  <button
    class="btn btn-sm btn-nav calendar-previous-next"
    (click)="goToNext()"
    aria-label="next period"
  >
    <app-icon-angle-right />
  </button>
  <span class="filler"></span>
  <div ngbDropdown #dropdownSetting="ngbDropdown">
    <button
      class="btn btn-sm btn-setting"
      id="dropdownSetting"
      ngbDropdownToggle
      aria-label="absence settings"
      placement="bottom"
      ngbTooltip="{{ 'calendar.selector.select-holidays' | translate }}"
      autoClose="true"
    >
      <app-choose-calendar></app-choose-calendar>
    </button>
    <div ngbDropdownMenu>
      <div class="px-3 py-3">
        <div class="chip-form-group">
          <app-calendar-selector
            (openMenu)="onOpenMenu()"
            (changeEvent)="onChangeCalendar()"
          ></app-calendar-selector>
        </div>
      </div>
    </div>
  </div>

  <div class="pdf-export-button" (click)="onPdfExport()" ngbTooltip="{{ 'schedule.pdf.schedule' | translate }}">
    <app-icon-pdf-icon></app-icon-pdf-icon>
  </div>

  <div class="custom-slider">
    <ngx-slider
      [(value)]="value"
      (valueChange)="onChange()"
      [options]="options"
    ></ngx-slider>
  </div>
</div>
