<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="custom-control-inline">
  <button
    id="schedule-prev-btn"
    class="btn btn-sm btn-nav calendar-previous-next"
    (click)="goToPrevious()"
    aria-label="previous period"
  >
    <app-icon-angle-left />
  </button>
  <div ngbDropdown #dropdownSetting="ngbDropdown">
    <button
      class="btn btn-sm calendar-setting"
      id="dropdownSetting"
      ngbDropdownToggle
      aria-label="calendar settings"
      placement="right"
      ngbTooltip="{{ 'schedule.selector.select-calendar' | translate }}"
      autoClose="true"
    >
      <span>{{ displayPeriod }} {{ displayYear }}</span>
    </button>
    <div ngbDropdownMenu>
      @switch (paymentInterval) {
        @case (0) {
          <app-period-calendar-weekly
            [year]="currentYear"
            [week]="selectedWeek"
            (periodChanged)="onCalendarReset($event)"
          ></app-period-calendar-weekly>
        }
        @case (1) {
          <app-period-calendar-biweekly
            [year]="currentYear"
            [week]="selectedWeek"
            (periodChanged)="onCalendarReset($event)"
          ></app-period-calendar-biweekly>
        }
        @default {
          <app-period-calendar-monthly
            [year]="currentYear"
            [month]="selectedMonth"
            (periodChanged)="onCalendarReset($event)"
          ></app-period-calendar-monthly>
        }
      }
    </div>
  </div>
  <button
    id="schedule-next-btn"
    class="btn btn-sm btn-nav calendar-previous-next"
    (click)="goToNext()"
    aria-label="next period"
  >
    <app-icon-angle-right />
  </button>

  @if (isEmailConfigured()) {
    <button
      id="schedule-send-email-btn"
      type="button"
      class="send-email-button"
      [class.disabled]="isSendDisabled()"
      (click)="onSendAllSchedules()"
      ngbTooltip="{{ 'schedule.sendEmail.tooltip' | translate }}"
    >
      @if (isSending()) {
        <span class="spinner-border spinner-border-sm"></span>
      } @else {
        <app-icon-fly />
      }
    </button>
  }

  <button
    id="schedule-wizard-btn"
    type="button"
    class="icon-button wizard-button"
    (click)="onWizardClick()"
    ngbTooltip="{{ 'wizard.dialog.title' | translate }}"
  >
    <app-icon-wizard />
  </button>

  <app-wizard-dialog #wizardDialog />

  <button
    id="schedule-pdf-export-btn"
    type="button"
    class="icon-button pdf-export-button"
    (click)="onPdfExport()"
    ngbTooltip="{{ 'schedule.pdf.schedule' | translate }}"
  >
    <app-icon-pdf-icon></app-icon-pdf-icon>
  </button>

  <button
    id="schedule-break-placeholder-toggle"
    type="button"
    class="icon-button break-placeholder-toggle"
    [class.active]="showBreakPlaceholders"
    (click)="toggleBreakPlaceholders()"
    ngbTooltip="{{ 'schedule.breakPlaceholder.toggle' | translate }}"
  >
    <app-icon-break-placeholder #breakPlaceholderIcon />
  </button>

  @if (hasAvailabilityData) {
    <button
      id="schedule-availability-check-btn"
      type="button"
      class="icon-button availability-check-button"
      [class.active]="showAvailability"
      (click)="onAvailabilityCheck()"
      ngbTooltip="{{ 'schedule.availability.toggle' | translate }}"
    >
      <app-icon-availability-check #availabilityCheckIcon />
    </button>
  }

  <button
    id="schedule-recalculate-btn"
    type="button"
    class="icon-button recalculate-button"
    [class.disabled]="isRecalculating()"
    (click)="onRecalculatePeriodHours()"
    ngbTooltip="{{ 'schedule.recalculate.tooltip' | translate }}"
  >
    @if (isRecalculating()) {
      <span class="spinner-border spinner-border-sm"></span>
    } @else {
      <app-icon-refresh-schedule />
    }
  </button>

  <span class="filler"></span>

  <div class="custom-slider">
    <ngx-slider
      [(value)]="value"
      (valueChange)="onChange()"
      [options]="options"
    ></ngx-slider>
  </div>
</div>
