<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form id="settings-general-form">
  <div id="settings-general-header" class="container-header">
    {{ translate.instant("setting.setting-general.headline") }}
  </div>

  <div id="settings-general-line" class="container-line"></div>

  <div class="form-group first">
    <label for="setting-general-name">{{
      translate.instant("setting.setting-general.title")
    }}</label>
    <input
      id="setting-general-name"
      type="text"
      class="form-control"
      [(ngModel)]="dataManagementSettingsService.appName"
      (change)="onChange()"
      aria-label="appName"
      (keyup)="onKeyUp()"
      name="appName"
    />
  </div>

  <div id="settings-general-icon-logo-row" class="row-line first">
    @if (dataLoadFileService.iconImage) {
    <div
      id="settings-general-icon-image-container"
      class="image-container-show"
    >
      <img
        id="settings-general-icon-image"
        [src]="dataLoadFileService.iconImage"
        alt=""
        class="imgIcon"
      />

      <div class="row">
        <div class="filler"></div>
        <span
          id="setting-general-delete-icon-btn"
          class="delete-button delete-button-icon"
          type="button"
          (click)="onClickDeleteIcon()"
          >Icon entfernen
        </span>
      </div>
    </div>
    } @if (!dataLoadFileService.iconImage) {
    <div
      id="settings-general-icon-upload-container"
      class="image-container"
      ngbTooltip="ico Datei 32px x 32px"
      autoClose="true"
    >
      <label id="settings-general-icon-label" class="first">{{
        translate.instant("setting.setting-general.icon")
      }}</label>

      <div
        id="setting-general-icon-upload-area"
        class="fileupload-ico"
        appDragDropFileUpload
        (click)="fileField1.click()"
        (fileDropped)="onUploadIcon($event)"
      >
        <span id="settings-general-icon-info" class="ddinfo">{{
          translate.instant("setting.setting-general.info-icon")
        }}</span>
        <input
          id="setting-general-icon-file-input"
          type="file"
          name="avatars"
          #fileField1
          (change)="onUploadIcon1($event)"
          hidden
          multiple
        />
      </div>
    </div>
    } @if (logoImage()) {
    <div
      id="settings-general-logo-image-container"
      class="image-container-show"
    >
      <img
        id="settings-general-logo-image"
        [src]="logoImage()"
        [width]="logoDisplayDimensions().width"
        [height]="logoDisplayDimensions().height"
        alt="Logo"
        class="imgIcon"
      />

      <div class="row">
        <div class="filler"></div>
        <span
          id="setting-general-delete-logo-btn"
          class="delete-button delete-button-icon"
          type="button"
          (click)="onClickDeleteLogo()"
          >{{ translate.instant("setting.setting-general.remove-logo") }}</span
        >
      </div>
    </div>
    } @if (!logoImage()) {
    <div
      id="settings-general-logo-upload-container"
      class="image-container"
      ngbTooltip="png Datei 32px x 32px"
      autoClose="true"
    >
      <label id="settings-general-logo-label" class="first">{{
        translate.instant("setting.setting-general.logo")
      }}</label>
      <div
        id="setting-general-logo-upload-area"
        class="fileupload-ico"
        appDragDropFileUpload
        (click)="fileField.click()"
        (fileDropped)="onUploadLogo($event)"
      >
        <span id="settings-general-logo-info" class="ddinfo"
          >{{ translate.instant("setting.setting-general.info-logo") }}
        </span>
        <input
          id="setting-general-logo-file-input"
          type="file"
          name="avatars"
          #fileField
          (change)="onUploadLogo1($event)"
          hidden
          multiple
        />
      </div>
    </div>
    }
  </div>
</form>
