<table id="absence-grid-table" class="table table-borderless" #myTable>
  <thead id="absence-grid-thead">
    <tr id="absence-grid-header-row">
      <th id="absence-grid-header-from" class="table-header with100" (click)="onClickHeader('from')">
        <div class="table-header-cell form-inline">
          <p class="gap noselect">
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.from"
                | translate
            }}
          </p>
          <p class="table-header-cell-arrow noselect">{{ sortingService.getArrow('from') }}</p>
        </div>
      </th>
      <th id="absence-grid-header-until" class="table-header with100" (click)="onClickHeader('until')">
        <div class="table-header-cell custom-control-inline">
          <p class="gap noselect">
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.until"
                | translate
            }}
          </p>
          <p class="table-header-cell-arrow noselect">{{ sortingService.getArrow('until') }}</p>
        </div>
      </th>
      <th id="absence-grid-header-absence" class="table-header maxWith250" (click)="onClickHeader('absence')">
        <div class="table-header-cell custom-control-inline">
          <p class="gap noselect">
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.absence"
                | translate
            }}
          </p>
          <p class="table-header-cell-arrow noselect">{{ sortingService.getArrow('absence') }}</p>
        </div>
      </th>
      <th id="absence-grid-header-value" class="table-header with20">
        {{
          "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.value"
            | translate
        }}
      </th>
      <th id="absence-grid-header-note" class="table-header">
        {{
          "absence-gantt.absence-gantt-mask.absence-gantt-mask.list.note"
            | translate
        }}
      </th>
    </tr>
  </thead>
  <tbody id="absence-grid-tbody">
    @for (data of selectedRowData; track data.id || $index; let i = $index) {
    <tr
      [id]="'absence-grid-row-' + i"
      class="table-row"
      (click)="onClickedRow(data)"
      [class.active]="data.id === highlightRowId"
    >
      <td [id]="'absence-grid-cell-from-' + i" class="table-cell">{{ data.from | date : "dd.MM.yyyy" }}</td>
      <td [id]="'absence-grid-cell-until-' + i" class="table-cell">{{ data.until | date : "dd.MM.yyyy" }}</td>
      <td [id]="'absence-grid-cell-absence-' + i" class="table-cell">{{ onAbsenceName(data) }}</td>
      <td [id]="'absence-grid-cell-value-' + i" class="table-cell">{{ onAbsenceValue(data) }}</td>
      <td [id]="'absence-grid-cell-note-' + i" class="table-cell">{{ getPlainTextNote(data) }}</td>
    </tr>
    }
  </tbody>
</table>
