<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<div class="mask-container">
  @if (selectedRow > -1) {
  <div class="mask">
    <div class="mask-header custom-control-inline">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          @if (selectedBreak) {
          <a
            class="nav-link"
            [ngClass]="{ active: tabId === 'mask' }"
            (click)="tabId = 'mask'"
            (keydown.enter)="tabId = 'mask'"
            (keydown.space)="tabId = 'mask'"
            role="tab"
            [attr.aria-selected]="tabId === 'mask'"
            tabindex="0"
            id="mask-tab"
          >
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.tab.mask"
                | translate
            }}
          </a>
          }
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            [ngClass]="{ active: tabId === 'list' }"
            (click)="tabId = 'list'"
            (keydown.enter)="tabId = 'list'"
            (keydown.space)="tabId = 'list'"
            role="tab"
            [attr.aria-selected]="tabId === 'list'"
            tabindex="1"
            id="list-tab"
          >
            {{
              "absence-gantt.absence-gantt-mask.absence-gantt-mask.tab.list"
                | translate
            }}
          </a>
        </li>
      </ul>
      <span class="filler"></span>
      <div [ngStyle]="{ display: tabId === 'list' ? 'inline' : 'none' }">
        <div class="pdf-icon">
          <app-icon-pdf-icon></app-icon-pdf-icon>
        </div>
      </div>
    </div>

    @if (selectedBreak) {
    <div
      class="collapse"
      [ngStyle]="{ display: tabId === 'mask' ? 'inline' : 'none' }"
    >
      <div class="container-mask">
        <div class="container-mask-date">
          <div class="row-line">
            <!-- internalFrom -->
            <div class="form-group">
              <label for="internal-from">
                {{
                  "absence-gantt.absence-gantt-mask.absence-gantt-mask.from"
                    | translate
                }}
              </label>
              <div class="input-group-own short-width gap">
                <input
                  class="form-control input-date"
                  name="internal-from"
                  aria-label="internal-from"
                  aria-labelledby="internalFrom"
                  id="internal-from"
                  [ngModel]="selectedBreak!.internalFrom"
                  (ngModelChange)="
                    onChange(); selectedBreak!.internalFrom = $event
                  "
                  ngbDatepicker
                  #internalFrom="ngbDatepicker"
                />
                <span
                  class="input-group-text span-date"
                  style="width: 40px"
                  (click)="internalFrom.toggle()"
                >
                  <fa-icon
                    [icon]="faCalendar"
                    [style]="{ 'font-size': '16px', color: '#464e5f' }"
                  ></fa-icon>
                </span>
              </div>
            </div>

            <!-- internalUntil -->
            <div class="form-group">
              <label for="internal-until">
                {{
                  "absence-gantt.absence-gantt-mask.absence-gantt-mask.until"
                    | translate
                }}
              </label>
              <div class="input-group-own short-width">
                <input
                  class="form-control input-date"
                  name="internal-until"
                  aria-label="internal-until"
                  aria-labelledby="internal-until"
                  id="internal-until"
                  [ngModel]="selectedBreak!.internalUntil"
                  (ngModelChange)="
                    onChange(); selectedBreak!.internalUntil = $event
                  "
                  ngbDatepicker
                  #internalUntil="ngbDatepicker"
                />
                <span
                  class="input-group-text span-date"
                  style="width: 40px"
                  (click)="internalUntil.toggle()"
                >
                  <fa-icon
                    [icon]="faCalendar"
                    [style]="{ 'font-size': '16px', color: '#464e5f' }"
                  ></fa-icon>
                </span>
              </div>
            </div>
          </div>

          @if (dataManagementAbsence.hasAbsences()) {
          <div class="row-line">
            <div class="absence-reason-container">
              <div class="form-group">
                <label for="absenceId">
                  {{
                    "absence-gantt.absence-gantt-mask.absence-gantt-mask.type"
                      | translate
                  }}
                </label>
                <div class="input-group">
                  <select
                    class="form-select type-select"
                    [ngModel]="selectedBreak!.absenceId"
                    name="absenceId"
                    (ngModelChange)="
                      onChange(); selectedBreak!.absenceId = $event
                    "
                    aria-label="type"
                  >
                    <option
                      *ngFor="let c of dataManagementAbsence.absenceList()"
                      [value]="c.id"
                      [selected]="selectedBreak!.absenceId === c.id"
                    >
                      {{ c.name | fallback : currentLang }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          }
        </div>

        <div class="container-mask-description">
          <div class="form-group">
            <label for="information">
              {{
                "absence-gantt.absence-gantt-mask.absence-gantt-mask.note"
                  | translate
              }}
            </label>
            <div class="input-text">
              <textarea
                class="form-control"
                [(ngModel)]="selectedBreak.information"
                name="information"
                (change)="onChange()"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    }

    <div
      class="collapse"
      [ngStyle]="{ display: tabId === 'list' ? 'inline' : 'none' }"
    >
      <div class="container-mask">
        <app-absence-gantt-grid
          [selectedRowData]="selectedRowData"
        ></app-absence-gantt-grid>
      </div>
    </div>
  </div>
  } @if (!selectedBreak) {
  <div class="mask">
    <div class="dummy-div"></div>
  </div>
  }

  <div class="input-group-flex mask-footer">
    @if (selectedRow > -1) {
    <button class="btn new-btn button-new" (click)="onClickNewButton()">
      {{ "button.new" | translate }}
    </button>
    } @if (selectedBreak) {
    <button
      class="btn delete-btn"
      (click)="dataManagementBreak.deleteBreak(selectedRow, selectedBreak)"
    >
      {{ "button.delete" | translate }}
    </button>
    }

    <span class="filler"></span>

    @if (selectedBreak) {
    <div class="pagination justify-content-end">
      <label for="pagination" class="entry-info">
        {{ "pagination.sum" | translate }} {{ selectedRowBreaksMaxIndex! + 1 }}
      </label>
      <ngb-pagination
        id="pagination"
        [collectionSize]="selectedRowBreaksMaxIndex! + 1"
        (pageChange)="onBreakChange($event)"
        [(page)]="page"
        [maxSize]="5"
        [pageSize]="1"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination>
    </div>
    }
  </div>
</div>
