@if (hasValidCalendarSelections) {
<div
  class="row-line"
  role="group"
  [attr.aria-label]="'calendar.selector.controls' | translate"
>
  <div class="form-group">
    <label for="select-calendar" class="visually-hidden">
      {{ "calendar.selector.select-calendar" | translate }}
    </label>
    <select
      class="form-select select-calendar"
      name="select-calendar"
      id="select-calendar"
      [(ngModel)]="
        dataManagementCalendarSelectionService.currentCalendarSelection
      "
      [compareWith]="compareCalendars"
      (ngModelChange)="onChangeSelection()"
      [attr.aria-describedby]="'calendar-help'"
    >
      <option
        *ngFor="
          let c of dataManagementCalendarSelectionService.calendarsSelections
        "
        [ngValue]="c"
      >
        {{ c.name }}
      </option>
    </select>

    <div id="calendar-help" class="visually-hidden">
      {{ "calendar.selector.help-text" | translate }}
    </div>
  </div>

  <button
    class="crud-button btn btn-success"
    [disabled]="!shouldEnableAddButton"
    (click)="onOpen(modalTypeInput)"
    [attr.aria-label]="'calendar.selector.add-selection' | translate"
    [attr.title]="'calendar.selector.add-selection' | translate"
    type="button"
  >
    <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
  </button>

  <button
    class="crud-button btn btn-danger"
    [disabled]="!shouldShowDeleteButton"
    (click)="onOpen(modalTypeDelete)"
    [attr.aria-label]="'calendar.selector.delete-selection' | translate"
    [attr.title]="'calendar.selector.delete-selection' | translate"
    type="button"
  >
    <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
  </button>
</div>
}

<div class="row-line right">
  <app-calendar-dropdown
    [header]="headerCalendarDropdown"
    (changed)="onChangeFilter()"
    (isClosing)="onIsClosing()"
    (isOpening)="onIsOpening()"
  ></app-calendar-dropdown>
</div>

@if (hasChips) {
<div
  class="chips-list setting-container"
  role="region"
  [attr.aria-label]="'calendar.selector.selected-items' | translate"
>
  <div *ngFor="let chip of chipList; trackBy: trackByChip">
    <app-chips
      [name]="getChipDisplayName(chip)"
      [key]="getChipKey(chip)"
      (delete)="onDeleteChip($event)"
    ></app-chips>
  </div>
</div>
}
