<div id="sch-vScrollbar-container" class="sch-vScrollbar-container">
  <div
    id="arrow-thumb-top"
    class="arrow-thumb"
    (mousedown)="onArrowThumbMouseDown($event, 0)"
    (mouseup)="onArrowThumbMouseUp($event)"
  >
    <p>&#9650;</p>
  </div>
  <canvas id="sch-vScrollbar" class="scrollbar"></canvas>
  <div
    class="arrow-thumb-bottom"
    class="arrow-thumb bottom"
    (mousedown)="onArrowThumbMouseDown($event, 1)"
    (mouseup)="onArrowThumbMouseUp($event)"
  >
    <p>&#9660;</p>
  </div>
</div>
