<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="first custom-control-inline">
  <label style="width: 150px">{{
    translate.instant("setting.contract.header.name")
  }}</label>
  <label style="width: 100px">{{
    translate.instant("setting.contract.header.guaranteedHours")
  }}</label>
  <label style="width: 100px">{{
    translate.instant("setting.contract.header.minHours")
  }}</label>
  <label style="width: 100px">{{
    translate.instant("setting.contract.header.maxHours")
  }}</label>
  <label style="width: 120px">{{
    translate.instant("setting.contract.header.validFrom")
  }}</label>
  <label style="width: 120px">{{
    translate.instant("setting.contract.header.validUntil")
  }}</label>
</div>