<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="header-container">
  @if (!hasLogoImage()) {
  <div class="icon" (click)="onClickDashboard()">
    <app-icon-logo></app-icon-logo>
  </div>
  } @if (hasLogoImage()) {
  <div (click)="onClickDashboard()" class="icon1">
    <img
      [src]="logoImage()"
      [width]="logoDisplayDimensions().width"
      [height]="logoDisplayDimensions().height"
      alt="Logo"
    />
  </div>
  }

  <app-search></app-search>

  <span class="version">{{ version() }}</span>

  <span class="filler"></span>

  @if (dataManagementGroupService.hasGroups()) {
  <app-group-select></app-group-select>
  }

  <app-icon-mml
    class="assistant-btn"
    (click)="onToggleAssistant()"
  ></app-icon-mml>

  <app-icon-sign-out
    class="icon-logOut"
    (click)="onClickLogOut()"
  ></app-icon-sign-out>
</div>
