@use "sass:color";
@use "../../../../assets/standard-styles/colors.scss" as colors;
@use "../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../assets/standard-styles/menu.scss";

.icon {
  cursor: pointer;
  margin-left: 29px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.icon1 {
  cursor: pointer;
  margin-left: 38px;
  margin-top: 30px;
  width: 32px;
  height: 32px;
}

.header-container {
  display: flex;
  flex-flow: row;
}

.icon-logOut {
  cursor: pointer;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.version {
  margin-left: 35px;
  margin-top: 45px;
  font-size: small;
  color: var(--VersionNumberColor);
  display: none;
}

app-search {
  margin-left: 35px;
  width: 200px;
}

app-group-select {
  padding-right: 35px;
  padding-top: 12px;
  width: 400px;
}

.assistant-btn {
  cursor: pointer;

  margin-top: 20px;
  width: 20px;
  height: 20px;
  margin-right: 30px;
  &:hover {
    fill: color.adjust(colors.$standartGreenColor, $lightness: -10%);
  }
}
