@use "../../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/colors.scss";
@use "../../../../../../assets/standard-styles/menu.scss";
@use "../../../../../../assets/standard-styles/datepicker.scss";

.macro-list {
  margin-top: 40px;
  margin-inline-start: 30px;
  width: calc(100% - 60px);
}

.macro-description {
  margin-top: 40px;
  margin-inline-start: 30px;
  width: calc(100% - 60px);
}

.expand-button {
  margin-inline-end: 30px;
}

.default-width {
  width: 390px;
}

.form-group label[for="description"] {
  margin-top: 12px;
}
