<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #content id="macro-modal-template" let-modal>
  <div id="macro-modal-header" class="modal-header">
    <div class="container-header-modal modal-title" id="modal-title">
      {{ 'setting.macro.headline-modal' | translate }}
    </div>
    <span class="filler"></span>

    <div
      id="macro-modal-close-btn"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span
        aria-hidden="true"
        style="
          font-size: 13px;
          border: 1px transparent solid;
          color: var(--colorWorkplaceHeadline);
        "
        >&times;</span
      >
    </div>
  </div>
  <div id="macro-modal-body" class="modal-body">
    <div id="macro-modal-inputs-row" class="row-line-modal-inline">
      <div
        id="macro-modal-name-section"
        style="margin-inline-start: 30px; width: 150px"
      >
        <label for="macroName">{{ 'setting.macro.name-modal' | translate }}</label>
        <input
          type="text"
          style="width: 150px"
          [formField]="macroForm.name"
          class="form-control"
          id="macroName"
        />
      </div>

      <div
        id="macro-modal-type-section"
        style="margin-inline-start: 30px; width: 200px"
      >
        <label for="type">{{ 'setting.macro.type-modal' | translate }}</label>
        <select class="form-select" [formField]="macroForm.type" id="type">
          @for (option of macroTypeOptions; track option.value) {
          <option [value]="option.value">
            {{ option.label | translate }}
          </option>
          }
        </select>
      </div>

      <div
        id="macro-modal-category-section"
        style="margin-inline-start: 30px; width: 220px"
      >
        <label for="category">{{ 'setting.macro.category-modal' | translate }}</label>
        <select class="form-select" [formField]="macroForm.category" id="category">
          @for (option of macroCategoryOptions; track option.value) {
          <option [value]="option.value">
            {{ option.label | translate }}
          </option>
          }
        </select>
      </div>

      <div class="filler"></div>

      @if (tabId() === 'macro') {
      <button
        id="macro-modal-check-btn"
        type="button"
        class="btn btn-outline-secondary"
        style="margin-inline-end: 10px"
        (click)="onCheckMacro()"
      >
        <i class="fas fa-check"></i>&nbsp;{{ 'setting.macro.check-btn' | translate }}
      </button>
      } @if (tabId() === 'test') {
      <button
        id="macro-modal-run-btn"
        type="button"
        class="btn btn-outline-secondary"
        style="margin-inline-end: 10px"
        (click)="onRunMacro()"
      >
        <i class="fas fa-running"></i>&nbsp;{{ 'setting.macro.run-btn' | translate }}
      </button>
      }
    </div>
    <div id="macro-modal-tabs-container">
      <ul id="macro-modal-tabs" class="nav nav-tabs">
        <li id="macro-modal-tab-macro-item" class="nav-item">
          <a
            id="macro-modal-tab-macro-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'macro' }"
            (click)="tabId.set('macro')"
            >Macro</a
          >
        </li>
        <li id="macro-modal-tab-data-item" class="nav-item dropdown">
          <a
            id="macro-modal-tab-data-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'data' }"
            (click)="onClickData()"
            >{{ 'setting.macro.data-modal' | translate }}</a
          >
        </li>

        <li id="macro-modal-tab-test-item" class="nav-item dropdown">
          <a
            id="macro-modal-tab-test-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'test' }"
            (click)="tabId.set('test')"
            >{{ 'setting.macro.test-modal' | translate }}</a
          >
        </li>
        <li id="macro-modal-tab-description-item" class="nav-item">
          <a
            id="macro-modal-tab-description-link"
            class="nav-link"
            [ngClass]="{ active: tabId() === 'description' }"
            (click)="tabId.set('description')"
            >{{ 'setting.macro.description-modal' | translate }}</a
          >
        </li>
      </ul>
    </div>
    <div
      id="macro-modal-macro-content"
      class="collapse"
      [ngStyle]="{ display: tabId() === 'macro' ? 'inline' : 'none' }"
    >
      <ngx-code-editor
        id="macro-modal-code-editor"
        #codemirror
        [ngModel]="editorContent()"
        (ngModelChange)="onEditorContentChange($event)"
        [autoFocus]="true"
        [extensions]="klacksScriptLanguage"
        [lineWrapping]="true"
        name="codemirror"
      >
      </ngx-code-editor>
    </div>
    <div
      id="macro-modal-data-content"
      class="collapse"
      [ngStyle]="{ display: tabId() === 'data' ? 'inline' : 'none' }"
    >
      <app-property-grid
        id="macro-modal-property-grid"
        [object]="shiftData"
        [excludeProps]="['isDirty']"
      ></app-property-grid>
    </div>
    <div
      id="macro-modal-test-content"
      class="collapse"
      [ngStyle]="{ display: tabId() === 'test' ? 'inline' : 'none' }"
    >
      <textarea
        id="macro-modal-test-output"
        [value]="test()"
        class="preview preview-color preview-color-height"
        aria-label="test"
      ></textarea>
    </div>

    <div
      id="macro-modal-description-content"
      class="collapse"
      [ngStyle]="{ display: tabId() === 'description' ? 'inline' : 'none' }"
    >
      <div
        id="macro-modal-manual-content"
        class="manual-content"
        [innerHTML]="manualContent()"
      ></div>
    </div>
  </div>

  <div id="macro-modal-footer" class="modal-footer">
    <span
      id="macro-modal-cancel-btn"
      type="button"
      class="link-button red-font"
      (click)="modal.dismiss('Cancel click')"
      >{{ 'cancel' | translate }}</span
    >
    <button
      id="macro-modal-save-btn"
      type="button"
      class="btn save-btn"
      (click)="onSave()"
    >
      {{ 'save' | translate }}
    </button>
    <button
      id="macro-modal-save-close-btn"
      type="button"
      class="btn save-btn"
      (click)="modal.close()"
    >
      {{ 'setting.macro.save-close-btn' | translate }}
    </button>
  </div>
</ng-template>

<div id="macro-row-container-{{ data.id }}" class="first custom-control-inline">
  <div id="macro-row-name-group-{{ data.id }}" class="form-group">
    <input
      id="macro-row-name-{{ data.id }}"
      type="text"
      [value]="data.name"
      class="form-control attribute-name"
      aria-label="name"
      (click)="open(content)"
      readonly
    />
  </div>

  <span
    id="macro-row-delete-{{ data.id }}"
    class="delete-button"
    type="button"
    (click)="onClickDelete()"
    ><app-icon-trash-red /></span
  >
</div>
