<div class="main-container" role="navigation" aria-label="Main navigation">
  <div class="main-cell">
    <div class="icon_group">
      <app-icon-gantt
        #absenceIcon
        id="open-absences"
        (click)="onClickAbsence()"
        placement="right"
        autoClose="true"
        ngbTooltip="{{ absence }} (Alt+1)"
        aria-label="Manage absences (Alt+1)"
      ></app-icon-gantt>
    </div>

    @if (authorizationService.isAdmin) {
    <div class="icon">
      <app-icon-group
        #groupIcon
        id="open-groups"
        (click)="onClickGroup()"
        placement="right"
        ngbTooltip="{{ all_group }} (Alt+2)"
        aria-label="Manage groups (Alt+2)"
      ></app-icon-group>
    </div>
    }

    <div class="icon">
      <app-icon-order
        #shiftIcon
        id="open-shifts"
        (click)="onClickShift()"
        placement="right"
        ngbTooltip="{{ all_shift }} (Alt+3)"
        aria-label="Manage shifts (Alt+3)"
      ></app-icon-order>
    </div>

    <div class="icon">
      <app-time-schedule
        #scheduleIcon
        id="open-schedules"
        (click)="onClickSchedule()"
        placement="right"
        ngbTooltip="{{ all_schedule }} (Alt+4)"
        aria-label="Manage schedules (Alt+4)"
      ></app-time-schedule>
    </div>

    <div class="icon">
      <app-icon-clients
        #employeesIcon
        id="open-employees"
        (click)="onClickClients()"
        placement="right"
        ngbTooltip="{{ all_employee }} (Alt+5)"
        autoClose="true"
        aria-label="Manage employees (Alt+5)"
      ></app-icon-clients>
    </div>
  </div>

  <div class="main-bottomcell">
    @if (!dataLoadFileService.profileImage) {
    <div class="icon icon_user" aria-label="Open profile (Alt+7)">
      <app-icon-user #userIcon (click)="onClickProfile()"></app-icon-user>
    </div>
    } @if (dataLoadFileService.profileImage) {
    <div
      class="imgIconContainer"
      tabindex="6"
      id="open-profile"
      (click)="onClickProfile()"
      (keydown.enter)="onClickProfile()"
      (keydown.space)="onClickProfile()"
      aria-label="Open profile (Alt+7)"
    >
      <img [src]="dataLoadFileService.profileImage" alt="" class="imgIcon" />
    </div>
    } @if (authorizationService.isAdmin) {
    <div class="icon">
      <app-icon-setting
        #settingsIcon
        id="open-settings"
        (click)="onClickSettings()"
        aria-label="Open Settings"
      ></app-icon-setting>
    </div>
    }
  </div>
</div>
