<div class="main-container" role="navigation" aria-label="Main navigation">
  <div class="main-cell">
    <div class="icon_group">
      <app-gantt
        (click)="onClickAbsence()"
        placement="right"
        autoClose="true"
        ngbTooltip="{{ absence }} (Alt+1)"
        aria-label="Manage absences (Alt+1)"
      >
      </app-gantt>
    </div>

    <div class="icon">
      <app-icon-group
        (click)="onClickGroup()"
        placement="right"
        ngbTooltip="{{ all_group }} (Alt+2)"
        aria-label="Manage groups (Alt+2)"
      >
      </app-icon-group>
    </div>

    <div class="icon">
      <app-icon-order
        (click)="onClickShift()"
        placement="right"
        ngbTooltip="{{ all_shift }} (Alt+3)"
        aria-label="Manage shifts (Alt+3)"
      >
      </app-icon-order>
    </div>

    <div class="icon">
      <app-time-schedule
        (click)="onClickSchedule()"
        placement="right"
        ngbTooltip="{{ all_schedule }} (Alt+4)"
        aria-label="Manage schedules (Alt+4)"
      >
      </app-time-schedule>
    </div>

    <div class="icon">
      <app-icon-clients
        (click)="onClickClients()"
        placement="right"
        ngbTooltip="{{ all_employee }} (Alt+5)"
        autoClose="true"
        aria-label="Manage employees (Alt+5)"
      >
      </app-icon-clients>
    </div>

    <div class="icon">
      <app-icon-chart
        (click)="onClickStatistic()"
        placement="right"
        ngbTooltip="{{ statistic }}"
        autoClose="true"
        aria-label="View statistics"
      >
      </app-icon-chart>
    </div>
  </div>

  <div class="main-bottomcell">
    <div
      class="icon icon_user"
      *ngIf="!dataLoadFileService.profileImage"
      aria-label="Open profile (Alt+7)"
    >
      <app-icon-user (click)="onClickProfile()"></app-icon-user>
    </div>

    <div
      *ngIf="dataLoadFileService.profileImage"
      class="imgIconContainer"
      tabindex="6"
      (click)="onClickProfile()"
      (keydown.enter)="onClickProfile()"
      (keydown.space)="onClickProfile()"
      aria-label="Open profile (Alt+7)"
    >
      <img
        [src]="dataLoadFileService.profileImage"
        alt=""
        class="imgIcon"
        *ngIf="dataLoadFileService.profileImage"
      />
    </div>

    <div class="icon" *ngIf="authorizationService.isAdmin">
      <app-icon-setting (click)="onClickSettings()"></app-icon-setting>
    </div>
  </div>
</div>
