@use "../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../assets/standard-styles/standard-card-interior.scss";

.add-button {
  margin-inline-start: 140px;
  padding-inline-end: 150px;
  font-size: var(--fontSizeLabel);
  text-decoration: underline;
  color: var(--accentColor);
  cursor: pointer;

  &:hover {
    color: var(--accentDarkColor);
  }
}

.container-box {
  flex: 1;
  height: 242px;

  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.search-header {
  display: flex;
  align-items: center;
  padding-block: 18px;
  padding-inline: 30px;
}

.search-header-input {
  flex: 1;
}

.search-header + .container-line {
  margin-top: 0;
}
