<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form>
  <div class="container-header">
    {{ translate.instant("setting.country.headline") }}
  </div>

  <div class="container-line"></div>

  @if (dataManagementSettingsService.statesList &&
  dataManagementSettingsService.statesList.length > 0) {
  <app-state-header> </app-state-header>
  }
  <div class="container-box">
    @for (c of dataManagementSettingsService.statesList; track c.id || $index;
    let i = $index) { @if (c.isDirty !== 3) {
    <app-state-row
      [data]="c"
      (isChangingEvent)="onIsChanging($event)"
      (isDeleteEvent)="onClickDelete(i)"
    >
    </app-state-row>
    } }
  </div>

  <div class="row">
    <span class="add-button" type="button" (click)="onClickAdd()"
      >{{ translate.instant("setting.state.add") }}
    </span>
  </div>
</form>
