<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div id="erp-drop-point-token-header-container" class="first custom-control-inline">
  <label id="erp-drop-point-token-header-name" class="column-name">{{ 'settings.erp-drop-points.tokens.header.name' | translate }}</label>
  <label id="erp-drop-point-token-header-prefix" class="column-prefix">{{ 'settings.erp-drop-points.tokens.header.token-prefix' | translate }}</label>
  <label id="erp-drop-point-token-header-expires" class="column-date">{{ 'settings.erp-drop-points.tokens.header.expires-at' | translate }}</label>
  <label id="erp-drop-point-token-header-last-used" class="column-date">{{ 'settings.erp-drop-points.tokens.header.last-used-at' | translate }}</label>
</div>
