@use "../../../../../../assets/standard-styles/colors.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/menu.scss";

.scenario-btn {
  margin-inline-start: 8px;
  border: 1px solid var(--colorSubtleLine);
  background-color: transparent;
  color: var(--iconStandartColor);
  font-family: Roboto;
  font-size: small;
  font-weight: normal;

  &.scenario-active {
    background-color: var(--alertWarningBackground);
    border-color: var(--colorWarning);
    color: var(--alertWarningText);
  }
}

.scenario-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--colorWarning);
  margin-inline-end: 4px;
}

.new-btn {
  height: 40px;
  font-size: 13px;
  background-color: colors.$standartGreenColor;
  color: colors.$standartWhiteColor;
  border-radius: 4px;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: colors.$splitButtonGreenColor;
  }
}
