<div ngbDropdown>
  <button
    id="scenario-selector-btn"
    class="btn btn-sm scenario-btn"
    ngbDropdownToggle
    placement="right"
    ngbTooltip="{{ 'scenario.select' | translate }}"
    [class.scenario-active]="analyseScenarioService.isScenarioMode()"
  >
    @if (analyseScenarioService.isScenarioMode()) {
      <span class="scenario-indicator"></span>
      {{ analyseScenarioService.activeScenario()?.name }}
    } @else {
      {{ "scenario.title" | translate }}
    }
  </button>
  <div ngbDropdownMenu>
    @if (analyseScenarioService.isScenarioMode()) {
      <button ngbDropdownItem (click)="onExitScenario()">
        {{ "scenario.exit" | translate }}
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="text-success" (click)="onAccept()">
        {{ "scenario.accept" | translate }}
      </button>
      <button ngbDropdownItem class="text-danger" (click)="onReject()">
        {{ "scenario.reject" | translate }}
      </button>
      <div class="dropdown-divider"></div>
    }
    @for (scenario of analyseScenarioService.scenarios(); track scenario.id) {
      <button
        ngbDropdownItem
        (click)="onSelectScenario(scenario)"
        [class.active]="
          scenario.id === analyseScenarioService.activeScenario()?.id
        "
      >
        {{ scenario.name }}
      </button>
    }

    <button class="new-btn" ngbDropdownItem (click)="onCreateNew()">
      + {{ "scenario.create" | translate }}
    </button>
  </div>
</div>
<app-create-scenario-dialog #createScenarioDialog />
