<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div
  id="user-admin-row-container-{{ user()!.id }}"
  class="first custom-control-inline"
>
  <div id="user-admin-row-name-group-{{ user()!.id }}" class="form-group">
    <input
      id="user-admin-row-name-{{ user()!.id }}"
      type="text"
      [value]="userName"
      class="form-control gap"
      [class.editable]="enabled()"
      readonly
      aria-label="name"
      (dblclick)="onDoubleClickEdit()"
    />
  </div>

  <div id="user-admin-row-email-group-{{ user()!.id }}" class="form-group">
    <input
      id="user-admin-row-email-{{ user()!.id }}"
      type="email"
      [value]="userEmail"
      class="form-control gap"
      readonly
      aria-label="email"
    />
    @if (enabled()) {
    <span id="user-admin-row-sendto-{{ user()!.id }}" class="send-to" (click)="onClickSentTo()">{{ 'setting.user-admin.row.send' | translate }}</span>
    }
  </div>
  <div id="user-admin-row-authorised-group-{{ user()!.id }}" class="form-group">
    @if (enabled()) {
      <select
        id="user-admin-row-authorised-{{ user()!.id }}"
        [formField]="userRoleForm.isAuthorised"
        class="form-select gap"
        aria-label="isAuthorised"
      >
        <option value="true">
          {{ 'setting.user-admin.row.yes' | translate }}
        </option>
        <option value="false">
          {{ 'setting.user-admin.row.no' | translate }}
        </option>
      </select>
    } @else {
      <select
        id="user-admin-row-authorised-{{ user()!.id }}"
        class="form-select gap"
        disabled
        aria-label="isAuthorised"
      >
        <option [selected]="user()!.isAuthorised">
          {{ 'setting.user-admin.row.yes' | translate }}
        </option>
        <option [selected]="!user()!.isAuthorised">
          {{ 'setting.user-admin.row.no' | translate }}
        </option>
      </select>
    }
  </div>

  <div id="user-admin-row-admin-group-{{ user()!.id }}" class="form-group">
    @if (enabled()) {
      <select
        id="user-admin-row-admin-{{ user()!.id }}"
        [formField]="userRoleForm.isAdmin"
        class="form-select"
        aria-label="isAdmin"
      >
        <option value="true">Admin</option>
        <option value="false">User</option>
      </select>
    } @else {
      <select
        id="user-admin-row-admin-{{ user()!.id }}"
        class="form-select"
        disabled
        aria-label="isAdmin"
      >
        <option [selected]="user()!.isAdmin">Admin</option>
        <option [selected]="!user()!.isAdmin">User</option>
      </select>
    }
  </div>
  <div id="user-admin-row-actions-group-{{ user()!.id }}" class="actions-group">
    @if (enabled()) {
      <span
        id="user-admin-row-deactivate-{{ user()!.id }}"
        class="delete-button"
        type="button"
        [title]="'setting.user-admin.row.deactivate-hint' | translate"
        (click)="onDeactivate()"
        ><app-icon-trash-red
      /></span>
    }
  </div>
</div>
