@use "../../../../../../assets/standard-styles/standard-card-interior.scss";
@use "../../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../../assets/standard-styles/standard-modal.scss";
@use "../../../../../../assets/standard-styles/colors.scss";

.first {
  margin-inline-start: 30px;
  padding-inline-end: -30px;
  height: 40px;
}

input {
  height: 32px;
}

.delete-button {
  margin-top: 5px;
  margin-inline-start: 20px;
  color: var(--standartRedColor);
}

.abbreviation {
  width: 50px;
  margin-inline-end: 10px;
  text-align: center;
}

.country-name {
  width: 220px;
  margin-inline-end: 10px;
}

.country-prefix {
  width: 60px;
  margin-inline-end: 10px;
}
