<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div id="country-row-form-{{ data()!.id }}">
  <div id="country-row-container-{{ data()!.id }}" class="first custom-control-inline">
    <div id="country-row-abbreviation-wrapper-{{ data()!.id }}">
      <input
        id="country-row-abbreviation-{{ data()!.id }}"
        type="text"
        [formField]="countryForm.abbreviation"
        aria-label="data.abbreviation"
        class="form-control abbreviation"
      />
    </div>
    <div id="country-row-name-wrapper-{{ data()!.id }}">
      <input
        id="country-row-name-{{ currentLang() }}-{{ data()!.id }}"
        type="text"
        [formField]="countryForm.nameCurrent"
        aria-label="data.name"
        class="form-control country-name"
      />
    </div>

    <div id="country-row-prefix-wrapper-{{ data()!.id }}">
      <input
        id="country-row-prefix-{{ data()!.id }}"
        type="text"
        [formField]="countryForm.prefix"
        aria-label="data.prefix"
        class="form-control country-prefix"
      />
    </div>

    <span id="country-row-delete-{{ data()!.id }}" class="delete-button" type="button" (click)="onClickDelete()"><app-icon-trash-red /></span>
  </div>
</div>
