<as-split direction="horizontal">
  <!-- (Haupt) Split-Bereich -->
  <as-split-area>
    <as-split
      #splitElVert
      direction="vertical"
      aria-orientation="vertical"
      aria-label="as-split"
      [gutterSize]="6"
      unit="percent"
    >
      <!-- oberer Bereich -->
      <as-split-area [size]="70" [minSize]="10">
        <as-split
          #splitElHorizontal
          [gutterSize]="6"
          direction="horizontal"
          aria-orientation="horizontal"
          aria-label="as-split"
          unit="pixel"
        >
          <!-- Links oben -->
          <as-split-area
            [size]="200"
            [minSize]="100"
            aria-label="as-split-area top left"
          >
            <!-- Inhalt für Links oben -->
            <app-schedule-schedule-row-header
              #scheduleRowHeader
            ></app-schedule-schedule-row-header>
          </as-split-area>

          <!-- Rechts oben -->
          <as-split-area>
            <!-- Inhalt für Rechts oben -->
            <div class="container-box">
              <div class="surface">
                <div class="box">
                  <app-schedule-schedule-surface
                    #scheduleBody
                    [rowHeader]="scheduleRowHeader"
                    [vScrollbar]="vScrollbar"
                    [hScrollbar]="hScrollbar"
                  ></app-schedule-schedule-surface>
                </div>
                <div class="vScrollArea">
                  <app-schedule-v-scrollbar
                    #vScrollbar
                    [scheduleBody]="scheduleBody"
                  ></app-schedule-v-scrollbar>
                </div>
              </div>
              <div class="hScrollArea">
                <app-schedule-h-scrollbar
                  #hScrollbar
                  [scheduleBody]="scheduleBody"
                ></app-schedule-h-scrollbar>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>

      <!-- unterer Bereich -->
      <as-split-area [size]="30" [minSize]="10">
        <as-split
          direction="horizontal"
          aria-orientation="horizontal"
          aria-label="as-split"
          [disabled]="true"
          [gutterSize]="1"
          unit="pixel"
        >
          <!-- Links unten -->
          <as-split-area [size]="horizontalSizes" unit="pixel">
            <!-- Inhalt für Links unten -->
            <app-schedule-shift-row-header></app-schedule-shift-row-header>
          </as-split-area>

          <!-- Rechts unten -->
          <as-split-area>
            <!-- Inhalt für Rechts unten -->
            <div class="container-box2">
              <div class="surface">
                <div class="box">
                  <app-schedule-shift-surface></app-schedule-shift-surface>
                </div>
                <div class="vScrollArea">
                  <app-schedule-v-scrollbar></app-schedule-v-scrollbar>
                </div>
              </div>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </as-split-area>

  <!-- Rechter (Info) Split-Bereich -->
  <as-split-area [maxSize]="20" unit="percent" [visible]="IsInfoVisible">
    <div class="info"></div>
  </as-split-area>
</as-split>
