<div class="shift-filter-dropdown">
  <app-search-input
    inputId="shift-filter-search"
    placeholderKey="schedule.shift-filter.search-placeholder"
    [value]="dataManagement.shiftScheduleFilter.searchString || ''"
    (valueChange)="onShiftSearchValueChange($event)"
    (search)="onShiftFilterChange()"
  ></app-search-input>

  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.isSporadic"
      (change)="onShiftFilterChange()"
      name="shiftIsSporadicShift"
    />
    {{ "shift.all-shift.nav.sporadic" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.isTimeRange"
      (change)="onShiftFilterChange()"
      name="shiftIsTimeRangeShift"
    />
    {{ "shift.all-shift.nav.time-range" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.container"
      (change)="onShiftFilterChange()"
      name="shiftContainer"
    />
    {{ "shift.all-shift.nav.container" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.isStandartShift"
      (change)="onShiftFilterChange()"
      name="shiftIsStandartShift"
    />
    {{ "shift.all-shift.nav.standart-shift" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.showUngroupedShifts"
      (change)="onShiftFilterChange()"
      name="shiftShowUngroupedShifts"
    />
    {{ "schedule.shift-filter.show-ungrouped" | translate }}
  </label>

  <div class="button-center">
    <button id="shift-filter-clear-btn" class="btn btn-sm" (click)="clearShiftFilters()">
      {{ "schedule.shift-filter.clear" | translate }}
    </button>
  </div>
</div>
