<div class="shift-filter-dropdown">
  <div class="input-group search-input-group">
    <input
      type="search"
      class="form-control form-control-sm"
      placeholder="{{ 'schedule.shift-filter.search-placeholder' | translate }}"
      [(ngModel)]="dataManagement.shiftScheduleFilter.searchString"
      (search)="onShiftFilterChange()"
      (input)="onSearchInputChange()"
    />
    <button
      class="btn btn-sm search-button input-group-text"
      type="button"
      (click)="onShiftFilterChange()"
    >
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>

  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.isSporadic"
      (change)="onShiftFilterChange()"
      name="shiftIsSporadicShift"
    />
    {{ "shift.all-shift.nav.sporadic" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.isTimeRange"
      (change)="onShiftFilterChange()"
      name="shiftIsTimeRangeShift"
    />
    {{ "shift.all-shift.nav.time-range" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.container"
      (change)="onShiftFilterChange()"
      name="shiftContainer"
    />
    {{ "shift.all-shift.nav.container" | translate }}
  </label>
  <label class="checkbox-label">
    <input
      type="checkbox"
      [(ngModel)]="dataManagement.shiftScheduleFilter.isStandartShift"
      (change)="onShiftFilterChange()"
      name="shiftIsStandartShift"
    />
    {{ "shift.all-shift.nav.standart-shift" | translate }}
  </label>

  <div class="button-center">
    <button class="btn btn-sm" (click)="clearShiftFilters()">
      {{ "schedule.shift-filter.clear" | translate }}
    </button>
  </div>
</div>
