@use "../../../../../../assets/standard-styles/colors.scss";

.shift-filter-dropdown {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  background-color: var(--backgroundColorCard);
  font-size: 13px;
  color: var(--colorLabel);

  .search-input-group {
    width: 200px;
    display: flex;

    input.form-control {
      background-color: var(--standartTextBackground);
      color: var(--standartTextColor);
      border-radius: 4px 0 0 4px;
      border-inline-end: none;
    }

    .search-button {
      background-color: colors.$standartBlueColor !important;
      color: colors.$standartWhiteColor !important;
      font-size: 13px;
      border-radius: 0 4px 4px 0;
      border: 1px solid colors.$standartBlueColor;
    }
  }

  .btn {
    width: fit-content;
  }

  .button-center {
    display: flex;
    justify-content: center;
  }
}
