<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div id="email-setting-container" class="container-dashboard">
  <div id="email-setting-header" class="container-header">Email-Settings</div>

  <div id="email-setting-line" class="container-line"></div>

  <div id="email-setting-form">
    <div id="email-setting-server-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="outgoingServer">Outgoing Server</label>
        <input
          type="text"
          class="form-control"
          [field]="emailForm.outgoingServer"
          aria-label="outgoingServer"
          id="outgoingServer"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="outgoingServerPort">Outgoing Server Port</label>
        <input
          type="text"
          class="form-control"
          [field]="emailForm.outgoingServerPort"
          aria-label="outgoingServerPort"
          id="outgoingServerPort"
        />
      </div>
    </div>
    <div id="email-setting-timeout-ssl-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="outgoingServerTimeout">Outgoing Server Timeout</label>
        <input
          type="text"
          class="form-control"
          [field]="emailForm.outgoingServerTimeout"
          aria-label="outgoingServerTimeout"
          id="outgoingServerTimeout"
        />
      </div>
      <div class="form-group secondColumn">
        <label for="enabledSSL">Enabled SSL</label>
        <select
          class="form-select"
          [field]="emailForm.enabledSSL"
          aria-label="enabledSSL"
          id="enabledSSL"
        >
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
    <div id="email-setting-auth-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="authenticationType">Authentication Type</label>
        <select
          class="form-select"
          [field]="emailForm.authenticationType"
          aria-label="authenticationType"
          id="authenticationType"
        >
          <option value="<None>">None</option>
          <option value="LOGIN">LOGIN</option>
          <option value="NTLM">NTLM</option>
          <option value="GSSAPI">GSSAPI</option>
          <option value="WDIGEST">WDIGEST</option>
        </select>
      </div>
      <div class="form-group secondColumn">
        <label for="dispositionNotification">Disposition Notification</label>
        <select
          id="dispositionNotification"
          class="form-select"
          [field]="emailForm.dispositionNotification"
          aria-label="dispositionNotification"
        >
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
    <div id="email-setting-read-receipt-row" class="row-line-singel">
      <div class="form-group firstColumn">
        <label for="readReceipt">Read Receipt</label>
        <input
          type="text"
          class="form-control"
          [field]="emailForm.readReceipt"
          aria-label="readReceipt"
          id="readReceipt"
        />
      </div>
    </div>
    <div id="email-setting-reply-to-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="replyTo">Reply To / Sender Address</label>
        <input
          type="text"
          class="form-control"
          [field]="emailForm.replyTo"
          aria-label="replyTo"
          id="replyTo"
        />
      </div>
    </div>
    <div id="email-setting-mark-row" class="row-line-single">
      <div class="form-group firstColumn">
        <label for="mark">Mark</label>
        <input
          type="text"
          class="form-control"
          [field]="contactForm.mark"
          aria-label="mark"
          id="mark"
        />
      </div>
    </div>
    <div id="email-setting-smtp-auth-row" class="row-line">
      <div class="form-group firstColumn">
        <label for="outgoingServerAuthUser">SMTP Authentication User</label>
        <input
          type="text"
          class="form-control"
          [field]="emailForm.username"
          aria-label="outgoingServerAuthUser"
          id="outgoingServerAuthUser"
          autocomplete="new-password"
          role="textbox"
        />
      </div>
      <div class="form-group secondColumn">
        <div class="input-group my-password">
          <label class="password-label" for="outgoingServerAuthKey"
            >SMTP Authentication Key</label
          >
          @if (showPassword()) {
            <input
              type="text"
              class="form-control password-input"
              [field]="emailForm.password"
              id="outgoingServerAuthKey"
              aria-label="outgoingServerAuthKey"
              autocomplete="new-password"
            />
          } @else {
            <input
              type="password"
              class="form-control password-input"
              [field]="emailForm.password"
              id="outgoingServerAuthKey"
              aria-label="outgoingServerAuthKey"
              autocomplete="new-password"
            />
          }
          <span
            id="setting-email-password-toggle"
            class="input-group-text"
            (click)="toggleShowPassword()"
          >
            <fa-icon
              [icon]="showPassword() ? faEye : faEyeSlash"
              class="password-icon"
            ></fa-icon>
          </span>
        </div>
      </div>
    </div>
    <div id="email-setting-test-section" class="test-email-section">
      <div
        id="email-setting-test-button-container"
        class="test-button-container"
      >
        <button
          id="setting-email-test-btn"
          type="button"
          class="btn btn-primary test-email-button"
          (click)="testEmailConfiguration()"
          [disabled]="isTestingEmail"
        >
          @if (!isTestingEmail) {
            <span>{{
              "settings.email-setting.button.send-test-email" | translate
            }}</span>
          } @else {
            <span>
              <span
                class="spinner-border spinner-border-sm me-2"
                role="status"
                aria-hidden="true"
              ></span>
              {{ "settings.email-setting.button.sending" | translate }}
            </span>
          }
        </button>
      </div>
    </div>
    <div class="bottom-border-space"></div>
  </div>
</div>
