<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form id="client-groups-form" #groupsForm="ngForm">
  <app-expandable-card
    [headerTitle]="'address.edit-address.client-groups.header' | translate">

    <div headerActions>
      @if (!isDisabled()) {
      <app-button-new
        id="add-group-button"
        placement="top"
        type="button"
        (click)="addGroup()"
        ngbTooltip="{{
          'address.edit-address.client-groups.add-group' | translate
        }}"
      >
      </app-button-new>
      }
    </div>

    <div>
    @if (dataManagementClientService.editClient() !== undefined) {
    <div class="container-table">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th id="sort-name-header" class="table-header clickable" style="width: 360px" (click)="onClickHeader('name')">
              {{
                "address.edit-address.client-groups.table.name" | translate
              }}
              <span class="sort-arrow">{{ sortingService.getArrow('name') }}</span>
            </th>
            <th id="sort-validFrom-header" class="table-header clickable" style="width: 140px" (click)="onClickHeader('validFrom')">
              {{
                "address.edit-address.client-groups.table.valid-from" | translate
              }}
              <span class="sort-arrow">{{ sortingService.getArrow('validFrom') }}</span>
            </th>
            <th id="sort-validUntil-header" class="table-header clickable" style="width: 140px" (click)="onClickHeader('validUntil')">
              {{
                "address.edit-address.client-groups.table.valid-until" | translate
              }}
              <span class="sort-arrow">{{ sortingService.getArrow('validUntil') }}</span>
            </th>
            <th
              class="table-header action"
              style="width: 60px; max-width: 60px; min-width: 60px"
            ></th>
          </tr>
        </thead>
        <tbody>
          @for (groupItem of dataManagementClientService.editClient()?.groupItems; track trackByIndex($index)) {
          <tr class="table-row">
            <td class="table-cell cell-center-vertical">
              <app-group-select
                id="groupId-{{ $index }}"
                [index]="$index"
                [showAllGroupsOption]="false"
                [useGlobalSelection]="false"
                [disabled]="isDisabled()"
                [(ngModel)]="groupItem.groupId"
                name="groupId-{{ $index }}"
                (groupSelected)="onGroupChanged($index, $event)"
              ></app-group-select>
            </td>
            <td class="table-cell">
              <div class="input-group">
                <input
                  class="form-control"
                  name="validFrom-{{ $index }}"
                  [disabled]="isDisabled()"
                  aria-labelledby="valid from"
                  id="valid-from-{{ $index }}"
                  [ngModel]="getGroupValidFrom(groupItem)"
                  (ngModelChange)="setGroupValidFrom(groupItem, $event)"
                  ngbDatepicker
                  #validFrom="ngbDatepicker"
                  #validFromField="ngModel"
                  [minDate]="getMinDate()"
                  [ngClass]="{
                    'is-invalid': isGroupFromDateValid($index) === false && validFromField.touched,
                    'is-valid': isGroupFromDateValid($index) === true
                  }"
                />
                <span
                  class="input-group-text"
                  style="width: 40px"
                  (click)="validFrom.toggle()"
                >
                  <fa-icon [icon]="faCalendar" class="calendar-icon"></fa-icon>
                </span>
              </div>
            </td>
            <td class="table-cell">
              <div class="input-group">
                <input
                  class="form-control"
                  name="validUntil-{{ $index }}"
                  [disabled]="isDisabled()"
                  aria-label="valid-until-{{ $index }}"
                  aria-labelledby="validUntil"
                  id="valid-until-{{ $index }}"
                  [ngModel]="getGroupValidUntil(groupItem)"
                  (ngModelChange)="setGroupValidUntil(groupItem, $event)"
                  ngbDatepicker
                  #validUntil="ngbDatepicker"
                  #validUntilField="ngModel"
                  [ngClass]="{
                    'is-invalid': isGroupDateValid($index) === false && validUntilField.touched,
                    'is-valid': isGroupDateValid($index) === true
                  }"
                />
                <span
                  class="input-group-text"
                  style="width: 40px"
                  (click)="validUntil.toggle()"
                >
                  <fa-icon [icon]="faCalendar" class="calendar-icon"></fa-icon>
                </span>
              </div>
            </td>
            <td class="table-cell cell-right cell-center-vertical">
              @if (!isDisabled()) {
              <div id="delete-group-{{ $index }}" class="icon" (click)="removeGroup($index)">
                <app-icon-trash-red></app-icon-trash-red>
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
    </div>

  </app-expandable-card>
</form>
