@if (searchService.showSearch()) {
<div class="container-search form-group">
  <app-search-input
    inputId="search"
    [(value)]="searchString"
    (valueChange)="onSearchValueChange($event)"
    (search)="onClickSearch()"
  ></app-search-input>

  @if (searchService.showIncludeAddress()) {
  <div class="include-address">
    <label class="checkbox-label">
      <input
        id="search-include-address"
        type="checkbox"
        name="includeAddress"
        [(ngModel)]="includeAddress"
      />
      {{ "search.inc.address" | translate }}
    </label>
  </div>
  } @if (searchService.showIncludeClient()) {
  <div class="include-address">
    <label class="checkbox-label">
      <input id="search-include-client" type="checkbox" name="includeClient" [(ngModel)]="includeClient" />
      {{ "search.inc.client" | translate }}
    </label>
  </div>
  }
</div>
}
