@use "../../../assets/standard-styles/standard-search-input.scss";

.container-search {
  margin-top: 10px;
  padding-inline-start: 60px;
  width: 400px;
}

.include-address {
  margin-inline-start: 20px;
  color: #b6b6c3;
}
