@if (searchService.showSearch()) {
<div class="container-search form-group">
  <app-search-input
    inputId="search"
    klacksyTarget="header-search"
    [value]="searchString()"
    (valueChange)="onSearchValueChange($event)"
    (searchSubmit)="onClickSearch()"
  ></app-search-input>

  @if (searchService.showIncludeAddress()) {
  <div class="include-address">
    <label class="checkbox-label">
      <input
        id="search-include-address"
        type="checkbox"
        [formField]="filterForm.includeAddress"
      />
      {{ "search.inc.address" | translate }}
    </label>
  </div>
  } @if (searchService.showIncludeClient()) {
  <div class="include-address">
    <label class="checkbox-label">
      <input
        id="search-include-client"
        type="checkbox"
        [formField]="filterForm.includeClient"
      />
      {{ "search.inc.client" | translate }}
    </label>
  </div>
  }
</div>
}
