@if (searchService.showSearch()) {
<div class="container-search form-group">
  <div class="input-group">
    <input
      type="search"
      class="form-control"
      placeholder="{{ 'placeholder.search' | translate }}"
      name="searchString"
      id="search"
      [(ngModel)]="searchString"
      (keyup)="onKeyupSearch($event)"
      (keydown.enter)="onClickSearch()"
    />

    <button
      id="search-button"
      class="btn btn-outline-secondary container-search-button input-group-text"
      type="button"
      (click)="onClickSearch()"
    >
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>

  @if (searchService.showIncludeAddress()) {
  <div class="include-address">
    <label class="checkbox-label">
      <input
        id="search-include-address"
        type="checkbox"
        name="includeAddress"
        [(ngModel)]="includeAddress"
      />
      {{ "search.inc.address" | translate }}
    </label>
  </div>
  } @if (searchService.showIncludeClient()) {
  <div class="include-address">
    <label class="checkbox-label">
      <input id="search-include-client" type="checkbox" name="includeClient" [(ngModel)]="includeClient" />
      {{ "search.inc.client" | translate }}
    </label>
  </div>
  }
</div>
}
