<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<app-modal></app-modal>
<app-spinner-wrapper></app-spinner-wrapper>

<div class="container" id="main_container">
  <app-header></app-header>
  <app-nav></app-nav>

  <app-main></app-main>

  @if (isSavebarVisible()) {
  <div class="footer custom-control-inline">
    @if (hasGoBackRoute()) {
    <span type="button" class="link-button blue-font" (click)="onClickGoBack()">
      {{ "back" | translate }}
    </span>
    }

    <div class="filler"></div>

    @if ( workplaceStateService.isDirty &&
    workplaceStateService.isDisabled === false ) {
    <span type="button" class="link-button red-font" (click)="onClickReset()">
      {{ "reset" | translate }}
    </span>
    } @if (workplaceStateService.isDirty) {
    <button
      type="button"
      class="btn save-btn"
      (click)="onClickSave()"
      [disabled]="workplaceStateService.isDisabled"
    >
      {{ "store" | translate }}
    </button>
    <button
      type="button"
      class="btn save-btn"
      (click)="onClickSaveAndClose()"
      [disabled]="workplaceStateService.isDisabled"
    >
      {{ "saveAndClose" | translate }}
    </button>
    }
  </div>
  }

  <!-- <app-aside></app-aside> -->
  <app-footer></app-footer>
</div>
