<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<app-modal></app-modal>
<app-spinner-wrapper></app-spinner-wrapper>

<div class="container" id="main_container">
  <app-header></app-header>
  <app-nav></app-nav>

  <app-main
    [isDashboard]="isDashboard"
    [isSetting]="isSetting"
    [isClient]="isClient"
    [isEditClient]="isEditClient"
    [isProfile]="isProfile"
    [isAbsence]="isAbsence"
    [isSchedule]="isSchedule"
    [isGroup]="isGroup"
    [isEditGroup]="isEditGroup"
    [isGroupStructure]="isGroupStructure"
    [isCreateShift]="isCreateShift"
    [isShift]="isShift"
    (isChangingEvent)="onIsChanging($event)"
    (isEnterEvent)="onIsEnter()"
  >
  </app-main>

  @if (isSavebarVisible) {
  <div class="footer custom-control-inline">
    <span type="button" class="link-button blue-font" (click)="onClickGoBack()">
      {{ "back" | translate }}
    </span>

    <div class="filler"></div>

    @if ( dataManagementSwitchboardService.isDirty &&
    dataManagementSwitchboardService.isDisabled === false ) {
    <span type="button" class="link-button red-font" (click)="onClickReset()">
      {{ "reset" | translate }}
    </span>
    } @if (dataManagementSwitchboardService.isDirty) {
    <button
      type="button"
      class="btn save-btn"
      (click)="onClickSave()"
      [disabled]="dataManagementSwitchboardService.isDisabled"
    >
      {{ "store" | translate }}
    </button>
    }
  </div>
  }

  <!-- <app-aside></app-aside> -->
  <app-footer></app-footer>
</div>
