@use "../../../../assets/standard-styles/colors.scss";

$h-scrollbar_height: var(--h-scrollbar_height);
$v-scrollbar_width: var(--v-scrollbar_width);

.info {
  background-color: yellow;
  height: 100%;
  width: 100%;
}

.container-box {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .surface {
    flex: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 20px);
    .box {
      overflow: hidden;
      width: calc(100% - 20px);
      height: 100%;
      flex: 1;
    }

    .vScrollArea {
      width: 20px;
      height: 100%;
    }
  }

  .hScrollArea {
    width: calc(100% - 20px);
    height: 20px;
  }
}

.container-box2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  .surface {
    background-color: violet;
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    .box {
      width: calc(100% - 20px);
      height: 100%;
      flex: 1;
    }

    .vScrollArea {
      width: 20px;
      height: 100%;
    }
  }
}

.as-split-area {
  /* Firefox */
  scrollbar-width: none;
  /* IE */
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
  display: none;
}
