<as-split direction="horizontal">
  <!-- (Haupt) Split-Bereich -->
  <as-split-area>
    <as-split
      #splitElVert
      direction="vertical"
      aria-orientation="vertical"
      aria-label="as-split"
      [gutterSize]="6"
      unit="percent"
    >
      <!-- oberer Bereich -->
      <as-split-area [size]="70" [minSize]="10" [maxSize]="90">
        <as-split
          #splitElHorizontal
          [gutterSize]="6"
          direction="horizontal"
          aria-orientation="horizontal"
          aria-label="as-split"
          unit="pixel"
        >
          <!-- Links oben -->
          <as-split-area
            [size]="200"
            [minSize]="100"
            aria-label="as-split-area top left"
          >
            <!-- Inhalt für Links oben -->
            <app-absence-gantt-row-header
              #absenceRowHeader
              [valueChangeVScrollbar]="vScrollbar.value"
            >
            </app-absence-gantt-row-header>
          </as-split-area>

          <!-- Rechts oben -->
          <as-split-area [minSize]="100">
            <!-- Inhalt für Rechts oben -->
            <div class="container-box">
              <div class="surface">
                <div class="box">
                  <app-absence-gantt-surface
                    #absenceBody
                    class="grid-canvas"
                    tabindex="0"
                    id="absence-gantt-surface-id"
                    [absenceRowHeader]="absenceRowHeader"
                    [valueChangeHScrollbar]="hScrollbar.value"
                    (valueHScrollbar)="hScrollbar.value = $event"
                    (maxValueHScrollbar)="hScrollbar.maxValue = $event"
                    (visibleValueHScrollbar)="hScrollbar.visibleValue = $event"
                    [valueChangeVScrollbar]="vScrollbar.value"
                    (valueVScrollbar)="vScrollbar.value = $event"
                    (maxValueVScrollbar)="vScrollbar.maxValue = $event"
                    (visibleValueVScrollbar)="vScrollbar.visibleValue = $event"
                  >
                  </app-absence-gantt-surface>
                </div>
                <app-v-scrollbar
                  class="vScrollArea"
                  [(value)]="vScrollbar.value"
                  [maxValue]="vScrollbar.maxValue"
                  [visibleValue]="vScrollbar.visibleValue"
                  (valueChange)="absenceBody.valueChangeVScrollbar = $event"
                  #vScrollbar
                >
                </app-v-scrollbar>
              </div>
              <app-h-scrollbar
                class="hScrollArea"
                [(value)]="hScrollbar.value"
                [maxValue]="hScrollbar.maxValue"
                [visibleValue]="hScrollbar.visibleValue"
                (valueChange)="absenceBody.valueChangeHScrollbar = $event"
                #hScrollbar
              >
              </app-h-scrollbar>
            </div>
          </as-split-area>
        </as-split>
      </as-split-area>

      <!-- unterer Bereich -->
      <as-split-area>
        <app-absence-gantt-mask
          #absenceMask
          [selectedRow]="absenceBody.drawCalendarGantt.selectedRow"
          [selectedBreakIndex]="
            absenceBody.drawCalendarGantt.selectedBreakIndex
          "
          [selectedRowBreaksMaxIndex]="
            absenceBody.drawCalendarGantt.selectedRowBreaksMaxIndex
          "
          (UpdateEvent)="onUpdate(absenceBody.drawCalendarGantt.selectedBreak!)"
          (selectedBreakIndexEvent)="absenceBody.onChangeIndex($event)"
          (ErrorMessageEvent)="onShowErrorMessage($event)"
        >
        </app-absence-gantt-mask>
      </as-split-area>
    </as-split>
  </as-split-area>

  <!-- Rechter (Info) Split-Bereich -->
  <as-split-area [maxSize]="20" unit="percent" [visible]="IsInfoVisible">
    <div class="info"></div>
  </as-split-area>
</as-split>
<app-context-menu name="context-menu" #contextMenu></app-context-menu>
