<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<ng-template #createScenarioModal>
  <div class="modal-header">
    <div class="container-header-modal modal-title">
      {{ 'scenario.create' | translate }}
    </div>
    <span class="filler"></span>
    <div type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span
        aria-hidden="true"
        style="font-size: 13px; border: 1px transparent solid; color: var(--colorWorkplaceHeadline);"
        >&times;</span>
    </div>
  </div>

  <div class="modal-body">
    @if (errorMessage()) {
      <div class="error-message">{{ errorMessage() }}</div>
    }

    <div class="form-group">
      <label for="scenario-name-input">{{ 'scenario.name' | translate }}</label>
      <input
        id="scenario-name-input"
        type="text"
        class="form-control"
        [ngModel]="scenarioName()"
        (ngModelChange)="scenarioName.set($event)"
      />
    </div>

    <div class="form-group">
      <label for="scenario-description-input">{{ 'scenario.description' | translate }}</label>
      <input
        id="scenario-description-input"
        type="text"
        class="form-control"
        [ngModel]="description()"
        (ngModelChange)="description.set($event)"
      />
    </div>
  </div>

  <div class="modal-footer">
    <span class="link-button red-font" (click)="onCancel()">
      {{ 'common.cancel' | translate }}
    </span>
    <button
      type="button"
      class="btn save-btn"
      [disabled]="!isValid() || isSaving()"
      (click)="onConfirm()"
    >
      @if (isSaving()) {
        <span class="spinner-border spinner-border-sm me-1"></span>
      }
      {{ 'scenario.create' | translate }}
    </button>
  </div>
</ng-template>
