@use "../../../../../assets/standard-styles/standard-grid.scss";
@use "../../../../../assets/standard-styles/standard-controls.scss";
@use "../../../../../assets/standard-styles/colors.scss";

.col-index {
  width: 8%;
}

.col-time {
  width: 17%;
}
.col-day {
  width: 5.2%;
}

p {
  margin-left: 5px;
  padding-top: 8px;
  margin-bottom: 3px;
}

tr:nth-child(4n + 1),
tr:nth-child(4n + 2) {
  background-color: transparent !important;
}

tr:nth-child(4n + 3),
tr:nth-child(4n + 4) {
  background-color: var(--backgroundColorWorkplace);
}

.table-cell-small-border,
.table-cell-small-border-with-bottom,
.table-cell {
  background-color: inherit;
}

.hover-row {
  background-color: var(--gridBackgroundColorRowHover) !important;
}

.active.hover-row {
  background-color: var(--backgroundColorFocus) !important;
}

tr.hover-row {
  background-color: var(--gridBackgroundColorRowHover) !important;
}

tr.hover-row td {
  background-color: var(--gridBackgroundColorRowHover) !important;
}

tr.selected-row,
tr.selected-row td {
  background-color: var(--backgroundColorFocus) !important;
}

tr.selected-row.hover-row,
tr.selected-row.hover-row td {
  background-color: var(--backgroundColorFocus) !important;
}

thead {
  th {
    padding: 6px 8px;

    text-align: center;
    border: 1px solid var(--colorLine);
    background: var(--backgroundColorHeaderNav);
    top: 0;
    z-index: 10;
  }

  tr:first-child th {
    border-bottom: 1px solid var(--colorLine);
  }
}

.editing-input {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 5px;
  margin: 1px;
  border-radius: 0 !important;
  box-sizing: border-box;
  position: absolute;
  top: 1px;
  left: 1px;

  &:focus {
    background-color: var(--backgroundColorCard);
    border: none;
    outline: none;
    border-radius: 0 !important;
    color: var(--gridColorText);
  }
}

.editable-cell {
  position: relative;
  cursor: pointer;

  &.selected-editable:hover {
    background-color: var(--backgroundColorHover) !important;
    border: 1px solid var(--gridColorLine);
  }

  > span,
  > p {
    position: relative;
    z-index: 1;
  }
}
