<table id="shift-detail-table" style="width: 100%">
  <thead>
    <tr>
      <th class="table-header-border col-icon cell-center" rowspan="2"></th>
      <th class="table-header-border col-index cell-center" rowspan="2" (click)="onClickHeader('abbreviation')">
        {{
          translate.instant("list.all-list.all-shift-list.table.Abbreviation")
        }}
        {{ sortingService.getArrow('abbreviation') }}
      </th>
      <th class="table-header-border" colspan="2" (click)="onClickHeader('name')">
        {{ translate.instant("list.all-list.all-shift-list.table.name") }}
        {{ sortingService.getArrow('name') }}
      </th>
      <th class="table-header-border" colspan="5" (click)="onClickHeader('description')">
        {{
          translate.instant("list.all-list.all-shift-list.table.description")
        }}
        {{ sortingService.getArrow('description') }}
      </th>
      <th class="table-header-border cell-center" colspan="2" (click)="onClickHeader('valid_from')">
        {{ translate.instant("list.all-list.all-shift-list.table.from") }}
        {{ sortingService.getArrow('valid_from') }}
      </th>
      <th class="table-header-border cell-center" colspan="2" (click)="onClickHeader('valid_until')">
        {{ translate.instant("list.all-list.all-shift-list.table.until") }}
        {{ sortingService.getArrow('valid_until') }}
      </th>
      <th class="col-action table-header-border" rowspan="2"></th>
    </tr>
    <tr>
      <th class="col-time table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.start") }}
      </th>
      <th class="col-time table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.end") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.mon") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.tue") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.wed") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.thu") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.Fry") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.sam") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.son") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.f") }}
      </th>
      <th class="col-day table-header-border cell-center">
        {{ translate.instant("list.all-list.all-shift-list.table.plus-f") }}
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of shifts; track data.id; let i = $index) {
    <tr
      (click)="onClickRow(data)"
      (mouseenter)="onMouseEnter(data)"
      (mouseleave)="onMouseLeave()"
      [class.hover-row]="data.id === hoveredRowId"
      [class.selected-row]="data.id === selectedRowId"
    >
      <td rowspan="2" class="table-cell-small-border cell-center">
        @if (shouldShowSporadicIcon(data)) {
          <app-icon-unknown-time></app-icon-unknown-time>
        } @else if (shouldShowTimeRangeIcon(data)) {
          <app-icon-time-window></app-icon-time-window>
        } @else if (shouldShowShiftSegmentIcon(data)) {
          <app-icon-shift-segment></app-icon-shift-segment>
        } @else if (shouldShowContainerIcon()) {
          <app-icon-box-container></app-icon-box-container>
        }
      </td>
      <td rowspan="2" class="table-cell-small-border cell-center">
        {{ data.abbreviation }}
      </td>
      <td colspan="2" class="table-cell-small-border">
        <p>{{ data.name }}</p>
      </td>

      <td colspan="5" class="table-cell-small-border">
        <p>{{ getPlainTextDescription(data) }}</p>
      </td>

      <td colspan="2" class="table-cell-small-border">
        <p>{{ data.fromDate | date : "dd.MM.yyyy" }}</p>
      </td>

      <td colspan="2" class="table-cell-small-border">
        @if (data.untilDate) {
        <p>
          {{ data.untilDate | date : "dd.MM.yyyy" }}
        </p>
        }
      </td>

      <td rowspan="2" class="table-cell-small-border cell-right">
        <div class="icon icon-padding">
          @if (tableMode === 'cut') {
            <app-icon-scissor
              [id]="'shift-cut-btn-' + data.id"
              (click)="onClickAction(data, $event)"
            ></app-icon-scissor>
          } @else {
            <app-icon-box
              [id]="'shift-container-btn-' + data.id"
              (click)="onClickAction(data, $event)"
            ></app-icon-box>
          }
        </div>
        <div class="icon icon">
          <app-icon-pencil-icon-grey
            [id]="'shift-edit-btn-' + data.id"
            (click)="onClickEdit(data, $event)"
          ></app-icon-pencil-icon-grey>
        </div>
      </td>
    </tr>

    <tr
      (click)="onClickRow(data)"
      (mouseenter)="onMouseEnter(data)"
      (mouseleave)="onMouseLeave()"
      [class.hover-row]="data.id === hoveredRowId"
      [class.selected-row]="data.id === selectedRowId"
    >
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>{{ formatTime(data.startShift) || "00:00" }}</p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>{{ formatTime(data.endShift) || "23:59" }}</p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isMonday"
            class="checkbox"
            aria-label="Monday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isTuesday"
            class="checkbox"
            aria-label="Tuesday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isWednesday"
            class="checkbox"
            aria-label="Wednesday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isThursday"
            class="checkbox"
            aria-label="Thursday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isFriday"
            class="checkbox"
            aria-label="Friday"
            disabled
          />
        </p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isSaturday"
            class="checkbox"
            aria-label="Saturday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isSunday"
            class="checkbox"
            aria-label="Sunday"
            disabled
          />
        </p>
      </td>

      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isHoliday"
            class="checkbox"
            aria-label="Holiday"
            disabled
          />
        </p>
      </td>
      <td class="table-cell-small-border-with-bottom cell-center">
        <p>
          <input
            type="checkbox"
            [checked]="data.isWeekdayAndHoliday"
            class="checkbox"
            aria-label="WeekdayAndHoliday"
            disabled
          />
        </p>
      </td>
    </tr>
    }
  </tbody>
</table>
