<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<form #noteForm="ngForm">
  <div class="container-header header-container">
    {{ "address.edit-address.note.header" | translate }}

    <span class="filler"></span>

    @if (!isDisabled()) {
    <div>
      @if (dataManagementClientService.editClientDeleted === false) {
      <app-button-new
        placement="top"
        (click)="newAnnotation()"
        ngbTooltip="{{ note_new }}"
      >
      </app-button-new>
      } @if (dataManagementClientService.editClientDeleted === false) {
      <div
        class="btn dropdown-toggle ownStyle-button"
        role="button"
        data-bs-toggle="dropdown"
        aria-label="note-delete"
      >
        <app-icon-gear-grey></app-icon-gear-grey>
      </div>
      }

      <ul
        class="dropdown-menu dropdown-menu-lg-end"
        aria-labelledby="dropdownMenuDel"
      >
        <li>
          @if (dataManagementClientService.editClient !== undefined &&
          dataManagementClientService.currentAnnotationIndex > -1) {
          <a class="dropdown-item" (click)="onDeleteCurrentAnnotation()">
            <div class="custom-control-inline" style="height: 25px">
              <app-icon-trash-red></app-icon-trash-red>
              <p style="margin-left: 10px; font-size: 13px; color: #f64e60">
                {{ "address.edit-address.note.delete" | translate }}
              </p>
            </div>
          </a>
          }
        </li>
        <li>
          @if (dataManagementClientService.editClient !== undefined &&
          dataManagementClientService.currentAnnotationIndex === -1) {
          <a class="dropdown-item disabled">
            <div class="custom-control-inline" style="height: 25px">
              <app-icon-trash-light-red></app-icon-trash-light-red>
              <p style="margin-left: 10px; font-size: 13px; color: #fac1c7">
                {{ "address.edit-address.note.delete" | translate }}
              </p>
            </div>
          </a>
          }
        </li>
      </ul>
    </div>
    }

    <button class="expand-button" (click)="onClickVisibleTable()">
      @if (visibleTable === 'inline') {
      <app-icon-angle-down></app-icon-angle-down>
      } @if (visibleTable === 'none') {
      <app-icon-angle-right></app-icon-angle-right>
      }
    </button>
  </div>
  <div class="container-line"></div>
  <div [ngStyle]="{ display: visibleTable }">
    @if (dataManagementClientService.editClient?.annotations) {
    <div class="container-main">
      @for (annotation of dataManagementClientService.editClient?.annotations ||
      []; track annotation; let i = $index) {
      <div class="row-line">
        <button
          [ngClass]="{
            'container-box':
              dataManagementClientService.currentAnnotationIndex !== i,
            'container-box-focus':
              dataManagementClientService.currentAnnotationIndex === i
          }"
          (click)="onFocus(i)"
        >
          <div class="header firstColumn">
            <label>{{ "address.edit-address.note.notepad" | translate }}</label>
            <span class="filler"></span>
            <button
              class="toggle-note-button"
              (click)="toggleNoteExpansion(i, $event)"
              (keydown.enter)="handleKeyDown(i, $event)"
              (keydown.space)="handleKeyDown(i, $event)"
              [attr.aria-expanded]="expandedNotes[i]"
              [attr.aria-controls]="'noteContent' + i"
              [attr.aria-label]="
                expandedNotes[i] ? 'Notiz einklappen' : 'Notiz ausklappen'
              "
              tabindex="0"
            >
              @if (!expandedNotes[i]) {
              <app-icon-angle-right></app-icon-angle-right>
              } @if (expandedNotes[i]) {
              <app-icon-angle-down></app-icon-angle-down>
              }
            </button>
          </div>
          <div class="firstColumn note-container">
            @if (!expandedNotes[i]) {
            <div class="collapsed-note" [attr.id]="'noteContent' + i">
              <div
                class="first-line"
                (click)="toggleNoteExpansion(i, $event)"
                (keydown.enter)="handleKeyDown(i, $event)"
                (keydown.space)="handleKeyDown(i, $event)"
              >
                {{ getFirstLine(annotation.note) }}
              </div>
            </div>
            } @if (expandedNotes[i]) {
            <div [attr.id]="'noteContent' + i">
              <textarea
                [id]="'note' + i"
                [value]="annotation.note"
                [disabled]="isDisabled()"
                (input)="onChange(i, $event)"
                aria-labelledby="Freitextfeld"
                class="form-control freetext"
                [name]="'note' + i"
              ></textarea>
            </div>
            }
          </div>
        </button>
      </div>
      }
    </div>
    }
  </div>
  <div style="height: 30px"></div>
</form>
