<form #noteForm="ngForm">
  <div class="container-header header-container">
    {{ "address.edit-address.note.header" | translate }}

    <span class="filler"></span>

    <div>
      <app-button-new
        placement="top"
        (click)="newAnnotation()"
        ngbTooltip="{{ note_new }}"
        *ngIf="dataManagementClientService.editClientDeleted === false"
      >
      </app-button-new>

      <div
        class="btn dropdown-toggle ownStyle-button"
        role="button"
        data-bs-toggle="dropdown"
        aria-label="note-delete"
        *ngIf="dataManagementClientService.editClientDeleted === false"
      >
        <icon-gear-grey></icon-gear-grey>
      </div>

      <ul
        class="dropdown-menu dropdown-menu-lg-end"
        aria-labelledby="dropdownMenuDel"
      >
        <li>
          <a
            class="dropdown-item"
            *ngIf="
              dataManagementClientService.editClient !== undefined &&
              dataManagementClientService.currentAnnotationIndex > -1
            "
            (click)="onDeleteCurrentAnnotation()"
          >
            <div class="custom-control-inline" style="height: 25px">
              <icon-trash-icon-red></icon-trash-icon-red>
              <p style="margin-left: 10px; font-size: 13px; color: #f64e60">
                {{ "address.edit-address.note.delete" | translate }}
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item disabled"
            *ngIf="
              dataManagementClientService.editClient !== undefined &&
              dataManagementClientService.currentAnnotationIndex === -1
            "
          >
            <div class="custom-control-inline" style="height: 25px">
              <icon-trash-icon-light-red></icon-trash-icon-light-red>
              <p style="margin-left: 10px; font-size: 13px; color: #fac1c7">
                {{ "address.edit-address.note.delete" | translate }}
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <button class="expand-button" (click)="onClickVisibleTable()">
      <app-icon-angle-down
        *ngIf="visibleTable === 'inline'"
      ></app-icon-angle-down>
      <app-icon-angle-right
        *ngIf="visibleTable === 'none'"
      ></app-icon-angle-right>
    </button>
  </div>
  <div class="container-line"></div>
  <div [ngStyle]="{ display: visibleTable }">
    <div
      class="container-main"
      *ngIf="dataManagementClientService.editClient?.annotations"
    >
      <div
        class="row-line"
        *ngFor="
          let annotation of dataManagementClientService.editClient
            ?.annotations || [];
          index as i
        "
      >
        <button
          [ngClass]="{
            'container-box':
              dataManagementClientService.currentAnnotationIndex !== i,
            'container-box-focus':
              dataManagementClientService.currentAnnotationIndex === i
          }"
          (click)="onFocus(i)"
        >
          <div class="header firstColumn">
            <label>{{ "address.edit-address.note.notepad" | translate }}</label>
            <span class="filler"></span>
            <button
              class="toggle-note-button"
              (click)="toggleNoteExpansion(i, $event)"
              (keydown.enter)="handleKeyDown(i, $event)"
              (keydown.space)="handleKeyDown(i, $event)"
              [attr.aria-expanded]="expandedNotes[i]"
              [attr.aria-controls]="'noteContent' + i"
              [attr.aria-label]="
                expandedNotes[i] ? 'Notiz einklappen' : 'Notiz ausklappen'
              "
              tabindex="0"
            >
              <app-icon-angle-right
                *ngIf="!expandedNotes[i]"
              ></app-icon-angle-right>
              <app-icon-angle-down
                *ngIf="expandedNotes[i]"
              ></app-icon-angle-down>
            </button>
          </div>
          <div class="firstColumn note-container">
            <div
              *ngIf="!expandedNotes[i]"
              class="collapsed-note"
              [attr.id]="'noteContent' + i"
            >
              <div
                class="first-line"
                (click)="toggleNoteExpansion(i, $event)"
                (keydown.enter)="handleKeyDown(i, $event)"
                (keydown.space)="handleKeyDown(i, $event)"
              >
                {{ getFirstLine(annotation.note) }}
              </div>
            </div>
            <div *ngIf="expandedNotes[i]" [attr.id]="'noteContent' + i">
              <textarea
                [id]="'note' + i"
                [value]="annotation.note"
                (input)="onChange(i, $event)"
                aria-labelledby="Freitextfeld"
                [disabled]="dataManagementClientService.editClientDeleted"
                class="form-control freetext"
                [name]="'note' + i"
              ></textarea>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</form>
