$header_height: 65px;
$nav_width: 100px;

:host {
  display: block;
  height: calc(100vh - #{$header_height} - var(--footer_height, 0px));
  width: calc(100vw - #{$nav_width});
  overflow: hidden;
}

as-split-area {
  background-color: var(--standartTextBackground, #fff);
}
