@use "../../assets/standard-styles/colors.scss";
.dropdown-menu {
  background-color: var(--backgroundColorCard);
  border: 1px solid var(--cardBorderColor);
  font-family: Roboto;
  font-size: small;
  font-weight: normal;
}

.dropdown-item {
  color: var(--colorHeadline);
  font-family: Roboto;
  font-size: small;
  font-weight: normal;
  padding: 10px 16px !important;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  color: var(--gridColorText) !important;
  background-color: var(--gridBackgroundColorRowHover) !important;
}
