@use '../../assets/standard-styles/colors.scss';

.messageFeed {
    width: 100%;
    height: auto;
    padding-inline-start: 5px;
  }
  
  
  .messageContainer {
    max-height: 300px;
    margin: 5px;
    overflow-y: auto;
  }
  
  .header {
    padding:4px;
    border-bottom: 1px solid colors.$standartRedBorderDarkColor;
    border-inline-end: 1px solid colors.$standartRedBorderDarkColor;
    border-inline-start: 1px solid colors.$standartRedBorderLiteColor;
    border-top: 1px solid colors.$standartRedBorderLiteColor;
    border-start-start-radius: 3px;
    border-start-end-radius: 3px;
  
    font-weight: 700;
    min-height: 25px;
    width: calc(100% - 3px);
    color:colors.$standartWhiteColor;
    background-color: colors.$standartRedColor;
  }
  
  .message {
    padding:4px;
    border-bottom: 1px solid colors.$standartRedBorderDarkColor;
    border-inline-end: 1px solid colors.$standartRedBorderDarkColor;
    border-inline-start: 1px solid colors.$standartRedBorderLiteColor;
    border-top: 1px solid colors.$standartRedBorderLiteColor;
    border-end-start-radius: 3px;
    border-end-end-radius: 3px;
    font-weight: 400;
    width: calc(100% - 3px);
    color:colors.$standartWhiteColor;
    background-color: colors.$standartRedBorderLiteColor;
  }
  