@use "./colors.scss" as colors;

.first {
  margin-left: 30px;
  padding-right: -30px;
  height: 40px;
}

.custom-control-inline {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0;
  margin-right: 10px;
}

.attribute-name {
  width: 250px;
  margin-right: 10px;
  background-color: var(--standartGreenColor) !important;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.delete-button {
  margin-top: 5px;
  margin-left: 20px;
  color: var(--standartRedColor);
  cursor: pointer;

  &.disabled {
    color: var(--colorLabel);
    cursor: not-allowed;
  }
}
