@use "colors.scss" as colors;
@use "standard-controls.scss";

.container-search {
  color: var(--colorLabel);
  font-size: 13px;
  font-weight: normal;
}

.container-search-button {
  background-color: colors.$standartBlueColor;
  color: colors.$standartWhiteColor;
  font-size: 13px;
  font-weight: normal;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.container-search-button-disabled {
  background-color: var(--standartTextBackground);
  color: var(--colorLabel);
  font-size: 13px;
  font-weight: normal;
  cursor: not-allowed;
}

.container-search ::placeholder {
  font-size: 13px;
  font-weight: normal;
  color: var(--colorPlaceholder);
  opacity: 1;
}

.container-search .input-group > .form-control:first-child {
  border-start-start-radius: var(--bs-border-radius) !important;
  border-end-start-radius: var(--bs-border-radius) !important;
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.container-search .input-group > .btn:last-child,
.container-search .input-group > .input-group-text:last-child {
  border-start-end-radius: var(--bs-border-radius) !important;
  border-end-end-radius: var(--bs-border-radius) !important;
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
}
