.c-info {
  background: #f4d03f !important;
  padding: 8px !important;
  border-radius: 5px !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;

  [dir="rtl"] & {
    box-shadow: -1px 1px 1px #aaaaaa;
  }

  margin-top: 10px;
  font-size: 13px;
  color: var(--colorLabel);
}
.c-info-validation:before {
  content: "";
  width: 0;
  height: 0;
  color: #f4d03f !important;
  border-inline-start: 10px solid transparent;
  border-inline-end: 10px solid transparent;
  border-bottom: 10px solid;
  position: absolute;
  top: -10px;
}
